<% if reviewer? %>
  <p><%= export_status_controls(location_description) %></p>
<% end %>

<%
any = false
desc = location_description
LocationDescription.all_note_fields.each do |f|
  value = desc.send(f).to_s
  if value != ""
    any = true %>
    <%= "form_locations_#{f}".to_sym.t %>:
    <%= notes_panel(value.tpl) %>
    <br/>
  <% end %>
<% end %>
<%= :show_description_empty.tpl if !any %>

<div class="text-center">
  <%= show_authors_and_editors(obj: desc, user: @user) %>
  <% if desc.license %>
    <%= render(partial: "shared/form_#{desc.license.form_name}") %>
  <% end %>
</div><!-- .text-center -->
