<div class="list-group comment">
  <div class="list-group-item default">
    <div class="row">
      <div class="col-sm-6">
	<% if local_assigns[:show_name] && show_name
	     target = comment.target %>
          <%= link_to(content_tag(:h4, target.unique_format_name.t,
                                  class: 'ListWhat'),
                      controller: target.show_controller,
                      action: target.show_action,
                      id: target.id) rescue :comment_list_deleted.t %>
          (<span><%= target.class.name.to_sym.t rescue :runtime_object_deleted %></span>)<br/>
	<% end %>
        <strong><%= comment.summary.tl %></strong><br/>
        <%= :BY.t %>: <%= user_link(comment.user) %>
        <% if check_permission(comment) %>
            [<%= link_with_query(:EDIT.t, controller: 'comment',
                                 action: 'edit_comment', id: comment.id) %> |
            <%= link_with_query(:DESTROY.t, {controller: 'comment',
                                             action: 'destroy_comment', id: comment.id},
                                {data: {confirm: :are_you_sure.l}}) %>]
        <% end %><br/>
      </div>
      <div class="col-sm-6">
        <small class="pull-right"><%= comment.created_at.web_time %></small>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="row">
      <div class="col-sm-9">
        <div class="pad-box"> <%= comment.comment.tpl %> </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <% user = comment.user
           if user.image_id %>
            <%= link_to(image_tag(Image.url(:thumbnail, user.image_id), class: "img-responsive"),
                        {controller: :observer, action: :show_user, id: user.id}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
