<!--[form:comment]-->

<div class="form-group mt-3">
  <%= label_tag(:comment_summary, :form_comments_summary.t + ":") %>
  <%= text_field(:comment, :summary, size: 80, data: {autofocus: true}, class: "form-control") %>
</div>

<div class="form-group mt-3">
  <%= label_tag(:comment_comment, :form_comments_comment.t + ":") %>
  <%= text_area(:comment, :comment, rows: 10, class: "form-control") %>
  <%= render(partial: "shared/textilize_help") %>
</div>

<!--[eoform:comment]-->
