<%
  @title = :comment_add_title.t(name: @target.unique_format_name)

  target_type = @comment.target_type.underscore.upcase.to_sym
  tabs = [
    link_with_query(:cancel_and_show.t(type: target_type),
                    @target.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-8 max-width-text">
    <%= form_tag(add_query_param(action: :add_comment,
                                 id: @comment.target_id,
                                 type: @comment.target_type)) do %>
      <%= submit_tag(:comment_add_create.l,
                     class: "btn mx-auto mt-3") %>
      <%= render(partial: "form_comments") %>
      <%= submit_tag(:comment_add_create.l,
                     class: "btn mx-auto mt-3") %>
      <hr align="center" width="90%" />
    <% end %>
  </div>

  <% if @target.is_a?(Observation) %>
    <div class="d-none d-sm-block col-sm-4">
      <%= render(partial: "observer/show_images",
                 locals: { observation: @target, thumb_size_control: false }) %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-12 max-width-text">
    <%= render(partial: "object", object: @target) %>
  </div>
</div>
