<%
  @title = :name_lister_title.t

  tabs = create_tabs(species_lists_form_name_list_links)
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :wide

  javascript_include "name_lister"
  javascript_include "/name_list_data.js"  # leading slash should take it out of asset pipeline
%>

<noscript>
  <div class="container-text mt-3">
    <%= :name_lister_no_js.tp %>
  </div>
</noscript>

<% if !can_do_ajax? %>
  <div class="container-text mt-3">
    <%= :name_lister_bad_browser.tp %>
  </div>
<% end %>

<table cols="3" width="100%" class="scroller mt-3">
  <thead>
    <tr>
      <th width="20%"><%= :name_lister_genera.t %></th>
      <th width="40%"><%= :name_lister_species.t %></th>
      <th width="40%"><%= :name_lister_names.t %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td align="left">
        <div id="genera" class="scroller" onclick="nl_focus('g')"></div>
      </td>
      <td align="left">
        <div id="species" class="scroller" onclick="nl_focus('s')"></div>
      </td>
      <td align="left">
        <div id="names" class="scroller" onclick="nl_focus('n')"></div>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <div id="word">&nbsp;</div>
        <%= render(partial: "species_lists/name_lists/form") %>
      </td>
    </tr>
  </tbody>
</table>

<div id="log mt-3"></div>

<% inject_javascript_at_end %(
  nl_initialize_names();
  nl_draw("g", NL_GENERA);
  nl_draw("n", NL_NAMES);
  jQuery(document).keypress(nl_keypress);
  jQuery(document).keydown(nl_keydown);
  jQuery(document).keyup(nl_keyup);
  jQuery(document).click(nl_unfocus);
  nc("g", 0); // click on first genus
) %>

<div class="container-text mt-3">
  <div class="help-note"><%= :name_lister_help.tp %></div>
</div>
