<%
add_page_title(:name_lister_title.t)

add_tab_set(species_list_form_name_list_tabs)
@container = :full
%>

<noscript>
  <div class="container-text mt-3">
    <%= :name_lister_no_js.tp %>
  </div>
</noscript>

<table
  cols="3" width="100%" class="name-lister mt-3" data-controller="name-list"
  data-action="keypress->name-list#doKeypress keydown->name-list#doKeydown keyup->name-list#doKeyup click->name-list#doUnfocus">

  <thead>
    <tr>
      <th width="20%"><%= :name_lister_genera.t %></th>
      <th width="40%"><%= :name_lister_species.t %></th>
      <th width="40%"><%= :name_lister_names.t %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td align="left">
        <%= tag.div("", id: "genera", class: "scroller",
                        data: { name_list_target: "genera",
                                action: "click->name-list#doFocus" }) %>
      </td>
      <td align="left">
        <%= tag.div("", id: "species", class: "scroller",
                        data: { name_list_target: "species",
                                action: "click->name-list#doFocus" }) %>
      </td>
      <td align="left">
        <%= tag.div("", id: "names", class: "scroller",
                        data: { name_list_target: "names",
                                action: "click->name-list#doFocus" }) %>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <%= render(partial: "species_lists/name_lists/form") %>
      </td>
    </tr>
  </tbody>
</table>
