<%
  @title = :image_vote_anonymity_title.t
  form_action = {
    controller: "/account/images/filenames",
    action: :update
  }
%>

<%= form_with(url: form_action, method: :put) do |f| %>
  <div class="mt-3">
    <%= :image_vote_anonymity_num_anonymous.t %>: <%= @num_anonymous %><br/>
    <%= :image_vote_anonymity_num_public.t %>: <%= @num_public %><br/>
  </div>

  <div class="mt-3">
    <%= f.submit(:image_vote_anonymity_make_anonymous.l,
                 class: "btn btn-default") %><br/>
    <%= f.submit(:image_vote_anonymity_make_public.l,
                 class: "btn btn-default") %><br/>
  </div>
<% end %>
