<%
options = [
  [:COMMENTS.l, :comment],
  [:GLOSSARY.l, :glossary_term],
  [:HERBARIA.l, :herbarium],
  # Temporarily disabled for performance reasons. 2021-09-12 JDC
  # [:IMAGES.l, :image],
  [:LOCATIONS.l, :location],
  [:NAMES.l, :name],
  [:OBSERVATIONS.l, :observation],
  [:PROJECTS.l, :project],
  [:SPECIES_LISTS.l, :species_list],
  [:HERBARIUM_RECORDS.l, :herbarium_record],
  [:USERS.l, :user],
  [:app_search_google.l, :google],
].sort

adv_search = link_to(
  content_tag(:span, :app_advanced_search.l, class: "text-nowrap"),
  search_advanced_path
)
identify_page = controller.controller_name == "identify"

# Fields have attributes nested under search via fields_for, eg search[:type]
%>

<%= form_with(url: search_pattern_path, method: :get,
              class: "navbar-form navbar-left px-0",
              id: "pattern_search_form") do |f| %>

  <%= fields_for(:search) do |f_s| %>
    <div class="form-group has-feedback has-search">
      <%= content_tag(:span, "", class: "glyphicon glyphicon-search " \
                                        "form-control-feedback") %>
      <%= f_s.text_field(:pattern, { value: session[:pattern],
                                     class: "form-control",
                                     placeholder: :app_find.t }) %>
    </div><!--.form-group-->

    <div class="form-group text-nowrap">
      <%= f_s.select(
            :type,
            options_for_select(options, session[:search_type] || :observation),
            { }, { class: "form-control w-auto" }
          ) %>
    </div><!--.form-group-->
  <% end %>

  <%= hidden_field_tag(:needs_id, true) if identify_page %>

  <div class="form-group text-nowrap">
    <%= submit_button(form: f, button: :app_search.l, class: "mr-2") %>
  </div><!--.form-group-->

<% end %>

<p class="navbar-text mx-2 text-nowrap">
  <%= link_to(content_tag(:span, :search_bar_help.t),
              info_search_bar_help_path) %>
  <span class=""> |</span>
</p>

<p class="navbar-text mx-2 hidden-xs">
  <%= adv_search %>
</p>

<div class="visible-xs">
  <%= adv_search %>
</div>
