<% #bs4
icon_size = "" # "fa-lg"
%>

<ul class="nav navbar-nav d-none d-md-flex mr-0">
  <% if @user.admin %>
    <%= content_tag(:li) do
      link_to(
        in_admin_mode? ?
          admin_mode_path(turn_off: true) : admin_mode_path(turn_on: true),
        { id: "user_nav_admin_mode_link",
          title: in_admin_mode? ? :app_turn_admin_off.t : :app_turn_admin_on.t,
          data: { toggle: "tooltip", placement: "bottom" } }
      ) do
        icon("fa-solid", "user-shield", class: icon_size)
      end
    end %>
  <% end %>

  <%= content_tag(:li) do
    link_to(
      comments_path(for_user: @user.id),
      { id: "user_nav_inbox_link",
        title: :app_comments_for_you.t,
        data: { toggle: "tooltip", placement: "bottom" } }
    ) do
      icon("fa-solid", "inbox", class: icon_size)
    end
  end %>

  <%= content_tag(:li) do
    link_to(
      interests_path,
      { id: "user_nav_interests_link",
        title: :app_your_interests.t,
        data: { toggle: "tooltip", placement: "bottom" } }
    ) do
      icon("fa-solid", "bullhorn", class: icon_size)
    end
  end %>

  <%= content_tag(:li) do
    link_to(
      edit_account_preferences_path,
      { id: "user_nav_preferences_link",
        title: :app_preferences.t,
        data: { toggle: "tooltip", placement: "bottom" } }
    ) do
      icon("fa-solid", "gear", class: icon_size)
    end
  end %>

  <li id="user_drop_down" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
        role="button" aria-expanded="false">
      <%= h(@user.login) %>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><%= link_to(:app_your_observations.t,
                      observations_path(user: @user.id),
                      { class: "dropdown-item",
                        id: "user_drop_observations_link" } ) %></li>
      <li><%= link_to(:app_your_projects.t,
                      projects_path(member: @user.id),
                      { class: "dropdown-item",
                        id: "user_drop_projects_link" }) %></li>
      <li><%= link_to(:app_your_lists.t,
                      species_lists_path(by_user: @user.id),
                      { class: "dropdown-item",
                        id: "user_drop_species_lists_link" } ) %></li>
      <li><%= link_to(:app_your_interests.t,
                      interests_path,
                      { class: "dropdown-item",
                        id: "user_drop_interests_link" }) %></li>
      <li><%= link_to(:app_your_summary.t,
                      user_path(@user.id),
                      { class: "dropdown-item",
                        id: "user_drop_profile_link" }) %></li>
      <li><%= link_to(:app_preferences.t,
                      edit_account_preferences_path,
                      { class: "dropdown-item",
                        id: "user_drop_preferences_link" }) %></li>
      <li class="dropdown-divider"></li>
      <li><%= link_to(:app_logout.t, account_logout_path,
                      { class: "dropdown-item", id: "user_drop_logout_link" }) %></li>
    </ul>
  </li>
  <li><%= link_to(account_logout_path,
                  { id: "user_nav_logout_link",
                    title: :app_logout.t,
                    data: { toggle: "tooltip", placement: "bottom" } }) do
            icon("fa-solid", "arrow-right-from-bracket", class: "fa-lg")
          end %>
  </li>
</ul>
