<%
  intro = :email_admin_request_intro.l(
    user: @sender.legal_name,
    email: @sender.email,
    project: @project.title
  )

  handy_links = :email_handy_links.l

  links = []
  links.push([:admin_request_change_member_status.t,
    "#{MO.http_domain}/project/change_user_status/#{@project.id}?candidate=#{@sender.id}"])
  links.push([:email_links_show_user.t,
    "#{MO.http_domain}/observer/show_user/#{@sender.id}"])
  links.push([:email_links_latest_changes.t,
    MO.http_domain])

  report_abuse = :email_report_abuse.l(email: MO.webmaster_email_address)

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
  <%= @message.tp %>
</div>
<%= handy_links.tp %>
<ul type=none>
  <% for label, url in links %>
    <li><%= label %>: <%= link_to(url, url) %></li>
  <% end %>
</ul>
<%= report_abuse.tp %>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

<%= @message.tp.html_to_ascii %>

--------------------------------------------------

<%= handy_links.tp.html_to_ascii %>

<%= result = "".html_safe
  for label, url in links
    result += label.html_to_ascii + ": " + url.html_safe + "\n"
  end
  result %>
<%= report_abuse.tp.html_to_ascii %>
<% end %>
