<!-- IMAGE_PANEL -->
<%= render(Components::Panel.new) do |panel| %>
  <%= panel.with_heading do %>
    <div class="text-center small image-controls">
      <% if permission?(@image) %>
        <%= put_button(name: :image_show_rotate_left.t,
                       path: transform_image_path(id: @image.id,
                                                  op: :rotate_left,
                                                  size: @size)) %> |
        <%= put_button(name: :image_show_rotate_right.t,
                       path: transform_image_path(id: @image.id,
                                                  op: :rotate_right,
                                                  size: @size)) %> |
        <%= put_button(name: :image_show_mirror.t,
                       path: transform_image_path(id: @image.id,
                                                  op: :mirror,
                                                  size: @size)) %> |
      <% end %>
      <%= render(Components::ImageOriginalLink.new(image: @image)) %> |
      <%= render(Components::ImageEXIFLink.new(image_id: @image.id)) %>

    </div><!--.text-center-->
  <% end %><!--.panel-heading-->

  <%= panel.with_body do %>
    <%= render(Components::InteractiveImage.new(
      user: @user,
      image: @image,
      **image_show_args
    )) %>
    <div class="mt-3 text-center">
      <% if @user %>
        <%= render(Components::ImageVoteInterface.new(
          user: @user,
          image: @image,
          votes: true
        )) %>
      <% end %>
      <% if !@image.original_name.blank? &&
            (permission?(@image) ||
              @image.user && @image.user.keep_filenames == "keep_and_show") %>
        <%= @image.original_name %>
      <% end %>
    </div>
  <% end %><!--.panel-body-->
<% end %><!--.panel-->
<!-- /IMAGE_PANEL -->
