<%
@title = :propagate_lifeform_title.t(name: @name.display_name)

add_tab_set(name_forms_return_links(name: @name))
@container = :text_image
action = { controller: "/names/lifeforms/propagate", action: :update,
           id: @name.id, q: get_query_param }
%>

<%= form_with(url: action, id: "propagate_name_lifeform_form") do |f| %>

  <p><b><%= :ADD.t %>:</b> <%= :propagate_lifeform_add.t %></p>
  <table class="table table-lifeform table-striped">
    <% Name.all_lifeforms.
            select { |word| @name.lifeform.include?(" #{word} ") }.
            each do |word| %>
      <tr>
        <td>
          <%= check_box_with_label(form: f, field: :"add_#{word}",
                                   value: "1", checked: false,
                                   label: :"lifeform_#{word}".t) %>
        </td>
        <td class="container-text">
          <%= :"lifeform_help_#{word}".t %>
        </td>
      </tr>
    <% end %>
  </table>
  <br/>

  <p><b><%= :REMOVE.t %>:</b> <%= :propagate_lifeform_remove.t %></p>
  <table class="table table-lifeform table-striped">
    <% Name.all_lifeforms.
            reject { |word| @name.lifeform.include?(" #{word} ") }.
            each do |word| %>
      <tr>
        <td>
          <%= check_box_with_label(form: f, field: :"remove_#{word}",
                                   value: "1", checked: false,
                                   label: :"lifeform_#{word}".t) %>
        </td>
        <td class="container-text">
          <%= :"lifeform_help_#{word}".t %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= submit_button(form: f, button: :APPLY.t, center: true) %>

<% end %>
