<%# bs4 %>
<!--[form:image]-->
<%= :form_observations_upload_help.tp %>
<% @image = @images[index] %>

<div id="image_<%= index %>_box" class="form_image">

  <div class="my-4">
    <%= radio_button(:observation, :thumb_image_id, -index) %>
    <%= custom_file_field(:image, :image, index: index,
                          onchange: "auto_image_new(#{index})") %>

    <% if @js %>
      <span class="ml-2">&nbsp;</span>
      <input id="image_<%=index%>_more" onclick="image_on(<%=index%>);"
             type="button" value="<%=:MORE.t%> »"
             class="btn btn-outline-secondary" />
      <input id="image_<%=index%>_less" onclick="image_off(<%=index%>);"
             type="button" value="« <%=:LESS.t%>" style="display:none"
             class="btn btn-outline-secondary" />
    <% end %>
  </div>

  <%= fields_for(:image) do |f_i| %>
    <%= text_field_with_label(form: f_i, field: :notes, index: index,
                              size: 50, label: :NOTES.t + ":") %>

    <div id="image_<%= index %>_div" style="<%= "display:none;" if @js %>">
      <%= text_field_with_label(form: f_i, field: :copyright_holder,
                                index: index, inline: true,
                                label: :form_images_copyright_holder.t + ":") %>

      <div class="form-group form-inline">
        <%= f_i.label("#{index}_when_1i".to_sym,
                      "#{:form_images_when_taken.t}:") %>
        <%= f_i.date_select(:when, date_select_opts(@image).merge(index: index),
                            { onchange: "changed_date(#{index})",
                              class: "form-control",
                              data: { autocompleter: :year } }) %>
      </div>

      <%= select_with_label(form: f_i, field: :license_id, index: index,
                            label: :form_images_select_license.t + ":",
                            inline: true,
                            options: @licenses, value: @image.license_id) %>
    </div>
  <% end %>

  <% inject_javascript_at_end %(
    CHANGED_DATES[#{index}] = false;
  ) %>

</div><!--.form_image-->

<!--[eoform:image]-->
