<!-- MULTIFILE_UPLOAD_FORM -->

<div class="row">
  <div class="col-sm-6 mt-3">
    <label class="btn btn-default file-field">
      <input type="file" multiple id="multiple_images_button"
             data-action="change->observation-images#addSelectedFiles"
             accept="image/*"/>
      <%= :select_file.t %>
    </label>
  </div><!--.col-->
  <div class="col-sm-6">
    <%= help_block_with_arrow("left", id: "upload_multi_help") do
      tag.p(:form_observations_upload_help_multi_select.t)
    end %>
  </div><!--.col-->
</div><!--.row-->


<!-- Container to show messages relating to the selected images -->
<div id="image_messages" class="fade" style="display: none;"
     data-observation-images-target="imgMessages">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <div class="inconsistent_date_options">
          <%= tag.div(:form_observations_set_observation_date_to.t + ":",
                      class: "font-weight-bold") %>
          <%= tag.div("",
                      id: "image_date_radio_container",
                      data: { observation_images_target: "imgDateRadios" }) %>
          <%= tag.div(:form_observations_set_image_dates_to.t + ":",
                      class: "font-weight-bold") %>
          <%= tag.div("",
                      id: "observation_date_radio_container",
                      data: { observation_images_target: "obsDateRadios" }) %>
        </div>
        <div class="mt-3">
          <%= js_button(
                button: :form_observations_use_date.t,
                name: "fix_dates", id: "fix_dates",
                data: { action: "observation-images#fixDates" }) %>
          <%= js_button(
                button: :IGNORE.t,
                name: "ignore_dates", id: "ignore_dates",
                data: { action: "observation-images#ignoreDates" }) %>
        </div>
      </div><!--.col-->

      <div class="col-sm-4">
        <%= tag.span(:form_observations_date_warning.t) %>
      </div><!--.col-->

    </div><!--.row-->
  </div><!--.well-->
</div><!--#image_messages-->

<div id="gps_messages" class="fade" style="display: none;"
     data-observation-images-target="gpsMessages">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <%= tag.div("Set observation Latitude/Longitude to:",
                    class: "font-weight-bold") %>
        <%= tag.div("", id: "geocode_radio_container", class: "mb-3",
                        data: { observation_images_target: "gpsRadios" }) %>
        <%= js_button(button: :UPDATE.t, name: "set_gps",
                      id: "set_gps",
                      data: { observation_images_target: "setGps" }) %>
        <%= js_button(button: :IGNORE.t, name: "ignore_gps", id: "ignore_gps",
                      data: { action: "observation-images#ignoreGps" }) %>
      </div>

      <div class="col-sm-4">
        <%= tag.span(:form_observations_gps_info.t) %>
        <%= tag.div("", id: "image_gps_map", class: "w-100",
                        data: { observation_images_target: "imageGpsMap" }) %>
      </div>

    </div><!--.row-->
  </div><!--.well-->
</div><!--#geocode_messages-->

<!--Container for appending images-->
<div class="images_container">
  <%= tag.div("", id: "added_images_container",
              data: { observation_images_target: "addedImages" }) %>
</div>
<!-- /MULTIFILE_UPLOAD_FORM -->
