<!-- MULTIFILE_UPLOAD_FORM -->
<% javascript_include("multi_image_upload") %>

<%= hidden_field(:observation, :thumb_image_id) %>

<div class="row">
  <div class="col-sm-6">
    <input type="file" multiple id="multiple_images_button" accept="image/*" class="mt-3"/>
  </div><!--.col-->
  <div class="col-sm-6">
    <%= help_block_with_arrow("left", id: "upload_multi_help") do %>
      <p class="">
        <%= :form_observations_upload_help_multi_select.t %>
      </p>
    <% end %>
  </div><!--.col-->
</div><!--.row-->


<!-- Container to show messages relating to the selected images -->
<div id="image_messages" style="display: none;">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <div class="inconsistent_date_options">
          <p class="mb-0"><strong><%= :form_observations_set_observation_date_to.t %>:</strong></p>
          <div id="image_date_radio_container"></div>
          <p class="mb-0"><strong><%= :form_observations_set_image_dates_to.t %>:</strong></p>
          <div id="observation_date_radio_container"></div>
        </div>
        <div class="mt-3">
          <button id="fix_dates" type="button" class="btn btn-default"><%= :form_observations_use_date.t %></button>
          <button id="ignore_dates" type="button" class="btn btn-default"><%= :IGNORE.t %></button>
        </div>
      </div><!--.col-->

      <div class="col-sm-4">
        <span><%= :form_observations_date_warning.t %></span>
      </div><!--.col-->

    </div><!--.row-->
  </div><!--.well-->
</div><!--#image_messages-->

<div id="geocode_messages" style="display: none;">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <p class="mb-0"><strong>Set observation Latitude/Longitude to:</strong></p>
        <div id="geocode_radio_container" class="mb-3"></div>
        <button id="set_geocode" type="button" class="btn btn-default"><%= :UPDATE.t %></button>
        <button id="ignore_geocode" type="button" class="btn btn-default"><%= :IGNORE.t %></button>
      </div>

      <div class="col-sm-4">
        <span><%= :form_observations_gps_info.t %></span>
        <div id="geocode_map" class="w-100"></div>
      </div>

    </div><!--.row-->
  </div><!--.well-->
</div><!--#geocode_messages-->

<!--Container for appending images-->
<div class="images_container">
  <div id="added_images_container">
    <!--Target for insertion-->
  </div>
</div>

<!-- /MULTIFILE_UPLOAD_FORM -->
