<!-- MULTIFILE_UPLOAD_FORM -->
<%
# javascript_include("multi_image_upload")
# max_size = MO.image_upload_max_size
# legible_max_size = (max_size.to_f/1024/1024).round
%>

<%= hidden_field(:observation, :thumb_image_id) %>

<div class="row">
  <div class="col-sm-6 mt-3">
    <label class="btn btn-default file-field">
      <input type="file" multiple id="multiple_images_button"
             accept="image/*"/>
      <%= :select_file.t %>
    </label>
  </div><!--.col-->
  <div class="col-sm-6">
    <%= help_block_with_arrow("left", id: "upload_multi_help") do
      tag.p(:form_observations_upload_help_multi_select.t)
    end %>
  </div><!--.col-->
</div><!--.row-->


<!-- Container to show messages relating to the selected images -->
<div id="image_messages" class="fade" style="display: none;">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <div class="inconsistent_date_options">
          <%= tag.div(:form_observations_set_observation_date_to.t + ":",
                      class: "font-weight-bold") %>
          <%= tag.div("", id: "image_date_radio_container") %>
          <%= tag.div(:form_observations_set_image_dates_to.t + ":",
                      class: "font-weight-bold") %>
          <%= tag.div("", id: "observation_date_radio_container") %>
        </div>
        <div class="mt-3">
          <%= js_button(button: :form_observations_use_date.t,
                        name: "fix_dates", id: "fix_dates") %>
          <%= js_button(button: :IGNORE.t, name: "ignore_dates",
                        id: "ignore_dates") %>
        </div>
      </div><!--.col-->

      <div class="col-sm-4">
        <%= tag.span(:form_observations_date_warning.t) %>
      </div><!--.col-->

    </div><!--.row-->
  </div><!--.well-->
</div><!--#image_messages-->

<div id="geocode_messages" class="fade" style="display: none;">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <%= tag.div("Set observation Latitude/Longitude to:",
                    class: "font-weight-bold") %>
        <%= tag.div("", id: "geocode_radio_container", class: "mb-3") %>
        <%= js_button(button: :UPDATE.t, name: "set_geocode",
                      id: "set_geocode") %>
        <%= js_button(button: :IGNORE.t, name: "ignore_geocode",
                      id: "ignore_geocode") %>
      </div>

      <div class="col-sm-4">
        <%= tag.span(:form_observations_gps_info.t) %>
        <%= tag.div("", id: "geocode_map", class: "w-100") %>
      </div>

    </div><!--.row-->
  </div><!--.well-->
</div><!--#geocode_messages-->

<!--Container for appending images-->
<div class="images_container">
  <%= tag.div("", id: "added_images_container") %>
</div>

<%# inject_javascript_at_end %(
document.addEventListener("DOMContentLoaded", function () {
  new MOImagesUploader({
    uploading_text: "#{j :form_observations_uploading_images.t }",
    image_too_big_text: "#{j :form_observations_image_too_big.t(max: legible_max_size) }",
    creating_observation_text: "#{j :form_observations_creating_observation.t }",
    months: "#{j :all_months.t }",
    show_on_map: "#{j :show_on_map.t }",
    something_went_wrong: "#{j :form_observations_upload_error.t }"
  })
});
) %>
<!-- /MULTIFILE_UPLOAD_FORM -->
