<%# it's a double-duty form with two different commit buttons.
the edit links un-collapse the edit key notes field with a save button,
and the checkboxes are for the remove button at the bottom.

Could instead be separate edit forms, with a remove button on each line. %>

<table class="table table-striped py-5px">
  <tr>
    <th></th>
    <th><%= :CREATED.t %></th>
    <th><%= :account_api_keys_last_used_column_label.t %></th>
    <th><%= :account_api_keys_num_uses_column_label.t %></th>
    <th><%= :API_KEY.t %></th>
    <th><%= :NOTES.t %></th>
  </tr>

  <% @user.api_keys.sort_by do |key|
    last_use = Time.zone.now - key.last_used rescue 0
    [-key.num_uses, last_use, key.id]
  end.each do |key| %>

    <tr>
      <td>
        <%= destroy_button(name: :UPDATE.l, target: key, icon: :remove) %>
      </td>
      <td><%= key.created_at.web_date %></td>
      <td id="key_time_<%= key.id %>">
        <%= key.last_used ? key.last_used.web_date : '--' %>
      </td>
      <td id="key_num_uses_<%= key.id %>">
        <%= key.num_uses > 0 ? key.num_uses : '--' %>
      </td>
      <td><%= h(key.key) %></td>
      <td id="key_notes_<%= key.id %>">
        <div class="edit_key_notes_container collapse">
          <%= form_with(model: :api_key, url: account_api_key_path,
                        method: :patch, remote: true,
                        id: "account_api_key_form") do |f| %>
                        <%# account_api_keys_form %>
            <%= f.hidden_field(:id, key.id) %>
            <%= f.text_field(:notes, # "key_notes_input_#{key.id}"
                             value: key.notes) %>
            <%= f.button(:SAVE.l, type: :submit, class: "btn btn-default") %>
            <%= button_tag(:CANCEL.l, type: :button,
                           class: "btn btn-default",
                           data: { toggle: "collapse",
                                   parent: "key_notes_#{key.id}" }) %>
          <% end %>
        </div>
        <div class="view_key_notes_container collapse show">
          <%= tag.span(key.notes.t, class: "current_notes") %>
          <%= button_tag(:EDIT.t, class: "btn btn-default",
                         data: { toggle: "collapse",
                                 parent: "key_notes_#{key.id}" }) %>
        </div>
      </td>
    </tr>
  <% end %>

</table>

