<%= form_with(url: account_remove_api_key_path,
              id: "account_api_keys_form") do |f| %>

  <table class="table table-striped py-5px">
    <tr>
      <th></th>
      <th><%= :CREATED.t %></th>
      <th><%= :account_api_keys_last_used_column_label.t %></th>
      <th><%= :account_api_keys_num_uses_column_label.t %></th>
      <th><%= :API_KEY.t %></th>
      <th><%= :NOTES.t %></th>
    </tr>

    <% @user.api_keys.sort_by do |key|
      last_use = Time.zone.now - key.last_used rescue 0
      [-key.num_uses, last_use, key.id]
    end.each do |key| %>

      <tr>
        <td><%= f.check_box("key_#{key.id}") %></td>
        <td><%= key.created_at.web_date %></td>
        <td id="key_time_<%= key.id %>">
          <%= key.last_used ? key.last_used.web_date : '--' %>
        </td>
        <td id="key_num_uses_<%= key.id %>">
          <%= key.num_uses > 0 ? key.num_uses : '--' %>
        </td>
        <td><%= h(key.key) %></td>
        <td id="key_notes_<%= key.id %>">
          <div class="edit_key_notes_container"
               data-target-key="<%= key.id %>" style="display:none">
            <%= f.text_field("key_notes_input_#{key.id}",
                             { value: key.notes,
                               data: { role: "key_notes_input",
                                       id: key.id } }) %>
            <%= f.button(:SAVE.l, type: "button", class: "btn btn-default",
                            data: { role: "key_notes_save", id: key.id }) %>
            <%= f.button(:CANCEL.l, type: "button",
                            class: "btn btn-default",
                            data: { role: "key_notes_cancel", id: key.id }) %>
          </div>
          <div class="view_key_notes_container"
               data-target-key="<%= key.id %>">
            <%= content_tag(:span, key.notes.t, class: "current_notes") %>
            <%= link_to(:EDIT.t, edit_account_api_key_path(id: key.id),
                        data: { role: "edit_api_key", id: key.id }) %>
          </div>
        </td>
      </tr>
    <% end %>

  </table>

  <%= submit_button(form: f, button: :account_api_keys_remove_button.l,
                    center: true, id: "remove_button") %>

<% end %>
