<%
  @title = :account_api_keys_title.t

  tabs = create_tabs(account_api_links)
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= :account_api_keys_help.tp %>

<%= form_with(scope: :key, method: :patch,
              url: account_api_key_path(id: @key.id),
              id: "account_edit_api_key_form") do |f| %>

  <table>
    <tr>
      <td><%= :CREATED.t %>:&nbsp;</td>
      <td><%= @key.created_at.web_date %></td>
    </tr>
    <tr>
      <td><%= :account_api_keys_last_used_column_label.t %>:&nbsp;</td>
      <td><%= @key.last_used ? @key.last_used.web_date : '--' %></td>
    </tr>
    <tr>
      <td><%= :account_api_keys_num_uses_column_label.t %>:&nbsp;</td>
      <td><%= @key.num_uses > 0 ? @key.num_uses : '--' %></td>
    </tr>
    <tr>
      <td><%= :API_KEY.t %>:&nbsp;</td>
      <td><%= h(@key.key) %></td>
    </tr>
  </table>

  <%= text_field_with_label(form: f, field: :notes,
                            label: :NOTES.t + ":", class: "mt-3") %>

  <div class="text-center mt-3">
    <%= submit_button(form: f, button: :UPDATE.l) %>
    <span style="margin-left:5em"></span>
    <%= submit_button(form: f, button: :CANCEL.l) %>
  </div><!-- .text-center -->
<% end %>
