<%
  @title ||= :privacy_title.t
%>

<div class="max-width-text">
  <%= :privacy_last_modified.tp %>

  <%= :privacy_intro.tp %>

  <%= :privacy_definitions.tp %>

  <table class="table table-striped">
    <tr>
      <th width="33%"><%= :privacy_when_we_say.t %></th>
      <th><b><%= :privacy_we_mean.t %></b></th>
    </tr>
    <tr>
      <td><%= :privacy_mo_inc_say.t %></td>
      <td><%= :privacy_mo_inc_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_mo_website_say.t %></td>
      <td><%= :privacy_mo_website_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_you_say.t %></td>
      <td><%= :privacy_you_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_this_policy_say.t %></td>
      <td><%= :privacy_this_policy_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_contributions_say.t %></td>
      <td><%= :privacy_contributions_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_personal_info_say.t %></td>
      <td><%= :privacy_personal_info_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_third_party_say.t %></td>
      <td><%= :privacy_third_party_mean.t %></td>
    </tr>
  </table>

  <%= :privacy_last_modified.tp %>
</div>
