<%
  @title ||= :privacy_title.t
  @navbar = {} # reset
  @navbar[:title] = { title: :POLICY.t, url: policy_privacy_path }
%>

<%= tag.div class: "form-max-width mt-4" do %>
  <%= tag.h1 @title.humanize, class: "display-1" %>
  
  <%= :privacy_last_modified.tp %>

  <%= :privacy_intro_header.tp %>

  <%= :privacy_intro_content.tp %>

  <%= :privacy_definitions_header.tp %>

  <%= :privacy_definitions_content.tp %>

  <table class="table table-striped">
    <tr>
      <th width="33%"><%= :privacy_when_we_say.t %></th>
      <th><b><%= :privacy_we_mean.t %></b></th>
    </tr>
    <tr>
      <td><%= :privacy_mo_inc_say.t %></td>
      <td><%= :privacy_mo_inc_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_mo_website_say.t %></td>
      <td><%= :privacy_mo_website_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_you_say.t %></td>
      <td><%= :privacy_you_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_this_policy_say.t %></td>
      <td><%= :privacy_this_policy_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_contributions_say.t %></td>
      <td><%= :privacy_contributions_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_personal_info_say.t %></td>
      <td><%= :privacy_personal_info_mean.t %></td>
    </tr>
    <tr>
      <td><%= :privacy_third_party_say.t %></td>
      <td><%= :privacy_third_party_mean.t %></td>
    </tr>
  </table>

  <%= :privacy_covers_header.tp %>

  <%= :privacy_covers_content.tp %>

  <%= :privacy_types_of_information_header.tp %>

  <%= :privacy_public_contributions.tp %>

  <%= :privacy_account_info.tp %>

  <%= :privacy_location_info.tp %>

  <%= :privacy_usage_info.tp %>

  <%= :privacy_when_we_share_info_header.tp %>

  <%= :privacy_when_we_share_info_content.tp %>

  <%= :privacy_how_we_protect_header.tp %>

  <%= :privacy_how_we_protect_content.tp %>

  <%= :privacy_how_long_do_we_keep_data_header.tp %>

  <%= :privacy_how_long_do_we_keep_data_content.tp %>

  <%= :privacy_where_is_mo_header.tp %>

  <%= :privacy_where_is_mo_content.tp %>

  <%= :privacy_do_not_track_header.tp %>

  <%= :privacy_do_not_track_content.tp %>

  <%= :privacy_changes_header.tp %>

  <%= :privacy_changes_content.tp %>

  <%= :privacy_contact_us_header.tp %>

  <%= :privacy_contact_us_content.tp %>

  <%= :privacy_thank_you_header.tp %>

  <%= :privacy_thank_you_content.tp %>

  <%= :privacy_last_modified.tp %>
<% end %>
