<%
  type = project_alias.target_type.downcase.to_sym || :location
  value = project_alias.target.name || ""
%>
<%= form_with(model: project_alias,
              data: { controller: :autocompleter, type: }) do |form| %>
  <% if project_alias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_alias.errors.count, "error") %> prohibited this project alias from being saved:</h2>
      <ul>
        <% project_alias.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= text_field_with_label(form:, field: :name, label: "#{:Name.t}:", inline: true) %>
  </div>

  <div class="field">
    <%= form.hidden_field(:project_id, value: project_alias.project_id) %>
  </div>

  <%= tag.div(class: "form-group dropdown",
              data: { autocompleter_target: "wrap" } ) do %>
    <div class="field">
      <%= select_with_label(form:,
                            field: :target_type,
                            label: "#{:project_alias_type.t}:",
                            options: [[:USER.l, :user], [:LOCATION.l, :location]],
                            inline: true,
                            selected: type,
                            data: { autocompleter_target: "select",
                                    action: "autocompleter#swap" }) %>
    </div>

    <%= autocompleter_hidden_field(form:, type:) %>
    <%= form.text_field(
      :term, value: value, class: "form-control",
      data: { autocompleter_target: "input" }
    ) %>
    <%= autocompleter_dropdown %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
