<%= form_with(model: project_alias) do |form| %>
  <% if project_alias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_alias.errors.count, "error") %> prohibited this project alias from being saved:</h2>
      <ul>
        <% project_alias.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= text_field_with_label(form:, field: :name, label: "#{:Name.t}:", inline: true) %>
  </div>

  <div class="field">
    <%= form.hidden_field(:project_id, value: project_alias.project_id) %>
  </div>

  <div class="field">
    <%= select_with_label(form:,
                          field: :target_type,
                          label: "#{:project_alias_type.t}:",
                          options: [:LOCATION.t, :USER.t],
                          inline: true,
                          selected: project_alias.target_type || :LOCATION.t) %>
  </div>

  <div class="field">
    <%= autocompleter_field(form:, field: :target,
                            label: :USER.t + ":", type: :user) %>
  </div>

  <div class="field">
    <%= autocompleter_field(form:, field: :target,
                            label: :LOCATION.t + ":", type: :location) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
