<%
  add_project_banner(@project)
  @container = :wide
  project_id = @project.id
%>

<h1>Project Aliases</h1>

<table class="table table-striped table-project-members mt-3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Target Type</th>
      <th>Target</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @project_aliases.each do |project_alias| %>
      <tr>
        <td><%= project_alias.name %></td>
        <td><%= project_alias.target_type %></td>
        <td><%= project_alias.target.try(:name) %></td>
        <td>
          <%= link_to('Show', project_alias_path(project_id:, id: project_alias.id)) %>
          <%= link_to('Edit', edit_project_alias_path(project_id:, id: project_alias.id)) %>
          <%= link_to('Delete', project_alias_path(project_id:, id: project_alias.id),
	              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project Alias', new_project_alias_path(project_id:) %>
