<%
  add_project_banner(@project_alias.project)
  @container = :text
  project_id = @project_alias.project_id
%>

<p>
  <strong>Name:</strong>
  <%= @project_alias.name %>
</p>

<p>
  <strong>Target Type:</strong>
  <%= @project_alias.target_type %>
</p>

<p>
  <strong>Target:</strong>
  <%= @project_alias.target.try(:name) %>
</p>

<%= link_to 'Edit', edit_project_alias_path(project_id:, id: @project_alias.id) %> |
<%= link_to 'Back', project_aliases_path %>
