<%
  @title = :download_observations_title.t

  # tabs = [
  #   link_with_query(:download_observations_back.t, action: :index_observation)
  # ]
  @tabsets = { right: draw_tab_set(tabs) }
  @navbar[:title] = { title: :OBSERVATIONS.t, url: observations_path }
%>

<%= form_tag(add_query_param({})) %>
  <p><%= :download_observations_format.t %>:</p>
  <ul type="none">
    <li>
      <%= radio_button_tag(:format, :raw, @format == "raw") %>
      <%= :download_observations_raw.t %>
    </li>
    <li>
      <%= radio_button_tag(:format, :adolf, @format == "adolf") %>
      <%= :download_observations_adolf.t %>
    </li>
    <li>
      <%= radio_button_tag(:format, :darwin, @format == "darwin") %>
      <%= :download_observations_darwin.t %>
      (<%= link_to(:download_observations_what_is_this.t,
                   "http://rs.tdwg.org/dwc/index.htm",
                   target: "_new") %>)
    </li>
    <li>
      <%= radio_button_tag(:format, :symbiota, @format == "symbiota") %>
      <%= :download_observations_symbiota.t %>
    </li>
    <li>
      <%= radio_button_tag(:format, :mycoflora, @format == "mycoflora") %>
      <%= :download_observations_mycoflora.t %>
    </li>
  </ul>

  <p><%= :download_observations_encoding.t %>:</p>
  <ul type="none">
    <li>
      <%= radio_button_tag(:encoding, "ASCII", @encoding == "ASCII") %>
      <%= :download_observations_ascii.t %>
    </li>
    <li>
      <%= radio_button_tag(:encoding, "WINDOWS-1252", @encoding == "WINDOWS-1252") %>
      <%= :download_observations_windows.t %>
    </li>
    <li>
      <%= radio_button_tag(:encoding, "UTF-8", @encoding == "UTF-8") %>
      <%= :download_observations_utf8.t %>
    </li>
    <li>
      <%= radio_button_tag(:encoding, "UTF-16", @encoding == "UTF-16") %>
      <%= :download_observations_utf16.t %>
    </li>
  </ul>

  <%= submit_tag(:DOWNLOAD.l, class: "btn") %>
  <%= submit_tag(:CANCEL.l, class: "btn") %>

  <p class="mt-4"><%= :download_observations_print_labels_header.t %>:</p>
  <%= submit_tag(:download_observations_print_labels.l, class: "btn") %>
</form>
