<%
no_hits = params[:pattern].present? ? :title_for_observation_search.l : ""
add_index_title(@query, no_hits: no_hits) # note default above is non-nil
add_tab_set(observations_index_tabs(query: @query)) if @objects.any?
add_sorter(@query, observations_index_sorts)
@container = :full

flash_error(@error) if @error && @objects.empty?
%>

<% if @suggest_alternate_spellings && @objects.empty?
  names = Name.suggest_alternate_spellings(@suggest_alternate_spellings)
  if names.any? %>
    <div class="alert-warning">
      <%= content_tag(:p, "#{:list_observations_suggestions.t}:") %>
      <% names.sort_by(&:sort_name).each do |name| %>
        <div class="pl-3"><%=
          search = PatternSearch::Observation.new(name.text_name)
          count = search.query.num_results
          if count.zero?
            # link to Name because a pattern search would be circular
            :list_observation_name.t + ": " +
            link_to(
              name.display_name.t, name.show_link_args
            ) + " (0)"
          else
            :list_observation_observations.t + " " +
            link_to(
              name.display_name.t, observations_path(pattern: name.text_name)
            ) + " (#{count})"
          end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= paginate_block(@pages) do %>
  <%= tag.ul(class: "row list-unstyled mt-3",
             data: { controller: "matrix-table" }) do %>
    <%= render(partial: "shared/matrix_box",
               layout: "shared/matrix_table",
               collection: @objects,
               as: :object) %>
    <div style="clear:left"></div>
  <% end %>
<% end %>
