<%
  @owner_id = owner_id_line(@observation) # must go before show_obs_title
  @title = show_obs_title(@observation) # NIMMO: reformatting in title partial
  # @tabsets = show_observation_tabset(@observation, @user)

  javascript_include("suggestions")
  javascript_include("vote_popup")

  show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
  show_lists = @observation.species_lists.any?
  show_links = @observation.external_links.any? || @new_sites.any?
  comments = @observation.comments.any?

  @navbar = {} # reset
  @navbar[:title] = { title: :OBSERVATIONS.t, url: observations_path }
  @navbar[:search] = 1
  @navbar[:links] = [
    { title: :CREATE.t, url: new_observation_path, icon: "fa-plus" },
    { title: :EDIT.t, url: edit_observation_path(@observation.id),
      icon: "fa-edit" }
  ]
  @navbar[:links] << { title: :destroy_observation.t, method: :delete,
                       url: observation_path, icon: "fa-trash-alt",
                       confirm: :are_you_sure.l } if in_admin_mode?
%>

<div class="row navbar h-auto p-0 mt-3">

  <div class="left-column col-12 col-sm-8">
    <%= render "observations/show/title", observation: @observation %>
  </div><!-- .left-column -->

  <div class="right-column col-12 col-sm-4 pl-md-5">
    <%= render "observations/show/prev_next_nav", observation: @observation %>
  </div><!-- .right-column -->

</div><!-- .row -->

<div class="card mb-4 mb-lg-5">
  <div class="row no-gutters">

    <div class="left-column col-12 col-sm-8">
      <%= render "observations/show/carousel", observation: @observation %>
    </div><!-- .left-column -->
    <div class="right-column col-12 col-sm-4">
      <%= render "observations/show/observation", observation: @observation %>
    </div><!-- .right-column -->

  </div><!-- .row -->
</div><!-- .card -->


<div class="row">

  <div class="left-column col-12 col-sm-8">
    <%= render "namings/show", observation: @observation %>
    <%= render "comments/comments", object: @observation,
                controls: true, limit: nil %>
  </div><!-- .left-column -->

  <div class="right-column col-12 col-sm-4 pl-md-5">
    <% render "observations/show/name_info", observation: @observation %>
    <% if show_lists %>
      <%= render "observations/show/lists", observation: @observation %>
    <% end %>
    <% if show_links %>
      <%= render "observations/show/links", observation: @observation %>
    <% end %>
    <% if show_map %>
      <%= render "observations/show/thumbnail_map", observation: @observation %>
    <% end %>
    <%= render "observations/show/images", observation: @observation %>
  </div><!-- .right-column -->

</div><!-- .row -->

<%= show_object_footer(@observation) %>
