<%
# bs4
# TODO: replace with full width carousel - details, then columns
# The move is to make the whole top thing a card:
#    carousel header details footer
@owner_naming = owner_naming_line(@observation) # must before show_obs_title
add_page_title(show_obs_title(obs: @observation, owner_naming: @owner_naming))
add_owner_naming(@owner_naming)
add_pager_for(@observation)
add_interest_icons(@user, @observation)
add_tab_set(show_observation_links(obs: @observation, user: @user))

@container = :double

show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
show_lists = @user && @observation.species_lists.any?
show_links = @user && (@observation.external_links.any? || @new_sites.any?)

obs_locals = { observation: @observation }
bp = "lg" # breakpoint, for easier adjustment
obs_changes = if check_permission(@observation)
                tag.div(class: "observation-change-links") do
                  obs_change_buttons(obs: @observation).safe_join
                end
              else
                ""
              end
%>

<div class="card card-combination mb-4">

  <div class="row no-gutters">
    <%= tag.div(class: "col-#{bp}-4") do
      tag.div(class: "h-100 d-flex flex-column") do %>
        <% tags = [
          tag.div(class:"card-header row-justified py-1 pr-#{bp}-1") do
            [
              tag.h6(:show_observation_details.t, class: "mb-0"),
              obs_changes
            ].safe_join
          end,
          tag.div(class:"card-body list-indented pr-#{bp}-4",
                  id: "observation_details") do
            render(partial: "observations/show/observation",
                   locals: obs_locals)
          end
        ]
        tags << tag.div(class:"card-footer pr-#{bp}-4") do
                  show_object_footer(@observation)
                end
        if check_permission(@observation)
          tags << tag.div(class: "card-footer row-justified py-1 pr-#{bp}-1") do
                    [
                      tag.strong(:IMAGES.l),
                      tag.div(class: "btn-group btn-group-sm") do
                        observation_image_edit_links(obs: @observation).
                        safe_join
                      end
                    ].safe_join
                  end
        end
        %>
        <%= tags.safe_join %>
      <% end
    end %>

    <%= tag.div(class: "col-#{bp}-8") do
      render(partial: "shared/images/carousel",
             locals: { object: @observation })
    end %>
  </div><!--.row-->

</div><!--.card-->

<div class="row">

  <%= tag.div(class: "col-#{bp}-8 col-xl-7") do
    if @user
      concat(render(partial: "observations/show/namings", locals: obs_locals))
    end
    concat(render(partial: "comments/comments_for_object",
               locals: { object: @observation, controls: true, limit: nil }))
    concat(@observation.source_credit.tpl) if @observation.source_noteworthy?
  end %>

  <%= tag.div(class: "col-#{bp}-4 col-xl-5") do
    if @user
      concat(render(partial: "observations/show/name_info",
                    locals: obs_locals))
    end
    if show_lists
      concat(
        render(partial: "observations/show/species_lists", locals: obs_locals)
      )
    end
    if show_links
      concat(render(partial: "observations/show/links", locals: obs_locals))
    end
    if show_map
      concat(render(partial: "observations/show/thumbnail_map",
                    locals: obs_locals))
    end
  end %>

</div><!--.row-->

