<%
@owner_naming = owner_naming_line(@observation) # must before show_obs_title
@title = show_obs_title(obs: @observation, owner_naming: @owner_naming)

add_pager_for(@observation)
draw_interest_icons(@user, @observation)
tabs = create_tabs(show_observation_links(obs: @observation, user: @user,
                                          mappable: @mappable))
@tabsets = { right: draw_tab_set(tabs) }

@container = :double

show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
show_lists = @user && @observation.species_lists.any?
show_links = @user && (@observation.external_links.any? || @new_sites.any?)

obs_locals = { observation: @observation }
%>

<div class="row">
  <div class="col-sm-8 col-lg-7 float-sm-left">
    <%= panel_block(id: "observation_details", class: "name-section") do
      render(partial: "observations/show/observation", locals: obs_locals)
    end %>
  </div>
  <div class="col-sm-4 col-lg-5 float-sm-right">
    <% if @user %>
      <%= panel_block(id: "observation_name_info",
                      class: "name-section small") do
        render(partial: "observations/show/name_info", locals: obs_locals)
      end %>

      <% if show_lists %>
        <%= panel_with_outer_heading(heading: :show_lists_header.t,
                                     id: "observation_species_lists",
                                     inner_class: "p-0") do
          render(partial: "observations/show/species_lists", locals: obs_locals)
        end %>
      <% end %>

      <% if show_links %>
        <%= panel_with_outer_heading(heading: :EXTERNAL_LINKS.t,
                                     id: "observation_links",
                                     inner_class: "p-0") do
          render(partial: "observations/show/links", locals: obs_locals)
        end %>
      <% end %>
    <% end %>

    <% if show_map %>
      <%= render(partial: "observations/show/thumbnail_map",
                 locals: obs_locals) %>
    <% end %>

    <%= render(partial: "observations/show/images", locals: obs_locals) %>
  </div>

  <div class="col-sm-8 col-lg-7 float-sm-left">
    <% if @user %>
      <%= render(partial: "observations/show/namings", locals: obs_locals) %>
    <% end %>

    <%= render(partial: "comments/comments_for_object",
               locals: { object: @observation, controls: true, limit: nil }) %>

    <%= @observation.source_credit.tpl if @observation.source_noteworthy? %>
  </div>

</div><!--.row-->

<%= show_object_footer(@observation) %>
