<%
  @owner_id = owner_id_line(@observation) # must go before show_obs_title
  @title = show_obs_title(@observation)
  num_images = @observation.images.length

  tabs = [
    link_to :show_object.t(type: :observation),
            observation_path(id: @observation.id, q: get_query_param)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-sm-8 float-sm-left">

    <% last_level = nil
       @suggestions.reject(&:useless?).sort_by(&:max).reverse.each do |sugg| %>
      <% if sugg.confident? != last_level %>
        <% if last_level %>
          </tbody></table>
        <% end %>
        <table class="table-namings">
          <thead>
            <tr>
              <th><%= tag.h3 sugg.confident? ?
                :suggestions_title.t : :suggestions_title_others.t %></th>
              <th></th>
            </tr>
          </thead>
        <tbody>
      <% end %>
      <% last_level = sugg.confident? %>
      <tr>
        <td>
          <%= link_to sugg.name.display_name_brief_authors.t,
                      name_path(id: sugg.name.id, q: get_query_param) %><br/>
          <% if @observation.namings.any? \
                {|n| n.name.synonyms.include?(sugg.name)} %>
            (<%= :suggestions_already_proposed.t %>)
          <% else %>
            <%= link_to :suggestions_propose_name.t,
                  new_naming_path(id: @observation.id,
                    name: sugg.name.search_name,
                    q: get_query_param,
                    ref: "AI Observer: #{sugg.max.to_f.round(2)}% confidence"),
                  class: "btn mt-3" %>
            <% end %>
            <br/><br/>
            <b><%= :suggestions_confidence.t %>:</b><br/>
            <% if num_images == 1 %>
              <%= suggestion_confidence(sugg.max) %><br/>
            <% else %>
              <%= :suggestions_max.t %>:
                <%= suggestion_confidence(sugg.max) %><br/>
              <%= :suggestions_avg.t %>:
                <%= suggestion_confidence(sugg.sum.to_f / num_images) %><br/>
            <% end %>
          </td>
          <td>
            <%= thumbnail(sugg.image_obs.thumb_image,
                          link: object_path(sugg.image_obs)) \
                          if sugg.image_obs.present? %>
        </td>
      </tr>
    <% end %>
    </tbody></table>

  </div>
  <div class="col-sm-4 float-sm-right">
    <%= render "show_images", observation: @observation %>
  </div>
</div>
