<%#
The header for page content (below the application top nav)
May include:
prev_next_pager
title
context_help
owner_naming
interest_icons
tab_set
type_filters
sorts
%>

<div class="row-justified">

  <div id="title_bar">
    <!-- Pager -->
    <%= content_tag_if(content_for?(:prev_next_object), :div,
                       class: "d-print-none") do
          yield(:prev_next_object)
        end
        end %>

    <!-- Title Caption -->
    <!-- e.g. "Observation 5"; Can be multiple lines, e.g., with Observer ID -->
    <%= tag.h1(@title, class: "h3", id: "title") -%>
    <%= if @any_content_filters_applied
          add_context_help(content_tag(:span, "(#{:filtered.t})",
                                       class: "context-help"),
                                       :rss_filtered_mouseover.t)
        end -%>
    <%= content_tag_if(@owner_naming, :p, @owner_naming,
                       class: "small", id: "owner_naming") %>
  </div>

  <!-- Tabsets and Sorter. conditionally renders the partials -->
  <%= content_tag_if(content_for?(:tab_set) || content_for?(:interest_icons) ||
                     content_for?(:dropdown_tab_set),
                    :div, id: "right_tabs",
                    class: "d-flex flex-row d-print-none") do
        concat(yield(:interest_icons))
        concat(yield(:dropdown_tab_set))
        concat(yield(:tab_set))
      end %>

  <%= content_tag_if(content_for?(:type_filters), :div,
                     class: "col-12 d-print-none") do
        yield(:type_filters)
      end %>

  <!-- Sorter. conditionally renders the partial -->
  <%= yield(:sorter) %>

</div>
