<%
  # This is a stop-gap measure until I/we figure out exactly how we want to
  # deal with tabsets moving foward.  I'm not sure that my current approach is
  # correct, but I feel like it is a bit more transparent than the previous
  # approach and allows more flexibility in styling the tabs - RJS 2/15/2015
  @tabsets ||= {}
%>

<div class="row">
  <!-- Push down pager, title on small, xs screens so buttons do not block -->
  <%= tag.div(safe_nbsp, class: "hidden-print visible-xs visible-sm mt-4") %>

  <div class="col-xs-<%= content_for?(:tab_set) ? 8 : 12 %>" id="title_bar">
    <!-- Pager -->
    <%= tag.div(class: "hidden-print") do
          yield :prev_next_pager
        end %>

    <!-- Title Caption -->
    <!-- e.g. "Observation 5"; Can be multiple lines, e.g., with Observer ID -->
    <%= tag.h1(@title, class: "h3", id: "title") -%>
    <%= if @any_content_filters_applied
          add_context_help(content_tag(:span, "(#{:filtered.t})",
                                      class: "context-help"),
                          :rss_filtered_mouseover.t)
        end -%>
    <%= content_tag_if(@owner_naming, :h5, @owner_naming, id: "owner_naming") %>
  </div>

  <!-- Tabsets -->
  <%= content_tag_if(content_for?(:tab_set), :div,
                    id: "right_tabs",
                    class: "hidden-print text-right col-sm-4 mb-3") do
        yield :interest_icons
        yield :tab_set
      end %>

  <%= content_tag_if(content_for?(:type_filters), :div,
                    class: "hidden-print col-xs-12") do
        yield :type_filters
      end %>

  <!-- Sorter -->
  <%= index_sorter(@sorts) %>
</div>
