<%
  @container = :wide
  add_page_title(:inat_import_tracker.t)
  # add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<p>
  <b><%= :inat_import_tracker_status.t %>: </b>
  <span id="state"><%= @inat_import.state %></span>
</p>

<p>
  Via Stimulus:
  <%=
    tag.span(id: "status", class: "text-right",
              data: { controller: "inat-import-job",
                      status: @tracker.status,
                      endpoint: inat_import_job_tracker_path(@tracker.id),
                      inat_import_job_target: "status" }) do
                        @tracker.status
                      end
  %>
</p>

<% if @inat_import.response_errors.present? %>
  <p>
    <b><%= :ERRORS.t %>: </b>
    <%= tag.span(id: "errors", class: "violation-highlight") do %>
      <% @inat_import.response_errors.each_line do |error| %>
        <%= error %></br>
      <% end %>
    <% end %>
  </p>
<% end %>

<p>
  <b><%= :inat_import_tracker_started.t %>: </b>
  <span id="started"><%= @tracker.created_at %></span>
</p>

<%# Prominently refresh button if job is incomplete%>
<% if import_incomplete?(@inat_import) %>
  <p>
    <%= link_to(:inat_import_tracker_refresh.l,
              inat_import_job_tracker_path(@tracker),
              { class: "btn btn-default" } ) %>
  </p>
<% end %>

<p>
  <b><%= :inat_import_tracker_imported_count.t %>: </b>
  <span id="imported_count"><%= @inat_import.imported_count.to_s %></span>
</p>
<p>
  <b><%= :inat_import_tracker_importable_count.t %>: </b>
  <span id="importables_count"><%= @inat_import.importables.to_s %></span>
</p>
<p><%= :inat_importables_explanation.t %></p>

<p>
  <% if import_done?(@inat_import) %>
    <%= link_to(:app_your_observations.l,
                observations_path(user: User.current.id),
                { class: "btn btn-default" } ) %>
  <% end %>
</p>
