<%
@container = :wide
add_page_title(:inat_import_tracker.t)
# add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<p>
  <b><%= :inat_import_tracker_status.t %>: </b>
  <span id="state"><%= @inat_import.state %></span>
</p>
<p>
  <b><%= :inat_import_tracker_started.t %>: </b>
  <span id="started"><%= @tracker.created_at %></span>
</p>
<p>
  <b><%= :inat_import_tracker_imported_count.t %>: </b>
  <span id="imported_count"><%= @inat_import.imported_count.to_s %></span>
</p>
<p>
  <b><%= :inat_import_tracker_importable_count.t %>: </b>
  <span id="importables_count"><%= @inat_import.importables.to_s %></span>
</p>
<p><%= :inat_importables_explanation.t %></p>

<%= show_object_footer(@tracker) %>
