<%
@container = :wide
add_page_title(:inat_import_tracker.t)
# add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<p>
  <b><%= :inat_import_tracker_status.t %>: </b>
  <span id="state"><%= @inat_import.state %></span>
</p>
<p>
  <b><%= :inat_import_tracker_started.t %>: </b>
  <span id="started"><%= @tracker.created_at %></span>
</p>
<p>
  <b><%= :inat_import_tracker_imported_count.t %>: </b>
  <span id="imported_count"><%= @inat_import.imported_count.to_s %></span>
</p>
<p>
  <b><%= :inat_import_tracker_importable_count.t %>: </b>
  <span id="importables_count"><%= @inat_import.importables.to_s %></span>
</p>
<p><%= :inat_importables_explanation.t %></p>

<% if @inat_import.response_errors.present? %>
  <p>
    <b><%= :ERRORS.t %>: </b>
    <%= tag.span(id="errors") do %>
      <% @inat_import.response_errors.each_line do |error| %>
        <%= error %></br>
      <% end %>
    <% end %>
  </p>
<% end %>

<p>
  <% if import_successful?(@inat_import) %>
    <b><%#= link_to("#{@project.observations.length} #{:OBSERVATIONS.l}",
                    observations_path(project: @project.id),
                    { class: "btn btn-default btn-lg" }) %></b>
    <b><%#= link_to("#{@project.name_count} #{:NAMES.l}",
                  checklist_path(project_id: @project.id),
                  { class: "btn btn-default btn-lg" }) %></b>
    <%#= link_to(:app_your_observations.l,
                 observations_path(user: @user.id),
                      { class: "" } ) %>
    <%= link_to(:app_your_observations.l,
                observations_path(user: User.current.id),
                { class: "btn btn-default" } ) %>
  <% elsif import_incomplete?(@inat_import) %>
    <%= link_to(:inat_import_tracker_refresh.l,
              inat_import_job_tracker_path(@tracker),
              { class: "btn btn-default" } ) %>
  <% end %>
</p>
