<%
@container = :wide
add_page_title(:inat_import_tracker.t)
# add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<p>
  <b><%= :inat_import_tracker_status.t %>: </b>
  <%= @inat_import.state %>
</p>
<p>
  <b><%= :inat_import_tracker_started.t %>: </b>
  <%= @tracker.created_at %>
</p>
<p>
  <b><%= :inat_import_tracker_importable_count.t %>: </b>
  <%= %>
</p>
<p>
  <b><%= :inat_import_tracker_imported_count.t %>: </b>
  <%= %>
</p>

<%= show_object_footer(@tracker) %>
