<%
  @title = :sequence_edit_title.t(name: @sequence.unique_format_name)
  tabs = [
    link_with_query(:cancel_and_show.t(type: :observation),
                    @sequence.observation.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<br>
<div class="row">
  <div class="col-xs-12 max-width-text">
      <span class="bold"><%= :OBSERVATION.t %></span>:
      <%= @sequence.observation.name.display_name.t %>
      (<%= @sequence.observation.id %>)
  </div>
</div>

<%= form_for(:sequence, url: {action: :edit_sequence}) do |form| %>
  <%= render(partial: "form_sequence", locals: {form: form}) %>
<% end %>

<div class="small">
  <span class="bold"><%= :CREATED_BY.t %>:</span>
  <%= user_link(@sequence.user) %>
</div>
<%= show_object_footer(@sequence) %>
