<%
  @title = @sequence.unique_format_name

  tabs = [
    link_to(:cancel_and_show.t(type: :observation),
            @sequence.observation.show_link_args)
  ]
  if check_permission(@sequence)
    tabs << link_with_query(:edit_object.t(type: :sequence),
                            action: :edit_sequence, id: @sequence.id, back: :show)
    tabs << link_with_query(:destroy_object.t(type: :sequence),
                            {action: :destroy_sequence, id: @sequence.id, back: :index},
                            data: {confirm: :are_you_sure.t})
  end

  @tabsets = {
    pager_for: @sequence,
    right: draw_tab_set(tabs)
  }
%>

<%= render(partial: "observation_title",
           locals: { observation: @sequence.observation }) %>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <table class="table-namings">
      <thead>
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-11"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="bold"><%= :LOCUS.t %>:</td>
          <td><%= @sequence.locus %></td>
        </tr>
        <% if @sequence.bases.present? %>
          <tr>
            <td class="bold align-top"><%= :BASES.t %>:</td>
          </tr>
          <tr>
            <td colspan="2" class="monospace max-width-text">
              <pre><%= @sequence.bases %></pre>
            </td>
          </tr>
        <% end %>
        <% if @sequence.deposit? %>
          <tr>
            <td class="bold"><%= :DEPOSIT.t %>:</td>
            <td>
                <%= sequence_archive_link(@sequence) %>:
                <%= sequence_accession_link(@sequence) %>
            </td>
          </tr>
        <% end %>
        <tr align="center">
          <td colspan="2">
            <button type="button" class="btn btn-default">
              <%= link_to(:show_sequence_setup_blast.t,
                          @sequence.blast_url, target: "_blank") %>
            </button>
          </td>
        </tr>
        <tr>
          <td class="bold"><%= :NOTES.t %>:</td>
          <td><%= @sequence.notes.tp %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="small">
  <span class="bold"><%= :CREATED_BY.t %>:</span>
  <%= user_link(@sequence.user) %>
</div>
<%= show_object_footer(@sequence) %>
