<%= form_with(model: @species_list, url: action,
    id: "species_list_write_in_form",
    method: :post) do |f| %>

  <%= submit_button(form: f, button: button.l, center: true) %>

  <%= if !(partial = render(partial: "shared/form_list_feedback",
                            locals: { f: f })).blank?
    tag.div(partial)
  end %>

  <%= if !@new_names.blank?
    hidden_field_tag(:approved_names, @new_names.join("\n"))
  end %>

  <%= if !@deprecated_names.blank?
    hidden_field_tag(:approved_deprecated_names,
                     @deprecated_names.map(&:id).join(" "))
  end %>

  <div class="form-group mt-3">
    <%= fields_for(:list) do |f_l|
      autocompleter_field(
        form: f_l, field: :members, type: :name, rows: 8, value: @list_members,
        label: "#{:form_species_lists_write_in_species.t}:",
        separator: "\n", textarea: true
      )
    end %>
  </div>

  <%= render(partial: "shared/form_location_feedback",
             locals: { button: button } ) %>

  <%= autocompleter_field(form: f, field: :place_name, type: :location,
                          label: "#{:WHERE.l}:") %>

  <%= render(partial: "species_lists/form/fields_for_member",
             locals: { f: f }) %>

  <%= submit_button(form: f, button: button.l, center: true) %>

<% end %>
