<%
  @title = :glossary_term_index_title.t
  new_tab_set do
    add_tab(:create_glossary_term.t, :action => 'create_glossary_term')
  end
%>

<%= :glossary_term_index_intro.tp %>

<table>
  <% odd_or_even = 0
    for glossary_term in @glossary_terms
      odd_or_even = 1 - odd_or_even %>
      <tr valign="top" class="ListLine<%= odd_or_even %>">
        <td>
          <%= link_to(content_tag(:b, glossary_term.name), :action => "show_glossary_term", :id => glossary_term.id) %>:
          <%= glossary_term.description.tpl %>
        </td>
        <td align="center" valign="middle" width="160" style="padding-bottom:0px">
          <%= if glossary_term.thumb_image_id
            thumbnail(glossary_term.thumb_image_id, :border => 0, :votes => true)
          end %>
        </td>
      </tr>
  <% end %>
</table>
