<%
# This form can create OR update a tracker, via params[:commit]
# Idk why rails does not recognize the model scope and nest the attributes.
%>
<%= form_with(model: @name_tracker, url: action,
              id: "name_tracker_form") do |f| %>

  <div class="text-center my-3">
    <%= if @name_tracker
      submit_button(form: f, button: :UPDATE.t) + " " +
        submit_button(form: f, button: :DISABLE.t)
    else
      submit_button(form: f, button: :ENABLE.t)
    end %>
  </div><!-- .text-center -->

  <%= fields_for(:name_tracker) do |fnt| %>
    <%= check_box_with_label(form: fnt, field: :note_template_enabled,
                             class: "mt-5", label: :email_tracking_note.t) %>

    <%= content_tag(:div, :email_tracking_note_help.t,
                    class: "help-note mt-2 mb-5") %>

    <%= fnt.text_area(:note_template, cols: 80, rows: 16,
                      value: @note_template, data: { autofocus: true }) %><br/>
  <% end %>

<% end %>
