<% #bs4
  comments = object.comments.includes(:user).sort_by(&:created_at).reverse
  if limit
    and_more = comments.length - limit
    comments = comments[0..limit-1]
  end
%>

<div class="card" id="comments_for_object">
  <div class="card-header">
    <%= content_tag(:h6, :COMMENTS.t) %>
  </div>

  <div class="list-group list-group-flush comments">
    <% if comments.empty? %>
      <div class="list-group-item">
        <%= :show_comments_no_comments_yet.t %>
      </div>
    <% else %>
      <% comments.each do |comment| %>
        <%= render(partial: "comments/comment", object: comment) %>
      <% end %>
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <%= link_with_query(:show_comments_add_comment.t,
                        new_comment_path(target: object.id,
                                        type: object.class.name),
                        class: "btn btn-primary btn-sm",
                        remote: true) if controls %>

    <%= if limit && and_more > 0
      link_to(:show_comments_and_more.t(num: and_more),
              comments_path(target: object.id, type: object.class.name))
    end %>
  </div><!--.card-footer-->
</div><!--.card-->
