<%
  target = comment.target
  user = comment.user
  user_url = user_path(id: user.id)
%>

<div class="comment card-body">

  <% if user.image_id %>
    <div class="d-none d-sm-block user-thumbnail float-right text-center">
      <%= image_tag(Image.url(:thumbnail, user.image_id),
                    style: "max-width:100%; max-height:100%",
                    data: { role: "link", url: user_url }) %>
    </div>
  <% end %>

  <% if local_assigns[:show_name] && show_name %>
    <strong class="">
      <%= link_to(target.unique_format_name.t, object_path(target)) \
                  rescue :comment_list_deleted.t %>
      <small>(<%= target.class.name.to_sym.t rescue :runtime_object_deleted %>)</small>
    </strong>
  <% end %>

  <div class="font-weight-bold">
    <%= comment.summary.tl %>
  </div>

  <div class="max-width-text">
    <%= :BY.t %>: <%= user_link(user) %>
    <% if check_permission(comment) %>
      <span class="text-nowrap">
        [<%= link_to(:EDIT.t,
                     edit_comment_path(id: comment.id, q: get_query_param)) %> |
        <%= link_to(:DESTROY.t,
                    comment_path(id: comment.id, q: get_query_param,
                                  method: "DELETE"),
                    data: { confirm: :are_you_sure.l } ) %>]
      </span>
    <% end %>
    <div class="float-right text-nowrap small my-0 mx-3">
      <%= comment.created_at.web_time %>
    </div>
  </div>

  <% unless comment.comment.blank? %>
    <div class="p-1 max-width-text">
      <%= comment.comment.tpl %>
    </div>
  <% end %>

  <% if user.image_id %>
    <div class="clearfix"></div>
  <% end %>

</div><!-- .card-body -->
