<%
  comments = object.comments.sort_by(&:created_at).reverse
  if limit
    and_more = comments.length - limit
    comments = comments[0..limit-1]
  end
%>

<div id="comments_partial">

  <%= content_tag(:h4, :COMMENTS.t,
                  class: "mt-3 d-inline-block") %>
    <%= link_with_query(:show_comments_add_comment.t,
                        { controller: :comments,
                          action: :new,
                          id: object.id,
                          type: object.class.name },
                        { class: "btn mt-3 pull-right" }) if controls %>

  <% if comments.empty? %>
    <div class="card comment">
      <div class="card-body">
        <%= :show_comments_no_comments_yet.t %>
      </div><!-- .card-body -->
    </div><!-- .card -->
  <% else %>
    <% comments.each do |comment| %>
      <%= render(partial: "comments/comment", object: comment) %>
    <% end %>
  <% end %>

  <%= if limit && and_more > 0
    link_to(:show_comments_and_more.t(num: and_more),
            { controller: :comments,
              action: :show_comments_for_target,
              id: object.id,
              type: object.class.name })
  end %>

</div><!-- #comments -->
