<%
  @title = :comment_edit_title.t(name: @target.unique_format_name)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :comment),
                    @comment.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 max-width-text">
    <%= form_tag(add_query_param(action: :edit_comment, id: @comment.id)) do %>
      <%= submit_tag(:SAVE_EDITS.l, class: "btn mx-auto mt-3") %>
      <%= render(partial: "form_comments") %>
      <%= submit_tag(:SAVE_EDITS.l, class: "btn mx-auto mt-3") %>
      <hr align="center" width="90%" />
    <% end %>
  </div>
</div>
    
<div class="row">
  <div class="col-12 max-width-text">
    <%= render(partial: "object", object: @target) %>
  </div>
</div>
