<%= form_with(url: search_pattern_path, method: :get,
              class: "navbar-form navbar-left px-0") do %>
  <div class="form-group">
    <div class="d-inline-block align-top icon-addon addon-sm">
      <%= text_field(:search, :pattern, value: session[:pattern],
                     class: "form-control", placeholder: :app_find.t) %>
      <label for="search_pattern" class="glyphicon glyphicon-search"
             title="search"> </label>
    </div>
    <div class="d-inline-block align-top text-nowrap">
      <%=
        options = [
          [:COMMENTS.l, :comment],
          [:HERBARIA.l, :herbarium],
          # Temporarily disabled for performance reasons. 2021-09-12 JDC
          # [:IMAGES.l, :image],
          [:LOCATIONS.l, :location],
          [:NAMES.l, :name],
          [:OBSERVATIONS.l, :observation],
          [:PROJECTS.l, :project],
          [:SPECIES_LISTS.l, :species_list],
          [:HERBARIUM_RECORDS.l, :herbarium_record],
          [:USERS.l, :user],
          [:app_search_google.l, :google],
        ].sort
        select(:search, :type,
                options_for_select(options,
                                  session[:search_type] || :observation),
                { },
                { class: "form-control d-inline align-top w-auto" })
      %>
      <%= submit_tag(:app_search.l, class: "btn btn-default align-top mr-2") %>
    </div>
  </div>
<% end %>

<p class="navbar-text align-top text-nowrap">
  <%=
      link_to(content_tag(:span, :search_bar_help.t),
              info_search_bar_help_path)
  %>
  |

  <%
    adv_search = link_to(content_tag(:span, :app_advanced_search.l,
                                      class: "text-nowrap"),
                          search_advanced_path)
    @timer_end ||= Time.zone.now
    secs = "%.2f" % (@timer_end.to_f - @timer_start.to_f)
    timer = "(#{ :app_index_timer.t(seconds: secs,
                                    num: @num_results.to_i) })"
  %>
</p>

<% if @timer_start %>
  <div class="d-inline-block hidden-xs smaller">
    <span id="timer"><%= timer %></span><br/>
    <%= adv_search %>
  </div>
<% else %>
  <p class="form-control-static hidden-xs">
    <%= adv_search %>
  </p>
<% end %>

<div class="visible-xs">
  <%= content_tag(:span, timer, id: "timer", class: "text-nowrap") if @timer_start %>
  <%= adv_search %>
</div>
