<%
  @title = :herbarium_index_title.t

  tabs = [
    link_to(:create_herbarium.t, action: :create_herbarium)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<table class="table-striped table-herbarium push-down">
  <thead>
    <tr>
      <th><%= :herbarium_herbarium_record_count.t %></th>
      <th><%= :herbarium_code.t %></th>
      <th><%= :NAME.t %></th>
    </tr>
  </thead>
  <tbody>
    <% @herbaria.reject {|h| h.code.blank?}.sort_by(&:sort_name).each do |herbarium| %>
      <tr>
        <td align="center">
          <%= herbarium.herbarium_record_count %>
        </td>
        <td style="max-width:10em; text-overflow:ellipsis; overflow:hidden">
          <%= herbarium.code %>
        </td>
        <td>
          <%= link_to(herbarium.name.blank? ? content_tag(:i, "n/a") : herbarium.name.t,
                      herbarium.show_link_args) %>
          <% if herbarium.curator?(@user) || in_admin_mode? %>
            [<%= link_to(:EDIT.t, action: :edit_herbarium, id: herbarium.id) %>]
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table-striped table-herbarium push-down">
  <thead>
    <tr>
      <th><%= :herbarium_herbarium_record_count.t %>&nbsp;</th>
      <th></th>
      <th><%= :NAME.t %></th>
    </tr>
  </thead>
  <tbody>
    <% @herbaria.select {|h| h.code.blank?}.sort_by(&:sort_name).each do |herbarium| %>
      <tr>
        <td align="center">
          <%= herbarium.herbarium_record_count %>
        </td>
        <td></td>
        <td>
          <%= link_to(herbarium.name.blank? ? content_tag(:i, "n/a") : herbarium.name.t,
                      herbarium.show_link_args) %>
          <% if herbarium.curator?(@user) || in_admin_mode? %>
            [<%= link_to(:EDIT.t, action: :edit_herbarium, id: herbarium.id) %>]
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
