<%
  @title = :herbarium_index_title.t

  tabs = [
    link_to(:create_herbarium.t, action: :create_herbarium)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<table class="table-striped table-herbarium push-down">
  <thead>
    <tr>
      <th><%= :herbarium_specimen_count.t %></th>
      <th><%= :herbarium_code.t %></th>
      <th><%= :herbarium_name.t %></th>
    </tr>
  </thead>
  <tbody>
    <% for herbarium in @herbaria.reject {|h| h.code.blank?}.sort_by(&:sort_name) %>
      <tr>
        <td align="center">
          <%= herbarium.specimen_count %>
        </td>
        <td style="max-width:10em; text-overflow:ellipsis; overflow:hidden">
          <%= herbarium.code.blank? ? "&mdash;".html_safe : herbarium.code %>
        </td>
        <td>
          <%= link_to(herbarium.name.blank? ? content_tag(:i, "n/a") : herbarium.name.t,
                      action: :show_herbarium, id: herbarium.id) %>
          <% if herbarium.is_curator?(@user) || in_admin_mode? %>
            [<%= link_to(:edit_herbarium.t, action: "edit_herbarium", id: herbarium.id) %>]
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table-striped table-herbarium push-down">
  <thead>
    <tr>
      <th><%= :herbarium_specimen_count.t %>&nbsp;</th>
      <th></th>
      <th><%= :herbarium_name.t %></th>
    </tr>
  </thead>
  <tbody>
    <% for herbarium in @herbaria.select {|h| h.code.blank?}.sort_by(&:sort_name) %>
      <tr>
        <td align="center">
          <%= herbarium.specimen_count %>
        </td>
        <td></td>
        <td>
          <%= link_to(herbarium.name.blank? ? content_tag(:i, "n/a") : herbarium.name.t,
                      action: :show_herbarium, id: herbarium.id) %>
          <% if herbarium.is_curator?(@user) || in_admin_mode? %>
            [<%= link_to(:edit_herbarium.t, action: "edit_herbarium", id: herbarium.id) %>]
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
