<%
  @title = :app_advanced_search.t
  models = [
    [:OBSERVATIONS.l, :observation],
    # temporarily disabled for performance
    # 2021-09-12 JDC
    # [:IMAGES.l, :image],
    [:LOCATIONS.l, :location],
    [:NAMES.l, :name],
  ]
%>

<p class="help-block"><%= :advanced_search_caveat.t %></p>

<%= form_with(scope: :search, url: { action: :advanced },
              method: :get) do |f| %>

  <%= submit_button(form: f, button: :advanced_search_submit.l, center: true) %>

  <div class="form-group">
    <%= f.label(:model, :advanced_search_result_type.t + ":") %>
    <%= content_tag(:span, :advanced_search_result_type_help.t,
                    class: "help") %><br/>
    <%= f.select(:model, models, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:name, :NAME.t + ":") %>
    <%= content_tag(:span, :advanced_search_name_help.t, class: "help") %>
    <%= f.text_field(:name, class: "form-control") %>
    <% turn_into_name_auto_completer(:search_name, primer: Name.primer,
                                      token: " OR ") %>
  </div>

  <div class="form-group">
    <%= f.label(:user, :OBSERVER.t + ":") %>
    <%= content_tag(:span, :advanced_search_observer_help.t,
                    class: "help") %>
    <%= f.text_field(:user, class: "form-control") %>
    <% turn_into_user_auto_completer(:search_user, primer: User.primer,
                                      token: " OR ") %>
  </div>

  <div class="form-group">
    <%= f.label(:location, :LOCATION.t + ":") %>
    <%= content_tag(:span, :advanced_search_location_help.t,
                    class: "help") %>
    <%= f.text_field(:location, class: "form-control") %>
    <% turn_into_location_auto_completer(:search_location,
                                          primer: Location.primer,
                                          token: " OR ") %>
  </div>

  <div class="form-group">
    <%= f.label(:content, :advanced_search_content.t + ":") %>
    <%= content_tag(:span, :advanced_search_content_help.t,
                    class: "help") %>
    <%= f.text_field(:content, class: "form-control") %>
    <%= content_tag(:p, :advanced_search_content_notes.t,
                    class: "help-block") %>
  </div>

  <%= render(partial: "advanced_search_filters", locals: { f: f }) %>

  <%= submit_button(form: f, button: :advanced_search_submit.l, center: true) %>

<% end %>
