<!--[form:image]-->
<div class="form-group">
  <%= label("image_copyright_holder", "#{:form_images_copyright_holder.t}:") %>
  <%= form.text_field("copyright_holder", {class: "form-control"}) %>
</div>

<% unless leave_out_original_file_name %>
    <div class="form-group">
      <%= label("image_original_name", "#{:form_images_original_name.t}:") %>
      <%= form.text_field("original_name", {class: "form-control"}) %>
    </div>
<% end %>

<%= label("image_when_1i", "#{:WHEN.t}:") %>
<div class="form-inline">
  <%= date_select(:image, :when,
                  {start_year: 1980, end_year: Time.now.year,
                   order: [:day, :month, :year]}, {class: "form-control"}) %>
  <p class="help-block">
    <%= :form_images_when_help.t %>
  </p>
</div>

<div class="form-group">
  <%= label("image_license_id", "#{:LICENSE.t}:") %>
  <%= form.select(:license_id, @licenses, {}, {class: "form-control"}) %>
  <p class="help-block">
    <%= :form_images_license_help.t %>
  </p>
</div>

<div class="form-group">
  <%= label("image_notes", "#{:NOTES.t}:") %>
  <%= form.text_area(:notes, autofocus: true, class: "form-control") %>
  <p class="help-block">
    <%= :form_images_notes_help.t %>
  </p>
  <%= render(:partial => 'shared/textilize_help') %>
</div>

<% if @projects.any? %>
    <strong><%= :PROJECTS.t %>:</strong>
    <p class="help-block">
      <%= :form_images_project_help.t %>
    </p>
    <% for project in @projects %>
        <label for="project_id_<%= project.id %>">
          <%= project_link(project) %>
          <%= check_box('project', "id_#{project.id}",
                        :checked => @project_checks[project.id],
                        :disabled => @image.user != @user && !project.is_member?(@user)) %>
        </label><br/>
    <% end %>
<% end %>
<!--[eoform:image]-->
