<%
  vote_percentage = image.vote_cache ? ((image.vote_cache / Image.all_votes.length) * 100).floor : 0
  user = User.current
%>
<div class="image_vote_links_container" id="image_vote_links_<%=image.id%>" style="margin-top: -5px">
  <center>
    <!--vote links -->
    <% if user && !image.users_vote(user).blank? %>
      <%= image_vote_link(image, 0) %>
    <% end %>
    <% Image.all_votes.each do |vote| %>
      <small><%= image_vote_link(image, vote)%></small>
    <% end %>
  </center>
</div>
<!--This is used to update the vote meter after an ajax request,
a bit hacky, but better than what we had before-->
<span class="hidden data_container" data-id="<%=image.id%>"
      data-percentage="<%=vote_percentage%>" data-role="image_vote_percentage"></span>
