<% url_args = add_query_param(url_args) %>
<%= form_tag(url_args) do %>
  <div class="row">
    <div class="col-12 max-width-text">

      <div class="form-group form-inline">
        <%= label_tag(:img_id, :image_reuse_id.t + ":") %>
        <%= text_field_tag(:img_id, "", size: 8, data: {autofocus: true}, class: "form-control") %>
        <%= submit_tag(:image_reuse_reuse.l, class: "btn ml-3") %>
      </div>

      <p class="help-block"><%= :image_reuse_id_help.tp %></p>

      <div class="form-group mt-3">
        <%= link_with_query(@all_users ? :image_reuse_just_yours.t : :image_reuse_all_users.t,
                            url_args.merge(all_users: @all_users ? 0 : 1),
                            class: "btn") %>
      </div>
    </div>
  </div>

  <%= paginate_block(@pages) do %>
    <%= render(partial: "shared/matrix_box", locals: {objects: @objects}) do |image| %>
      <div class="mt-3 mb-3">
        <%= thumbnail(image, link: url_args.merge(img_id: image.id), original: true) %>
      </div>
    <% end %>
  <% end %>
<% end %>
