<%
  @title = :image_add_title.t(name: @observation.unique_format_name)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :observation),
                    @observation.show_link_args),
    link_with_query(:image_add_edit.t, controller: :observation,
                    action: :edit_observation, id: @observation.id)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_for(:image, url: add_query_param(action: :add_image, id: @observation.id),
               html: {multipart: true}) do |form| %>
    <%= hidden_field(:observation, :id) %>

    <div id="license-notice mt-3"><%= :image_add_warning.tp %></div>

    <%= submit_tag(:image_add_upload.l, class: "btn mx-auto mt-3") %>

    <div class="form-group form-inline mt-3">
      <%= label_tag(:upload_image1, :image_add_image.t + " 1:") %>
        <%= custom_file_field(:upload, :image1) %>
        (<%= :image_add_default.t %>)<br/>
      <%= label_tag(:upload_image2, :image_add_image.t + " 2:") %>
        <%= custom_file_field(:upload, :image2) %>
        (<%= :image_add_optional.t %>)<br/>
      <%= label_tag(:upload_image3, :image_add_image.t + " 3:") %>
        <%= custom_file_field(:upload, :image3) %>
        (<%= :image_add_optional.t %>)<br/>
      <%= label_tag(:upload_image4, :image_add_image.t + " 4:") %>
        <%= custom_file_field(:upload, :image4) %>
        (<%= :image_add_optional.t %>)<br/>
    </div>

    <%= render(partial: "form_images",
               locals: {form: form, width: 80, leave_out_original_file_name: true}) %>

    <%= submit_tag(:image_add_upload.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
