<%
  @title = "Test Add Image Report"

  tabs = [
    link_to("Test Again", action: :test_add_image)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<table class="table-striped table-upload-report">
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Start</th>
      <th>End</th>
      <th>Elapsed</th>
      <th>Count</th>
      <th>Bytes</th>
    </tr>
  </thead>

  <tbody>
    <% for entry in @log_entries %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= entry.user ? entry.user.login : "" %></td>
        <td><%= entry.created_at.web_time %></td>
        <td><%= entry.upload_end.web_time %></td>
        <td><%= if entry.created_at && entry.upload_end
          entry.upload_end - entry.created_at
        end %></td>
        <td><%= entry.image_count %></td>
        <td><%= entry.image_bytes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
