<%
  @title = "Test Upload Speed"
%>

<div class="max-width-text">
  <p>This page is strictly for testing image upload performance.  Images uploaded
  through this page are not saved and no database changes are made.</p>

  <% if @log_entry %>
    <p>Test <%= @log_entry.id %> created: <%= @log_entry.created_at.web_time %></p>
  <% end %>

  <%= form_tag({action: :test_upload_image, log_id: @log_entry.id}, {multipart: true}) do %>
    <div class="form-group form-inline">
      <% label_tag(:upload_image1, :IMAGE.t + " 1:") %> <%= custom_file_field(:upload, :image1) %><br/>
      <% label_tag(:upload_image2, :IMAGE.t + " 2:") %> <%= custom_file_field(:upload, :image2) %><br/>
      <% label_tag(:upload_image3, :IMAGE.t + " 3:") %> <%= custom_file_field(:upload, :image3) %><br/>
      <% label_tag(:upload_image4, :IMAGE.t + " 4:") %> <%= custom_file_field(:upload, :image4) %><br/>
    </div>

    <%= submit_tag(:UPLOAD.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
