<!--[form:name]-->
<%= # form_for(:name, url: add_query_param(action: :edit, id: @name.id)) do |form| %>
<%= form_with model: :name do |f| %>

  <% if in_admin_mode? %>
    <div class="form-inline mt-3">
      <div class="form-group">
        <%= f.check_box :locked %>
        <%= f.label :locked, :form_names_locked.t %>
      </div>
    </div>
  <% end %>

  <% if !@name.locked || in_admin_mode? %>
    <div class="form-inline mt-3">
      <div class="form-group">
        <%= f.label :rank, :Rank.t + ":" %>
        <%= f.select :rank, Name.all_ranks.map { |r| [rank_as_string(r), r]},
                     {}, { class: "form-control" } %>
      </div>
      <div class="form-group indent">
        <%= f.label :deprecated, :Status.t %>
        <%= f.select :deprecated,
                     [[:ACCEPTED.t, false], [:Deprecated.t, true]],
                     {},{ class: "form-control" } %>
      </div>
    </div>

    <div class="form-group pt-3">
      <%= f.label :text_name, :form_names_text_name.t + ":" %>
      <%= f.text_field(:text_name, value: @name_string, class: "form-control",
                          data: { autofocus: true }) %>
      <p class="help-block"><%= :form_names_text_name_help.t %></p>
    </div>

    <%= f.label :author, :Authority.t %>:
    <%= f.text_field(:author, class: "form-control") %>
    <p class="help-block"><%= :form_names_author_help.t %></p>

  <% else %>
    <div class="mt-3 mb-3">
      <%= tag.b :Rank.t + ":" %>
        <%= :"Rank_#{@name.rank.to_s.downcase}".t %><br/>
      <%= tag.b :Status.t + ":" %>
        <%= @name.deprecated ? :ACCEPTED.t : :DEPRECATED.t %><br/>
      <%= tag.b :Name.t + ":" %>
        <%= @name.real_text_name.t %><br/>
      <%= tag.b :Authority.t + ":" %>
        <%= @name.author.t %><br/>
      <div class="help-block"><%= :show_name_locked.tp %></div>
      <%= f.hidden_field :name, :rank %>
      <%= f.hidden_field :name, :deprecated %>
      <%= f.hidden_field :name, :text_name, value: @name_string %>
      <%= f.hidden_field :name, :author %>
    </div>
  <% end %>

  <%= f.label :citation, :Citation.t + ":" %>
  <%= f.text_field :citation, class: "form-control" %>
  <p class="help-block">
    <%= :form_names_citation_help.t %>
    <%= :form_names_citation_textilize_note.t %>
  </p>

  <% if !@misspelling.nil? && (in_admin_mode? || !@name.locked) %>
    <div class="my-4 mx-0">
      <%= f.check_box :misspelling, checked: @misspelling %>
      <%= f.label :misspelling, :form_names_misspelling.t + ":" %>
      <%= f.label :correct_spelling,
                  :form_names_misspelling_it_should_be.t + ":" %>
      <%= f.text_field :correct_spelling, class: "form-control",
                       value: @correct_spelling %>
      <p class="help-block"><%= :form_names_misspelling_note.t %></p>
      <% turn_into_name_auto_completer(:name_correct_spelling,
                                       primer: Name.primer) %>
    </div>
  <% end %>

  <p>
    <label for="notes"><%= :form_names_taxonomic_notes.t %>:</label><br/>
    <%= f.text_area :notes, rows: 6, class: "form-control" %>
    <%= render "shared/textilize_help" %>
  </p>

  <br/><center><%= f.submit button_name.t, class: "btn" %></center>

<% end %>
<!--[eoform:name]-->
