<%
  @title = :name_approve_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name),
            name_path(@name.id, q: get_query_param)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= form_with url: names_approve_name_path(id: @name.id) do %>
  <br/><center><%= submit_tag(:APPROVE.l, class: "btn") %></center>

  <% if @approved_names %>
    <p><%= check_box(:deprecate, :others, checked: "checked") %>
    <label for="deprecate_others"><%= :name_approve_deprecate.t %>:</label><br/><br/>
    <% for n in @approved_names %>
      <%= n.display_name.t %><br/>
    <% end %></p>
  <% end %>
  <div class="help-note"><%= :name_approve_deprecate_help.tp %></div>

  <p><label for="comment_comment"><%= :name_approve_comments.t %>:</label><br/>
  <%= text_area(:comment, :comment, cols: 80, rows: 5, data: {autofocus: true}) %></p>
  <div class="help-note">
    <%= :name_approve_comments_help.tp(name: @name.display_name) %>
  </div>

  <br/><center><%= submit_tag(:APPROVE.l, class: "btn") %></center>
<% end %>
