<%
  @title = :edit_classification_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name),
            name_path(@name.id, q: get_query_param)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row mt-3">
  <div class="col-12 max-width-text">
    <%= form_with url: names_edit_classification_path(id: @name.id,
                                                      q: get_query_param) do %>
      <%= label_tag(:classification, :"form_names_classification".t + ":") %>
      <p class="help-block mt-0">
        <%= rank = rank_as_lower_string(@name.rank)
        :"form_names_classification_help".l(rank: rank) %>
      </p>
      <%= text_area_tag(:classification, @name.classification,
                        rows: 10, class: "form-control",
                        data: {autofocus: true}) %>

      <%= submit_tag(:SAVE.t, class: "btn mx-auto mt-3") %>
    <% end %>
  </div>
</div>
