<%
  @title = :inherit_classification_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name),
            name_path(@name.id, q: get_query_param)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row mt-3">
  <div class="col-12 max-width-text">
    <%= form_with url: names_inherit_classification_path(id: @name.id,
                                        q: get_query_param) do %>
      <% if @options %>
        <div class="alert alert-warning">
          <%= @message.tp %>
          <% @options.each do |name| %>
            <%= radio_button_tag(:options, name.id) %>
            <%= content_tag(:span, name.display_name.t) %><br/>
          <% end %>
        </div>
      <% end %>

      <%= label_tag(:parent, :inherit_classification_parent_name.t + ":") %>
      <%= text_field_tag(:parent, @parent_text_name,
                         class: "form-control", data: {autofocus: true}) %>

      <%= submit_tag(:SUBMIT.t, class: "btn mx-auto mt-3") %>
    <% end %>
  </div>
</div>
