<%
  @title = :propagate_lifeform_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name),
            name_path(@name.id, q: get_query_param)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row mt-3">
  <div class="col-12">
    <%= form_with url: names_propagate_lifeform_path(id: @name.id,
                         q: get_query_param) do %>
      <p><b><%= :ADD.t %>:</b> <%= :propagate_lifeform_add.t %></p>
      <table class="table-lifeform">
        <% Name.all_lifeforms.
                select { |word| @name.lifeform.include?(" #{word} ") }.
                each do |word| %>
          <tr>
            <td>
              <%= check_box_tag("add_#{word}", "1", false,
                                class: "form-control-xxx") %>
              <%= label_tag("add_#{word}", :"lifeform_#{word}".t) %>
            </td>
            <td class="max-width-text">
              <%= :"lifeform_help_#{word}".t %>
            </td>
          </tr>
        <% end %>
      </table>
      <br/>

      <p><b><%= :REMOVE.t %>:</b> <%= :propagate_lifeform_remove.t %></p>
      <table class="table-lifeform">
        <% Name.all_lifeforms.
                reject { |word| @name.lifeform.include?(" #{word} ") }.
                each do |word| %>
          <tr>
            <td>
              <%= check_box_tag("remove_#{word}", "1", false,
                                class: "form-control-xxx") %>
              <%= label_tag("remove_#{word}", :"lifeform_#{word}".t) %>
            </td>
            <td class="max-width-text">
              <%= :"lifeform_help_#{word}".t %>
            </td>
          </tr>
        <% end %>
      </table>

      <%= submit_tag(:propagate_lifeform_apply.t, class: "btn mx-auto mt-3") %>
    <% end %>
  </div>
</div>
