<%
  @title = :show_name_title.t(name: @name.display_name)

  description_links = list_descriptions(@name) || []
  Textile.register_name(@name)

  tabs = [
    link_with_query(:show_name_edit_name.t, edit_name_path(@name.id)),
    link_with_query(:show_name_add_name.t, new_name_path)
  ]
  if in_admin_mode? || !@name.locked
    tabs << link_with_query(:show_name_change_synonyms.t,
                            edit_name_synonyms_path(@name.id))
    if @name.deprecated
      tabs << link_with_query(:APPROVE.t,
                              approve_name_synonym_form_path(@name.id))
    else
      tabs << link_with_query(:DEPRECATE.t,
                              deprecate_name_synonym_form_path(@name.id))
    end
  end
  tabs += [
    link_with_query(:show_name_email_tracking.t,
                    new_name_tracker_path(@name.id)),
    draw_interest_icons(@name)
  ]
  @tabsets = {
    pager_for: @name,
    right: draw_tab_set(tabs)
  }
  @container = :wide
%>

<div class="row">

  <!--LEFT COLUMN-->
  <div class="col-sm-5">

    <div id="name_confident_observations">
      <% if @first_four&.length&.positive? %>
        <strong><%= :show_name_most_confident.t %>:</strong>
        <div class="panel panel-default">
          <% @first_four.each do |obs| %>
            <div class="panel-body">
              <%= show_best_image(obs) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div><!--#name_confident_observations-->

    <div id="name_previous_export">
      <%= show_previous_version(@name) %>
      <%= set_export_status_controls(@name) %>
      <br/>
      <br/>
    </div>

    <div id="name_authors_editors">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= show_authors_and_editors(@name) %>
        </div>
      </div>
    </div>

  </div><!--LEFT COLUMN-->

  <!--RIGHT COLUMN-->
  <div class="col-sm-7">

    <div id="name_observations_menu">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-7 name-section">
              <%= tag.p(:show_observations_of.t) %>
              <div class="pl-3">
                <%= # Observations of this name
                  tag.p(obss_of_name(@name) || "#{:obss_of_this_name.t} (0)")  %>
                <%= # Observations of taxon under other names
                  tag.p(taxon_obss_other_names(@name) ||
                        "#{:taxon_obss_other_names.t} (0)") %>
                <%= # Observations of taxon under any name
                  tag.p(taxon_observations(@name) || "#{:obss_of_taxon.t} (0)") %>
                <%= # Observations of other taxa where this taxon was proposed
                  tag.p(taxon_proposed(@name) || "#{:obss_taxon_proposed.t} (0)") %>
                <%= # Observations where this Nae was proposed
                  tag.p(name_proposed(@name) ||
                        "#{:obss_name_proposed.t} (0)") %>
              <%= name_section_link(:show_subtaxa_obss.t,
                                      @has_subtaxa, @subtaxa_query) %>
              </div>
            </div>
            <div class="col-sm-5 name-section">
              <% if @name.searchable_in_registry? %>
                <%= tag.p(link_to(
                      "MyCoPortal", mycoportal_url(@name), target: :_blank
                    )) %>
              <% end %>
              <%= tag.p(link_to(
                    "EOL", @name.eol_url, target: :_blank
                  )) if @name.eol_url %>
              <%= tag.p(link_to(
                    :google_images.t,
                    "https://images.google.com/images?q=#{@name.real_text_name}",
                    target: :_blank
                  )) %>
              <%= tag.p(link_with_query(
                    :show_name_distribution_map.t,
                    controller: "/names/maps",
                    action: :map, id: @name.id
                  )) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render(partial: "show/nomenclature",
              locals: { name: @name, synonyms: true }) %>

    <div class="row">
      <div class="col-sm-6">
        <div id="name_classification">
          <strong><%= :show_name_classification.t %>:</strong>
            <% if @user %>
              [<%= link_with_query(:EDIT.t,
                                   edit_name_classification_path(@name.id)) %>]
            <% end %>
          <div class="panel panel-default">
            <div class="panel-body name-section" id="classification_section">
              <%= render(partial: "show/classification") %>
            </div>
          </div>
        </div><!--#name_classification-->
      </div>

      <div class="col-sm-6">
        <div id="name_lifeform">
          <strong><%= :show_name_lifeform.t %>:</strong>
            <% if @user %>
              [<%= link_with_query(:EDIT.t,
                                   edit_name_lifeform_path(@name.id)) %>]
            <% end %>
          <div class="panel panel-default">
            <div class="panel-body name-section" id="lifeform_section">
              <%= render(partial: "show/lifeform") %>
            </div>
          </div>
        </div>
      </div><!--#name_lifeform-->
    </div>

    <% inject_javascript_at_end %(
      var d1 = jQuery("#classification_section");
      var d2 = jQuery("#lifeform_section");
      var h1 = d1.height();
      var h2 = d2.height();
      if (h1 > h2) d2.height(h1);
      if (h1 < h2) d1.height(h2);
    ) %>

    <% if @name.has_notes? %>
      <div id="name_notes">
        <strong><%= :show_name_notes.t %>:</strong>
          [<%= link_with_query(:EDIT.t, edit_name_path(@name.id)) %>]
        <div class="panel panel-default">
          <div class="panel-body">
              <%= @name.notes.tpl %>
          </div>
        </div>
      </div><!--#name_notes-->
    <% end %>

    <% if !@best_description.blank? %>
      <div id="name_best_description">
        <strong><%= :show_name_brief_description.t %>:</strong>
          [<%= link_with_query(:show_name_see_more.t,
                                name_description_path(
                                  @name.description.id
                                )) %> |
            <%= link_with_query(:EDIT.t,
                                edit_name_description_path(
                                  @name.description.id
                                )) %>]
        <div class="panel panel-default">
          <div class="panel-body">
            <%= @best_description.tpl %>
          </div>
        </div>
      </div><!--#name_best_description-->
    <% end %>

    <div id="name_descriptions">
      <strong><%= :show_name_descriptions.t %>:</strong>
        [<%= link_with_query(:show_name_create_description.t,
                             new_name_description_path(@name.id)) %>]
      <div class="panel panel-default">
        <div class="panel-body">
          <% description_links.each do |desc| %>
          <div><%= desc %></div>
          <% end %>
          <%= :show_name_no_descriptions.t if description_links.empty? %>
        </div>
      </div>
    </div><!--#name_descriptions-->

    <% if @projects && @projects.length > 0 %>
      <div id="name_projects">
        <div>
          <strong><%= :show_name_create_draft.t %>:</strong>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <% @projects.each do |project| %>
              <%= link_with_query(project.title,
                                  new_name_description_path(
                                    @name.id,
                                    project: project.id,
                                    source: :project
                                  )) %><br>
            <% end %>
          </div>
        </div>
      </div><!--#name_projects-->
    <% end %>

  </div><!--RIGHT COLUMN-->
</div><!--.row-->

<%# ----------------------------------------
  #  Show comments
  # ----------------------------------------
%>
<%= render(partial: "comments/comments_for_object",
           locals: {object: @name, controls: true, limit: nil}) %>
<%= :show_name_num_notifications.t(num: @name.interests) %>
<%= show_object_footer(@name) %>
