<%
add_page_title(:show_name_title.t(name: @name.display_name))

Textile.register_name(@name)
add_pager_for(@name)
add_interest_icons(@user, @name)
add_tab_set(name_show_links(name: @name, user: @user))

@container = :wide
%>

<div class="row">

  <!--LEFT COLUMN-->
  <div class="col-sm-5">

    <%= render(partial: "names/show/confident_observations_panel") %>

    <div id="name_previous_export" class="mb-4">
      <%= show_previous_version(@name) %>
      <%= set_export_status_controls(@name) %>
    </div>

    <div id="name_authors_editors">
      <%= panel_block do %>
        <%= show_authors_and_editors(obj: @name, user: @user) %>
      <% end %>
    </div>

  </div><!--LEFT COLUMN-->

  <!--RIGHT COLUMN-->
  <div class="col-sm-7">

    <%= render(partial: "names/show/observations_menu") %>
    <%= render(partial: "names/show/nomenclature",
              locals: { name: @name, synonyms: true }) %>

    <div class="row">
      <%= render(partial: "names/show/classification_panel") %>
      <%= render(partial: "names/show/lifeform_panel") %>
    </div>

    <% inject_javascript_at_end %(
      var d1 = jQuery("#classification_section");
      var d2 = jQuery("#lifeform_section");
      var h1 = d1.height();
      var h2 = d2.height();
      if (h1 > h2) d2.height(h1);
      if (h1 < h2) d1.height(h2);
    ) %>

    <% if @name.has_notes? %>
      <%= render(partial: "names/show/notes_panel") %>
    <% end %>

    <% if !@best_description.blank? %>
      <%= render(partial: "names/show/best_description_panel") %>
    <% end %>

    <%= render(partial: "names/show/descriptions_panel") %>

    <% if @projects && @projects.length > 0 %>
      <%= render(partial: "names/show/projects_panel") %>
    <% end %>

  </div><!--RIGHT COLUMN-->
</div><!--.row-->

<%# ----------------------------------------
  #  Show comments
  # ----------------------------------------
%>
<%= render(partial: "comments/comments_for_object",
           locals: {object: @name, controls: true, limit: nil}) %>
<%= :show_name_num_notifications.t(num: @name.interests) %>
<%= show_object_footer(@name) %>
