<%= submit_tag(button.t, class: "btn center-block push-down") %>

<div class="row">
  <div class="col-xs-12">
    <% if @herbarium_record.observations.count > 1 %>
      <div class="alert alert-warning">
        <%= :edit_affects_multiple_observations.t(type: :herbarium_record) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= label_tag(:herbarium_record_herbarium_name, :NAME.t + ":") %>
      <span class="HelpNote">(<%= :required.t %>)</span>
      <%= text_field(:herbarium_record, :herbarium_name, class: "form-control") %>
      <% turn_into_herbarium_auto_completer(:herbarium_record_herbarium_name) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= label_tag(:herbarium_record_initial_det, :herbarium_record_initial_det.t + ":") %>
      <span class="HelpNote">(<%= :optional.t %>)</span>
      <%= text_field(:herbarium_record, :initial_det, class:"form-control") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-inline">
      <%= label_tag(:herbarium_record_accession_number, :herbarium_record_accession_number.t + ":") %>
      <%= text_field(:herbarium_record, :accession_number, class:"form-control") %>
      <span class="HelpNote">(<%= :required.t %>)</span>
    </div>
    <div class="well well-sm push-down help-block">
      <div class="arrow-up"></div>
      <%= :create_herbarium_record_accession_number_help.t %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= label_tag(:herbarium_record_notes, :NOTES.t + ":") %>
      <span class="HelpNote">(<%= :optional.t %>)</span>
      <%= text_area(:herbarium_record, :notes, class: "form-control", rows: 6) %>
    </div>
  </div>
</div>

<%= submit_tag(button.t, class: "btn center-block push-down") %>
