<%= submit_tag(button.t, class: "btn center-block push-down") %>

<div class="form-group push-down">
  <%= label_tag(:herbarium_record_herbarium_name, :NAME.t + ":") %>
  <%= text_field(:herbarium_record, :herbarium_name, class: "form-control") %>
  <% turn_into_herbarium_auto_completer(:herbarium_record_herbarium_name) %>
</div>

<div class="form-group push-down">
  <%= label_tag(:herbarium_record_initial_det, :herbarium_record_initial_det.t + ":") %>
  <span class="HelpNote"><%= :create_herbarium_record_initial_det_help.t %></span>
  <%= text_field(:herbarium_record, :initial_det, class:"form-control") %>
</div>

<div class="form-group push-down">
  <%= label_tag(:herbarium_record_accession_number, :herbarium_record_accession_number.t + ":") %>
  <span class="HelpNote"><%= :create_herbarium_record_accession_number_help.t %></span>
  <%= text_field(:herbarium_record, :accession_number, class:"form-control") %>
</div>

<div class="form-group push-down">
  <%= label_tag(:herbarium_record_notes, :NOTES.t + ":") %>
  <%= text_area(:herbarium_record, :notes, class: "form-control", rows: 6) %>
</div>

<%= submit_tag(button.t, class: "btn center-block push-down") %>
