<%
  @title = :edit_herbarium_record_title.l(herbarium_label: @herbarium_record.herbarium_label)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :herbarium_record), @herbarium_record.show_link_args),
    link_with_query(:edit_herbarium_record_back_to_index.t, action: :index_herbarium_record),
    link_with_query(:create_herbarium.t, controller: :herbarium, action: :create_herbarium),
    link_to(:herbarium_index.t, controller: :herbarium, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  herbarium = @herbarium_record.herbarium
%>

<div class="max-width-text">
  <%= form_tag(action: :edit_herbarium_record, id: @herbarium_record.id) do %>
    <%= submit_tag(:edit_herbarium_record_save.t, class: "btn center-block push-down") %>

    <div class="form-group push-down">
      <%= label_tag(:herbarium_record_herbarium_name, :herbarium_record_herbarium_name.t + ":") %>
      <%= text_field(:herbarium_record, :herbarium_name, value: @herbarium_name, class: "form-control") %>
      <% turn_into_herbarium_auto_completer(:herbarium_record_herbarium_name) %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:herbarium_record_herbarium_label, :add_herbarium_record_herbarium_label.t + ":") %>
      <span class="HelpNote"><%= :add_herbarium_record_herbarium_label_help.t %></span>
      <%= text_field(:herbarium_record, :herbarium_label, value: @herbarium_record.herbarium_label, class: "form-control") %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:herbarium_record_notes, :add_herbarium_record_notes.t + ":") %>
      <%= text_area(:herbarium_record, :notes, value: @herbarium_record.notes, rows: 10, class: "form-control") %>
    </div>

    <%= submit_tag(:edit_herbarium_record_save.t, class: "btn center-block push-down") %>
  <% end %>
</div>
