<%
  @title = :herbarium_record_index_title.t(subject: @subject)

  tabs = [
    link_to(:herbarium_index.t, controller: :herbarium, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        <%= :herbarium_record_herbarium.t %>
      </th>
      <th>
        <%= :herbarium_record_herbarium_label.t %>
      </th>
      <th>
        <%= :OBSERVATIONS.t %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% for herbarium_record in @herbarium_records
      herbarium = herbarium_record.herbarium
      observation = herbarium_record.observations %>
      <tr>
        <td>
          <%= if in_admin_mode? || herbarium_record.can_edit?(@user)
            link_to(:herbarium_edit_herbarium_record.t,
                    {action: :edit_herbarium_record, id: herbarium_record.id},
                    class: "btn")
          end %>
        </td>
        <td>
          <%= link_to(herbarium.name.t, herbarium.show_link_args) %>
        </td>
        <td>
          <%= link_to(herbarium_record.herbarium_label.t,
                      herbarium_record.show_link_args) %>
        </td>
        <td>
          <%= herbarium_record.observations.map do |obs|
            link_to(obs.unique_format_name.t, obs.show_link_args)
          end.safe_join(", ") %>
        </td>
        <td>
          <%= if in_admin_mode? || herbarium_record.can_edit?(@user)
            link_to(:herbarium_delete_herbarium_record.t,
                    {action: :delete_herbarium_record, id: herbarium_record.id},
                    data: { confirm: :are_you_sure.t }, class: "btn")
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
