<%
  @title ||= :list_herbarium_records_title.t

  tabs = create_links(@links)
  tabs << link_to(:herbarium_index.t, herbaria_path(flavor: :nonpersonal))
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :wide

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <table class="table table-striped">
      <% @objects.each do |herbarium_record|
        herbarium = herbarium_record.herbarium %>
        <tr>
          <td>
            <%= if in_admin_mode? || herbarium_record.can_edit?
                  link_with_query(
                    :EDIT.t,
                    edit_herbarium_record_path(
                      id: @herbarium_record.id, params: { back: :index }
                    ),
                    class: "btn btn-default btn-sm"
                  )
                end %>
          </td>
          <td>
            <%= herbarium ?
                  link_to(herbarium.name.t, herbarium_path(herbarium.id)) :
                  :UNKNOWN.t %>
          </td>
          <td>
            <%= link_with_query(herbarium_record.herbarium_label.t,
                                herbarium_record_path(herbarium_record.id)) %>
          </td>
          <td>
            <%= herbarium_record.observations.map do |obs|
                  link_to(obs.unique_format_name.t, observation_path(obs.id))
                end.safe_join(", ") %>
          </td>
          <td>
            <%= if in_admin_mode? || herbarium_record.can_edit?
                  destroy_button(
                    name: :destroy_object.t(type: :herbarium_record),
                    target: herbarium_record_path(@herbarium_record.id),
                    classes: "btn btn-default btn-sm"
                  )
                end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
