<%
  @title = "#{:HERBARIUM_RECORD.l} '#{@herbarium_record.herbarium_label}'"

  tabs = []
  if in_admin_mode? || @herbarium_record.can_edit?(@user)
    tabs << link_to(:edit_herbarium_record.t, action: :edit_herbarium_record,
                    id: @herbarium_record.id)
  end
  tabs += [
    link_to(:herbarium_delete_herbarium_record.t, action: :delete_herbarium_record,
            id: @herbarium_record.id, data: {confirm: :are_you_sure.t}),
    link_to(:herbarium_index.t, controller: :herbarium, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  herbarium = @herbarium_record.herbarium
%>

<div class="max-width-text">
  <p>
    <%= :HERBARIUM.t %>: <%= link_to(herbarium.name, herbarium.show_link_args) %><br/>
    <%= :herbarium_record_herbarium_label.t %>: <%= @herbarium_record.herbarium_label %><br/>
    <%= :herbarium_record_user.t %>: <%= @herbarium_record.user.legal_name %><br/>
  </p>

  <% if !@herbarium_record.notes.blank? %>
    <%= ( :herbarium_record_notes.l + ":\n\n" + @herbarium_record.notes ).tpl %>
  <% end %>

  <%= render(partial: "shared/matrix_box", collection: @herbarium_record.observations, as: :object) %>

  <center>
    <p>
      <% if @herbarium_record.created_at %>
        <%= :herbarium_record_created_at.t %>: <%= @herbarium_record.created_at.web_date %><br/>
      <% end %>
      <% if @herbarium_record.updated_at %>
        <%= :herbarium_record_updated_at.t %>: <%= @herbarium_record.updated_at.web_date %><br/>
      <% end %>
    </p>
  </center>
</div>
