<% ########################### Image Forms ############################## %>

<% if local_assigns[:include_images?] %>
  <div class="row max-width-text-times-two">
    <% # @observation.thumb_image_id ||= 0 %>

    <% # Already uploaded images %>
    <% if @good_images.any? %>
      <div class="col-12">
        <b>Images:</b>
      </div>
      <% for image in @good_images %>
        <div class="col-12 mt-3">
          <div class="row form_image">

            <!-- GOOD_IMAGE -->
            <div class="col-1" style="max-width:30px">
              <%= f.radio_button :thumb_image_id, image.id %>
            </div>
            <div class="col-11 col-sm-3">
              <%= thumbnail(image, border: 0, obs: @observation.id,
                            votes: true) %>
            </div>
            <div class="col-12 col-sm-8">
              <% if check_permission(image) %>
                <%= fields_for :good_image do |gi_f| %>
                  <table class="table-observation-form">
                    <tr>
                      <td>
                        <%= gi_f.label "image_#{image.id}_notes",
                                       :NOTES.t + ":" %>
                      </td>
                      <td>
                        <%= gi_f.text_area :notes, content: image.notes,
                                           index: image.id,
                                           rows: 1,
                                           class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= gi_f.label "image_#{image.id}_original_name",
                                      :form_observations_original_name.t + ":" %>
                      </td>
                      <td>
                        <%= gi_f.text_field :original_name,
                                            value: image.original_name,
                                            index: image.id,
                                            size: 40,
                                            class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= gi_f.label "image_#{image.id}_copyright_holder",
                                       :form_images_copyright_holder.t + ":" %>
                      </td>
                      <td>
                        <%= gi_f.text_field :copyright_holder,
                                            value: image.copyright_holder,
                                            index: image.id,
                                            class: "form-control" %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= gi_f.label "image_#{image.id}_when_1i",
                                       :form_images_when_taken.t + ":" %>
                      </td>
                      <td>
                        <div class="form-inline">
                          <%= gi_f.date_select :when,
                                               date_select_opts(image).
                                                 merge(
                                                   object: image,
                                                   index: image.id
                                                 ),
                                               { class: "form-control",
                                                 onchange: "CHANGED_DATES[#{image.id}] = true" } %>
                          <% turn_into_year_auto_completer("good_image_#{image.id}_when_1i") %>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= gi_f.label "image_#{image.id}_license_id",
                                       :form_images_select_license.t + ":" %>
                      </td>
                      <td>
                        <%= gi_f.select :license_id,
                                   License.current_names_and_ids(image.license),
                                   { selected: image.license_id,
                                     index: image.id },
                                   { class: "form-control" } %>
                      </td>
                    </tr>
                  </table>
                <% end # fields_for :good_image %>
              <% end # if check_permission %>
            </div>
            <!-- GOOD_IMAGE -->

          </div>
        </div>
      <% end # for image %>
    <% end # if @good_images %>

    <%= f.hidden_field :good_images,
                       value: @good_images.map { |o| o.id }.join(" ") %>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <b><%= :form_observations_upload_images.t %>:</b>

      <% if can_do_multifile_upload? %>
        <%= render "observations/form/multi_image_upload", f: f %>
      <% else %>
        <%= render "observations/form/mono_image_upload", f: f %>
      <% end %>

   </div>
 </div>
<% end # if include_images %>
