<% ########################### Image Forms ############################## %>

<% if include_images? %>
  <div class="row max-width-text-times-two">
    <% # @observation.thumb_image_id ||= 0 %>

    <% if @good_images.any? %>
      <div class="col-12">
        <b>Images:</b>
      </div>
      <% for image in @good_images %>
        <div class="col-12 mt-3">
          <div class="row form_image">

            <!-- GOOD_IMAGE -->
              <div class="col-1" style="max-width:30px">
                <%= radio_button(:observation,
                                 :thumb_image_id,
                                 image.id) %>
              </div>
              <div class="col-11 col-sm-3">
                <%= thumbnail(image, border: 0, obs: @observation.id, votes: true) %>
              </div>
              <div class="col-12 col-sm-8">
                <% if check_permission(image) %>
                  <table class="table-observation-form">
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_notes",
                                      :NOTES.t + ":") %>
                      </td>
                      <td>
                        <%= text_area(:good_image,
                                      :notes,
                                      value: image.notes,
                                      index: image.id,
                                      rows: 1,
                                      class: "form-control form-control-sm") %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_original_name",
                                      :form_observations_original_name.t + ":") %>
                      </td>
                      <td>
                        <%= text_field(:good_image,
                                       :original_name,
                                       value: image.original_name,
                                       index: image.id,
                                       size: 40,
                                       class: "form-control form-control-sm") %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_copyright_holder",
                                      "#{:form_images_copyright_holder.t}:") %>
                      </td>
                      <td>
                        <%= text_field(:good_image,
                                       :copyright_holder,
                                       value: image.copyright_holder,
                                       index: image.id,
                                       class: "form-control form-control-sm") %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_when_1i", :form_images_when_taken.t + ":") %>
                      </td>
                      <td>
                        <div class="form-inline">
                          <%= date_select(:good_image,
                                          :when,
                                          date_select_opts(image).
                                          merge(object: image, index: image.id),
                                          { class: "form-control form-control-sm",
                                            onchange: "CHANGED_DATES[#{image.id}] = true" }) %>
                          <% turn_into_year_auto_completer("good_image_#{image.id}_when_1i") %>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_license_id",
                                      :form_images_select_license.t + ":") %>
                      </td>
                      <td>
                        <%= select(:good_image,
                                   :license_id,
                                   License.current_names_and_ids(image.license),
                                   { selected: image.license_id,
                                     index: image.id },
                                   { class: "form-control form-control-sm" }) %>
                      </td>
                    </tr>
                  </table>
                <% end # if check_permission %>
              </div>
            <!-- GOOD_IMAGE -->

          </div>
        </div>
      <% end # for image %>
    <% end # if @good_images %>
    <%= hidden_field_tag(:good_images,
                         @good_images.map { |o| o.id }.join(" ")) %>
  </div>

  <div class="row mt-3 max-width-text-times-two">
    <div class="col-sm-12">


      <strong><%= :form_observations_upload_images.t %>:</strong>

      <!-- MULTIFILE_UPLOAD_FORM -->
        <%= render(partial: "form_multi_image_upload") if can_do_multifile_upload? %>
      <!-- /MULTIFILE_UPLOAD_FORM -->

      <!-- MONOFILE_UPLOAD_FORM -->
        <% if !can_do_multifile_upload? %>
          <%= javascript_tag %(
            var NEXT_IMAGE_INDEX = #{@images.length+1};
            var CHANGED_DATES = [];
          ) %>
          <div id="image_forms">
            <% i = 0 %>
            <% @images.push(@new_image) %>
            <% while i < @images.length %>
              <%= render(partial: "form_image", locals: {index: i}) %>
              <% i += 1 %>
            <% end %>
          </div>
          <input id="new_image_button"
                 onclick="image_new();"
                 type="button"
                 value="<%= :form_observations_upload_another.t %>"
                 class="btn"/>
          <% javascript_include("single_image_uploader") %>
          <%= javascript_tag %(
            var x = String.fromCharCode(60);
            var y = String.fromCharCode(93);
            var IMAGE_FORM = "#{
              i = @images.length - 1 rescue 0
              str = render(partial: "form_image", locals: {index: i})
              str.gsub!("image_#{i}_", "image_XXX_")
              str.gsub!("image_id_#{i}", "image_id_XXX")
              str.gsub!("(#{i})", "(XXX)")
              str.gsub!("[#{i}]", "[XXX]")
              str.sub!("type=\"radio\" value=\"#{i}\"", 'type="radio" value="-XXX"')
              str.sub!("checked=\"checked\" ", "")
              str = escape_javascript(str)
              str.gsub("<", '"+x+"')
              str.gsub("]", '"+y+"')
            }";
          ) %>
        <% end %>
      <!-- /MONOFILE_UPLOAD_FORM -->

   </div>
 </div>
<% end # if include_images %>
