<!--[form:image]-->
<div class="row">
  <div class="col-sm-12">
    <%= :form_observations_upload_help.tp %>
  </div>
</div>
<% @image = @images[index] %>

<div id="image_<%= index %>_box"
     class="form_image">

  <p class="text-nowrap">
    <%= radio_button(:observation,
                     :thumb_image_id,
                     -index) %>
    <%= custom_file_field(:image,
                          :image,
                          index: index,
                          onchange: "auto_image_new(#{index})") %>

    <% if @js %>
      <span class="ml-2">&nbsp;</span>
      <input id="image_<%=index%>_more"
             onclick="image_on(<%=index%>);"
             type="button"
             class="btn"
             value="<%=:MORE.t%> »" />
      <input id="image_<%=index%>_less"
             onclick="image_off(<%=index%>);"
             type="button"
             class="btn d-none"
             value="« <%=:LESS.t%>" />
    <% end %><br/>

    <label for="image_<%= index %>_notes"><%= :NOTES.t %>:</label>
    <%= text_field(:image,
                   :notes,
                   index: index,
                   size: 50) %>
  </p>

  <div id="image_<%= index %>_div" class="lh-100<%= " d-none" if @js %>">
    <p>
      <label for="image_<%= index %>_copyright_holder"><%= :form_images_copyright_holder.t %>:</label>
      <%= text_field(:image,
                     :copyright_holder,
                     index: index) %>
    </p>

    <p>
      <label for="image_<%= index %>_when_1i"><%= :form_images_when_taken.t %>:</label>
      <%= date_select(:image,
                      :when,
                      date_select_opts(@image).merge(index: index),
                      { onchange: "changed_date(#{index})" }) %>
    </p>
    <% turn_into_year_auto_completer(:species_list_when_1i) %>

    <p>
      <label for="image_<%= index %>_license_id"><%= :form_images_select_license.t %>:</label>
      <%= select(:image,
                 :license_id,
                 @licenses,
                 { value: @image.license_id },
                 { id: "image_#{index}_license_id",
                   name: "image[#{index}][license_id]" }) %>
    </p>
  </div>

  <% inject_javascript_at_end %(
    CHANGED_DATES[#{index}] = false;
  ) %>

</div>

<!--[eoform:image]-->
