<% if @projects.any? %>
  <div class="row mt-3">
    <div class="col-12 max-width-text-times-two">
      <div class="col-12 col-sm-6 float-right">
        <div class="well well-sm max-width-text help-block">
          <div class="arrow-left d-none d-sm-block"></div>
          <%= :form_observations_project_help.t %>
        </div>
      </div>
      <strong><%= :PROJECTS.t %>:</strong>
      <%= fields_for :project do |p_f| %>
        <% for project in @projects %>
          <div class="form-inline max-width-text">
            <%= p_f.check_box "id_#{project.id}",
                              checked: @project_checks[project.id],
                              disabled: @observation.user != @user && \
                                !project.is_member?(@user),
                              class: "form-control-xxx" %>
            <%= link_to_object(project) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
