<%# Projects section of create_observation form %>

<div class="mt-3 row" id="observation_projects">
  <div class="col-12 col-md-6 order-md-2">
    <%= help_block_with_arrow("left", id: "project_help") do %>
      <%= :form_observations_project_help.t %>
    <% end %>
  </div><!--.col-->
  <div class="col-12 col-md-6 order-md-1">
    <strong><%= :PROJECTS.t %>:</strong>

    <%= fields_for(:project) do |f_p| %>
      <% @projects.each do |project| %>
        <%= check_box_with_label(form: f_p, field: :"id_#{project.id}",
                                 checked: @project_checks[project.id],
                                 disabled: !project.user_can_add_observation?(@observation, @user),
                                 label: link_to_object(project)) %>
      <% end %>
    <% end %>

  </div><!--.col-->
</div><!--.row-->
