<%
# Specimen section of create_observation form,
# for collection_number and herbarium_record.
# Fields hidden unless box checked.
# TODO: Make bootstrap collapse
%>

<div class="mt-3 row">
  <div class="col-12 col-md-6">
    <%= check_box_with_label(form: f, field: :specimen,
                             label: :form_observations_specimen_available.t) %>
    <%= help_block_with_arrow("up") do %>
      <%= :form_observations_specimen_available_help.t %>
    <% end  # help_block_with_arrow do %>

    <!-- no_specimen_info -->
    <% if button_name == :SAVE_EDITS.l %>
      <%= help_block_with_arrow(nil) do
        :form_observations_edit_specimens_help.t
      end %>
    <% end # if button_name %>
    <!-- /no_specimen_info -->

  </div><!--.col-->
</div><!--.row-->

<% if button_name == :CREATE.l %>
  <!-- specimen_info -->
  <div id="specimen_info" class="<%= "d-none" if !@observation.specimen %>">

    <%= render(partial: "observations/form/collection_number",
               locals: { f: f } ) %>
    <%= render(partial: "observations/form/herbarium_record",
               locals: { f: f } ) %>

  </div><!--#specimen_info-->
  <!-- /specimen_info -->

  <% if !@user.try(&:hide_specimen_stuff?) %>
    <% inject_javascript_at_end %(
      jQuery(document).ready(function() {
        specimen_checkbox = jQuery("#observation_specimen");
        hide_show_specimen_fields = function () {
          if (specimen_checkbox.is(":checked"))
            jQuery("#specimen_info").removeClass("d-none").show();
          else
            jQuery("#specimen_info").hide();
        };
        hide_show_specimen_fields();
        specimen_checkbox.change(hide_show_specimen_fields);
        jQuery("#collection_number_number,#herbarium_record_herbarium_id").change(function() {
          if (jQuery(this).val().length > 0)
            specimen_checkbox.prop("checked", true)
        });
      });
    ) %>
  <% end %>
<% end %>
