<%# Where (location) section of create_observation form
    including location autocomplete, map, lat/long/alt %>

<!-- WHERE_REASONS -->
<%= render(partial: "shared/form_location_feedback",
           locals: { button: button_name } ) %>
<!-- /WHERE_REASONS -->

<!-- WHERE -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label(:place_name, "#{:WHERE.t}: (#{:required.t})") %>
      <%= f.text_field(:place_name, class: "form-control") %>
      <% turn_into_location_auto_completer(
          :observation_place_name, primer: Location.primer
        ) %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= help_block_with_arrow("left", id: "where_help") do %>
      <%=
        loc1 = "Albion, Mendocino Co., California, USA"
        loc2 = "Hotel Parque dos Coqueiros, Aracaju, Sergipe, Brazil"
        if User.current_location_format == "scientific"
          loc1 = Location.reverse_name(loc1)
          loc2 = Location.reverse_name(loc2)
        end # if User.current_location_format
        :form_observations_where_help.t(loc1: loc1, loc2: loc2)
      %>
    <% end # help_block_with_arrow do %>
  </div>
</div><!--.row-->

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <button type="button" class="map-locate btn btn-default my-3">Locate on Map</button>
    <%= help_block_with_arrow("up", id: "locate_on_map_help") do %>
      <%= :form_observations_locate_on_map_help.t %>
    <% end  # help_block_with_arrow do %>
  </div>
</div><!--.row-->
<!-- /WHERE -->

<!-- IS_COLLECTION_LOCATION -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= check_box_with_label(
          form: f, field: :is_collection_location,
          label: :form_observations_is_collection_location.t
        ) %>
    <%= help_block_with_arrow("up", id: "is_collection_location_help") do %>
      <%= :form_observations_is_collection_location_help.t %>
    <% end  # help_block_with_arrow do %>
  </div><!--.col-->
</div><!--.row-->
<!-- /IS_COLLECTION_LOCATION -->

<!-- LAT_LONG_ALT -->
<div class="row mt-3" id="observation_geolocation">
  <div class="col-sm-6">
    <%= tag.label("#{:GEOLOCATION.t}: (#{:optional.t})") %>
    <div id="observation_form_map" class="observation-form-map hidden"
         data-indicator-url="<%= asset_path('indicator.gif') %>"></div>
    <div>
      <button type="button" class="map-open btn btn-default"><%= :form_observations_open_map.t %></span>
      <button type="button" class="map-clear btn btn-default hidden"><%= :form_observations_clear_map.t %></span>
    </div>
  </div>
  <div class="col-sm-6">
    <%= help_block_with_arrow("left", id: "geolocation_help") do %>
      <%= :form_observations_lat_long_help.t %>
    <% end  # help_block_with_arrow do %>
  </div>
</div><!--.row-->

<div class="row mt-3" id="observation_lat_long_alt">
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label(:lat, :LATITUDE.t + ":") %>
          <%= f.text_field(:lat, class: "form-control") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label(:long, :LONGITUDE.t + ":") %>
          <%= f.text_field(:long, class: "form-control") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label(:alt, :ALTITUDE.t + ":") %>
          <%= f.text_field(:alt, class: "form-control") %>
          (<%= :units_meters.t %>)
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <%= check_box_with_label(form: f, field: :gps_hidden,
                                 label: :form_observations_gps_hidden.t) %>
      </div>
    </div><!--.row-->
  </div>
</div><!--.row-->
<!-- /LAT_LONG_ALT -->
