<!-- WHERE_REASONS -->
<% if @dubious_where_reasons.any? %>
  <% flash_warning(:form_observations_there_is_a_problem_with_location.t) %>
  <div class="alert alert-warning max-width-text" id="location_messages">
    <%= @dubious_where_reasons.safe_join(safe_br) %>
    <p class="help-block max-width-text">
      <%= :form_observations_dubious_help.t(button: button_name) %>
    </p>
  </div>
<% end %>
<!-- /WHERE_REASONS -->

<!-- WHERE -->
<div class="row">
  <div class="col-12 col-sm-6 max-width-text">
    <div class="form-group">
      <%= label_tag(:observation_place_name,
                    "#{:WHERE.t}: (#{:required.t})") %>
      <%= text_field(:observation,
                     :place_name,
                     class: "form-control") %>
      <% turn_into_location_auto_completer(:observation_place_name,
                                           primer: Location.primer) %>
      <span class="map-locate map-btn">Locate on Map</span>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="well well-sm max-width-text help-block">
      <div class="arrow-left d-none d-sm-block"></div>
      <%=
        loc1 = "Albion, Mendocino Co., California, USA"
        loc2 = "Hotel Parque dos Coqueiros, Aracaju, Sergipe, Brazil"
        if User.current_location_format == :scientific
          loc1 = Location.reverse_name(loc1)
          loc2 = Location.reverse_name(loc2)
        end
        :form_observations_where_help.t(loc1: loc1, loc2: loc2)
      %>
    </div>
  </div>
</div>
<!-- /WHERE -->

<!-- IS_COLLECTION_LOCATION -->
<div class="row">
  <div class="col-12 max-width-text">
    <div class="form-inline">
      <%= check_box(:observation,
                    :is_collection_location,
                    class: "form-control-xxx") %>
      <%= label_tag(:observation_is_collection_location,
                    :form_observations_is_collection_location.t) %>
    </div>
    <div class="well well-sm mt-3 max-width-text help-block">
      <div class="arrow-up d-none d-sm-block"></div>
      <%= :form_observations_is_collection_location_help.t %>
    </div>
  </div>
</div>
<!-- /IS_COLLECTION_LOCATION -->
