<%# Where (location) section of create_observation form
    including location autocomplete, map, lat/long/alt %>

<!-- WHERE_REASONS -->
<%=
render(partial: "shared/form_location_feedback",
       locals: { button: button_name } )
%>


<%=
# As of mid-2023, Google is calling this their "legacy script loading tag".
# https://developers.google.com/maps/documentation/javascript/load-maps-js-api#use-legacy-tag
# But it's the only one with clear examples of integration with Stimulus. We use
# a callback (below, dispatchMapsEvent, defined in assets/javascripts/main.js)
# to fire a custom window JS Event that the class/controller picks up,
# signifiying that the google.maps object is loaded and defined.
# We can switch to their Dynamic Library Import if we get a new example.
# I tried writing async functions in the class that wait for google.maps
# to be defined, and i couldn't get em working. - AN 20231102
javascript_include_tag(
  "https://maps.googleapis.com/maps/api/js?key=" +
  "AIzaSyCxT5WScc3b99_2h2Qfy5SX6sTnE1CX3FA" +
  "&libraries=maps,geocoding,marker,elevation" +
  "&callback=dispatchMapsEvent",
  async: true, defer: true, # "data-turbolinks-eval": false
) %>
<%
javascript_include("mo_observation_mapper")
%>
<!-- /WHERE_REASONS -->

<!-- WHERE -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= text_field_with_autocompleter(
      form: f, field: :place_name, placeholder: :start_typing.l,
      label: :WHERE.t + ":", between: :required, type: :location
    ) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= help_block_with_arrow("left", id: "where_help") do %>
      <%=
        loc1 = "Albion, Mendocino Co., California, USA"
        loc2 = "Hotel Parque dos Coqueiros, Aracaju, Sergipe, Brazil"
        if User.current_location_format == "scientific"
          loc1 = Location.reverse_name(loc1)
          loc2 = Location.reverse_name(loc2)
        end # if User.current_location_format
        :form_observations_where_help.t(loc1: loc1, loc2: loc2)
      %>
    <% end # help_block_with_arrow do %>
  </div>
</div><!--.row-->

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= js_button(button: :form_observations_locate_on_map.t,
                  name: "locate_on_map", class: "map-locate my-3") %>
    <%= help_block_with_arrow("up", id: "locate_on_map_help") do %>
      <%= :form_observations_locate_on_map_help.t %>
    <% end  # help_block_with_arrow do %>
  </div>
</div><!--.row-->
<!-- /WHERE -->

<!-- IS_COLLECTION_LOCATION -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= check_box_with_label(
          form: f, field: :is_collection_location,
          label: :form_observations_is_collection_location.t
        ) %>
    <%= help_block_with_arrow("up", id: "is_collection_location_help") do %>
      <%= :form_observations_is_collection_location_help.t %>
    <% end  # help_block_with_arrow do %>
  </div><!--.col-->
</div><!--.row-->
<!-- /IS_COLLECTION_LOCATION -->

<!-- LAT_LONG_ALT -->
<div class="row mt-3" id="observation_geolocation">
  <div class="col-sm-6">
    <%= tag.label("#{:GEOLOCATION.t}: (#{:optional.t})") %>
    <%= content_tag(:div, "",
                    id: "observation_form_map",
                    class: "observation-form-map hidden",
                    data: { indicator_url: asset_path('indicator.gif') } ) %>
    <div>
      <%= js_button(button: :form_observations_open_map.t,
                    name: "map-open", class: "map-open") %>
      <%= js_button(button: :form_observations_clear_map.t,
                    name: "map-clear", class: "map-clear") %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= help_block_with_arrow("left", id: "geolocation_help") do %>
      <%= :form_observations_lat_long_help.t %>
    <% end  # help_block_with_arrow do %>
  </div>
</div><!--.row-->

<div class="row mt-3" id="observation_lat_long_alt">
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= text_field_with_label(form: f, field: :lat,
                                  label: :LATITUDE.t + ":") %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= text_field_with_label(form: f, field: :long,
                                  label: :LONGITUDE.t + ":") %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= text_field_with_label(form: f, field: :alt,
                                  label: :ALTITUDE.t + ":",
                                  append: "(#{:units_meters.t})") %>
      </div>
      <div class="col-xs-12 col-sm-12">
        <%= check_box_with_label(form: f, field: :gps_hidden,
                                 label: :form_observations_gps_hidden.t) %>
      </div>
    </div><!--.row-->
  </div>
</div><!--.row-->
<!-- /LAT_LONG_ALT -->
