<%
@title = :species_list_projects_title.t(list: @list.title)

add_tab_set(species_list_edit_project_links(list: @list))

action = { controller: "/species_lists/projects",
           action: :update, id: @list.id }
%>

<div class="help-block mt-3">
  <%= :species_list_projects_help.tp %>
</div>

<%= form_with(url: action, method: :put,
              id: "species_list_projects_form") do |f| %>

  <div class="form-group form-inline mt-3">
    <%= f.label(:objects, :species_list_projects_which_objects.t) %>
    <%= check_box_with_label(form: f, field: :objects_list,
                             value: 1, checked: @object_states[:list],
                             label: :species_list_projects_this_list.t) %>
    <%= check_box_with_label(form: f, field: :objects_obs,
                             value: 1, checked: @object_states[:obs],
                             label: :species_list_projects_observations.t) %>
    <%= check_box_with_label(form: f, field: :objects_img,
                             value: 1, checked: @object_states[:img],
                             label: :species_list_projects_images.t) %>
  </div>

  <div class="form-group form-inline mt-3">
    <%= f.label(:projects, :species_list_projects_which_projects.t) %>
    <% @projects.sort_by(&:text_name).each do |proj| %>
      <%= check_box_with_label(form: f, field: :"projects_#{proj.id}",
                               value: 1, checked: @project_states[proj.id],
                               label: proj.title.t) %>
    <% end %>
  </div>

  <div class="text-center mt-3">
    <%= submit_button(form: f, button: :ATTACH.l) %>
    &nbsp;
    <%= submit_button(form: f, button: :REMOVE.l) %>
  </div><!-- .text-center -->

<% end %>
