<%# Images section of create_observation form
Gotcha: thumb_image_id
Although there can be radio buttons for selecting observation[thumb_image_id]
in both the good_images and the images_upload partials, they currently *do
not* set the observation thumb_image_id: their value is transferred by JS to
the hidden_field below with the same name, which takes precedence.
I believe this is because in images_upload/_template.erb, the radio buttons
do not yet have an image.id value, the image has not yet been uploaded.
%>
<%= tag.div(class: "mb-5", id: "observation_images") do %>

  <%# tag.p { tag.strong("#{:IMAGES.t}:") } %>

  <%= hidden_field_tag(:good_images,
                       @good_images.map { |img| img.id }.join(" "),
                       data: { form_images_target: "goodImages" }) %>

  <%= f.hidden_field(:thumb_image_id,
                     data: { form_images_target: "thumbImageId" }) %>

  <% links = capture do %>
    <label class="btn btn-default file-field">
      <input type="file" multiple id="select_images_button"
             data-action="change->form-images#addSelectedFiles"
             accept="image/*"/>
      <%= :select_file.t %>
    </label>
  <% end %><!--.col-->

  <%= tag.div(class: "images_container panel panel-default") do
    concat(carousel_heading(:IMAGES.l, links))
    concat(render(partial: "observations/form/images/carousel",
                  locals: { f: f, images: @good_images }))
  end %>

<% end %><!--#observation_images-->
