<%# Notes section of create_observation form %>

<!-- NOTES -->
<div class="mt-3" id="observation_notes">

  <%= content_tag(:p, "#{:NOTES.t}:", class: "font-weight-bold") %>

  <% if @observation.form_notes_parts(@user) == [Observation.other_notes_part]
      part = Observation.other_notes_part %>

    <%= f.fields_for(:notes) do |f_n| %>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f_n.text_area(@observation.notes_normalized_key(part),
                            value: @observation.notes_part_value(part),
                            rows: 10, class: "form-control mb-3") %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= help_block_with_arrow("left", id: "notes_help") do %>
            <%= content_tag(:p, :form_observations_notes_help.t,
                            class: "pt-0 mt-0") %>
            <%= render(partial: "shared/textilize_help") %>
          <% end # help_block_with_arrow %>
        </div>
      </div><!--.row-->

    <% end # f.fields_for(:notes) %>

  <% else %>

    (<%= :general_textile_link.t %>)
    <% @observation.form_notes_parts(@user).each do |part| %>

      <%= f.fields_for(:notes) do |f_n| %>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= text_area_with_label(
                  form: f_n, rows: 1, label: strip_tags(part.tl) + ": ",
                  field: @observation.notes_normalized_key(part),
                  value: @observation.notes_part_value(part)
                ) %>
          </div>
        </div><!--.row-->

      <% end # f.fields_for(:notes) %>

    <% end # each do part %>

  <% end # if user_notes_part %>



</div><!--#observation_notes-->
<!-- /NOTES -->
