<%# Where (location) section of create_observation form
    including location autocomplete, map, lat/long/alt %>

<%# load_google_maps_api_script %>

<%= tag.div(
  id: "observation_where",
  # data: { controller: "map",
  #         action: "form-exif:pointChanged@window->map#calculateMarker" }
) do %>

  <div class="row mt-3">
    <div class="col-xs-12 col-sm-6">
      <!-- LAT_LONG_ALT -->
      <div class="row no-gutters" id="observation_lat_lng_alt">
        <div class="col-xs-4">
          <%= text_field_with_label(
            form: f, field: :lat, label: :LATITUDE.t + ":",
            data: { map_target: "latInput", action: "map#bufferInputs" }
          ) %>
        </div>
        <div class="col-xs-4">
          <%= text_field_with_label(
            form: f, field: :lng, label: :LONGITUDE.t + ":",
            data: { map_target: "lngInput", action: "map#bufferInputs" }
          ) %>
        </div>
        <div class="col-xs-4">
          <%= text_field_with_label(
            form: f, field: :alt, label: :ALTITUDE.t + ":",
            append: "(#{:units_meters.t})",
            data: { map_target: "altInput" }
          ) %>
        </div>
      </div><!--.row-->
      <%= help_block_with_arrow("up", id: "geolocation_help") do %>
        <%= :form_observations_lat_long_help.t %>
      <% end  # help_block_with_arrow do %>
      <%= check_box_with_label(form: f, field: :gps_hidden,
                               label: :form_observations_gps_hidden.t) %>
      <!-- /LAT_LONG_ALT -->

      <!-- WHERE_REASONS -->
      <%= render(partial: "shared/form_location_feedback",
                locals: { button: button_name } ) %>
      <!-- /WHERE_REASONS -->

      <%# NOTE: Both map & form-exif controllers dispatch a pointChanged event.
      map:pointChanged event == form-exif:pointChanged event
        detail: { type, request_params: { lat, lng } }
      For now we have to duplicate the code, because when form-exif updates
      the lat/lng inputs it's not enough to be caught by map, because
      the inputs are buffered. map only fires the event after buffering. %>
      <!-- WHERE -->
      <%= autocompleter_field(
        form: f, field: :place_name, type: :location, label: "#{:WHERE.t}:",
        hidden_data: { map_target: "locationId" },
        data: { map_target: "placeInput",
                action: [
                  "map:pointChanged@window->autocompleter#swap",
                  "form-exif:pointChanged@window->autocompleter#swap"
                ].join(" ") }
      ) %>
      <%= help_block_with_arrow("top", id: "where_help") do %>
        <%=
          loc1 = "Albion, Mendocino Co., California, USA"
          loc2 = "Hotel Parque dos Coqueiros, Aracaju, Sergipe, Brazil"
          if User.current_location_format == "scientific"
            loc1 = Location.reverse_name(loc1)
            loc2 = Location.reverse_name(loc2)
          end # if User.current_location_format
          :form_observations_where_help.t(loc1: loc1, loc2: loc2)
        %>
      <% end # help_block_with_arrow do %>

      <%= js_button(
        button: :form_observations_locate_on_map.t,
        name: "locate_on_map", class: "map-locate my-3",
        data: { map_target: "showBoxBtn",
                action: "map#openMap map#showBox" }
      ) %>
      <%= help_block_with_arrow("up", id: "locate_on_map_help") do %>
        <%= :form_observations_locate_on_map_help.t %>
      <% end  # help_block_with_arrow do %>
      <!-- /WHERE -->

      <!-- IS_COLLECTION_LOCATION -->
      <%= check_box_with_label(
            form: f, field: :is_collection_location,
            label: :form_observations_is_collection_location.t
          ) %>
      <%= help_block_with_arrow("up", id: "is_collection_location_help") do %>
        <%= :form_observations_is_collection_location_help.t %>
      <% end  # help_block_with_arrow do %>
      <!-- /IS_COLLECTION_LOCATION -->
    </div><!--.col-->

    <!-- MAP -->
    <div class="col-xs-12 col-sm-6" id="observation_geolocation">
      <%= tag.label("#{:form_observations_click_on_map.l}:") %>
      <%= tag.div("", id: "observation_form_map",
                      class: "observation-form-map d-none",
                      data: { indicator_url: asset_path('indicator.gif'),
                              location_format: User.current_location_format,
                              map_target: "mapDiv", editable: true,
                              map_type: "observation" } ) %>
      <%= tag.div do %>
        <%= js_button(button: :form_observations_open_map.t,
                      name: "map-open", class: "map-open",
                      data: { map_target: "showPointBtn",
                              action: "map#openMap" }) %>
        <%= js_button(button: :form_observations_clear_map.t,
                      name: "map-clear", class: "map-clear",
                      data: {
                        map_target: "mapClearBtn",
                        action: "map#clearMap form-exif#reenableButtons"
                      }) %>
      <% end %>
    </div>
    <!-- /MAP -->

  </div><!--.row-->

<% end %>
