<%= # form_for(@publication, action: :new) do |form| %>
<%= # form_for(@publication, action: :update) do |form| %>
<%= form_with model: :publication do |f| %>

  <div class="form-group mt-3">
    <%= label_tag(:publication_full, :publication_full.t + ":") %>
    <span class="help-note"><%= :publication_full_help.t %></span>
    <%= f.text_area(:full, rows: 10, class: "form-control") %>
  </div>

  <div class="form-group mt-3">
    <%= label_tag(:publication_link, :publication_link.t + ":") %>
    <%= f.text_field(:link, class: "form-control") %>
  </div>

  <div class="form-group mt-3 form-inline">
    <%= f.check_box(:peer_reviewed, class: "form-control") %>
    <%= label_tag(:publication_peer_reviewed, :publication_peer_reviewed.t) %>
  </div>

  <div class="form-group mt-3">
    <%= label_tag(:publication_how_helped, :publication_how_helped.t) %>
    <%= f.text_area(:how_helped, rows: 10, class: "form-control") %>
  </div>

  <div class="form-group mt-3 form-inline">
    <%= f.check_box(:mo_mentioned, class: "form-control") %>
    <%= label_tag(:publication_mo_mentioned, :publication_mo_mentioned.t) %>
  </div>

  <%= f.submit(button_name.t, class: "btn mx-auto mt-3") %>

<% end %>
