<%
  @title = :publication_index_title.l
  new_tab_set do
    add_tab(:create_publication.t, new_publication_path)
  end
%>

<%= :publication_index_intro.tp %>
<%= :publication_citation.tp %>
<%= link_to 'Wood, Michael (Summer 2008). "WebWatch: Observing Mushrooms". Fungi Magazine 1 (2).', "http://www.mykoweb.com/articles/Web%20Watch--Mushroom%20Observer.pdf" %>

<br />
<br />

<table cellpadding="5" cellspacing="0" width="100%">
  <tr>
    <th><%= "#{:publication_full.t} (#{@full_count})" %></th>
    <th><%= :publication_link.t %></th>
    <td><%= "(#{@peer_count})"%>
    <td><%= "(#{@mo_count})"%>
  </tr>

<% odd_or_even = 1
  for publication in @publications
      odd_or_even = 1 - odd_or_even %>
  <tr class="ListLine<%= odd_or_even %>">
    <td width="50%"><%= link_to h(publication.full), publication %></td>
    <td width="30%"><%= link_to h(publication.link).t, h(publication.link) %></td>
    <td><%= publication.peer_reviewed ? "*P*".t : "" %>
    <td><%= publication.mo_mentioned ? "*M*".t : "" %>
    <% if publication.can_edit?(@user) %>
      <td><%= link_to :EDIT.t, edit_publication_path(publication) %></td>
      <td><%= link_to :DESTROY.t, publication, :confirm => :are_you_sure.t, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<%= :publication_legend.tp %>
