<%
  @title = :create_publication_title.l
  new_tab_set do
    add_tab(:cancel_and_show.t(:TYPE => :publication), @publication)
    add_tab(:publication_index.t, publications_path)
  end
%>

<%= form_for(@publication) do |f| %>
  <p>
    <b><%= :publication_full.t %>:</b>
    <span class="HelpNote"><%= :publication_full_help.t %></span><br/>
    <%= f.text_area :full, cols: 80, rows: 10 %>
  </p>
  <p>
    <%= :publication_link.t %>:<br/>
    <%= f.text_field :link, size: 80 %>
  </p>
  <p>
    <%= f.check_box :peer_reviewed %>
    <%= :publication_peer_reviewed.t %>
  </p>
  <p>
    <%= :publication_how_helped.t %><br/>
    <%= f.text_area :how_helped, cols: 80, rows: 10 %>
  </p>
  <p>
    <%= f.check_box :mo_mentioned %>
    <%= :publication_mo_mentioned.t %>
  </p>
  <p>
    <center><%= f.submit :CREATE.t %></center>
  </p>
<% end %>
