<%
  @title = :show_publication_title.l

  # tabs = [
  #   link_to(:create_publication.t, new_publication_path),
  #   link_to(:publication_index.t, publications_path)
  # ]
  # if in_admin_mode? || @publication.can_edit?(@user)
  #   tabs += [
  #     link_to(:EDIT.t,
  #             edit_publication_path(@publication)),
  #     link_to(:DESTROY.t,
  #             { action: :destroy,
  #               id: @publication.id },
  #             { data: {confirm: :are_you_sure.t } })
  #   ]
  # end
  # @tabsets = { right: draw_tab_set(tabs) }

  @navbar = {} # reset
  @navbar[:title] = { title: :PUBLICATIONS.t, url: publications_path }
  @navbar[:links] = [
    { title: :create_publication.t, url: new_publication_path,
      icon: "fa-plus" }
  ]
  if in_admin_mode? || @publication.can_edit?(@user)
    @navbar[:links] << {
      title: :edit_object.t(type: :publication),
      url: edit_publication_path(id: @publication.id),
      icon: "fa-edit" }
    @navbar[:links] << {
      title: :destroy_object.t(type: :publication),
      url: publication_path(id: @publication.id),
      method: :delete, data: { confirm: :are_you_sure.t },
      icon: "fa-trash-alt" }
  end
%>

<%= tag.div class: "form-max-width mt-4" do %>
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <p>
    <b><%= :publication_full.t %>:</b><br/>
    <%= @publication.full.t.strip_links.html_safe %>
  </p>

  <% unless @publication.link.blank? %>
    <p class="text-break">
      <b><%= :publication_link.t %>:</b><br/>
      <%= link_to(@publication.link, @publication.link) %>
    </p>
  <% end %>

  <p>
    <% if @publication.peer_reviewed %>
      <b><%= :publication_peer_reviewed.t %></b><br/>
    <% end %>

    <% if @publication.mo_mentioned %>
      <b><%= :publication_mo_mentioned.t %></b>
    <% end %>
  </p>

  <p>
    <b><%= :publication_how_helped.t %></b><br/>
    <%= @publication.how_helped.t %>
  </p>

  <p>
    <b><%= :show_publication_added_by.t %></b>:
    <%= user_link(@publication.user) %>
    <%= @publication.created_at.web_date %><br/>
    <%= if @publication.created_at.web_date != @publication.updated_at.web_date
      :footer_last_updated_at.t(date: @publication.updated_at.web_date)
    end %>
  </p>
<% end %>
