<%
  @title = show_title(@article)
  @tabsets = { right: draw_tab_set(show_tabs) }
%>
<div>
 <%= :BY.t %> <%= user_link(@article.user) %>,
 <%= content_tag(:small, @article.created_at.fancy_time) %>
</div>
<div class="row push-down">
  <div class="col-sm-12">
    <div class="list-group">
      <div class="list-group-item">
        <%= @article.body.tpl %>
      </div>
    </div>
  </div>
</div>
<%= show_object_footer(@article) %>
