<%
@container = :wide
add_page_title(article_show_title(@article))
add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<div>
  <%= :BY.t %> <%= user_link(@article.user) %>,
  <%= content_tag(:small, @article.created_at.display_time) %>
</div>

<%= panel_block(class: "mt-3") do @article.body.tpl end %>

<%= show_object_footer(@article) %>
