<%
  @title = :theme_amanita.tl

  tabs = [
    link_to(:theme_list.t,
            controller: :themes, action: :color_themes),
    link_to(:app_preferences.t,
            controller: :account, action: :prefs)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :theme_amanita_pachycolea.tp(link: "XXX").sub("XXX", link_to("**__Amanita pachycolea__**".t, controller: :images, action: :show_image, id: 644)).html_safe %>

  <%= :theme_amanita_muscaria.tp(link: "XXX").sub("XXX", link_to("**__Amanita muscaria__**".t, controller: :images, action: :show_image, id: 651)).html_safe %>

  <%= :theme_amanita_velosa.tp(link: "XXX").sub("XXX", link_to("**__Amanita velosa__**".t, controller: :images, action: :show_image, id: 623)).html_safe %>

  <p>
    <span class="ListLine0">
      <%= :theme_amanita_calyptroderma.t(link: "XXX").sub("XXX", link_to("The fall form of **__Amanita calyptroderma__**".t, controller: :images, action: :show_image, id: 669)).html_safe %>
    </span>
  </p>

  <p>
    <span class="ListLine1">
      <%= :theme_amanita_phalloides.t(link: "XXX").sub("XXX", link_to("**__Amanita phalloides__**".t, controller: :images, action: :show_image, id: 636)).html_safe %>
    </span>
  </p>

  <%= :theme_switch.tp(theme: :Amanita.t) %>
</div>
