<%
  desc = name_description
  Textile.register_name(desc.name)
%>

<% if review %>
  <% if reviewer? %>
    <%= set_export_status_controls(desc) %><br/>
  <% end %>

  <%= :show_name_content_status.t %>: <%= review_as_string(desc.review_status) %><br/>
  <% if desc.reviewer %>
    <span class="help-note">
      <%= indent + "(" + :show_name_latest_review.t(
        date: desc.last_review ? desc.last_review.web_time : :UNKNOWN.t,
        user: user_link(desc.reviewer, desc.reviewer.login)
      ) + ")" %>
    </span><br/>
  <% end %>

  <% if reviewer? %>
    <%= indent + put_button(name: :review_unvetted.t,
        path: name_description_review_status_path(desc.id,
          value: "unvetted", q: get_query_param)
        ) %><br/>
    <%= indent + put_button(:review_vetted.t,
        path: name_description_review_status_path(desc.id,
          value: "vetted", q: get_query_param)
        ) %><br/>
    <%= indent + put_button(:review_inaccurate.t,
        path: name_description_review_status_path(desc.id,
          value: "inaccurate", q: get_query_param)
        ) %><br/>
  <% end %><br/>
<% end %>

<% even = true
any = false
notes = desc.all_notes
NameDescription.all_note_fields.each do |field|
  value = notes[field].to_s
  if value.match(/\S/)
    even = !even
    any = true %>
    <%= "form_names_#{field}".to_sym.t %>:
    <%= colored_notes_box(even, value.tpl) %>
    <br/>
  <% end %>
<% end %>
<%= :show_description_empty.tpl if !any %>

<div class="text-center">
  <%= show_authors_and_editors(desc) %>
  <% if desc.license %>
    <%= render(partial: "shared/form_#{desc.license.form_name}") %>
  <% end %>
</div><!-- .text-center -->
