<%
  @title ||= @description.format_name.t
  show_description_tab_set(@description)
%>

<table cellpadding="5" width="100%">
  <tr>
    <td valign="top" width="50%">
      <%= render "shared/show_description",
                 description: @description %>
    </td>

    <td valign="top" width="50%">
      <%= show_alt_descriptions(@name, @projects) %>
    </td>
  </tr>
</table>

<%= render "names/descriptions/name_description",
           object: @description, review: true %>
<%= render "comments/comments",
           object: @description, controls: true, limit: 10 if false%>
<br/>
<%= show_object_footer(@description) %>
