<%= form_with(model: [@visual_model, @visual_group], local: true) do |form| %>
  <% if visual_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visual_group.errors.count, "error") %> prohibited this visual_group from being saved:</h2>

      <ul>
        <% visual_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= :VISUAL_GROUP.t %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.check_box :approved %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% if @pages %>
    <%= paginate_block(@pages) do %>
      <ul class="row list-unstyled mt-3">
        <%= render(layout: "shared/matrix_table",
                   locals: {objects: @objects}) do |image| %>
          <li class="matrix-box col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= thumbnail(image, votes: false, original: true) %>
		<%= render(partial: "visual_group_status_links", locals: { visual_group: visual_group, image: image }) %>
              </div>
            </div>
          </li><!-- .matrix-box -->
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% @container = :full %>
<% end %>
