<%= form_with(model: [@visual_model, @visual_group], local: true) do |form| %>
  <% if visual_group.errors.any? %>
    <div id="error_explanation">
      <h2>
	<%= pluralize(visual_group.errors.count, "error") %>
	prohibited this visual_group from being saved:
      </h2>

      <ul>
        <% visual_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field(:name, size: 40) %>
      <%= :VISUAL_GROUP.t %>
    </div>

    <div class="field">
      <%= form.label :description %><br>
      <%= form.text_area(:description, cols: 60, rows: 10) %>
    </div>

    <div class="field">
      <%= form.label :approved %>
      <%= form.check_box :approved %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
