<%
  @title = :edit_visual_group_title.t(name: @visual_group.name)
%>

<p id="notice"><%= notice %></p>

<p>
  <%= link_to(:visual_group_show.t, @visual_group) %> |
  <%= link_to(:visual_group_back_to_index.t,
              visual_model_visual_groups_path(@visual_group.visual_model)) %>
</p>

<%= render 'form', visual_group: @visual_group %>

<p>
  <%= link_to(:visual_group_show.t, @visual_group) %> |
  <%= link_to(:visual_group_back_to_index.t,
              visual_model_visual_groups_path(@visual_group.visual_model)) %>
</p>
