<p id="notice"><%= notice %></p>

<h1>Visual Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Approved</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @visual_groups.each do |visual_group| %>
      <tr>
        <td width="25%"><%= link_to(visual_group.name, visual_group) %></td>
        <td width="25%"><%= visual_group.approved %></td>
        <td width="25%"><%= link_to 'Edit', edit_visual_group_path(visual_group) %></td>
        <td width="25%"><%= link_to 'Destroy', visual_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visual Group', new_visual_model_visual_group_path(@visual_model) %>
