<p id="notice"><%= notice %></p>

<h1>Visual Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reviewed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visual_groups.each do |visual_group| %>
      <tr>
        <td><%= visual_group.group_name.text_name %></td>
        <td><%= visual_group.reviewed %></td>
        <td><%= link_to 'Show', visual_group %></td>
        <td><%= link_to 'Edit', edit_visual_group_path(visual_group) %></td>
        <td><%= link_to 'Destroy', visual_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visual Group', new_visual_group_path %>
