<%
  @title = :show_visual_group_title.t(name: @visual_group.name)
%>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= :REVIEWED.t %>:</strong>
  <%= @visual_group.reviewed %>
</p>
<p>
  Members
  <ul>
    <% @visual_group.names.each do |name|
       link = link_to(name.display_name_brief_authors.t,
                      controller: :name,
                      action: :show_name, id: name.id) %>
      <li>
	<%= content_tag(:p, link + " (#{name.observations.count})") %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  Total observations: <%= @visual_group.total_observations %>
</p>

<%= link_to :show_visual_group_edit.t, edit_visual_group_path(@visual_group) %> |
<%= link_to :show_visual_group_back_to_index.t, visual_groups_path %>
