<%
  add_page_title(:show_visual_group_title.t(name: @visual_group.name))
  javascript_include("visual_group_status")
%>

<p id="notice"><%= notice %></p>

<p>
  <%= link_to(:visual_group_edit.t,
              edit_visual_group_path(@visual_group)) %> |
  <%= link_to(:visual_group_index.t,
              visual_model_visual_groups_path(@visual_group.visual_model)) %>
</p>

<p>
  <strong><%= :DESCRIPTION.t %>:</strong><br/>
  <%= @visual_group.description %>
</p>

<p>
  <strong><%= :APPROVED.t %>:</strong>
  <%= @visual_group.approved %>
</p>

<hr>

<% if @filter %>
  <strong>Showing definitional images for "<%= @filter %>"</strong><br>
  <%= link_to("Show All Definitional Images", visual_group_path(@visual_group)) %>
<% else %>
<p>
  <%= :"visual_group_count_included".t(count: @visual_group.image_count("included")) %>
</p>

<p>
  <strong><%= :visual_group_includes_names.t %>:</strong><br>
  <% @visual_group.distinct_names.each do |name| %>
    <%= link_to(name[0],
        visual_group_path(@visual_group, filter: name[0])) %><br>
  <% end %>
</p>
<% end %>

<%= render(partial: "visual_groups/image_matrix",
           locals: { visual_group: @visual_group, status: "included" }) %>
<% @container = :full %>

<p>
  <%= link_to(:visual_group_edit.t,
              edit_visual_group_path(@visual_group)) %> |
  <%= link_to(:visual_group_index.t,
              visual_model_visual_groups_path(@visual_group.visual_model)) %>
</p>
