<%
  @title = :show_visual_group_title.t(name: @visual_group.name)
%>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= :APPROVED.t %>:</strong>
  <%= @visual_group.approved %>
</p>
<p>
  Members
  <ul>
    <% @visual_group.images.each do |image|
       link = link_to(image.unique_format_name.t,
                      controller: :image,
                      action: :show_image, id: image.id) %>
      <li>
	<%= content_tag(:p, link) %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to :show_visual_group_edit.t, edit_visual_group_path(@visual_group) %> |
<%= link_to :show_visual_group_back_to_index.t, visual_groups_path %>
