<%
  @title = :show_visual_group_title.t(name: @visual_group.name)
%>

<p id="notice"><%= notice %></p>

<p>
  <%= link_to(:visual_group_edit.t,
              edit_visual_group_path(@visual_group)) %> |
  <%= link_to(:visual_group_back_to_index.t,
              visual_model_visual_groups_path(@visual_group.visual_model)) %>
</p>

<p>
  <strong><%= :DESCRIPTION.t %>:</strong><br/>
  <%= @visual_group.description %>
</p>

<p>
  <strong><%= :APPROVED.t %>:</strong>
  <%= @visual_group.approved %>
</p>

<p>
  <%= @visual_group.image_count %>
  <%= :definitional_images.t %>
</p>

<%= render(partial: "image_matrix",
           locals: { visual_group: @visual_group }) %>
<% @container = :full %>

<p>
  <%= link_to(:visual_group_edit.t,
              edit_visual_group_path(@visual_group)) %> |
  <%= link_to(:visual_group_back_to_index.t,
              visual_model_visual_groups_path(@visual_group.visual_model)) %>
</p>
