<%
classes = sidebar_css_classes
%>

<nav id="sidebar" class="sidebar-offcanvas col-xs-8 col-sm-2 hidden-print">
  <!--SIDEBAR LOGO AND NAVIGATION-->
  <div id="navigation">
    <a id="logo_link" href="<%= browser.bot? ? "/sitemap/index.html" : "/" %>">
      <img class="logo-trim img-responsive py-10px" alt="Mushroom Observer Logo"
            src="/logo-trim.png"/>
    </a><!-- #logo_link -->

    <div class="<%= classes[:wrapper] %>" data-controller="nav-active">

      <%# This cache depends only on user status (logged-in? admin?) %>
      <% cache([user_status_string(@user), "login"]) do %>
        <% if in_admin_mode? %>
          <%= render(Components::Sidebar::Admin.new(classes: classes)) %>
        <% elsif @user.nil? %>
          <%= render(Components::Sidebar::Login.new(classes: classes)) %>
        <% end %>
      <% end %>

      <%= yield(:context_nav_mobile) if @user %>

      <%# If caching obs/spl, this should be keyed for both User and QueryRecord
          (i.e. cache invalidated if query record updated, or new ID). %>
      <%# cache([@user, current_query_record]) do %>
      <%= render(Components::Sidebar::User.new(
        user: @user, classes: classes, in_admin_mode: in_admin_mode?
      )) if @user %>

      <%= render(Components::Sidebar::Observations.new(user: @user, classes: classes)) %>

      <%= render(Components::Sidebar::SpeciesLists.new(user: @user, classes: classes)) if @user %>
      <%# end %>

      <%# This cache depends only on user status (logged-in? admin?) %>
      <% cache([user_status_string(@user), "links"]) do %>
        <%= render(Components::Sidebar::Latest.new(user: @user, classes: classes)) %>

        <%= render(Components::Sidebar::Indexes.new(classes: classes)) if @user %>

        <%= render(Components::Sidebar::Info.new(classes: classes)) %>

        <%= render(Components::Sidebar::Languages.new(
          browser: browser, request: request
        )) %>
      <% end %>

    </div><!-- .sidebar-nav -->

  </div><!-- #navigation -->
  <!--/SIDEBAR LOGO AND NAVIGATION-->
</nav><!-- #sidebar -->
