<%
  numbers  = @observation.collection_numbers
  can_edit = in_admin_mode? || @observation.can_edit?

  # This is passed in to show_collection_number, allowing users to do prev,
  # next and index from there to navigate through all the rest for this obs.
  query = Query.lookup(:CollectionNumber, :all, observations: @observation.id)
%>

<% unless @user.try(&:hide_specimen_stuff?) ||
          @observation.user.try(&:hide_specimen_stuff?) %>
  <% if numbers.any? && can_edit %>
    <div>
      <b><%= :Collection_numbers.t %>:</b> [<%=
        link_to :create_collection_number.t,
                new_collection_number_path(id: @observation.id,
                                           q: get_query_param)
      %>]
    </div>
    <ul class="tight-list">
      <% numbers.each do |number| %>
        <li>
          <%= link_to "<i>#{number.format_name.t}</i>".html_safe,
                collection_number_path(id: number.id, q: get_query_param) %>
          [<%= link_to :EDIT.t, edit_collection_number_path(id: number.id,
                  back: @observation.id, q: get_query_param) %> |
           <%= link_to :REMOVE.t,
                  collection_numbers_remove_observation_path(id: number.id,
                    obs: @observation.id, q: get_query_param),
                  { data: { confirm: :are_you_sure.t } } %>]
        </li>
      <% end %>
    </ul>

  <% elsif numbers.any? && !can_edit %>
    <%= numbers.count > 1 ? :Collection_numbers.t : :Collection_number.t %>:
    <%= numbers.map do |number|
          link_to "<i>#{number.format_name.t}</i>".html_safe,
            collection_number_path(id: number.id, q: get_query_param)
        end.safe_join(", ") %>

  <% elsif numbers.none? && can_edit %>
    <%= :show_observation_no_collection_numbers.t %> [<%=
    link_to :create_collection_number.t,
            new_collection_number_path(id: @observation.id,
                                       q: get_query_param)
    %>]
  <% end %>
<% end %>
