<%
  records = @observation.herbarium_records
  can_add = in_admin_mode? || @observation.can_edit? ||
            @user && @user.curated_herbaria.any?

  # This is passed in to show_herbarium_record, allowing users to do prev,
  # next and index from there to navigate through all the rest for this obs.
  query = Query.lookup(:HerbariumRecord, :all, observations: @observation.id)
%>

<% unless @user.try(&:hide_specimen_stuff?) ||
          @observation.user.try(&:hide_specimen_stuff?) %>
  <% if records.any? && can_add %>
    <div>
      <%= :Herbarium_records.t %>: [<%=
        # link_with_query(:create_herbarium_record.t,
        #                 controller: :herbarium_records,
        #                 action: :new,
        #                 id: @observation.id)
        link_to new_herbarium_record_path(:id => @observation.id,
                                          :q => get_query_param)
      %>]
    </div>
    <ul class="tight-list">
      <% records.each do |record| %>
        <li>
          <%= link_to(record.accession_at_herbarium.t,
                      add_query_param(record.show_link_args, query)) %>
          <% if in_admin_mode? || record.can_edit? %>
            [<%= link_with_query(:EDIT.t,
                                 controller: :herbarium_records,
                                 action: :edit,
                                 id: record.id,
                                 back: @observation.id) %> |
             <%= link_with_query(:REMOVE.t,
                                 { controller: :herbarium_records,
                                   action: :remove_observation,
                                   id: record.id,
                                   obs: @observation.id },
                                 { data: { confirm: :are_you_sure.t } }) %>]
          <% end %>
        </li>
      <% end %>
    </ul>

  <% elsif records.any? && !can_add %>
    <div>
      <%= records.count > 1 ? :Herbarium_records.t : :Herbarium_record.t %>:
    </div>
    <ul class="tight-list">
      <% records.each do |record| %>
        <li>
          <%= link_to(record.accession_at_herbarium.t,
                      add_query_param(record.show_link_args, query)) %>
        </li>
      <% end %>
    </ul>

  <% elsif records.none? && can_add %>
    <%= :show_observation_no_herbarium_records.t %> [<%=
      # link_with_query(:create_herbarium_record.t,
      #                 controller: :herbarium_records,
      #                 action: :new,
      #                 id: @observation.id)
      link_to new_herbarium_record_path(:id => @observation.id,
                                        :q => get_query_param)
    %>]
  <% end %>
<% end %>
