<%
  # TODO: NIMMO This is a slider template, reformat in Bootstrap 4
  # javascript_include("image_slider")
  default_image = @observation.thumb_image
  has_images = !@observation.images.nil? && @observation.images.any?
%>

<% if has_images || check_permission(@observation) %>
  <div class="row">
    <div class="col-sm-4">
      <%= content_tag(:h4, :IMAGES.t, class: "mt-0") %>
    </div>
    <% if check_permission(@observation) %>
      <div class="col-sm-8">
        <div class="float-right">
          <small>
            <%= link_with_query(:show_observation_add_images.t,
                                controller: :images,
                                action: :new,
                                id: @observation.id) %> |
            <%= link_with_query(:show_observation_reuse_image.t,
                                controller: :images,
                                action: :reuse_image,
                                obs_id: @observation.id,
                                mode: :observation) %>
            <% if @observation.images.length > 0 %>
                | <%= link_with_query(:show_observation_remove_images.t,
                                      controller: :images,
                                      action: :remove_images,
                                      id: @observation.id) %>
            <% end %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if has_images %>
  <div class="row">
    <div class="col-12">
      <div class="mx-3">
        <div class="slider responsive">
          <% unless default_image.nil? %>
            <div>
              <%
                 notes = !default_image.notes || default_image.notes.blank? ? "" : default_image.notes
                 notes += "\n#{default_image.original_name}" if !default_image.original_name.blank? && \
                     (check_permission(default_image) || default_image.user && default_image.user.keep_filenames == :keep_and_show)
              %>
              <%= thumbnail(default_image, notes: notes) %>
            </div>
          <% end %>
          <% @observation.images.each do |img| %>
            <%
              notes = !img.notes || img.notes.blank? ? "" : img.notes
              notes += "\n#{img.original_name}" if !img.original_name.blank? && \
                    (check_permission(img) || img.user && img.user.keep_filenames == :keep_and_show)
            %>
            <% if img != default_image %>
              <div>
                <%= thumbnail(img, notes: notes) %>
              </div>
            <% end %>
          <% end %>
          <div class="d-none d-sm-block">
            <!--This div makes the last image always available to scroll into view -->
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
