<% # TODO: NIMMO This is the slowest partial in Observation.
   # Section showing information about consensus name in ShowObservation
  lines = []
  @name = observation.name
%>

<section id="name_info_partial" class="mb-4">
  <div class="card">

    <div class="card-header bg-secondary text-secondary-text">
      <strong>About This Name</strong>
    </div>

    <div class="card-body name-section">

      <%# links to pages (internal & external) about name
            About Polyozellus
            on MyCoPortal
            on MycoBank %>
      <p class="mb-1">
        <%= link_to :show_name.t(name: @name.display_name_brief_authors),
                    name_path(@name.id) %>
      </p>
      <p class="mb-1">
        <%= link_to "MyCoPortal",
                    mycoportal_url(@name),
                    target: :_blank  %>
      </p>
      <p class="mb-1">
        <%= link_to "Mycobank",
                    mycobank_url(@name),
                    target: :_blank  %>
      </p>

      <%= # links to approved MO synonyms
          if (synonym_links = approved_syn_links(@name))
            tag.p synonym_links, class: "mb-1"
          end %>

      <%
        if !@name.unknown? && !browser.bot?
        # links to observations %>
        <%= tag.p :show_observations_of.t, class: "mb-0" %>
        <div class="pl-3">
          <%= # Observations of this name
            tag.p obss_of_name(@name), class: "mb-1" %>

          <% # Observations of each synonym
          links = obss_by_syn_links(@name)
          if links.present? && links.size > 0
            links.each { |link| tag.p link, class: "mb-1" } %>
          <% end %>

          <%= # Observations of taxon (under any name)
            tag.p taxon_observations(@name), class: "mb-1" %>

          <%= # Observations of other taxa where this taxon was proposed
            tag.p taxon_proposed(@name) || "#{:obss_taxon_proposed.t} (0)",
                  class: "mb-1" %>

          <%= # Observations where this Name was proposed
            tag.p name_proposed(@name) || "#{:obss_name_proposed.t} (0)",
                  class: "mb-1" %>
        </div>

          <%= # List of species in the genus.
              #   List of species in Amanita Pers. (1433)
          if (link = show_obs_genera(@name)).present?
            tag.p link, class: "mb-1"
          end %>
      <% end %>

      <% # Descriptions of this name
        links = list_descriptions(@name)
        if links.present?
          links.each { |link| tag.p link, class: "mb-1" } %>
        <% end %>

    </div><!-- .card-body -->
  </div><!-- .card -->
</section><!-- #name_info_partial -->
