<% # Section showing information about the observation itself in ShowObservation %>

<section id="observation_partial" class="h-100">

  <div class="card-body bg-secondary text-secondary-text pl-md-5 py-2">
    <strong class="">Observation details</strong>
  </div>

  <div class="name-section card-body pl-md-5">

    <p id="observation_when">
      <span class="font-weight-bold"><%= :WHEN.t %>:</span> <%= @observation.when.web_date %>
    </p>

    <p id="observation_where">
      <span class="font-weight-bold">
        <%= @observation.is_collection_location ?
            :show_observation_collection_location.t :
            :show_observation_seen_at.t %>:
      </span>
      <%= location_link(@observation.place_name,
                        @observation.location, nil, true) %>
    </p>

    <p id="observation_lat_lng">
      <%= render "observations/show/lat_lng",
                 locals: { observation: @observation } %>
    </p>

    <p id="observation_who">
      <span class="font-weight-bold"><%= :WHO.t %>:</span> <%= user_link(@observation.user) %>
    </p>

    <div id="observation_projects">
      <% @observation.projects.each do |project| %>
           <p><%= :PROJECT.t %>: <%= link_to_object(project) %></p>
      <% end %>
    </div>

    <div id="specimen_available">
      <%= @observation.specimen ? :show_observation_specimen_available.t :
                                 :show_observation_specimen_not_available.t %>
    </div>

    <div id="observation_collection_numbers">
      <%= render "observations/show/collection_numbers",
                 locals: { observation: @observation } %>
    </div>

    <div id="observation_herbarium_records">
      <%= render "observations/show/herbarium_records",
                 locals: { observation: @observation } %>
    </div>

    <div id="observation_sequences">
      <%= render "observations/show/sequences",
                 locals: { observation: @observation } %>
    </div>

    <div class="obs-notes">
      <%= if @observation.notes?
        Textile.clear_textile_cache
        Textile.register_name(*@observation.namings.map(&:name))
        Textile.register_name(@observation.name)
        content_tag(
          :div, @observation.notes_show_formatted.sub(/^\A/, "#{:NOTES.t}:\n").tpl
        )
      end %>
    </div><!-- .obs-notes -->

  </div><!-- .card-body -->

</section><!-- #observation_partial -->
