<%
# The basic info box for the observation
obs_id = observation.id
caption ||= false
%>

<p class="obs-when card-text" id="observation_when">
  <%= tag.b(:WHEN.t + ":") %> <%= observation.when.web_date %>
</p>

<p class="obs-where card-text" id="observation_where">
  <%= label = observation.is_collection_location ?
        :show_observation_collection_location.t :
        :show_observation_seen_at.t
    tag.b(label + ":") %>
  <%= location_link(observation.place_name,
                    observation.location, nil, true) %>
</p>

<p class="obs-lat-lng card-text" id="observation_lat_lng">
  <%=
    hidden = "<i>(#{:show_observation_gps_hidden.t})</i>".html_safe
    if observation.lat &&
        (!observation.gps_hidden || observation.can_edit?)
      link_to("#{observation.display_lat_long.t} " \
              "#{observation.display_alt.t} " \
              "[#{:click_for_map.t}]".html_safe,
              map_observation_path(id: obs_id))
    elsif observation.lat
      hidden + " ".html_safe + observation.display_alt.t
    else
      observation.display_alt.t
    end
  %>
  <%=
    if observation.lat && observation.gps_hidden && observation.can_edit?
      hidden
    end
  %>
</p>

<p class="obs-who card-text" id="observation_who">
  <%= tag.b(:WHO.t + ":") %> <%= user_link(observation.user) %>
</p>

<% if !caption %>
  <% if @user %>
    <div class="obs-projects" id="observation_projects">
      <% observation.projects.each do |project| %>
        <%= tag.p(class: "card-text") do
          [
            (:PROJECT.t + ":"),
            link_to_object(project)
          ].safe_join(" ")
        end %>
      <% end %>
    </div>
  <% end %>

  <div class="obs-specimen card-text"
       id="observation_specimen_available">
    <%= observation.specimen ? :show_observation_specimen_available.t :
                                :show_observation_specimen_not_available.t %>
  </div>

  <% if @user %>
    <%= render(partial: "observations/show/collection_numbers",
               locals: { observation: observation }) %>

    <%= render(partial: "observations/show/herbarium_records",
               locals: { observation: observation }) %>

    <%= render(partial: "observations/show/sequences",
               locals: { observation: observation }) %>
  <% end %>
<% end %>

<div class="obs-notes card-text" id="observation_notes">
  <%= if observation.notes?
    Textile.clear_textile_cache
    Textile.register_name(observation.name)
    tag.div(
      observation.notes_show_formatted.sub(/^\A/, tag.b(:NOTES.t + ":\n")).tpl
    )
  end %>
</div><!--.obs-notes-->


