<%
if obs.location
  loc = obs.location
  n = ((90.0 - loc.north) / 1.80).round(6)
  s = ((90.0 - loc.south) / 1.80).round(6)
  e = ((180.0 + loc.east) / 3.60).round(6)
  w = ((180.0 + loc.west) / 3.60).round(6)
end

lat, long = if obs.lat && obs.long
  [obs.public_lat, obs.public_long]
elsif obs.location
  obs.location.center
end
if lat && long
  x = ((180.0 + long) / 3.60).round(6)
  y = ((90.0 - lat) / 1.80).round(6)
end

map_url = map_observation_path(id: obs.id, q: get_query_param)
hide_map_path = add_query_param(
                  javascript_hide_thumbnail_map_path(id: obs.id)
                )
%>

<div class="hidden-xs panel panel-default" id="observation_thumbnail_map">

  <%= tag.div(class: "panel-heading") do
    tag.h4(class: "panel-title") do
      concat(:MAP.t)
      concat(
        tag.span(class: "float-right") do
          link_to(hide_map_path) do
            concat(tag.span(:show_observation_hide_map.t, class: "sr-only"))
            concat(tag.span("", class: "glyphicon glyphicon-eye-close"))
          end
        end
      )
    end
  end%>

  <div class="panel-body p-0 position-relative">

    <div class="thumbnail-buttons">
      <div class="plus-button"></div>
      <div class="minus-button"></div>
    </div><!--.thumbnail-buttons-->

    <div class="thumbnail-map">

      <%= if obs.location
        if w < e && s > n
          content_tag(:div, "",
            class: "thumbnail-map-box",
            style: "left:#{w}%; top:#{n}%; width:#{e-w}%; height:#{s-n}%"
          )
        elsif w > e && s > n
          content_tag(:div, "",
            class: "thumbnail-map-box",
            style: "left:0%; top:#{n}%; width:#{e}%; height:#{s-n}%"
          ) +
          content_tag(:div, "",
            class: "thumbnail-map-box",
            style: "left:#{w}%; top:#{n}%; width:#{100-w}%; height:#{s-n}%"
          )
        end
      end %>

      <% if lat && long %>
        <div class="pin-offset">
          <div class="red-pin" style="left:<%= x %>%; bottom:<%= 100-y %>%"></div>
        </div>
      <% end %>

      <%= image_tag("globe.jpg", width: "100%", id: "globe_image",
                    data: { globe_large_url: "#{image_url("globe_large.jpg")}" })%>
    </div><!--.thumbnail-map-->
  </div><!--.thumbnail-map-container-->

</div><!--#observation_thumbnail_map-->

<%= if lat && long
  javascript_tag %{
    var THUMBNAIL_MAP_ON   = true;
    var THUMBNAIL_MAP_X    = #{x};
    var THUMBNAIL_MAP_Y    = #{y};
    var THUMBNAIL_MAP_LINK = "#{map_url}";
  }
end %>
