<%= form_with(model: @user, url: account_profile_path,
              html: { multipart: true }, id: "account_profile_form") do |f| %>

  <%= f.submit(:profile_button.l, class: "btn btn-default center-block mt-3") %>

  <div class="form-group mt-3">
    <%= f.label(:name, :profile_name.t + ":") %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>

  <div class="form-group mt-3">
    <%= f.label(:place_name, :profile_location.t + ":") %> (33%)
    <%= f.text_field(:place_name,
                     value: @place_name, class: "form-control") %>
    <% turn_into_location_auto_completer("user_place_name") %>
  </div>

  <div class="form-group mt-3">
    <%= f.label(:notes, :profile_notes.t + ":") %> (33%)
    <%= f.text_area(:notes, rows: 10, class: "form-control") %>
  </div>

  <div class="form-group mt-3">
    <%= f.label(:upload_image,
                (@user.image_id ? :profile_image_change.t :
                  :profile_image_create.t) + ":") %> (33%)
    <%= link_to(:profile_image_reuse.t,
                account_edit_profile_image_path) %>
    <%= custom_file_field(:user, :upload_image) %>
  </div>

  <div class="form-group mt-3">
    <%= fields_for(:upload) do |fu| %>

      <%= fu.label(:copyright_holder, :profile_copyright_holder.t + ":") %>
      <div class="row">
        <div class="col-xs-8">
          <%= fu.text_field(:copyright_holder, value: @copyright_holder,
                            class: "form-control") %>
        </div>
        <div class="col-xs-4">
          <%= select_year(@copyright_year,
                          { field_name: :copyright_year,
                            start_year: 1980, end_year: Time.zone.now.year },
                          { class: "form-control" }) %>
        </div>
      </div>

      <div class="mt-3">
        <%= fu.select(:license_id, @licenses,
                      { selected: @upload_license_id },
                      { class: "form-control" }) %>
      </div>
      <div class="help-block">(<%= :profile_copyright_warning.t %>)</div>

    <% end %>

  </div>

  <div class="form-group mt-3">
    <%= f.label(:mailing_address, :profile_mailing_address.t + ":") %>
    <%= f.text_area(:mailing_address, rows: 5, class: "form-control") %>
  </div>

  <%= f.button(:profile_button.l, class: "btn btn-default center-block mt-3") %>

<% end %>
