<%
add_page_title(:show_location_title.t(name: @location.display_name))
add_pager_for(@location)
add_interest_icons(@user, @location)
add_tab_set(location_show_tabs(location: @location))
@container = :full
%>

<div class="row">
  <div class="col-md-7">
    <%= tag.div(class: "mb-5") do
      make_map(objects: [@location])
    end %>

    <%= render(partial: "locations/show/descriptions") %>
  </div>

  <div class="col-md-5">
    <%= render(partial: "locations/show/coordinates") %>
    <%= render(partial: "locations/show/notes") %>
  </div>
</div><!--.row-->

<div class="mt-3">
  <%= show_object_footer(@location, @versions) %>
</div>

