<%
add_page_title(:show_location_title.t(name: @location.display_name))
add_pager_for(@location)
add_interest_icons(@user, @location)
add_tab_set(location_show_tabs)
@container = :full
%>

<% if @location.hidden %>
  <p>
    <%= :show_location_hidden.t %>
  </p>
<% end %>

<div class="row">
  <div class="col-md-7">
    <%= tag.div(class: "mb-5") { make_map(objects: [@location]) } %>
    <%= render(partial: "locations/show/general_description_panel") %>
    <%= render(partial: "comments/comments_for_object",
                locals: { object: @location, comments: @comments,
                          controls: @user, limit: 2 }) %>
  </div>

  <div class="col-md-5">
    <%= render(partial: "locations/show/coordinates") %>
    <%= render(partial: "locations/show/notes") %>
    <%= show_alt_descriptions_panel(object: @location, projects: @projects) %>
    <%= render(partial: "locations/show/footer") %>
  </div>
</div><!--.row-->

<div class="mt-3">
  <%= show_object_footer(@location, @versions) %>
</div>

