<!-- Login Settings for Account Preferences Form -->

<div class="form-group">
  <%= f.label(:login, :prefs_login.t + ":") %>
  <%= f.text_field(:login, class: "form-control") %>
</div>

<div class="form-group">
  <%= f.label(:email, :prefs_email.t + ":") %>
  <%= f.text_field(:email, class: "form-control") %>
</div>

<div class="form-group">
  <%= f.label(:password, :prefs_password_new.t + ":") %>
  <%= f.password_field(:password, value: "", class: "form-control") %>
</div>

<div class="form-group">
  <%= f.label(:password_confirmation, :prefs_password_confirm.t + ":") %>
  <%= f.password_field(:password_confirmation, value: "",
                          class: "form-control") %>
</div>

<%= centered_submit(form: f, button: :SAVE_EDITS.l) %>
