 <!-- Privacy Settings of Account Preferences Form -->
<div class="form-group mt-3 font-weight-bold">
  <%= :prefs_privacy.t %>
</div>

<div class="form-group mt-3">
  <%= f.label(:votes_anonymous,
              :prefs_votes_anonymous.t + ":") %><br/>
  <%= values = [
        [:prefs_votes_anonymous_no.l, :no],
        [:prefs_votes_anonymous_yes.l, :yes],
      ]
  # Let old users grandfather old anonymous votes,
  # but choose to go public from here forward.
  if @user.created_at && @user.created_at < Time.zone.parse(MO.vote_cutoff)
    values << [:prefs_votes_anonymous_old.l(cutoff: MO.vote_cutoff), :old]
  end
  f.select(:votes_anonymous, values, {},
            { class: "form-control d-inline-block w-auto mr-3" }) %>

  <span class="help-note">
    <%= link_to(:prefs_change_image_vote_anonymity.t,
                image_bulk_vote_anonymity_updater_path) %>
  </span>

</div>

<div class="form-group mt-3">
  <%= f.label(:keep_filenames,
              :prefs_keep_image_filenames.t + ":") %><br/>
  <%= f.select(:keep_filenames,
                [[:prefs_keep_image_filenames_toss.l, "toss"],
                [:prefs_keep_image_filenames_keep_but_hide.l,
                  "keep_but_hide"],
                [:prefs_keep_image_filenames_keep_and_show.l,
                  "keep_and_show"]],
                {}, { class: "form-control d-inline-block w-auto mr-3" }) %>

  <span class="help-note">
    <%= link_to(:prefs_bulk_filename_purge.t,
                image_bulk_filename_purge_path,
                { data:
                  { confirm: :prefs_bulk_filename_purge_confirm.l } }) %>
  </span>
</div>

<div class="form-group mt-3">
  <%= f.label(:license_id, :License.t + ":") %>
  <span class="help-note">(<%= :prefs_license_note.t %>)</span><br/>
  <%= f.select(:license_id, @licenses, {},
                { class: "form-control d-inline-block w-auto mr-3" }) %>
  <span class="help-note">
    <%= link_to(:bulk_license_link.t, image_license_updater_path) %>
  </span>
</div>

<%= f.button(:SAVE_EDITS.l,
             data: { disable_with: safe_spinner(:SAVE_EDITS.l) },
             class: "btn btn-default center-block mt-3") %>
