<%
anon_values = [
  [:prefs_votes_anonymous_no.l, :no],
  [:prefs_votes_anonymous_yes.l, :yes],
]
# Let old users grandfather old anonymous votes,
# but choose to go public from here forward.
if @user.created_at && @user.created_at < Time.zone.parse(MO.vote_cutoff)
  anon_values << [:prefs_votes_anonymous_old.l(cutoff: MO.vote_cutoff), :old]
end

filename_values = [
  [:prefs_keep_image_filenames_toss.l, "toss"],
  [:prefs_keep_image_filenames_keep_but_hide.l, "keep_but_hide"],
  [:prefs_keep_image_filenames_keep_and_show.l, "keep_and_show"]
]
%>

<!-- Privacy Settings of Account Preferences Form -->
<div class="form-group mt-3 font-weight-bold">
  <%= :prefs_privacy.t %>
</div>

<div class="form-group mt-3">
  <%= f.label(:votes_anonymous,
              :prefs_votes_anonymous.t + ":") %><br/>
  <%= f.select(:votes_anonymous, anon_values, {},
               { class: "form-control d-inline-block w-auto mr-3" }) %>
</div>

<div class="form-group mt-3">
  <%= f.label(:keep_filenames,
              :prefs_keep_image_filenames.t + ":") %><br/>
  <%= f.select(:keep_filenames, filename_values, {},
               { class: "form-control d-inline-block w-auto mr-3" }) %>
</div>

<div class="form-group mt-3">
  <%= f.label(:license_id, :License.t + ":") %>
  <%= content_tag(:span, "(#{:prefs_license_note.t} %>)", class: "help-note") %>
  <br/>
  <%= f.select(:license_id, @licenses, {},
                { class: "form-control d-inline-block w-auto mr-3" }) %>
</div>

<%= centered_submit(form: f, button: :SAVE_EDITS.l) %>
