<%
  @title = :email_new_password_title.t
%>

<div class="help-note">
  <%= :email_new_password_help.tp + :email_spam_notice.tp %>
</div>

<%= form_with(scope: :new_user, url: account_new_password_request_path,
              id: "account_email_new_password_form") do |f| %>

  <div class="form-group">
    <%= f.label(:login, :login_user.t + ":") %>
    <%= f.text_field(:login, data: { autofocus: true }) %>
  </div>

  <%= centered_submit(form: f, button: :SEND.l) %>

<% end %>
