<%
add_page_title(:theme_amanita.tl)

add_tab_set(theme_show_tabs)
%>

<%= :theme_amanita_pachycolea.tp(link: "XXX").sub("XXX", link_to("**__Amanita pachycolea__**".t, image_path(id: 644))).html_safe %>

<%= :theme_amanita_muscaria.tp(link: "XXX").sub("XXX", link_to("**__Amanita muscaria__**".t, image_path(id: 651))).html_safe %>

<%= :theme_amanita_velosa.tp(link: "XXX").sub("XXX", link_to("**__Amanita velosa__**".t, image_path(id: 623))).html_safe %>

<p>
  <span class="ListLine0">
    <%= :theme_amanita_calyptroderma.t(link: "XXX").sub("XXX", link_to("The fall form of **__Amanita calyptroderma__**".t, image_path(id: 669))).html_safe %>
  </span>
</p>

<p>
  <span class="ListLine1">
    <%= :theme_amanita_phalloides.t(link: "XXX").sub("XXX", link_to("**__Amanita phalloides__**".t, image_path(id: 636))).html_safe %>
  </span>
</p>

<%= :theme_switch.tp(theme: :Amanita.t) %>
