<%
add_page_title(:theme_hygrocybe.tl)

add_tab_set(theme_show_tabs)
%>

<%= :theme_hygrocybe_miniata.tp(link: "XXX").sub("XXX", link_to("**__Hygrocybe miniata__**".t, image_path(id: 369))).html_safe %>

<%= :theme_hygrocybe_pittacina.tp(link: "XXX").sub("XXX", link_to("**__Hygrocybe pittacina__**".t, image_path(id: 368))).html_safe %>

<p>
  <span class="ListLine1">
    <%= :theme_hygrocybe_conica.t(link: "XXX").sub("XXX", link_to("**__Hygrocybe conica__**".t, image_path(id: 371))).html_safe %>
  </span>
</p>

<p>
  <span class="ListLine0">
    <%= :theme_hygrocybe_punicea.t(link: "XXX").sub("XXX", link_to("**__Hygrocybe punicea__**".t, image_path(id: 366))).html_safe %>
  </span>
</p>

<%= :theme_switch.tp(theme: :Hygrocybe.t) %>
