
<!-- Container to show messages relating to the selected images -->
<div id="img_messages" class="fade" style="display: none;"
     data-obs-form-images-target="imgMessages">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <div class="inconsistent_date_options">
          <%= tag.div(:form_observations_set_observation_date_to.t + ":",
                      class: "font-weight-bold") %>
          <%= tag.div("",
                      id: "img_date_radios",
                      data: { obs_form_images_target: "imgDateRadios" }) %>
          <%= tag.div(:form_observations_set_image_dates_to.t + ":",
                      class: "font-weight-bold") %>
          <%= tag.div("",
                      id: "obs_date_radios",
                      data: { obs_form_images_target: "obsDateRadios" }) %>
        </div>
        <div class="mt-3">
          <%= js_button(
                button: :form_observations_use_date.t,
                name: "fix_dates", id: "fix_dates",
                data: { action: "obs-form-images#fixDates" }) %>
          <%= js_button(
                button: :IGNORE.t,
                name: "ignore_dates", id: "ignore_dates",
                data: { action: "obs-form-images#ignoreDates" }) %>
        </div>
      </div><!--.col-->

      <div class="col-sm-4">
        <%= tag.span(:form_observations_date_warning.t) %>
      </div><!--.col-->

    </div><!--.row-->
  </div><!--.well-->
</div><!--#image_messages-->

<div id="gps_messages" class="fade" style="display: none;"
     data-obs-form-images-target="gpsMessages">
  <div class="well well-sm">
    <div class="row">

      <div class="col-sm-7">
        <%= tag.div("Set observation Latitude/Longitude to:",
                    class: "font-weight-bold") %>
        <%= tag.div("", id: "gps_radios", class: "mb-3",
                        data: { obs_form_images_target: "gpsRadios" }) %>
        <%= js_button(button: :UPDATE.t, name: "set_gps",
                      id: "set_gps",
                      data: { action: "obs-form-images#setGps" }) %>
        <%= js_button(button: :IGNORE.t, name: "ignore_gps", id: "ignore_gps",
                      data: { action: "obs-form-images#ignoreGps" }) %>
      </div>

      <div class="col-sm-4">
        <%= tag.span(:form_observations_gps_info.t) %>
        <%= tag.div("", id: "image_gps_map", class: "w-100",
                        data: { obs_form_images_target: "imageGpsMap" }) %>
      </div>

    </div><!--.row-->
  </div><!--.well-->
</div><!--#geocode_messages-->
