<%
  case @notification.flavor.to_s
  when "name"
    obj  = @naming.observation
    type = :observation
  else
    obj  = @notification.object
    type = obj.type_tag
  end

  intro = :email_naming_for_observer_intro.l(
    user:  @notification.user.legal_name,
    email: @notification.user.email,
    type:  type,
    name:  obj.unique_format_name
  )

  message = @notification.calc_note(
    user:   @user,
    naming: @naming
  )

  handy_links = :email_can_respond.l(
    name:  @notification.user.legal_name,
    email: @notification.user.email
  )
  handy_links.sub!(/\n*\Z/, "\n" + :email_handy_links.l)

  links = []
  links.push([:email_links_show_object.t(type: type),
    "#{MO.http_domain}/#{obj.show_controller}/#{obj.show_action}/#{obj.id}"])
  links.push([:email_links_latest_changes.t,
    MO.http_domain])

  warning_msg = :email_naming_for_observation_warning.l
  report_abuse = :email_report_abuse.l(email: MO.webmaster_email_address)

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
  <%= message.tp %>
</div>
<%= handy_links.tp %>
<ul type=none>
  <% for label, url in links %>
    <li><%= label %>: <%= link_to(url, url) %></li>
  <% end %>
</ul>
<%= warning_msg.tp %>
<%= report_abuse.tp %>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

<%= message.tp.html_to_ascii %>

--------------------------------------------------

<%= handy_links.tp.html_to_ascii %>

<%= result = "".html_safe
  for label, url in links
    result += label.html_to_ascii + ": " + url.html_safe + "\n"
  end
  result %>
<%= warning_msg.tp.html_to_ascii %>

<%= report_abuse.tp.html_to_ascii %>
<% end %>
