<%
  @title = :pivotal_index_title.l
  javascript_include("pivotal")

  label_map = {}
  for story in @stories

    # Gather stories by label.
    for label in story.labels
      if story.label_value(label) >= 0
        (label_map[label] ||= []) << story.id
      end
    end

    # Gather stories by state.
    (label_map[story.state] ||= []) << story.id

    # Gather stories by how recent last comment was.
    if story.activity == "day"
      (label_map["day"]   ||= []) << story.id
      (label_map["week"]  ||= []) << story.id
      (label_map["month"] ||= []) << story.id
    elsif story.activity == "week"
      (label_map["week"]  ||= []) << story.id
      (label_map["month"] ||= []) << story.id
    elsif story.activity == "month"
      (label_map["month"] ||= []) << story.id
    else
      (label_map["none"]  ||= []) << story.id
    end
  end
  label_map["all"] = @stories.map(&:id)

  data = []
  for label in label_map.keys
    data << "'#{label}': [#{label_map[label].join(',')}]"
  end

  inject_javascript_at_end %(
    MOPivotalModule({#{data.join(",\n")}}, {
      pivotal_vote_failed: "#{:pivotal_vote_failed.l.escape_js_string}",
      pivotal_story_failed: "#{:pivotal_story_failed.l.escape_js_string}",
      pivotal_story_loading: "#{:pivotal_story_loading.l.escape_js_string}",
      pivotal_comment_failed: "#{:pivotal_comment_failed.l.escape_js_string}"
    })
  )
%>

<div class="row">
  <div class="col-12 max-width-text">
    <% if @stories.count > 900 %>
      <b>Displaying <%= @stories.count %> of 1,000 available Feature Requests. Please <%= link_to 'let the admins know', '/email/ask_webmaster_question', title: "Contact Us" %> that we're close to the limit.</b>
    <% end %>
    <%= :pivotal_index_header.tp %>
  </div>
</div>

<div id="pivotal_index">
  <table id="pivotal_labels" class="mb-3">
    <tr>
      <td>
        <table>
          <% for label in %w(
            open -
            critical bottleneck -
            started unstarted unscheduled -
            day week month none -
            all
            api comments descriptions email i18n images lists locations maps
            names observations performance projects search specimen voting
            other
          ) %>
            <tr>
              <td align="right text-nowrap"><%=
                if label == "-"
                  safe_nbsp
                else
                  klass =
                    if label == "all"
                      "pX"
                    elsif label.match(/^(day|week|month|none)$/)
                      "pA p_" + label
                    elsif label == "unscheduled"
                      "pivotal_unscheduled pivotal_state"
                    elsif label == "unstarted"
                      "pivotal_unstarted pivotal_state"
                    elsif label == "started"
                      "pivotal_started pivotal_state"
                    else
                      "p" + Pivotal::Story.label_value(label).to_s
                    end
                  link_to(h(:"pivotal_label_#{label}".l), {}, data: {role: "click_on_label", label: label}, class: klass)
                end
              %></td>
              <td><%=
                label == "-" ? "" : "&#8211; ".html_safe + :"pivotal_head_#{label}".t
              %></td>
            </tr>
            <% if label == "all" %>
              </table></td><td><table>
            <% end %>
          <% end %>
        </table>
      </td>
    </tr>
  </table>

  <div id="pivotal_stories" class="list-group">
    <% for story in @stories %>
      <div class="list-group-item pivotal" id="pivotal_<%= story.id %>">
        <div class="pivotal_name" id="pivotal_name_<%= story.id %>">
          <span class="pivotal_name"><%=
            link_to(story.name.t, {}, data: {role: "click_on_story", story: story.id})
          %></span><br/>
          <span class="text-nowrap">
            <span class="pivotal_votes" id="pivotal_votes_<%= story.id %>"><%=
              pivotal_vote_controls(story)
            %></span>
            <span class="pivotal_state pivotal_<%= story.state %>"><%=
              :"pivotal_state_#{story.state}".l
            %></span>
            <span class="pivotal_num_comments">(<%= :comments.l %>:
              <span id="pivotal_num_comments_<%= story.id %>"><%=
                story.comments.length.to_s
              %></span>)</span>
            <span class="pivotal_labels"><%=
              labels = story.sorted_labels.map do |label|
                str = :"pivotal_label_#{label}".l
                str = label if str.match(/^\[/)
                link_to(h(str), {}, data: {role: "click_on_label", label: label}, class: "p#{story.label_value(label)}")
              end
              if story.activity.match(/^(day|week|month)$/)
                labels << link_to(h(:"pivotal_label_#{story.activity}".l), {}, data: {role: "click_on_label", label: story.activity}, class: "pA p_#{story.activity}")
              end
              labels.safe_join(" ")
            %></span>
          </span>
        </div>
        <div class="pivotal_body max-width-text" id="pivotal_body_<%= story.id %>" style="display:none">
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="pivotal_popup" id="pivotal_popup" style="display:none">
  <%= :pivotal_posting_comment.t %>
  <%= image_tag("indicator.gif") %>
</div>
