<% @title = :author_request_title.t(title: @object.format_name) %>

<div class="max-width-text">
  <%= form_with url: authors_author_request_path(id: @object.id,
                               type: @object.type_tag) do %>
    <%= :author_request_note.tp %>

    <div class="form-group mt-3">
      <%= f.label :email_subject, :request_subject.t + ":" %>
      <%= f.text_field :email, :subject, data: {autofocus: true}, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :email_content, :request_message.t + ":" %>
      <%= f.text_area :email, :content, rows: 10, class: "form-control" %>
    </div>

    <%= f.submit :SEND.l, class: "btn" %><br/>
  <% end %>
</div>
