<%
  @title ||= :review_authors_title.t(name: @object.format_name)
  parent = @object.parent
  type = @object.type_tag
  parent_type = parent.type_tag

  tabs = [
    link_to(:show_object.t(type: parent_type), object_path(parent)),
    link_to(:show_object.t(type: type), object_path(@object))
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :review_authors_note.tp if type == :name_description %>

  <p>
    <%= :review_authors_authors.t %><br/>
    <% for u in @authors %>
      <%= user_link(u) %>
      | <%= link_to(:review_authors_remove_author.t,
                    authors_review_authors_path(id: @object.id, type: type,
                      remove: u.id),
                    data: { confirm: :are_you_sure.l }) %>
      <br/>
    <% end %>
  </p>

  <p>
    <%= :review_authors_other_users.t %><br/>
    <% for u in @users
      unless @authors.member?(u) %>
        <%= user_link(u) %>
        | <%= link_to(:review_authors_add_author.t,
                      authors_review_authors_path(id: @object.id, type: type,
                        add: u.id)) %>
        <br/>
      <% end %>
    <% end %>
  </p>
</div>
