<%= submit_tag(button.t, class: "btn center-block push-down") %>

<div class="form-group push-down">
  <%= label_tag(:collection_number_name, :collection_number_name.t + ":") %>
  <%= text_field(:collection_number, :name, class: "form-control") %>
</div>

<div class="form-group push-down">
  <%= label_tag(:collection_number_number, :collection_number_number.t + ":") %>
  <%= text_field(:collection_number, :number, class:"form-control") %>
</div>

<%= submit_tag(button.t, class: "btn center-block push-down") %>
