<%
  @title ||= :list_collection_numbers_title.t

  tabs = create_links(@links)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <table class="table table-striped">
      <% for collection_number in @objects %>
        <tr>
          <td>
            <%= if in_admin_mode? || collection_number.can_edit?
              link_with_query(:EDIT.t,
                              { action: :edit_collection_number,
                                id: collection_number.id,
                                back: :index },
                              class: "btn btn-xs")
            end %>
          </td>
          <td>
            <i><%= link_with_query(collection_number.format_name.t,
                                   collection_number.show_link_args) %></i>
          </td>
          <td>
            <%= collection_number.observations.map do |obs|
              link_to(obs.unique_format_name.t, obs.show_link_args)
            end.safe_join(", ") %>
          </td>
          <td>
            <%= if in_admin_mode? || collection_number.can_edit?
              link_with_query(:DESTROY.t,
                              { action: :destroy_collection_number,
                                id: collection_number.id },
                              data: { confirm: :are_you_sure.t },
                              class: "btn btn-xs")
            end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
