<%
@owner_naming = owner_naming_line(@owner_name, @user) # must before show_obs_title
add_page_title(show_obs_title(obs: @observation, owner_naming: @owner_naming, user: @user))
add_owner_naming(@owner_naming)
if @user
  add_pager_for(@observation)
  add_interest_icons(@user, @observation)
  add_edit_icons(@observation)
end

@container = :double

show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
show_lists = @user # && @observation.species_lists.any?

obs_locals = { obs: @observation, consensus: @consensus, user: @user }
carousel_locals = {
  object: @observation, images: @images,
  html_id: "observation_images", user: @user,
  title: :IMAGES.t, links: observation_show_image_links(obs: @observation)
}
%>

<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-7 float-sm-left">
    <%= tag.div(class: "panel panel-default") do
      render(partial: "shared/carousel", locals: carousel_locals)
    end %>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-5 float-sm-right">
    <%= render(partial: "observations/show/observation_details",
               locals: obs_locals.merge(sites: @other_sites)) %>
    <% if @user %>
      <%= render(partial: "observations/show/name_info", locals: obs_locals) %>

      <% if show_lists %>
        <%= render(partial: "observations/show/species_lists",
                   locals: obs_locals) %>
      <% end %>
    <% end %>
  </div>
</div>
<!--.row-->

<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-7 float-sm-left">
    <% if @user %>
      <%= render(partial: "observations/show/namings", locals: obs_locals) %>
    <% end %>

    <%= render(partial: "comments/comments_for_object",
               locals: { object: @observation, comments: @comments,
                         controls: @user, limit: nil }) %>

    <%= @observation.source_credit.tpl if @observation.source_noteworthy? %>
  </div>

  <% if @user %>
    <div class="col-xs-12 col-md-4 col-lg-5 float-sm-right">
      <% if show_map %>
        <%= render(partial: "observations/show/thumbnail_map",
                   locals: obs_locals) %>
      <% end %>
    </div>
  <% end %>
</div>
<!--.row-->

<% if @user %>
  <%= show_object_footer(@user, @observation) %>
<% end %>

