<%
@title = :change_user_bonuses_title.t(user: @user2.legal_name)
@navbar[:title] = { title: :USERS.t, url: users_path }
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= form_with url: users_change_user_bonuses_path, model: @user do |f|%>

    <div class="help-note">
      <%= :change_user_bonuses_help.tp %>
    </div>

    <%= f.text_area :val, h(@val), rows: 5, class: "form-control mt-3" %>

    <%= f.submit :SAVE_EDITS.l, class: "btn mx-auto mt-3" %>
  <% end %>
</div>
