<%
id = @show_user.id
name = @show_user.unique_text_name
add_page_title(:show_user_title.t(user: name))
add_pager_for(@show_user)
add_tab_set(user_show_tabs(show_user: @show_user, user: @user))

@container = :full

rows = user_stats_rows(@show_user, @user_data)
paths = user_stats_link_paths(@show_user)
total = 0
%>

<div class="row">
  <div class="col-xs-7">
    <% if @show_user.location %>
      <p>
        <strong><%= :show_user_primary_location.t %>:</strong>
        <%= location_link(nil, @show_user.location) %>
      </p>
    <% end %>
    <% if !@show_user.mailing_address.blank? %>
      <p>
        <strong><%= :show_user_mailing_address.t %>:</strong>
        <%= @show_user.mailing_address %>
      </p>
    <% end %>
    <% if !@show_user.personal_herbarium.blank? %>
      <p>
        <strong><%= :show_user_personal_herbarium.t %>:</strong>
        <%= link_to(@show_user.personal_herbarium.name.t,
                    @show_user.personal_herbarium.show_link_args) %>
      </p>
    <% end %>
    <% if !@show_user.notes.blank? %>
      <%= @show_user.notes.tpl %>
    <% end %>
  </div>

  <div class="col-xs-5">
    <p class="mt-3">
      <%= if @show_user.image_id
        thumbnail(Image.find(@show_user.image_id), votes: false)
      end %>
      <strong><%= :show_user_joined.t %>:</strong> <%= @show_user.verified %>
    </p>
  </div>
</div><!--.row-->

<div class="row">
  <div class="col-sm-3">
    <% if @observations %>
      <% @observations.values_at(0, 2, 4).reject(&:nil?).each do |obs| %>
        <div class="my-3">
          <%= thumbnail(obs.thumb_image,
                        image_link: observation_path(id: obs.id),
                        votes: true) %>
        </div><!--.my-3-->
      <% end %>
    <% end %>
  </div><!--.col-->

  <div class="col-sm-6">
    <div class="text-center">
      <table class="table">
        <% rows.each do |row|
          field = row[:field]
          label = row[:label]
          count = row[:count]
          weight = row[:weight]
          points = row[:points]
          url = paths[field]
          link = url ? link_to(label, url) : label
          total += points
          if !count %>
            <tr>
              <td colspan="2"><%= label %></td>
              <td>=</td>
              <td align="right"><%= points %></td>
            </tr>
          <% elsif !label.blank? %>
            <tr>
              <td><%= link %></td>
              <td><%= count %> * <%= weight %></td>
              <td>=</td>
              <td align="right"><%= points %></td>
            </tr>
          <% end %>
        <% end %>
        <% if total > 0 %>
          <tr>
            <td colspan="4">
              <hr/>
            </td>
          </tr>
          <tr>
            <td><%= :show_user_total.t %></td>
            <td></td>
            <td>=</td>
            <td align="right"><%= total %></td>
          </tr>
        <% end %>
      </table>
      <%= if @life_list.num_species > 0
        :show_user_life_list.t(genera: @life_list.num_genera,
                               species: @life_list.num_species,
                               url: paths[:life_list])
      end %>
    </div><!-- .text-center -->
  </div>

  <div class="col-sm-3">
    <% if @observations %>
      <% @observations.values_at(1, 3, 5).reject(&:nil?).each do |obs| %>
        <div class="my-3">
          <%= thumbnail(obs.thumb_image,
                        image_link: observation_path(id: obs.id),
                        votes: true) %>
        </div><!--.my-3-->
      <% end %>
    <% end %>
  </div><!--.col-->
</div><!--.row-->
