<%
  id = @show_user.id
  name = @show_user.unique_text_name
  @title = :show_user_title.t(user: name)

  links = {}
  for key, pathname in [
    [ :comments,                      "comments_show_comments_by_user_path"   ],
    [ :comments_for,                  "comments_show_comments_for_user_path"  ],
    [ :images,                        "images_images_by_user_path"            ],
    [ :location_descriptions_authors, "location_descriptions_index_by_author_path"  ],
    [ :location_descriptions_editors, "location_descriptions_index_by_editor_path"  ],
    [ :locations,                     "locations_locations_by_user_path"      ],
    [ :locations_versions,            "locations_locations_by_editor_path"    ],
    [ :name_descriptions_authors,     "name_descriptions_index_by_author_path"      ],
    [ :name_descriptions_editors,     "name_descriptions_index_by_editor_path"      ],
    [ :names,                         "names_names_by_user_path"              ],
    [ :names_versions,                'names_names_by_editor_path'            ],
    [ :observations,                  "observations_observations_by_user_path"],
    [ :species_lists,                 "species_lists_species_lists_by_user_path"],
    [ :life_list,                     "users_checklist_path"                  ]
  ]
    links[key] = send(pathname, id: id)
  end

  tabs = [
    link_to(:show_user_contributors.t, users_users_by_contribution_path)
  ]
  if @show_user == @user
    tabs += [
      link_to(:show_user_your_observations.t,
              observations_observations_by_user_path(id: id)),
      link_to(:show_user_comments_for_you.t,
              comments_show_comments_for_user_path(id: id)),
      link_to(:show_user_your_notifications.t, interests_path(id: id)),
      link_to(:show_user_edit_profile.t, edit_account_path(id: id)),
      link_to(:app_preferences.t, account_prefs_path(id: id)),
      link_to(:app_life_list.t, users_checklist_path(id: id))
    ]
  else
    tabs += [
      link_to(:show_user_observations_by.t(name: name),
              observations_observations_by_user_path(id: id)),
      link_to(:show_user_comments_for.t(name: name),
              comments_show_comments_for_user_path(id: id)),
      link_to(:show_user_email_to.t(name: name),
              email_ask_user_question_path(id: id))
    ]
  end
  if in_admin_mode?
    tabs += [
      link_to(:change_user_bonuses.t,
              users_change_user_bonuses_path(id: @show_user.id)),
      link_to(:DESTROY.t,
              account_path(id: @show_user.id, method: "DELETE"),
              data: { confirm: :are_you_sure.l })
    ]
  end
  @tabsets = {
    pager_for: @show_user,
    right: draw_tab_set(tabs)
  }

  # These are roughly in decreasing order of importance.
  rows = []
  for field in SiteData::ALL_FIELDS - [:users]
    rows << {
      field: field,
      label: "user_stats_#{field}".to_sym.t,
      count: (count = @user_data[field].to_i),
      weight: (weight = SiteData::FIELD_WEIGHTS[field]),
      points: count * weight
    }
  end

  # Add bonuses for translations.
  if @user_data[:languages_itemized]
    for lang, score in @user_data[:languages_itemized]
      rows << {
        label: :show_user_language_contribution.t(name: lang.name),
        points: score.to_i
      }
    end
  end

  # Add bonuses at the bottom.
  if @show_user.bonuses
    for points, reason in @show_user.bonuses
      rows << {
        label: reason.to_s.t,
        points: points.to_i
      }
    end
  end

  total = 0
%>

<div class="row">
  <div class="col-7">
    <% if @show_user.location %>
      <p>
        <strong><%= :show_user_primary_location.t %>:</strong>
        <%= location_link(nil, @show_user.location) %>
      </p>
    <% end %>
    <% if !@show_user.mailing_address.blank? %>
      <p>
        <strong><%= :show_user_mailing_address.t %>:</strong>
        <%= @show_user.mailing_address %>
      </p>
    <% end %>
    <% if !@show_user.personal_herbarium.blank? %>
      <p>
        <strong><%= :show_user_personal_herbarium.t %>:</strong>
        <%= link_to @show_user.personal_herbarium.name.t,
                    herbarium_path(@show_user.personal_herbarium.id) %>
      </p>
    <% end %>
    <% if !@show_user.notes.blank? %>
      <%= @show_user.notes.tpl %>
    <% end %>
  </div>

  <div class="col-5">
    <p class="mt-3">
      <%= thumbnail(@show_user.image_id,
                    {votes: false}) if @show_user.image_id %>
      <strong><%= :show_user_joined.t %>:</strong> <%= @show_user.verified %>
    </p>
  </div>

  <div class="col-12">
    <div class="row">

      <div class="col-sm-3">
        <% if @observations %>
          <% for obs in @observations.values_at(0, 2, 4).reject(&:nil?) %>
            <%= thumbnail(obs.thumb_image, observation_path(obs.id),
                          votes: true) %>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-6">
        <center>
          <table class="table">
            <% rows.each do |row|
              field = row[:field]
              label = row[:label]
              count = row[:count]
              weight = row[:weight]
              points = row[:points]
              url = links[field]
              link = url ? link_to(label, url) : label
              total += points
              if !count %>
                <tr>
                  <td colspan="2"><%= label %></td>
                  <td>=</td>
                  <td align="right"><%= points %></td>
                </tr>
              <% elsif !label.blank? %>
                <tr>
                  <td><%= link %></td>
                  <td><%= count %> * <%= weight %></td>
                  <td>=</td>
                  <td align="right"><%= points %></td>
                </tr>
              <% end %>
            <% end %>
            <% if total > 0 %>
              <tr>
                <td colspan="4">
                  <hr/>
                </td>
              </tr>
              <tr>
                <td><%= :show_user_total.t %></td>
                <td></td>
                <td>=</td>
                <td align="right"><%= total %></td>
              </tr>
            <% end %>
          </table>
          <%= if @life_list.num_species > 0
            :show_user_life_list.t(genera: @life_list.num_genera,
                                   species: @life_list.num_species,
                                   url: users_checklist_path(id: id))
          end %>
        </center>
      </div>

      <div class="col-sm-3">
        <% if @observations %>
          <% for obs in @observations.values_at(1, 3, 5).reject(&:nil?) %>
            <%= thumbnail(obs.thumb_image, observation_path(obs.id),
                          votes: true) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
