<%
# CAROUSEL TEMPLATE
html_id = "#{object.type_tag}_carousel"
has_images = !images.nil? && images.any?
%>

<% if has_images %>
  <div id="<%= html_id %>" class="carousel slide card-img"
       data-ride="false" data-interval="false">
    <div class="carousel-inner bg-light">
      <% images.each do |image| %>
        <%= carousel_item(image, default_image, object) %>
      <% end %>
    </div>
    <% if images.length > 1 %>
      <a class="carousel-control-prev"
        href="#<%= html_id %>"
        role="button"
        data-slide="prev">
        <div class="btn">
          <span class="fas fa-chevron-left fa-2x text-white" aria-hidden="true"></span>
          <span class="sr-only"><%= :PREV.l %></span>
        </div>
      </a>
      <a class="carousel-control-next"
        href="#<%= html_id %>"
        role="button"
        data-slide="next">
        <div class="btn">
          <span class="fas fa-chevron-right fa-2x text-white" aria-hidden="true"></span>
          <span class="sr-only"><%= :NEXT.l %></span>
        </div>
      </a>
    <% end %>
    <%= carousel_heading(local_assigns[:title], local_assigns[:links]) %>
    <ol class="carousel-indicators bg-light mb-0">
      <% object.images.each_with_index do |image, index| %>
        <% active = (image == default_image) ? " active" : "" %>
          <li data-target="#<%= html_id %>"
              data-slide-to="<%= index %>"
              class="<%= active %>">
            <%= carousel_thumbnail(image) %>
          </li>
      <% end %>
    </ol>
  </div>
<% else %>
  <%= carousel_heading(local_assigns[:title], local_assigns[:links]) %>
  <%= tag.div(:show_observation_no_images.l,
              class: "d-flex flex-column justify-content-center w-100 h-100 text-center h3 text-muted") %>
<% end %>

