<%
presenter = ImagePresenter.new(image, local_assigns.except(:image))
set_width = presenter.width.present? ? "width: #{presenter.width}px;" : ""
%>

<div class="image-sizer position-relative mx-auto" style="<%= set_width %>">
  <div class="image-lazy-sizer overflow-hidden"
       style="padding-bottom: <%= presenter.proportion %>%;">
    <%= image_tag("placeholder.svg", presenter.options_lazy) %>
    <noscript>
      <%= image_tag(presenter.img_src, presenter.options_noscript) %>
    </noscript>
  </div>
  <%= image_stretched_link(presenter.image_link, presenter.image_link_method) %>
  <%= lightbox_link(presenter.lightbox_data) %>
  <%= image_vote_section_html(presenter.votes, presenter.image) %>
</div>
<%= image_owner_original_name(presenter.image, presenter.original) %>
