<%
  intro = :email_new_password_intro.l

  handy_links = :email_new_password_what_now.l.sub(/\n*\Z/, "\n" + :email_handy_links.l)

  links = []
  links.push([:email_links_change_prefs.t,
    "#{MO.http_domain}/account/prefs/#{@user.id}"])
  links.push([:email_links_latest_changes.t,
    MO.http_domain])

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
  <%= @password %>
</div>
<%= handy_links.tp %>
<ul type=none>
  <% for label, url in links %>
    <li><%= label %>: <%= link_to(url, url) %></li>
  <% end %>
</ul>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

    <%= @password %>

<%= handy_links.tp.html_to_ascii %>

<%= result = ''.html_safe
  for label, url in links
    result += label.html_to_ascii + ": " + url.html_safe + "\n"
  end
  result %>
<% end %>
