<%
  @title = :species_list_add_remove_title.t

  tabs = [
    link_with_query(:species_list_add_remove_cancel.t, controller: :observer,
                     action: :list_observations)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(add_query_param(action: :post_add_remove_observations)) do %>
    <p><%= :species_list_add_remove_body.tp(num: @query.num_results) %></p>

    <div class="form-group">
      <%= label_tag(:species_list, :species_list_add_remove_label.t) %>:
      <%= text_field_tag(:species_list, @id, class: "form-control") %>
      <% turn_into_species_list_auto_completer(:species_list) %>
    </div>

    <div class="form-group mx-auto">
      <%= submit_tag(:ADD.l, class: "btn") %>
      <%= submit_tag(:REMOVE.l, class: "btn") %>
    </div>
  <% end %>
</div>
