<%
   @title = :species_list_edit_title.t(:name => @species_list.unique_format_name)
   @tabsets = {left: render(partial: "shared/tab_set", locals: {
                                                             links: [
                                                                     link_with_query(:cancel_and_show.t(:type => :species_list),
                                                                                     :action => 'show_species_list', :id => @species_list.id),
                                                                     link_with_query(:species_list_upload_title.t,
                                                                                     :action => 'upload_species_list', :id => @species_list.id)
                                                             ]})}
%>
<%= form_tag(:action => 'edit_species_list', :id => @species_list.id,
             :approved_where => @place_name) do %>
    <% if !@new_names.blank?
         val = @new_names.map { |x| CGI::escapeHTML(x) }.join('&#10;') %>
        <input id="approved_names" name="approved_names" type="hidden" value="<%= val.html_safe %>"/>
    <% end %>
    <% if !@deprecated_names.blank?
         val = @deprecated_names.map(&:id).join(' ') %>
        <input id="approved_deprecated_names" name="approved_deprecated_names" type="hidden" value="<%= val %>"/>
    <% end %>

    <br/>
    <center><%= submit_tag :UPDATE.l %></center>

    <table cellpadding="10">
      <tr>
        <%= render(:partial => 'form_species_lists', :locals => {button_name: :UPDATE.l}) %>
      </tr>
    </table>

    <br/>
    <center><%= submit_tag :UPDATE.l %></center>
<% end %>
