<%
   #new_tab_set(:sort_by_header.t, @sorts)
   new_tab_set(@links)

   flash_error(@error) if @error and (!@objects or @objects.empty?)
%>

<div class="row">
  <div class="col-xs-12" style="margin-top: -5px;">
    <%= pagination_letters(@pages) %>
  </div>
  <div class="col-xs-12" style="margin-top: -15px;">
    <%= pagination_numbers(@pages) %>
  </div>
  <div class="col-xs-12">
    <table class="table table-striped">
      <% @objects.each do |species_list| %>
          <tr>
            <td>
              <%= link_to(content_tag(:span, species_list.when.to_s + ": ", class: "ListWhen") +
                                  content_tag(:span, species_list.unique_text_name.t, class: "ListWhat"),
                          :action => 'show_species_list', :id => species_list.id)
              %>
              <br/>
              <span><%= species_list.place_name.t rescue :UNKNOWN.t %></span>
              <span><%= user_link(species_list.user) %></span>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="col-xs-12" style="margin-top: -5px;">
    <%= pagination_letters(@pages) %>
  </div>
  <div class="col-xs-12" style="margin-top: -15px;">
    <%= pagination_numbers(@pages) %>
  </div>
</div>