<%
  @title = :species_list_projects_title.t(list: @list.title)

  tabs = [
    link_to(:cancel_and_show.t(type: :species_list), @list.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <div class="help-block mt-3">
    <%= :species_list_projects_help.tp %>
  </div>

  <%= form_tag(id: @list.id) %>
    <div class="form-group form-inline mt-3">
      <b><%= :species_list_projects_which_objects.t %></b><br/>
      <%= check_box_tag(:objects_list, 1, @object_states[:list],
                        class: "form-control") %>
      <%= :species_list_projects_this_list.t %><br/>
      <%= check_box_tag(:objects_obs, 1, @object_states[:obs],
                        class: "form-control") %>
      <%= :species_list_projects_observations.t %><br/>
      <%= check_box_tag(:objects_img, 1, @object_states[:img],
                        class: "form-control") %>
      <%= :species_list_projects_images.t %><br/>
    </div>

    <div class="form-group form-inline mt-3">
      <b><%= :species_list_projects_which_projects.t %></b><br/>
      <% for proj in @projects.sort_by(&:text_name) %>
        <%= check_box_tag("projects_#{proj.id}", 1, @project_states[proj.id], 
                          class: "form-control") %>
        <%= proj.title.t %><br/>
      <% end %>
    </div>

    <center class="mt-3">
      <%= submit_tag(:ATTACH.l, class: "btn") %>
      &nbsp;
      <%= submit_tag(:REMOVE.l, class: "btn") %>
    </center>
  </form>
</div>
