<% @title = :species_list_upload_title.t %>

<%= form_tag({action: 'upload_species_list', id: @species_list.id}, :multipart => true) do %>
  <br/><center><%= submit_tag :SAVE.l %></center><br/>

  <p><%= :species_list_upload_label.t %>:<br/>
  <%= file_field("species_list", "file") %></p>
  <div class="HelpNote" style='margin-top:5px'>
    <%= :species_list_upload_help.tp %>
  </div>

<% end %>
