<%
# Naming Row (widescreen):
# Shows a proposed naming for this observation, with a tiny vote form.
# Also naming edit and delete buttons if the current user owns the naming.
# @vote is used by observations/namings/votes/form
@vote = votes[naming.id]
row = observation_naming_row(obs, naming, logged_in)
%>

<div class="row" id="observation_naming_<%= naming.id %>">
  <div class="col col-sm-3"><%= row[:name] %></div>
  <div class="col col-sm-3"><%= row[:proposer] %></div>
  <div class="col col-sm-2"><%= row[:consensus_vote] %></div>
  <div class="col col-sm-3"><%= row[:your_vote] %></div>
  <div class="col col-sm-1 hidden-xs px-sm-0"><%= row[:eyes] %></div>
</div>

<div class="row" id="naming_reasons_<%= naming.id %>">
  <div class="col col-12 naming-reasons">
    <%= row[:reasons] %>
  </div>
</div>
