<%
# called from observations/namings/table
header = observation_naming_header_row(observation, logged_in)
behavior = " flex-column justify-content-end"
%>

<div class="card-header pb-2 namings-table-header">
  <div class="row">
    <div class="col-md-3 d-flex<%= behavior %>"><%= header[:heading] %></div>
    <div class="col-md-3 d-none d-md-flex<%= behavior %>">
      <%= header[:user_name] %>
    </div>
    <div class="col-md-2 d-none d-md-flex<%= behavior %>">
      <%= header[:consensus_vote] %>
    </div>
    <div class="col-md-3 d-none d-md-flex<%= behavior %>">
      <%= header[:your_vote] %>
    </div>
    <div class="col-md-1 d-none d-md-flex<%= behavior %>"></div>
  </div>
</div>
