<%= form_for(:description, url: add_query_param(
      action: :adjust_permissions, id:
      description.id
    )) do |form| %>

  <%= submit_tag(:SUBMIT.l, class: "btn mx-auto mt-3 mb-3") %>

  <center>
    <table class="table-striped table-description-permissions">
      <thead>
        <tr>
          <th class="mr-4"><%= :adjust_permissions_user_header.t %></th>
          <th width="50"><%= :adjust_permissions_reader_header.t %></th>
          <th width="50"><%= :adjust_permissions_writer_header.t %></th>
          <th width="50"><%= :adjust_permissions_admin_header.t %></th>
        </tr>
      </thead>

      <tbody>
        <% for group in groups %>
          <%
            if (group.name == "all users") and
               (description.source_type == :public) and
               !in_admin_mode?
              r_args = ["1", true,  {disabled: "disabled"}]
              w_args = ["1", true,  {disabled: "disabled"}]
              a_args = ["1", false, {disabled: "disabled"}]
            elsif (group.name == "reviewers") and
               (description.source_type == :public) and
               !in_admin_mode?
              r_args = ["1", false, {disabled: "disabled"}]
              w_args = ["1", false, {disabled: "disabled"}]
              a_args = ["1", true,  {disabled: "disabled"}]
            else
              r_args = ["1", description.reader_groups.include?(group), {}]
              w_args = ["1", description.writer_groups.include?(group), {}]
              a_args = ["1", description.admin_groups.include?(group),  {}]
            end
            # r_args.last[:id] = "group_reader_#{group.id}"
            # w_args.last[:id] = "group_writer_#{group.id}"
            # a_args.last[:id] = "group_admin_#{group.id}"
            r_args.last[:class] = "form-control"
            w_args.last[:class] = "form-control"
            a_args.last[:class] = "form-control"
          %>
          <tr>
            <td>
              <% if !group.name.match(/^user \d+$/) %>
                <%= if group.name == "all users"
                  :adjust_permissions_all_users.t
                elsif group.name == "reviewers"
                  :REVIEWERS.t
                else
                  group.name
                end %>
              <% else %>
                <% user = group.users.first %>
                <%= user_link(user) %>
                <%=
                  words = []
                  for g in groups
                    if (g.name != "all users") and
                       (g.name != "reviewers") and
                       !g.name.match(/^user \d+$/) and
                       g.users.include?(user)
                      words << g.name
                    end
                  end
                  words << :author.t if description.is_author?(user)
                  words << :editor.t if description.is_editor?(user)
                  words << :owner.t if description.user == user
                  words << :adjust_permissions_site_admin.t if user.admin
                  words << :reviewer.t if user.in_group?("reviewers")
                  " (".html_safe + words.safe_join(", ") + ")" if words.any?
                %>
              <% end %>
            </td>
            <td>
              <%= check_box_tag("group_reader[#{group.id}]", *r_args) %>
              <%= hidden_field_tag("group_reader[#{group.id}]", 0) %>
            </td>
            <td>
              <%= check_box_tag("group_writer[#{group.id}]", *w_args) %>
              <%= hidden_field_tag("group_writer[#{group.id}]", 0) %>
            </td>
            <td>
              <%= check_box_tag("group_admin[#{group.id}]", *a_args) %>
              <%= hidden_field_tag("group_admin[#{group.id}]", 0) %>
            </td>
          </tr>
        <% end %>

        <% for n in 1..6 %>
          <% datum = data[n] || {} rescue {} %>
          <tr>
            <td>
              <%= text_field_tag("writein_name[#{n}]", datum[:name],
                                 class: "form-control") %>
              <% turn_into_user_auto_completer("writein_name_#{n}") %>
            </td>
            <td>
              <%= check_box_tag("writein_reader[#{n}]", "1", datum[:reader],
                                class: "form-control") %>
              <%= hidden_field_tag("writein_reader[#{n}]", 0) %>
            </td>
            <td>
              <%= check_box_tag("writein_writer[#{n}]", "1", datum[:writer],
                                class: "form-control") %>
              <%= hidden_field_tag("writein_writer[#{n}]", 0) %>
            </td>
            <td>
              <%= check_box_tag("writein_admin[#{n}]", "1", datum[:admin],
                                class: "form-control") %>
              <%= hidden_field_tag("writein_admin[#{n}]", 0) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>

  <%= submit_tag(:SUBMIT.l, class: "btn mx-auto mt-3") %>
<% end %>
