<%
desc        = @description
source_type = desc.source_type
new_record  = desc.new_record?
admin       = new_record || desc.is_admin?(@user)
author      = new_record || desc.author?(@user)
owner       = desc.user == @user
root        = in_admin_mode?

source_types_all = [
  [:form_description_source_public.l,  "public"],
  [:form_description_source_foreign.l, "foreign"],
  [:form_description_source_project.l, "project"],
  [:form_description_source_source.l,  "source"],
  [:form_description_source_user.l,    "user"],
]
source_types = [
  [:form_description_source_public.l, "public"],
  [:form_description_source_source.l, "source"],
  [:form_description_source_user.l,   "user"],
]
%>

<% if new_record || admin || author || owner || root %>

  <div class="form-group mt-3">
    <%= f.label(:source, :form_description_source.t + ":") %>

    <% need_help = false
    if root %>
      <%= f.select(:source_type, source_types_all,
                   {}, { class: "form-control" }) %>
    <% elsif new_record && ["public", "source", "user"].include?(source_type) %>
      <% need_help = true %>
      <%= f.select(:source_type, source_types, {}, { class: "form-control" }) %>
    <% else %>
      <%= f.hidden_field(:source_type, value: source_type) %>
      <%= :"form_description_source_#{source_type}".l %>
    <% end %>

    <% if !root && ["foreign", "project"].include?(source_type) %>
      <%= f.hidden_field(:source_name) %>
      <%= @description.source_name.t %>
    <% else %>
      <%= f.text_field(:source_name, class: "form-control") %>
    <% end %>
    <%= f.hidden_field(:project_id) %>

    <% if need_help %>
      <%= content_tag(:div, :form_description_source_help.tpl,
                      class: "help-block") %>
    <% end %>
  </div>

  <% disabled = ["public", "foreign"].include?(source_type) &&
                !root && !new_record %>
  <div class="form-group">
    <%= content_tag(:b, "#{:form_description_permissions.t}:") %>
    <%= check_box_with_label(form: f, field: :public_write, disabled: disabled,
                             label: :form_description_public_writable.t) %>
    <%= check_box_with_label(form: f, field: :public, disabled: disabled,
                             label: :form_description_public_readable.t) %>
    <%= content_tag(:p, :form_description_permissions_help.t,
                    class: "help-block") %>
  </div>

  <div class="form-group">
    <%= f.label(:license_id, :License.t + ":") %>
    <%= f.select(:license_id, @licenses, {}, { class: "form-control" }) %>
    <%= content_tag(:p, :form_description_license_help.t,
                    class: "help-block") %>
  </div>

<% end %>
