<% if !@new_names.blank? %>
  <div class="Errors" id="missing_names">
    <%= content_tag(:div, :form_list_feedback_missing_names.t,
                    class: "font-weight-bold") %>
    <%= help_note(:div, :form_list_feedback_missing_names_help.t) %>
    <p>
      <% @new_names.each do |n| %>
      <br/><%= indent + h(n) %>
      <% end %>
    </p>
  </div>
<% end %>

<% if !@deprecated_names.blank? %>
  <div class="Errors" id="deprecated_names">
    <%= content_tag(:div, :form_species_lists_deprecated.t,
                    class: "font-weight-bold") %>
    <%= help_note(:div, :form_species_lists_deprecated_help.t) %>
    <p>
      <% @deprecated_names.each do |name|
        approved_names = name.approved_synonyms %>
        <%= name.display_name.t %><br/>
        <% if approved_names != [] %>
          <%= fields_for(:chosen_approved_names) do |f_c| %>
            <% approved_names.each do |other_name| %>
              <%= radio_with_label(form: f_c, field: name.id,
                                  value: other_name.id,
                                  label: other_name.display_name.t,
                                  class: "ml-4") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>

<% if !@multiple_names.blank? %>
  <div class="Errors" id="ambiguous_names">
    <%= content_tag(:div, :form_species_lists_multiple_names.t,
                    class: "font-weight-bold") %>
    <%= help_note(:div, :form_species_lists_multiple_names_help.t) %>
    <p>
      <% @multiple_names.each do |name| %>
        <%= name.display_name.t %><br/>
        <%= fields_for(:chosen_multiple_names) do |f_c| %>
          <% name.other_authors.each do |other_name| %>
            <%= radio_with_label(form: f_c, field: name.id,
                                value: other_name.id,
                                label: other_name.display_name.t,
                                class: "ml-4") %>
            (<%= other_name.observations.length %>)<br/>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>
