<% if !@new_names.blank? %>
  <div class="Errors" id="missing_names">
    <p>
      <b><%= :form_list_feedback_missing_names.t %></b><br/>
      <span class="HelpNote">
        <%= :form_list_feedback_missing_names_help.t %>
      </span>
    </p>
    <p class="Data">
      <% for n in @new_names %>
      <br/><%= indent + h(n) %>
      <% end %>
    </p>
  </div>
<% end %>

<% if !@deprecated_names.blank? %>
  <div class="Errors" id="deprecated_names">
    <p>
      <b><%= :form_species_lists_deprecated.t %>:</b><br/>
      <span class="HelpNote">
        <%= :form_species_lists_deprecated_help.t %>
      </span>
    </p>
    <p class="Data">
      <% @deprecated_names.each do |name|
        approved_names = name.approved_synonyms %>
        <%= name.display_name.t %><br/>
        <% if approved_names != [] %>
          <% for other_name in approved_names %>
            <%= indent + radio_button("chosen_approved_names", name.id,
                                      other_name.id) %>
            <%= other_name.display_name.t %><br/>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>

<% if !@multiple_names.blank? %>
  <div class="Errors" id="ambiguous_names">
    <p>
      <b><%= :form_species_lists_multiple_names.t %>:</b><br/>
      <span class="HelpNote">
        <%= :form_species_lists_multiple_names_help.t %>
      </span>
    </p>
    <p class="Data">
      <% for name in @multiple_names %>
        <%= name.display_name.t %><br/>
        <% for other_name in name.other_authors %>
          <%= indent + radio_button("chosen_multiple_names", name.id,
                                    other_name.id) %>
          <%= other_name.display_name.t %>
            (<%= other_name.observations.count %>)<br/>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>
