<%
# Handling deprecated, new & multiple Names
# Used by Name and Naming create and edit pages
# Does three things:
#   Flashes either Warning or Error
#   Describes the issue, either Deprecated or Not Recognized
#   Adds Help on how to proceed; text depends on the issue and the button
#
# locals:
# what - text typed by user
# names - Name(s) corresponding to what
# valid_names - Name(s) that are valid synonyms
# suggest_corections - t/f whether to suggest correction(s)
# parent_deprecated - t/f
# button_name - text: button to complete the action, e.g. Submit, Create

if what.present?
  if valid_names
    flash_warning(:form_observations_there_is_a_problem_with_name.t) %>
    <div class="alert alert-warning max-width-text" id="name_messages">
    <span class="Data"><%=
    if suggest_corrections || names.blank?
      :form_naming_not_recognized.t(name: what)
    elsif parent_deprecated
      :form_naming_parent_deprecated.t(
        parent: parent_deprecated.display_name,
        rank: :"rank_#{parent_deprecated.rank.to_s.downcase}"
      )
    elsif names.present?
      :form_naming_deprecated.t(name: what)
    end %>
    </span><br/><%
    if valid_names.length > 0
      if suggest_corrections %>
        <span class="HelpNote">
          <%= :form_naming_correct_help.t(button: button_name, name: what) %>
        </span><br/><%
      else %>
        <span class="HelpNote">
          <%= :form_naming_deprecated_help.t(button: button_name, name: what) %>
         </span><br/><%
      end %>
      <span class="Data"><%
      if !suggest_corrections && !parent_deprecated %>
        <%= :form_naming_valid_synonyms.t %>:<br/><%
      end %><%
      valid_names.each do |n| %>
          <%= indent + radio_button(:chosen_name, :name_id, n.id) %>
          <%= n.display_name.t %><br/><%
      end %>
      </span><%
    else %>
      <span class="HelpNote">
      <%= :form_naming_not_recognized_help.t(button: button_name) %>
      </span><br/><%
    end %>
    </div><%
  elsif names.blank?
    flash_error(:form_observations_there_is_a_problem_with_name.t) %>
    <div class="alert alert-danger max-width-text" id="name_messages">
      <span class="Data">
        <%= :form_naming_not_recognized.t(name: what) %>
      </span><br/>
      <span class="HelpNote">
        <%= :form_naming_not_recognized_help.t(button: button_name) %>
      </span><br/>
    </div><%
  elsif names&.length > 1
    flash_error(:form_observations_there_is_a_problem_with_name.t) %>
    <div class="alert alert-danger max-width-text" id="name_messages">
      <span class="Data">
        <%= :form_naming_multiple_names.t(name: what) %>:<br/><%
        names.each do |n| %>
          <%= indent + radio_button(:chosen_name, :name_id, n.id) %>
          <%= n.display_name.t %> (<%= n.observations.size %>)<br/><%
        end %>
      </span>
      <span class="HelpNote">
        <%= :form_naming_multiple_names_help.t %>
      </span><br/>
    </div><%
  end
end %>
