<%
presenter = ThumbnailPresenter.new(image, @view, local_assigns.except(:image))
%>

<div class="image-sizer position-relative mx-auto"
     style="width: <%= presenter.width %>px;">
  <div class="image-lazy-sizer overflow-hidden"
       style="padding-bottom: <%= presenter.proportion %>%;">
    <%= presenter.img_tag %>
    <%= presenter.noscript_img %>
  </div>
  <%= presenter.img_link_html %>
  <%= presenter.lightbox_link %>
  <%= presenter.votes %>
</div>
<%= presenter.img_filename %>
