<%
# This view consists of multiple <form>s: the form at the top with text input,
# plus each thumbnail. The image is clickable: an overlaid form with method: :post

@all_users = (params[:all_users] == "1") ? true : false
# application_controller.rb
query = query_images_to_reuse(@all_users, @user)
@layout = calc_layout_params
@pages = paginate_numbers(:page, @layout["count"])
@objects = query.paginate(@pages, include: [:user, { observations: :name }])

%>
<%= form_with(url: form_action, method: :post) do |f| %>

  <div class="container-text">
    <div class="form-group form-inline">
      <%= text_field_with_label(form: f, field: :img_id,
                                size: 8, data: { autofocus: true },
                                label: :image_reuse_id.t + ":") %>
      <%= submit_button(form: f, button: :image_reuse_reuse.l, class: "ml-3") %>
    </div>

    <%= content_tag(:div, :image_reuse_id_help.tp,
                    class: "help-block form-group") %>

    <div class="form-group mt-3">
      <%= link_with_query((@all_users ? :image_reuse_just_yours.t :
                            :image_reuse_all_users.t),
                          form_action.merge(action: :reuse,
                                            all_users: @all_users ? 0 : 1),
                          class: "btn btn-default") %>
    </div>
  </div><!--.container-text-->
<% end %>

<% # Note this uses a specialized matrix box here, not the matrix_box partial. %>
<%= paginate_block(@pages) do %>
  <ul class="row list-unstyled mt-3">

    <%= render(layout: "shared/matrix_table",
               locals: { objects: @objects }) do |image| %>
      <%= matrix_box(class: "text-center", id: image.id) do %>
        <%= panel_block do %>
          <%= thumbnail(image,
                        image_link: form_action.merge(img_id: image.id),
                        link_method: :post,
                        votes: false,
                        extra_classes: "image-to-reuse",
                        original: true) %>
        <% end %>
      <% end %>
    <% end %>

  </ul>
<% end %>
