<%
presenter = ThumbnailPresenter.new(image, args)
%>

<div class="position-relative">
  <div class="d-inline">
    <div data-toggle="expand-icon" class="text-center">
      <div class="click-container position-relative">
        <%= img_tag %>
        <%= img_link %>
      </div>
      <%= lightbox_link %>
      <div class="mt-3">
        <% if User.current and votes and image %>
          <%= render(partial: "shared/image_vote_links",
                     locals: { image: image }) %>
        <% end %>
        <%= img_filename %>
      </div>
    </div>
  </div>
</div>
