<%
# Requires local variable object: RssLog, Observation, Image, etc. instance.
link_method ||= :get
identify ||= false
presenter = MatrixBoxPresenter.new(object, @view)
columns ||= "col-xs-12 col-sm-6 col-md-4"
object_id = object&.id.present? ? object.id : "no_ID"
locals = local_assigns.except(:columns, :object, :object_counter,
                              :object_iteration)
if presenter
%>
  <li class="matrix-box <%= columns %>" id="box_<%= object_id %>">
    <div class="panel panel-default">
      <div class="panel-body rss-box-details">

        <%= if presenter.image_data
          content_tag(:div, class: "thumbnail-container") do
            render(partial: "shared/image_thumbnail",
                   locals: locals.merge(presenter.image_data))
          end
        end %>

        <div class="rss-what pt-2">
          <%= content_tag(:h5) do
                link_with_query(presenter.name, presenter.what.show_link_args)
              end %>
          <%= vote_or_propose_ui(identify, object) %>
        </div><!-- .rss-what -->

        <% if presenter.where %>
          <div class="rss-where">
            <%= content_tag(:small) do
              location_link(presenter.place_name, presenter.where)
            end %>
          </div><!-- .rss-where -->
        <% end %>

        <% unless presenter.when.blank? %>
          <div class="rss-what">
            <%= content_tag(:small, class: "nowrap-ellipsis") do
              concat(presenter.when)
              concat(": ")
              concat(user_link(presenter.who))
            end %>
          </div><!-- .rss-when -->
        <% end %>

        <% unless presenter.detail.blank? %>
          <div class="rss-detail">
            <%= presenter.detail %>
          </div><!-- .rss-detail -->
        <% end %>

        <div class="rss-what">
          <small><%= presenter.fancy_time %></small>
        </div><!-- .rss-fancy-time -->

      </div><!-- .panel-body -->

      <%= identify_footer(identify, object_id) %>

    </div><!-- .panel -->
  </li><!-- .matrix-box -->
<% end %>
