<%# card for a candidate for image removal %>
<%# TODO: Take this out of the form and make it work like images_to_reuse %>

<%= matrix_box(id: image.id) do %>
  <div class="card log-item h-100">
    <% # no special link-or-button param here, there's a checkbox below %>
    <%= interactive_image(image,
                          original: true,
                          extra_classes: "card-img-top image-to-remove",
                          votes: false) %>

    <div class="card-body text-center">
      <%= fields_for(:selected) do |f_s| %>
        <%= f_s.check_box(image.id, {}, "yes", "no") %>
        <%= f_s.label(image.id, "#{:image.t} ##{image.id}") %>
      <% end %>
    </div>
  </div><!-- .log-item -->
<% end %>
