<%
  ## TODO: Rename
  # Requires local variable :object => rss_log or image or user instance.
  presenter = MatrixBoxPresenter.new(object, @view)
%>

<% if presenter %>
  <div class="rss-log-item">
    <div class="thumbnail-container" style="min-height: 30px">
      <%= presenter.thumbnail %>
    </div>
    <div class="rss-info-container">
      <div class="rss-title">
        <%= presenter.title %>
      </div>
      <div class="rss-what">
        <%= presenter.what %>
      </div>
      <div class="rss-where">
        <small><strong><%= presenter.where %></strong></small>
      </div>
      <span class="rss-when">
        <% unless presenter.when.blank? %>
          <%= presenter.when %>: <%=presenter.who %>
        <%end %>
      </span>
      <div class="rss-detail">
        <%= presenter.detail %>
      </div>
      <div class="rss-time">
        <small><%= presenter.fancy_time %></small>
      </div>
    </div>
  </div>
<% end %>
