<%
   ## TODO: Rename (RSS box?)
   # Requires local variable object: RssLog, Observation, Image, etc. instance.
   presenter = MatrixBoxPresenter.new(object, @view)
%>

<% if presenter %>
  <div class="card rss-box-details h-100">
    <div class="card-img-top">
      <%= presenter.thumbnail %>
    </div><!-- .card-img-top -->
    <div class="card-body p-3 lh-2">
      <div class="rss-what h5 mb-3">
        <%= presenter.what %>
      </div><!-- .rss-what -->
      <div class="rss-where mb-2 small">
        <%= presenter.where %>
      </div><!-- .rss-where -->
      <div class="rss-what mb-2 small">
        <% unless presenter.when.blank? %>
          <%= presenter.when %>: <%= presenter.who %>
        <% end %>
      </div><!-- .rss-what -->
    </div><!-- .card-body -->
    <div class="card-footer bg-transparent px-3 text-muted">
      <div class="rss-detail small">
        <%= presenter.detail %>
      </div><!-- .rss-detail -->
      <div class="rss-what small">
        <%= presenter.fancy_time %>
      </div><!-- .rss-what -->
    </div><!-- .card-footer -->
  </div><!-- .card -->
<% end %>
