<%
# Requires local variable object: RssLog, Observation, Image, etc. instance.
link_method ||= :get
identify ||= false
presenter = MatrixBoxPresenter.new(object, @view)
columns ||= "col-xs-12 col-sm-6 col-md-4"
object_id = object&.id.present? ? object.id : "no_ID"
locals = local_assigns.except(:columns, :object, :object_counter,
                              :object_iteration)
if presenter
%>
  <li class="matrix-box <%= columns %>" id="box_<%= object_id %>">
    <div class="panel panel-default">
      <div class="panel-body rss-box-details">
        <div class="thumbnail-container">
          <%= if presenter.image_data
            render(partial: "shared/image_thumbnail",
                   locals: locals.merge(presenter.image_data))
          end %>
        </div><!-- .thumbnail-container -->
        <div class="rss-what">
          <h5><%= presenter.what %></h5>
          <%= if identify
            if (object.name_id != 1) && (nam = object.consensus_naming)
              content_tag(:div, class: "vote-select-container mb-3") do
                render(partial: "observations/namings/votes/form",
                       locals: { naming: nam })
              end
            else
              propose_naming_link(object_id, "btn-default mb-3")
            end
          end %>
        </div><!-- .rss-what -->
        <div class="rss-where">
          <small><%= presenter.where %></small>
        </div><!-- .rss-where -->
        <div class="rss-what">
          <small class="nowrap-ellipsis">
            <% unless presenter.when.blank? %>
              <%= presenter.when %>: <%= presenter.who %>
            <% end %>
          </small>
        </div><!-- .rss-when -->
        <div class="rss-detail">
          <%= presenter.detail %>
        </div><!-- .rss-detail -->
        <div class="rss-what">
          <small><%= presenter.fancy_time %></small>
        </div><!-- .rss-fancy-time -->
      </div><!-- .panel-body -->
      <% if identify %>
        <%= content_tag(
              :div,
              class: "panel-footer panel-active text-center position-relative"
            ) do
          mark_as_reviewed_toggle(object_id, "box_reviewed", "stretched-link")
        end %>
      <% end %>
    </div><!-- .panel -->
  </li><!-- .matrix-box -->
<% end %>
