<%
# Requires local variable object: RssLog, Observation, Image, etc. instance.
# NOTE panel-sizing div shd be deleted in bs4. thumbnail goes in card-img-top
presenter = MatrixBoxPresenter.new(object)

if presenter

  link_method ||= :get
  identify ||= false
  columns ||= "col" # maybe passed as a local
  object_id = object&.id.present? ? object.id : "no_ID"
  # presenter.image_data includes context: :matrix_box where appropriate
  if presenter.image_data
    image = presenter.image_data[:image]
    image_args = local_assigns.
                 except(:columns, :object, :object_counter, :object_iteration).
                 merge(presenter.image_data.except(:image) || {})
  end
  h_element = presenter.image_data ? :h5 : :h3 # bigger heading if no image
  link_heading = content_tag(:small, "(#{presenter.id})",
                              class: "log-id float-right") +
                content_tag(:span, presenter.name, class: "log-name")
  %>

  <%= matrix_box(columns: columns, id: object_id) do %>
    <div class="card log-item h-100">

      <%= if presenter.image_data
        tag.div(class: "thumbnail-container card-img-top") do
          interactive_image(image, **image_args)
        end
      end %>

      <div class="card-body log-details">

        <%=
        link_to(presenter.what.show_link_args.merge({ q: get_query_param }),
                class: "log-link") do
          content_tag(h_element, class: "card-title log-what d-flex flex-row justify-content-between align-items-start") do
            concat(content_tag(:span, presenter.name, class: "log-name"))
            concat(content_tag(:span, presenter.id, class: "log-id"))
          end
        end %>

        <%= matrix_box_vote_or_propose_ui(identify, object) %>

        <% if presenter.place_name %>
          <%= content_tag(:p, class: "card-text mb-1") do
            content_tag(:span, class: "log-where") do
              location_link(presenter.place_name, presenter.where)
            end
          end %>
        <% end %>

        <% unless presenter.when.blank? %>
          <%= content_tag(:p, class: "card-text text-truncate mb-0") do
            content_tag(:span, class: "") do
              concat(content_tag(:span, presenter.when, class: "log-when"))
              concat(": ")
              concat(user_link(presenter.who, nil, class: "log-who"))
            end
          end %>
        <% end %>

      </div><!-- .card-body -->

      <%= matrix_box_log_footer(presenter) %>

      <%= matrix_box_identify_footer(identify, presenter.id) %>

    </div><!-- .card -->
  <% end %><!-- .log-item -->
<% end %>
