<%
merges = description.parent.descriptions - [description]
moves = description.parent.synonyms - [description.parent]
moves.reject!(&:is_misspelling?)

form_tag(action: :merge_descriptions, id: description.id) do %>
  <br/><br/>

  <p><span class="text-larger"><%= :merge_descriptions_merge_header.t %>:</span><!-- .text-larger --><br/>
    <span class="HelpNote"><%= :merge_descriptions_merge_help.t %></span></p>

  <ul type="none">
    <% merges.each do |desc| %>
      <li><%= radio_button_tag(:target, "desc_#{desc.id}",
                               merges.length == 1 && moves.length == 0) %>
          <%= description_title(desc) %></li>
    <% end
    if merges.empty? %>
      <li><%= :merge_descriptions_no_others.t %></li>
    <% end %>
  </ul>

  <% if moves.any? %>
    <p><span class="text-larger"><%= :merge_descriptions_move_header.t %>:</span><!-- .text-larger --><br/>
      <span class="HelpNote"><%= :merge_descriptions_move_help.t %></span></p>

    <ul type="none">
      <% moves.sort_by.each do |name|
        [ (a.deprecated ? 1 : 0), a.sort_name, a.id ] %>
        <li><%= radio_button_tag(:target, "parent_#{name.id}",
                                 merges.length == 0 && moves.length == 1) %>
            <%= name.display_name.t %></li>
      <% end %>
    </ul>
  <% end %>

  <% if merges.any? || moves.any? %>
    <%= check_box_tag(:delete, "1", description.is_admin?(@user)) %>
      <%= :merge_descriptions_delete_after.t %>
    <input type="hidden" name="delete" value="0"/>
  <% end %>

  <% button = nil
  if merges.any? && moves.empty?
    button = :merge_descriptions_merge.l
  elsif merges.empty? && moves.any?
    button = :merge_descriptions_move.l
  elsif merges.any? && moves.any?
    button = :merge_descriptions_merge_or_move.l
  end
  if button %>
    <br/><br/>
    <div class="text-center"><%= submit_tag(button, class: "btn btn-default") %></div><!-- .text-center -->
    <br/>
  <% end %>
<% end %>
