<div class="list-group list-group-compact">

  <%= link_to(:app_intro.t, observer_intro_path,
              { class: "list-group-item" }) %>
  <%= link_to(:app_how_to_use.t, observer_how_to_use_path,
              { class: "list-group-item" }) %>
  <%= link_to(:app_privacy_policy.t, policy_privacy_path,
              { class: "list-group-item" }) %>
  <%= link_to(:app_donate.t, support_donate_path,
              { class: "list-group-item" }) %>

  <% if in_admin_mode? %>
    <div class="list-group-item disabled bold"><%= :app_admin.t %>: </div>
    <%= link_to(:app_blocked_ips.t, account_blocked_ips_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:app_switch_users.t, account_switch_users_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:app_users.t, observer_users_by_name_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:change_banner_title.t, observer_change_banner_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:app_email_all_users.t, observer_email_features_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:app_add_to_group.t, account_add_user_to_group_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:account_manager_title.t, account_manager_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
    <%= link_to(:app_turn_admin_off.t, account_turn_admin_off_path,
                { class: "list-group-item list-group-item-danger indent" }) %>
  <% end %>

  <% if @user.nil? %>
    <div class="list-group-item disabled bold">
      <i class="glyphicon glyphicon-user"> </i>
      <span> <%= :app_account.t %>:</span>
    </div>
    <%= link_to(:app_login.t, account_login_path,
                { class: "list-group-item indent" }) %>
    <%= link_to(:app_create_account.t, account_signup_path,
                { class: "list-group-item indent" }) %>
  <% else %>
    <div class="list-group-item visible-xs">
      <i class="glyphicon glyphicon-user"> </i>
      <span> <%= h(@user.login) %></span>
      <span class="pull-right">
        <%= link_to(:app_logout.t, account_logout_user_path) %>
      </span>
    </div>
    <%= link_to(:app_comments_for_you.t,
                "#{comment_show_comments_by_user_path}/#{@user.id}",
                { class: "list-group-item visible-xs" }) %>
    <%= link_to(:app_your_observations.t,
                "#{observer_observations_by_user_path}/#{@user.id}",
                { class: "list-group-item visible-xs" }) %>
    <%= link_to(:app_your_interests.t, interest_list_interests_path,
                { class: "list-group-item visible-xs" }) %>
    <%= link_to(:app_your_summary.t, "#{observer_show_user_path}/#{@user.id}",
                { class: "list-group-item visible-xs" }) %>
    <%= link_to(:app_preferences.t, account_prefs_path,
                { class: "list-group-item visible-xs" }) %>
    <%= link_to(:app_join_mailing_list.t,
                "https://groups.google.com/forum/?fromgroups=#!forum/mo-general",
                class: "list-group-item visible-xs") %>
    <% if @user.admin && !in_admin_mode? %>
      <%= link_to(:app_turn_admin_on.t, account_turn_admin_on_path,
                  { class: "list-group-item visible-xs" }) %>
    <% end %>
  <% end %>

  <div class="list-group-item disabled bold">
    <%= :app_observations_left.t %>
  </div>
  <%= link_to(:app_create_observation.t, observer_create_observation_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:app_your_observations.t,
              "#{observer_observations_by_user_path}/#{@user.id}",
              { class: "list-group-item indent" }) if @user %>
  <%= link_to(:app_sort_by_date_obs.t, observer_list_observations_path,
              { class: "list-group-item indent" }) %>

  <div class="list-group-item disabled bold">
    <%= :app_latest.t %>
  </div>
  <%= link_to(:app_latest_changes.t, observer_list_rss_logs_path,
                { class: "list-group-item indent" }) %>
  <%= link_to(:app_newest_images.t, image_list_images_path,
                { class: "list-group-item indent" }) %>
  <%= link_to(:app_comments.t, comment_list_comments_path,
                { class: "list-group-item indent" }) %>

  <div class="list-group-item disabled bold">
    <%= :app_species_list.t %>
  </div>
  <% unless @user.nil? %>
    <%= link_to(:app_your_lists.t,
                "#{species_list_species_lists_by_user_path}/#{@user.id}",
                { class: "list-group-item indent" } ) %>
  <% end%>
  <%= link_to(:app_create_list.t, species_list_name_lister_path,
                { class: "list-group-item indent" } ) %>
  <%= link_to(:app_sort_by_date_spl.t, species_list_list_species_lists_path,
                { class: "list-group-item indent" }) %>
  <%= link_to(:app_sort_by_title.t, species_list_species_lists_by_title_path,
                { class: "list-group-item indent" }) %>

  <div class="list-group-item disabled bold">
    <%= :INDEXES.t %>
  </div>
  <%= link_to(:GLOSSARY.t, glossary_terms_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:HERBARIA.t, herbaria_path(flavor: :all),
              { class: "list-group-item indent" }) %>
  <%= link_to(:LOCATIONS.t, location_list_locations_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:NAMES.t, name_observation_index_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:NEWS.t, articles_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:PROJECTS.t, project_list_projects_path,
              { class: "list-group-item indent" }) %>

  <div class="list-group-item disabled bold">
    <%= :app_more.t %>
  </div>
  <%= link_to(:app_how_to_help.t, observer_how_to_help_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:app_feature_tracker.t, pivotal_index_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:app_send_a_comment.t, observer_ask_webmaster_question_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:app_contributors.t, observer_users_by_contribution_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:app_site_stats.t, observer_show_site_stats_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:translators_note_title.t, observer_translators_note_path,
              { class: "list-group-item indent" }) %>
  <%= link_to(:app_publications.t, publications_path,
              { class: "list-group-item indent" }) %>

  <% unless browser.bot?%>
    <div class="list-group-item indent" style="overflow:visible">
      <div class="dropdown">
        <%= content_tag(:span, "#{:app_languages.t}:") %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-expanded="false">
          <%= image_tag("/flags/flag-#{I18n.locale.downcase}.png",
                      width: "27px", height: "18px") %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <% for lang in Language.all.reject(&:beta).sort_by(&:order) %>
            <li><%= link_to(image_tag("/flags/flag-#{lang.locale}.png",
                                    width: "27px", height: "18px") +
                            "&nbsp;".html_safe + h(lang.name),
                    reload_with_args(user_locale: lang.locale)) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
