<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#search_navbar"
          aria-controls="search_navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="search_navbar">
    <%= form_tag({controller: :search, action: :pattern_search},
                 {class: "form-inline my-2 my-lg-0"}) do %>

      <%= text_field(:search,
                     :pattern,
                     value: session[:pattern],
                     class: "form-control",
                     aria: {label: "Search".t},
                     placeholder: :app_find.t ) %>

      <%= options = [
            [:COMMENTS.l, :comment],
            [:HERBARIA.l, :herbarium],
            [:IMAGES.l, :image],
            [:LOCATIONS.l, :location],
            [:NAMES.l, :name],
            [:OBSERVATIONS.l, :observation],
            [:PROJECTS.l, :project],
            [:SPECIES_LISTS.l, :species_list],
            [:HERBARIUM_RECORDS.l, :herbarium_record],
            [:USERS.l, :user],
            [:app_search_google.l, :google],
          ].sort

          select(:search, :type,
                 options_for_select(options,
                                    session[:search_type] || :observation),
                 {},
                 { class: "custom-select" }) %>

      <%= submit_tag(:app_search.l,
                     class: "btn btn-primary mr-2") %>

      <%= link_to info_search_bar_help_path,
                  class: "btn btn-link mx-2",
                  id: "search_bar_help_link" do
            tag.span :search_bar_help.t class: "text-nowrap"
      end %>

      <%= link_to search_advanced_search_form_path,
                  class: "mx-2 btn btn-link border-0",
                  id: "advanced_search_link" do
            tag.span :app_advanced_search.t class: "text-nowrap"
      end %>

    <% end %>
  </div>

  <% if @user.nil? %>

    <%= link_to account_login_path,
                class: "btn btn-outline",
                id: "account_login_link" do
          :app_login.t
    end %>

    <%= link_to account_signup_path,
                class: "btn btn-outline",
                id: "account_signup_link" do
          :app_create_account.t
    end %>

  <% else ##user is logged in %>
    <ul class="nav navbar-nav">
      <% if @user.admin %>
        <li class="nav-item">
          <%= link_to "",
                      { controller: :account,
                        action: in_admin_mode? ? :turn_admin_off : :turn_admin_on },
                      { class: "glyphicon glyphicon-text-background",
                        title: in_admin_mode? ? :app_turn_admin_off.t : :app_turn_admin_on.t,
                        data: { toggle: "tooltip", placement: "bottom" } } %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "",
                    { controller: :comment,
                      action: :show_comments_for_user,
                      id: @user.id },
                    { class: "glyphicon glyphicon-inbox",
                      title: :app_comments_for_you.t,
                      data: { toggle: "tooltip", placement: "bottom" } } %>
      </li>
      <li class="nav-item">
        <%= link_to "",
                    { controller: :interest,
                      action: :list_interests },
                    { class: "glyphicon glyphicon-bullhorn",
                      title: :app_your_interests.t,
                      data: { toggle: "tooltip", placement: "bottom" } } %>
      </li>
      <li class="nav-item">
        <%= link_to "",
                    { controller: :account,
                      action: :prefs },
                    { class: "glyphicon glyphicon-cog",
                      title: :app_preferences.t,
                      data: { toggle: "tooltip", placement: "bottom" } } %>
      </li>
      <li class="nav-item dropdown" id="user_dropdown">
        <a href="#"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-expanded="false">
          <%= h(@user.login) %>
        </a>
        <div class="dropdown-menu"
             role="menu"
             aria-labelledby="user_dropdown">
          <%= link_to :app_your_observations.t,
                      { controller: :observation,
                        action: :observations_by_user,
                        id: @user.id },
                      { class: "dropdown-item" } %>
          <%= link_to :app_your_lists.t,
                      { controller: :species_list,
                        action: :species_lists_by_user,
                        id: @user.id},
                      { class: "dropdown-item" } %>
          <%= link_to :app_your_interests.t,
                      { controller: :interest,
                        action: :list_interests},
                      { class: "dropdown-item" } %>
          <%= link_to :app_your_summary.t,
                      { controller: :user,
                        action: :show_user,
                        id: @user.id},
                      { class: "dropdown-item" } %>
          <%= link_to :app_preferences.t,
                      { controller: :account,
                        action: :prefs},
                      { class: "dropdown-item" } %>
          <%= link_to :app_logout.t,
                      { controller: :account,
                        action: :logout_user},
                      { class: "dropdown-item" } %>
        </div>
      </li>
      <li>
        <%= link_to "",
                    { controller: :account,
                      action: :logout_user },
                    { class: "glyphicon glyphicon-log-out pr-3",
                      title: :app_logout.t,
                      data: { toggle: "tooltip", placement: "bottom" } } %>
      </li>
    </ul>
  <% end %>
</nav>
