<nav class="navbar navbar-default">
  <%= form_tag(
        observer_pattern_search_path,
        { class: "navbar-form navbar-left" }
      ) do %>
      <div>
        <div class="inline align-top icon-addon addon-sm">
          <%= text_field(:search, :pattern, value: session[:pattern],
                         class: "form-control", placeholder: :app_find.t) %>
          <label for="search_pattern" class="glyphicon glyphicon-search"
                 title="search"> </label>
        </div>
        <div class="inline align-top nowrap">
          <%=
            options = [
              [:COMMENTS.l, :comment],
              [:HERBARIA.l, :herbarium],
              [:IMAGES.l, :image],
              [:LOCATIONS.l, :location],
              [:NAMES.l, :name],
              [:OBSERVATIONS.l, :observation],
              [:PROJECTS.l, :project],
              [:SPECIES_LISTS.l, :species_list],
              [:HERBARIUM_RECORDS.l, :herbarium_record],
              [:USERS.l, :user],
              [:app_search_google.l, :google],
            ].sort
            select(:search, :type,
                   options_for_select(options,
                                      session[:search_type] || :observation),
                   { },
                   { class: "form-control inline align-top",
                     style: "width: auto;" })
          %>
          <%= submit_tag(:app_search.l, class: "btn align-top",
                         style: "margin-right:0.5em") %>
        </div>
        <%=
            link_to(content_tag(:span, :search_bar_help.t),
                    observer_search_bar_help_path)
        %>
        |

        <%
          adv_search = link_to(content_tag(:span, :app_advanced_search.l,
                                           style: "white-space:nowrap"),
                       observer_advanced_search_form_path)
          @timer_end ||= Time.zone.now
          secs = "%.2f" % (@timer_end.to_f - @timer_start.to_f)
          timer = "(#{ :app_index_timer.t(seconds: secs, num: @num_results.to_i) })"
        %>
        <% if @timer_start %>
          <div class="inline hidden-xs" style="font-size:80%">
            <span id="timer"><%= timer %></span><br/>
            <%= adv_search %>
          </div>
        <% else %>
          <p class="form-control-static hidden-xs">
            <%= adv_search %>
          </p>
        <% end %>
        <div class="visible-xs">
          <%= content_tag(:span, timer, id: "timer", class: "nowrap") if @timer_start %>
          <%= adv_search %>
        </div>
      </div>
    <% end %>

  <% if @user.nil? %>
    <div class="nav navbar-nav navbar-form navbar-right hidden-xs"
         style="margin:0">
      <p class="form-control-static">
        <%= link_to(
              :app_login.t, account_login_path,
              { class: "btn btn-primary" }
            ) %>
        <%= link_to(
              :app_create_account.t, account_signup_path,
              { class: "btn btn-primary" }
            ) %>
      </p>
    </div>
  <% else ##user is logged in %>
    <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right:0">
      <% if @user.admin %>
        <li>
          <%= link_to(
            "",
            in_admin_mode? ? account_turn_admin_off_path : account_turn_admin_on_path,
            { class: "glyphicon glyphicon-text-background",
              title: in_admin_mode? ? :app_turn_admin_off.t : :app_turn_admin_on.t,
              data: { toggle: "tooltip", placement: "bottom" } }
          ) %>
        </li>
      <% end %>
      <li>
        <%= link_to(
              "", comment_show_comments_for_user_path(@user),
              { class: "glyphicon glyphicon-inbox",
                title: :app_comments_for_you.t,
                data: { toggle: "tooltip", placement: "bottom" } }
            ) %>
      </li>
      <li>
        <%= link_to(
              "",
              interest_list_interests_path,
              { class: "glyphicon glyphicon-bullhorn",
                title: :app_your_interests.t,
                data: { toggle: "tooltip", placement: "bottom" } }
            ) %>
      </li>
      <li>
        <%= link_to(
              "",
              account_prefs_path,
              { class: "glyphicon glyphicon-cog", title: :app_preferences.t,
                data: { toggle: "tooltip", placement: "bottom" } }
            ) %>
      </li>
      <li id="user_drop_down" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-expanded="false">
          <%= h(@user.login) %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to(:app_your_observations.t,
                          observer_observations_by_user_path(@user),
                          { class: "" } ) %></li>
          <li><%= link_to(:app_your_lists.t,
                          species_list_species_lists_by_user_path(@user),
                          { class: "" } ) %></li>
          <li><%= link_to(:app_your_interests.t,
                          interest_list_interests_path,
                          { class: "" }) %></li>
          <li><%= link_to(:app_your_summary.t,
                          observer_show_user_path(@user),
                          { class: "" }) %></li>
          <li><%= link_to(:app_preferences.t,
                          account_prefs_path,
                          { class: "" }) %></li>
          <li class="divider"></li>
          <li><%= link_to(:app_logout.t,
                          account_logout_user_path) %></li>
        </ul>
      </li>
      <li> <%= link_to("",
                       account_logout_user_path,
                       { class: "glyphicon glyphicon-log-out",
                          title: :app_logout.t,
                          data: { toggle: "tooltip", placement: "bottom" },
                          style: "padding-right: 10px" }) %>
      </li>
    </ul>
  <% end %>
</nav>
