<%
  type = description.parent.type_tag

  if description.reader_groups.include?(UserGroup.all_users)
    read = :public.t
  elsif in_admin_mode? || description.is_reader?(@user)
    read = :restricted.t
  else
    read = :private.t
  end

  if description.writer_groups.include?(UserGroup.all_users)
    write = :public.t
  elsif in_admin_mode? || description.is_writer?(@user)
    write = :restricted.t
  else
    write = :private.t
  end
%>

<p>
  <%= :TITLE.t %>: <%= description_title(description) %><br/>
  <%= type.to_s.upcase.to_sym.t %>: <%= description.parent.format_name.t %><br/>
  <%= :show_description_read_permissions.t %>: <%= read %><br/>
  <%= :show_description_write_permissions.t %>: <%= write %><br/>
  <%= show_previous_version(description) %>
</p>
