<%
  # This is a stop-gap measure until I/we figure out exactly how we want to
  # deal with tabsets moving foward.  I'm not sure that my current approach is
  # correct, but I feel like it is a bit more transparent than the previous
  # approach and allows more flexibility in styling the tabs - RJS 2/15/2015
  @tabsets ||= {}
%>

  <div class="col-<%= @tabsets[:right] ? 8 : 12 %>" id="title">
    <!-- Pager -->
    <%= tag.div class: "d-print-none" do
          if @tabsets[:pager_for]
            render partial: "/shared/prev_next_pager",
              locals: { object: @tabsets[:pager_for] }
          end
        end %>

    <!-- Title Caption -->
    <!-- e.g. "Observation 5"; Can be multiple lines, e.g., with Observer ID -->
    <%= tag.span @title, id: "title-caption" -%>
    <%= if @any_content_filters_applied
          add_context_help(content_tag(:span, "(#{:filtered.t})",
                                       class: "align-1px"),
                           :rss_filtered_mouseover.t)
        end -%>
    <%= content_tag_if(@owner_id, :div, @owner_id, class: "owner-id") %>
  </div>

  <!-- Tabsets -->
  <%= content_tag_if(@tabsets[:right], :div, @tabsets[:right],
                     id: "right_tabs",
                     class: "d-print-none text-right col-sm-4 mb-3") %>

  <%= content_tag_if(@full_width_tab_set, :div, @full_width_tab_set,
                     class: "d-print-none col-12") %>

  <!-- Sorter -->
  <% if @sorts %>
    <div class="d-print-none col-12">
      <div class="pad-top">
        <%= content_tag(:span, :sort_by_header.t) %>
        <div id="sorts" class="btn-group btn-group-xs" role="group">
          <% @sorts.each do |title, action| %>
            <%= if action.nil?
                  link_with_query(title, {}, class: "btn btn-default active",
                                             disabled: true)
                else
                  link_with_query(title, action, class: "btn btn-default")
                end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
