<%
  # This is a stop-gap measure until I/we figure out exactly how we want to
  # deal with tabsets moving foward.  I'm not sure that my current approach is
  # correct, but I feel like it is a bit more transparent than the previous
  # approach and allows more flexibility in styling the tabs - RJS 2/15/2015
  @tabsets ||= {}
%>

  <!-- Pager -->
  <%= tag.div class: "d-print-none" do
        if @tabsets[:pager_for]
          render partial: "/shared/prev_next_pager",
            locals: { object: @tabsets[:pager_for] }
        end
      end %>

  <div id="title" class="d-flex flex-row justify-content-between align-items-end mb-3">

    <!-- Title Caption -->
    <!-- e.g. "Observation 5"; Can be multiple lines, e.g., with Observer ID -->
    <%= tag.span @title, id: "title-caption", class: "h2 d-inline"-%>
    <%= if @any_content_filters_applied
          add_context_help(content_tag(:span, "(#{:filtered.t})",
                                       class: ""),
                           :rss_filtered_mouseover.t)
        end -%>
    <%= content_tag_if(@owner_id, :div, @owner_id, class: "owner-id") %>

    <!-- Timer -->
    <%= render partial: "/shared/timer", locals: { } %>

  </div>

  <!-- Tabsets -->
  <%= content_tag_if(@tabsets[:right], :div, @tabsets[:right],
                     id: "right_tabs",
                     class: "d-print-none text-right float-right mb-3") %>

  <%= content_tag_if(@full_width_tab_set, :div, @full_width_tab_set,
                     class: "d-print-none") %>

  <!-- Sorter -->
  <%= render partial: "/shared/sorter", locals: { } %>
