<%
  add_page_title(:show_visual_model_title.t(name: @visual_model.name))
%>

<%= tag.p(notice, id: "notice") %>

<%= tag.p do
  [
    link_to(:visual_group_create.t,
            new_visual_model_visual_group_path(@visual_model)),
    link_to(:show_visual_model_edit.t, edit_visual_model_path(@visual_model)),
    link_to(:show_visual_model_index.t, visual_models_path)
  ].safe_join(" | ")
end %>

<%= tag.h3("Visual Groups") %>

<%= tag.table(class: "table-striped table-visual-model mb-3 mt-3") do %>
  <thead>
    <tr>
      <th><%= :NAME.t %></th>
      <th><%= :visual_group_included.t %></th>
      <th><%= :visual_group_excluded.t %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% included_counts = visual_model.image_counts(true)
       excluded_counts = visual_model.image_counts(false)
       @visual_model.visual_groups.order(:name).each do |visual_group| %>
      <tr>
        <td><%= link_to(visual_group.name, visual_group) %></td>
        <td><%= included_counts[visual_group.id] || 0 %></td>
        <td><%= excluded_counts[visual_group.id] || 0 %></td>
        <td><%= link_to(:EDIT.t, edit_visual_group_path(visual_group)) %></td>
        <td><%= link_to(:DESTROY.t, visual_group, method: :delete,
                        data: { confirm: :are_you_sure.t }) %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
