<%
@container = :full
add_page_title(:obs_needing_id.t)

flash_error(@error) if @error && @objects.empty?
%>

<div class="container-text">
  <%= content_tag(:p, :obs_needing_id_intro.tp) %>
  <%# render(partial: "observations/identify/form_identify_filter") %>
</div>

<%= paginate_block(@pages) do %>
  <%= tag.ul(class: "row list-unstyled mt-3",
             data: { controller: "matrix-table",
                     action: "resize@window->matrix-table#rearrange" }) do %>
    <%= render(partial: "shared/matrix_box",
               locals: { identify: true },
               collection: @objects, as: :object, cached: true) %>
    <%= tag.div("", style: "clear:left") %>
  <% end %>
<% end %>

<!--AJAX SAVING VOTE MESSAGE-->
<%= render(partial: "shared/modal_ajax_progress") %>
