<%
add_page_title(:edit_lifeform_title.t(name: @name.display_name))

add_tab_set(name_forms_return_tabs(name: @name))
@container = :text_image

action = { controller: "/names/lifeforms", action: :update,
           id: @name.id, q: get_query_param }
%>

<%= form_with(url: action, method: :put, scope: :lifeform,
              id: "name_lifeform_form") do |f| %>

  <p><%= :edit_lifeform_help.t %></p>

  <table class="table table-lifeform table-striped">
    <% Name.all_lifeforms.each do |word| %>
      <tr>
        <td>
          <%= checked = @name.lifeform.include?(" #{word} ")
          check_box_with_label(form: f, field: word, value: "1",
                               checked: checked, class: "mt-2",
                               label: :"lifeform_#{word}".t) %>
        </td>
        <td class="container-text">
          <%= :"lifeform_help_#{word}".t %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= submit_button(form: f, button: :SAVE.t, center: true) %>

<% end %>
