<%# Display form for a new request to be a herbarium curator %>
<%
  @title = :show_herbarium_curator_request.t

  tabs = [
    link_with_query(
      :cancel_and_show.t(type: :herbarium), herbarium_path(@herbarium)
    ),
    link_with_query(:herbarium_index.t, herbaria_nonpersonals_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :show_herbarium_curator_help.tp %>
  <%= form_tag(
        add_query_param(
          herbaria_curator_requests_path(id: @herbarium, back: @back)
        )
      ) do %>
    <div class="form-group push-down">
      <%= label_tag(:herbarium_name, :HERBARIUM.t) %>: <%= @herbarium.name.t %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:notes, "#{:NOTES.t}:") %>
      <%= text_area_tag(:notes, "", rows: 10, class: "form-control",
                        data: { autofocus: true }) %>
    </div>

    <%= submit_tag(:SEND.l, class: "btn center-block push-down") %>
  <% end %>
</div>
