<%
merges = description.parent.descriptions - [description]
moves = description.parent.synonyms - [description.parent]
moves.reject!(&:is_misspelling?)
%>

<%= form_with(url: action, id: "move_descriptions_form") do |f| %>

  <%= content_tag(:h4, "#{:merge_descriptions_move_header.t}:") %>
  <%= content_tag(:p, :merge_descriptions_move_help.t, class: "help-note") %>

  <% if moves.any? %>
    <div class="form-group">
      <% moves.sort_by.each do |name|
        [ (a.deprecated ? 1 : 0), a.sort_name, a.id ] %>
        <%= radio_with_label(form: f, field: :target, value: name.id,
                              label: name.display_name.t,
                              checked: merges.length == 0 &&
                                      moves.length == 1) %>
      <% end %>
    </div>

    <%= check_box_with_label(form: f, field: :delete, value: "1",
                             checked: description.is_admin?(@user),
                             label: :merge_descriptions_delete_after.t) %>
  <% end %>

  <% button = moves.any? ? :merge_descriptions_move.l : nil
  if button %>
    <%= submit_button(form: f, button: :SUBMIT.l, center: true) %>
  <% end %>

<% end %>
