<%
container_class(:full)
add_project_banner(@project) if @project
add_page_title(checklist_show_title(user: @show_user, list: @species_list))
add_context_nav(checklist_show_tabs(user: @show_user, list: @species_list))
%>

<div class="my-4">
  <%= :checklist_summary.t(species: @data.num_species,
                           genera: @data.num_genera,
                           names: @data.num_taxa) %>
</div>

<% if @location %>
  <h4>
    <%= :checklist_for.t %>
    <%= location_link(nil, @location) %>
  </h4>
<% end %>

<%= panel_block(inner_class: "checklist") do %>
  <ul class="list-unstyled">
    <% @data.taxa.each do |taxon| %>
      <%= checklist_name_link(taxon:, data: @data,
                              params: [@show_user, @project, @location, @species_list]) %>
    <% end %>
  </ul>
<% end %>

<div>
  <%= tag.p(:checklist_any_deprecated.l) if @data.any_deprecated? %>
  <%= tag.p(:checklist_duplicate_synonyms.l) if @data.duplicate_synonyms.present? %>
</div>
