<div class="form-group push-down">
  <%= label_tag(:event_name, :conference_event_name.t + ":") %>
  <%= text_field(:event, :name, class: "form-control") %>
</div>

<div class="form-group push-down">
  <%= label_tag(:event_location, :conference_event_location.t + ":") %>
  <%= text_field(:event, :location, class: "form-control") %>
</div>

<div class="form-group form-inline push-down">
  <%= label_tag(:event_start, :conference_event_start.t + ":") %>
  <%= date_select(:event, :start,
                  {start_year: Time.now.year, end_year: Time.now.year + 10, order: [:day,:month,:year]},
                  {class: "form-control"}) %>
</div>

<div class="form-group form-inline">
  <%= label_tag(:event_end, :conference_event_end.t + ":") %>
  <%= date_select(:event, :end,
                  {start_year: Time.now.year, end_year: Time.now.year + 10, order: [:day,:month,:year]},
                  {class: "form-control"}) %>
</div>

<div class="form-group push-down">
  <%= label_tag(:event_description, :conference_event_description.t + ":") %>
  <%= text_area(:event, :description, rows: 10, class: "form-control") %>
</div>

<div class="form-group push-down">
  <%= label_tag(:event_registration_note, :conference_event_registration_note.t + ":") %>
  <%= text_area(:event, :registration_note, rows: 10, class: "form-control") %>
</div>

<%= submit_tag(button.l, class: "btn center-block push-down") %>
