<%
  @title = :list_registrations_title.t(name: @event.name)
  new_tab_set do
    add_tab(:show_event.t, action: :show_event, id: @event.id)
    add_tab(:event_index.t, action: :index)
    add_tab(:register_event.t, action: :register, id: @event.id)
    if is_in_admin_mode?
      add_tab(:edit_event.t, action: :edit_event, id: @event.id)
      add_tab(:create_event.t, action: :create_event)
    end
  end
%>

<div class="row push-down">
  <div class="col-xs-12">
    <table class="table table-striped slight-pad">

      <tr>
        <% for label in [
          :conference_registration_id,
          :conference_registration_name,
          :conference_registration_email,
          :conference_registration_how_many,
          :conference_registration_notes
        ] %>
          <th class="nowrap"><%= label.t %></th>
        <% end %>
      </tr>

      <% for r in @event.conference_registrations %>
        <tr>
          <td><%= r.id %></td>
          <td class="nowrap"><%= r.name %></td>
          <td><%= r.email %></td>
          <td><%= r.how_many %></td>
          <td><%= r.notes %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
