<%
  @title = :register_event_title.t + " " + @event.name

  tabs = [
    link_to(:cancel_and_show.t(type: :conference_event), action: :show_event,
            id: @event.id),
    link_to(:event_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(action: :register, id: @event.id) do %>
    <div class="form-group push-down">
      <%= @event.registration_note.tp %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:registration_name, :conference_registration_name.t + ":") %>
      <%= text_field(:registration, :name, class: "form-control") %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:registration_email, :conference_registration_email.t + ":") %>
      <%= text_field(:registration, :email, class: "form-control") %>
    </div>

    <div class="form-group push-down form-inline">
      <%= label_tag(:registration_how_many, :conference_registration_how_many.t) %>
      <%= text_field(:registration, :how_many, size: 7, value: 1, class: "form-control") %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:registration_notes, :conference_registration_notes.t + ":") %>
      <%= text_area(:registration, :notes, class: "form-control") %>
    </div>

    <%= submit_tag(:register_save.t, class: "btn center-block push-down") %>
  <% end %>
</div>
