<%
  @title = :show_event_title.t(name: @event.name)

  tabs = [
    link_to(:event_index.t, action: :index),
    link_to(:register_event.t, action: :register, id: @event.id)
  ]
  if in_admin_mode?
    tabs += [
      link_to(:list_registrations.t, action: :list_registrations, id: @event.id),
      link_to(:edit_event.t, action: :edit_event, id: @event.id),
      link_to(:create_event.t, action: :create_event)
    ]
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-xs-12">
    <div>
      <b><%= :show_event_how_many.t(how_many: @registration_count) %></b>
    </div>

    <div class="push-down">
      <b><%= :conference_event_name.t %>:</b> <%= @event.name %><br/>
      <b><%= :conference_event_location.t %>:</b> <%= location_link(@event.location, nil) %><br/>
      <% if @event.start %>
        <b><%= :conference_event_start.t %>:</b> <%= @event.start.web_date %><br/>
      <% end %>
      <% if @event.end %>
        <b><%= :conference_event_end.t %>:</b> <%= @event.end.web_date %><br/>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <div class="push-down">
      <%= ("*" + :conference_event_description.l + "*: " + @event.description).tp %>
    </div>

    <div class="push-down" style="text-align:center">
      <%= link_to(:register_event.t, {action: :register, id: @event.id}, {class: "btn"}) %>
    </div>

    <div class="push-down">
      <% if @event.created_at %>
        <b><%= :conference_event_created_at.t %>:</b> <%= @event.created_at.web_date %><br/>
      <% end %>
      <% if @event.updated_at %>
        <b><%= :conference_event_updated_at.t %>:</b> <%= @event.updated_at.web_date %><br/>
      <% end %>
    </div>
  </div>
</div>
