<%
add_show_title(@collection_number.format_name.t, @collection_number)
add_edit_icons(@collection_number)
add_pager_for(@collection_number)
%>

<div class="content-block">
  <%= :collection_number_name.t %>: <%= @collection_number.name %><br/>
  <%= :collection_number_number.t %>: <%= @collection_number.number %><br/>
  <%= :collection_number_user.t %>: <%= user_link(@collection_number.user) %><br/>
</div>

<ul class="row list-unstyled mt-3">
  <% @collection_number.observations.each do |object| %>
    <%= render(::Components::MatrixBox.new(
                 user: @user,
                 object: object,
                 columns: "col-xs-12")) %>
  <% end %>
</ul>

<div class="text-center">
  <p>
    <%= :CREATED_AT.t %>: <%= @collection_number.created_at.web_date %><br/>
    <%= :UPDATED_AT.t %>: <%= @collection_number.updated_at.web_date %><br/>
  </p>
</div>
<!-- .text-center -->
