<% add_page_title(:login_please_login.t) %>

<%= render(Components::LoginForm.new(
      FormObject::Login.new(login: @login, remember_me: @remember),
      action: account_login_path,
      id: "account_login_form"
    )) %>

<div>
  <div class="h3">
    <%= :login_create_account_caption.tp %>
  </div>
  <%= :login_no_account.tp %>
  (<%= :login_explain_login_requirement.t %>)
</div>

<div>
  <div class="h3">
    <%= :login_why.t %>
  </div>

  <div>
    <%= :login_spiders_bad1.t %>
  </div>
  <br>
  <div>
    <%= :login_spiders_bad2.t %>
  </div>
  <br>
  <div>
    <%= :login_spiders_bad3.t %>
  </div>
</div>

<div>
  <div class="h3">
    <%= :login_data_without_login_caption.tp %>
  </div>
  <div>
    <%= :login_images_without_login.tp %>
    <%= :login_data_without_login.tp %>
  </div>
</div>
