<%= # form_tag(add_query_param(action: :new)) do %>
<%= # form_tag(add_query_param(action: :edit, id: @project.id)) do %>
<%= form_with model: :project do |f| %>

  <%= submit_tag(button_name.t, class: "btn mx-auto mt-3") %>

  <div class="form-group mt-3">
    <%= label_tag(:project_title, :form_projects_title.t + ":") %>
    <%= text_field(:project, :title, class: "form-control", data: {autofocus: true}) %>
  </div>

  <div class="form-group mt-3">
    <%= label_tag(:project_summary, :SUMMARY.t + ":") %>
    <%= text_area(:project, :summary, rows: 20, class: "form-control") %>
    <%= render "shared/textilize_help" %>
  </div>

<% end %>
