<%= form_with(model: @project, id: "project_form") do |f| %>

  <%= submit_button(form: f, button: button, center: true) %>

  <%= tag.div(
    tag.p("*#{:form_project_date_range.t}*".t) +
    tag.p(:form_project_dates_explain.t)
  ) %>
  <div class="container-text">
    <div>
      <%= f.label(:start_date, "#{:form_projects_start_date.t}: ") %>
      <%= f.date_select(:start_date,
                        { class: "form-control mb-2" }) %>
      <p>
        <%= radio_button(
              "start_date", "fixed", true, checked: @start_date_fixed
            ) %> <%= :form_projects_date_fixed.t %>
      </p>
      <p>
        <%= radio_button(
            "start_date", "fixed", false, checked: !@start_date_fixed
            ) %> <%= :form_projects_date_indefinite.t %>
      </p>
    </div>
    <div>
      <%= f.label(:end_date, "#{:form_projects_end_date.t}: ") %>
      <%= f.date_select(:end_date,
                        { class: "form-control mb-2" }) %>
      <p>
        <%= radio_button(
              "end_date", "fixed", true, checked: @end_date_fixed
            ) %> <%= :form_projects_date_fixed.t %>
      </p>
      <p>
        <%= radio_button(
              "end_date", "fixed", false, checked: !@end_date_fixed
            ) %> <%= :form_projects_date_indefinite.t %>
      </p>
    </div>
  </div>

  <%= check_box_with_label(form: f, field: :accepting_observations,
                           label: :form_projects_accepting_observations.t) %>

  <%= check_box_with_label(form: f, field: :open_membership,
                           label: :form_projects_open_membership.t) %>

  <%= text_field_with_label(form: f, field: :title,
                            label: :form_projects_title.t + ":",
                            data: { autofocus: true }) %>

  <%= text_area_with_label(form: f, field: :summary, rows: 5,
                           label: :SUMMARY.t + ":") %>

  <%= render(partial: "shared/textilize_help") %>

  <%= text_field_with_label(form: f, field: :place_name,
                            placeholder: :start_typing.l,
                            label: :WHERE.t + ":",
                            between: :required,
                            data: { autocompleter: :location }) %>

<% end %>
