<%= form_with(model: @project, id: "project_form") do |f| %>

  <%= submit_button(form: f, button: button, center: true) %>

  <%= check_box_with_label(form: f, field: :accepting_observations,
                           label: :form_projects_accepting_observations.t) %>

  <%= check_box_with_label(form: f, field: :open_membership,
                           label: :form_projects_open_membership.t) %>

  <%= text_field_with_label(form: f, field: :title,
                            label: :form_projects_title.t + ":",
                            data: { autofocus: true }) %>

  <%= text_area_with_label(form: f, field: :summary, rows: 5,
                           label: :SUMMARY.t + ":") %>

  <%= render(partial: "shared/textilize_help") %>

  <%= autocompleter_field(form: f, field: :place_name, label: :WHERE.t + ":",
                          between: :required, autocomplete: :location) %>

  <%= file_field_with_label(form: f, field: :upload_image,
                            label: :form_projects_image_upload.t + ":") %>

  <div class="form-group mt-3">
    <%= fields_for(:upload) do |fu| %>

      <div class="row">
        <div class="col-xs-8">
          <%= text_field_with_label(form: fu, field: :copyright_holder,
                                    label: :profile_copyright_holder.t + ":",
                                    value: @copyright_holder) %>
        </div>
        <div class="col-xs-4">
          <%= select_with_label(form: fu, field: :copyright_year,
                                label: :WHEN.t + ":",
                                start_year: 1980, end_year: Time.zone.now.year,
                                value: @copyright_year) %>
        </div>
      </div>

      <%= select_with_label(form: fu, field: :license_id,
                            label: :License.t + ":", options: @licenses,
                            select_opts: { selected: @upload_license_id },
                            append: help_block(:div,
                                    ["(",
                                     :profile_copyright_warning.t,
                                     ")"].safe_join)) %>

    <% end %>

  </div>
<% end %>
