<p class="mb-0">
  <b><%= :change_member_status_members.t %>:</b>
</p>
<p class="ml-3">
  <% project.user_group.users.each do |u| %>
    <%= user_link(u) %>
    <% if @project.is_admin?(@user) %>
      | <%= link_with_query(:change_member_status_change_status.t,
                            action: :change_member_status, id: project.id,
                            candidate: u.id) %>
    <% end %>
    <br/>
  <% end %>
</p>

<p class="mb-0">
  <b><%= :change_member_status_admins.t %>:</b>
</p>
<p class="ml-3">
  <% project.admin_group.users.each do |u| %>
    <%= user_link(u) %>
    <% if @project.is_member?(@user) %>
      | <%= link_with_query(:change_member_status_change_status.t,
                            action: :change_member_status, id: project.id,
                            candidate: u.id) %>
    <% end %>
    <br/>
  <% end %>
</p>
