<%
  @title ||= :change_member_status_title.t(
    name: @candidate.legal_name,
    title: @project.title
  )

  tabs = [
    link_to(:app_list_projects.t, action: :index),
    link_with_query(:cancel_and_show.t(type: :project), project_path(@project))
  ]
  if check_permission(@project)
    tabs << link_with_query(:change_member_status_edit.t, action: :edit,
                            id: @project.id)
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(add_query_param(action: :change_member_status, id: @project.id,
                               candidate: @candidate.id)) do %>

    <div class="form-group mt-3">
      <%= submit_tag(:change_member_status_make_member.l, class: "btn mx-auto mb-3") %>
      <%= :change_member_status_make_member_help.t %>
    </div>

    <div class="form-group mt-3">
      <%= submit_tag(:change_member_status_remove_member.l, class: "btn mx-auto mb-3") %>
      <%= :change_member_status_remove_member_help.t %>
    </div>

    <div class="form-group mt-3">
      <%= submit_tag(:change_member_status_make_admin.l, class: "btn mx-auto mb-3") %>
      <%= :change_member_status_make_admin_help.t %>
    </div>
  <% end %>

  <%= render(partial: "show_groups", locals: {project: @project}) %>
</div>
