<%
add_page_title(:show_project_title.t(title: @project.title))
add_pager_for(@project)
add_interest_icons(@user, @project)
add_tab_set(project_show_tabs(project: @project, user: @user))
%>

<% if @project.can_join?(@user) %>
  <%= post_button(name: :show_project_join.t,
      path: project_members_path(project_id: @project.id,
                                 candidate: @user.id)) %>
<% elsif @project.can_leave?(@user) %>
  <%= put_button(name: :show_project_leave.t,
                 path: project_member_path(project_id: @project.id,
                                           candidate: @user.id)) %>
<% end %>
<div class="row">
  <div class="col-md-6">
    <%= panel_block do %>
      <p><b><%= :show_project_created_at.t %>:</b> <%= @project.created_at.web_date %></p>
      <p><b><%= :show_project_start_date.t %>:</b> <%= @project.start_date %><br/>
      <b><%= :show_project_end_date.t %>:</b> <%= @project.end_date %></p>
      <% if false %>
        <p><b><%= :show_project_published.t %>:</b> <%= @name_count %></p>
      <% end %>
      <p><b><%= :show_project_by.t %>:</b> <%= user_link(@project.user) %></p>
      <p><b><%= :show_project_user_group.t %>:</b> <%= @project.user_group.name.t %></p>
      <p><b><%= :show_project_admin_group.t %>:</b> <%= @project.admin_group.name.t %></p>
      <%= ("*" + :show_project_summary.l + ":* " + @project.summary.to_s.html_safe).tpl %>
      <%= if @user && @project.user_group.users.member?(@user)
        render(partial: "projects/groups", locals: { project: @project })
      end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= panel_block do %>

      <b><%= :OBSERVATIONS.t %>:</b>
      <% if @project.observations.any? %>
        <%= @project.observations.length %>
        (<%= link_to(:SHOW.t, observations_path(project: @project.id)) %> |
        <%= link_to(:app_checklist.t,
                    checklist_path(project_id: @project.id)) %>)
      <% else %>
        <%= :NONE.t %>
      <% end %>
      <br/>

      <b><%= :IMAGES.t %>:</b>
      <% if @project.images.any? %>
        <%= @project.images.length %>
        (<%= link_to(:SHOW.t, images_path(for_project: @project.id)) %>)
      <% else %>
        <%= :NONE.t %>
      <% end %>
      <br/>

      <b><%= :SPECIES_LISTS.t %>:</b>
      <% if @project.species_lists.any? %>
        <%= @project.species_lists.length %>
        (<%= link_to(:SHOW.t,
                      species_lists_path(for_project: @project.id)) %>)
      <% else %>
        <%= :NONE.t %>
      <% end %>
      <br/>

      <b><%= :show_project_drafts.t %>:</b>
      <%= @drafts.any? ? @drafts.length : :NONE.t %><br/>
      <div class="ml-3">
        <% @drafts.each do |draft| %>
          <%= link_with_query(draft.name&.display_name&.t,
                              name_description_path(draft.id)) %>
          (<%= user_link(draft.user) %>)<br/>
        <% end %>
      </div>

    <% end %>
  </div>
</div><!--.row-->

<%= render(partial: "comments/comments_for_object",
           locals: { object: @project, controls: true, limit: nil }) %>

<%= show_object_footer(@project) %>
