<!--[form:synonyms]-->
<div class="row">
  <div class="col-sm-6">
    <% names = @name.synonyms
    if names.count > 1 %>
      <div class="form-group">
        <%= content_tag(:div, "#{:form_synonyms_current_synonyms.t}:",
                        class: "font-weight-bold my-3") %>
        <%= content_tag(:p, :form_synonyms_current_synonyms_help.t,
                        class: "help-block") %>
        <% names.each do |n| %>
          <% if n != @name %>
            <%= check_box_with_label(form: f,
                                     field: :"existing_synonyms_#{n.id}",
                                     value: "1", checked: "1",
                                     text: link_to(n.display_name.t,
                                                   name_path(n.id))) %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @synonym_names && @synonym_names != [] %>
      <% if names.count > 1 %>
        <hr/>
      <% end %>
      <div class="form-group">
        <%= content_tag(:div, "#{:form_synonyms_proposed_synonyms.t}:",
                        class: "font-weight-bold my-3") %>
        <%= content_tag(:p, :form_synonyms_proposed_synonyms_help.t,
                        class: "help-block") %>
        <% @synonym_names.each do |name| %>
          <% unless names.member?(name) %>
            <%= check_box_with_label(form: f,
                                      field: :"proposed_synonyms_#{n.id}",
                                      value: "1", checked: "1",
                                      text: link_to(n.display_name.t,
                                                    name_path(n.id))) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div><!--.col-->

  <div class="col-sm-6">
    <% if @new_names && (@new_names != []) %>
      <div class="alert alert-danger">
        <%= :form_synonyms_missing_names.t %><br/>
          <span class="pl-3">
            <% @new_names.each do |n| %>
            <%= h(n) %><br/>
            <% end %>
          </span>
        <%= content_tag(:span, :form_synonyms_missing_names_help.t,
                        class: "help-note") %>
      </div>
    <% end %>

    <div class="form-group">
      <%= check_box_with_label(form: f, field: :deprecate_all, value: "1",
                               checked: @deprecate_all && "checked",
                               text: :form_synonyms_deprecate_synonyms.t) %>
      <%= content_tag(:p, :form_synonyms_deprecate_synonyms_help.t,
                      class: "help-block") %>
    </div>

    <div class="form-group">
      <%= f.label(:synonym_members, "#{:form_synonyms_names.t}:") %>
      <%= content_tag(:p,
                      :form_synonyms_names_help.t(name: @name.display_name),
                      class: "help-block") %>
      <%= f.text_area(:synonym_members, value: @list_members,
                      class: "form-control",
                      data: { autofocus: true }) %>
    </div>
  </div><!--.col-->
</div><!--.row-->
<!--[eoform:synonyms]-->
