<%
  intro = :email_name_audit_digest_intro.l(
    date: @audit_date.to_date.to_s, count: @names.size
  )
  footer = :email_name_audit_digest_footer.l
%>
<% if @user.email_html %>
<html>
<head><title><%= "#{:app_title.t}: #{@title}" %></title></head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<ul>
<% @names.each do |name| %>
  <li>
    <%= link_to(name.user_display_name(@user),
                "#{MO.http_domain}/names/#{name.id}") %>
    (<%= link_to(:email_name_audit_digest_versions.t,
                 "#{MO.http_domain}/names/#{name.id}/versions") %>)
  </li>
<% end %>
</ul>
<%= footer.tp %>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

<% @names.each do |name| %>
* <%= name.user_real_text_name(@user) %>
  Versions: <%= MO.http_domain %>/names/<%= name.id %>/versions
<% end %>

<%= footer.tp.html_to_ascii %>
<% end %>
