<%
  add_page_title(:inat_import_create_title.l)
  add_context_nav(inat_import_form_new_tabs)
%>

<div>
  <%= form_with(url: inat_imports_path, method: :post) do |f| %>
    <%= f.label(:inat_username, "#{:inat_username.l}: ") %>
    <%= f.text_field(:inat_username, size: 10, class: "form-control",
                     value: @user.inat_username) %>

    <%= render(Components::Panel.new(panel_id: "choose_observation",
                     panel_class: "name-section")) do |panel| %>
      <%= panel.with_heading { :inat_choose_observations.l } %>
      <%= panel.with_body do %>
        <%= f.label(:inat_id, "#{:inat_import_list.l}: ") %>
        <%= f.text_area(:inat_ids, value: @inat_ids,
                        class: "form-control") %>
        <%= check_box_with_label(form: f, field: :all,
                                 class: "mt-3", label: :inat_import_all.l) %>
      <% end %>
    <% end %>

    <%= check_box_with_label(form: f, field: :consent,
                             class: "mt-3", label: :inat_import_consent.l) %>
    <%= render(Components::Panel.new) do |panel| %>
      <%= panel.with_body do %>
        <p><b><%= :inat_details_heading.l %></b></p>
        <%= :inat_details_list.t %>
      <% end %>
    <% end %>

    <%= f.submit(:SUBMIT.l, { class: "btn btn-default" }) %>

  <% end %>
</div>
