<%
  @container = :wide
  add_page_title(:inat_import_tracker.t)
  # add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<p>
  <b><%= :inat_import_tracker_status.t %>: </b>
  <%=
    # Outer span calls Stimulus controller, passing in the endpoint
    tag.span(
      id: "status", class: "text-right",
      data: { controller: "inat-import-job",
              endpoint: inat_import_job_tracker_path(@inat_import, @tracker) }
    ) do
      # Inner span is replaced by Stimulus
      render(partial: "inat_imports/job_trackers/updates",
             locals: { tracker: @tracker })
    end
  %>
</p>

<% if @inat_import.response_errors.present? %>
<p>
  <b><%= :ERRORS.t %>: </b>
  <%= tag.span(id: "errors", class: "violation-highlight") do %>
  <% @inat_import.response_errors.each_line do |error| %>
  <%= error %></br>
  <% end %>
  <% end %>
</p>
<% end %>

<p>
  <b><%= :inat_import_tracker_started.t %>: </b>
  <span id="started"><%= @tracker.created_at %></span>
</p>

<%# Display refresh button if job is incomplete%>
<% if import_incomplete?(@inat_import) %>
  <p>
    <button class="btn btn-default" onclick="location.reload();">
      <%= :inat_import_tracker_refresh.l %>
    </button>
  </p>
<% end %>

<p>
  <b><%= :inat_import_tracker_imported_count.t %>: </b>
  <span id="imported_count"><%= @inat_import.imported_count.to_s %></span>
</p>
<p>
  <b><%= :inat_import_tracker_importable_count.t %>: </b>
  <span id="importables_count"><%= @inat_import.importables.to_s %></span>
</p>
<p><%= :inat_importables_explanation.t %></p>

<p>
  <% if import_done?(@inat_import) %>
  <%= link_to(:app_your_observations.l,
                observations_path(by_user: User.current.id),
                { class: "btn btn-default" } ) %>
  <% end %>
</p>
