<%
  @container = :wide
  add_page_title(:inat_import_tracker.t)
  # add_tab_set(article_show_tabs(article: @article, user: @user))
%>

<%=
  render(partial: "inat_imports/job_trackers/updates",
         locals: { tracker: @tracker })
%>

<% if @inat_import.response_errors.present? %>
  <p>
    <b><%= :ERRORS.t %>: </b>
    <%= tag.span(id: "errors", class: "violation-highlight") do %>
      <% @inat_import.response_errors.each_line do |error| %>
        <%= error %></br>
      <% end %>
    <% end %>
  </p>
<% end %>

<%# Display refresh button if job is incomplete%>
<% if import_incomplete?(@inat_import) %>
  <p>
    <button class="btn btn-default" onclick="location.reload();">
      <%= :inat_import_tracker_refresh.l %>
    </button>
  </p>
<% end %>

<p>
  <% if import_done?(@inat_import) %>
    <%= link_to(:app_your_observations.l,
                  observations_path(by_user: User.current.id),
                  { class: "btn btn-default" } ) %>
  <% end %>
</p>
