<%
add_page_title("")
container_class(:full)
%>

<div class="row">
  <div class="col-md-6">
    <%= content_padded do
      link_to("Refresh Stats", edit_admin_blocked_ips_path,
              class: "btn btn-default")
    end %>

    <%# ----- Okay IPs ----- %>
    <%= render(Components::IpsManager.new(
          FormObject::OkayIps.new,
          type: :okay,
          ips: @okay_ips,
          action_path: admin_blocked_ips_path
        )) %>

    <%# ----- Blocked IPs ----- %>
    <%= render(Components::IpsManager.new(
          FormObject::BlockedIps.new,
          type: :blocked,
          ips: @blocked_ips,
          page: @blocked_ips_page,
          total_pages: @blocked_ips_pages,
          total_count: @blocked_ips_total,
          starts_with: @starts_with,
          filter_path: edit_admin_blocked_ips_path,
          action_path: admin_blocked_ips_path
        )) %>
  </div>

  <%# ----- Stats / Most Active Users ----- %>
  <div class="col-md-6">
    <% if @ip.present? %>
      <%= render partial: "ip_stats" %>
    <% end %>
    <%= render partial: "ip_summary" %>
  </div>
</div>
