<%
add_page_title("")
container_class(:full)
%>

<div class="row">
  <div class="col-md-6">
    <%= content_padded do
      link_to("Refresh Stats", edit_admin_blocked_ips_path,
              class: "btn btn-default")
    end %>

    <%# ----- Okay IPs ----- %>
    <%= render(Components::Panel.new(panel_class: "my-3")) do |panel| %>
      <% panel.with_body do %>
        <%= render(Components::OkayIpsManager.new(
              FormObject::OkayIps.new,
              okay_ips: @okay_ips,
              action_path: admin_blocked_ips_path
            )) %>
      <% end %>
    <% end %>

    <%# ----- Blocked IPs ----- %>
    <%= render(Components::Panel.new(panel_class: "my-3")) do |panel| %>
      <% panel.with_body do %>
        <%= turbo_frame_tag("blocked_ips_list") do %>
          <%= render(Components::BlockedIpsManager.new(
                FormObject::BlockedIps.new,
                blocked_ips: @blocked_ips,
                page: @blocked_ips_page,
                total_pages: @blocked_ips_pages,
                total_count: @blocked_ips_total,
                starts_with: @starts_with,
                filter_path: edit_admin_blocked_ips_path,
                action_path: admin_blocked_ips_path
              )) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%# ----- Stats / Most Active Users ----- %>
  <div class="col-md-6">
    <% if @ip.present? %>
      <%= render partial: "ip_stats" %>
    <% end %>
    <%= render partial: "ip_summary" %>
  </div>
</div>
