<%
  watching = @user.watching?(@observation)

  intro = :email_consensus_change_intro.l(id: @observation.id)

  fields = ""
  if @old_name
    fields += "*#{:email_field_old_name.l}:* " + link_to(@old_name.observation_name, "#{MO.http_domain}/names/show_name/#{@old_name.id}") + "\n"
  else
    fields += "*#{:email_field_old_name.l}:* --\n"
  end
  if @new_name
    fields += "*#{:email_field_new_name.l}:* " + link_to(@new_name.observation_name, "#{MO.http_domain}/names/show_name/#{@new_name.id}") + "\n"
  else
    fields += "*#{:email_field_new_name.l}:* --\n"
  end
  fields += "*#{:Time.l}:* #{@time.email_time}\n"
  fields += "*#{:By.l}:* #{@sender.legal_name} (#{@sender.login})\n" if @sender

  handy_links = :email_handy_links.l

  links = []
  links.push([:email_links_show_object.t(type: :observation),
    "#{MO.http_domain}/#{@observation.id}"])
  links.push([:email_links_post_comment.t,
    "#{MO.http_domain}/comments/add_comment?id=#{@observation.id}&type=Observation"])
  links.push([:email_links_not_interested.t(type: :observation),
    "#{MO.http_domain}/interests/set_interest?id=#{@observation.id}&type=Observation&user=#{@user.id}&state=-1"])
  links.push([:email_links_stop_sending.t,
    "#{MO.http_domain}/account/no_email_observations_consensus/#{@user.id}"]) unless watching
  links.push([:email_links_change_prefs.t,
    "#{MO.http_domain}/account/prefs/#{@user.id}"])
  links.push([:email_links_latest_changes.t,
    MO.http_domain])

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<%= fields.tp %>
<%= handy_links.tp %>
<ul type=none>
  <% for label, url in links %>
    <li><%= label %>: <%= link_to(url, url) %></li>
  <% end %>
</ul>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

<%= fields.tp.html_to_ascii %>

<%= handy_links.tp.html_to_ascii %>

<%= result = "".html_safe
  for label, url in links
    result += label.html_to_ascii + ": " + url.html_safe + "\n"
  end
  result %>
<% end %>
