<!--[form:naming]-->
<%
# Prefer NamingParams, but use raw params if no params
   what = @params.what rescue @what
   valid_names = @params.valid_names rescue @valid_name
   suggest_corrections = @params.suggest_corrections rescue @suggested_corrections
   parent_deprecated = @params.parent_deprecated rescue @parent_deprecated
   reason = @params.reason rescue @reason
   names = @params.names rescue @names
   @vote = vote = @params.vote rescue @vote
%>

<%# -------------------- Name Autocompleter -------------------- %>
<%= render(partial: 'shared/form_name_feedback',
           locals: { button_name: button_name,
                     what: what,
                     valid_names: valid_names,
                     suggest_corrections: suggest_corrections,
                     parent_deprecated: parent_deprecated,
                     names: names }) %>
<div class="form-inline">
  <%= label_tag("name_name", "#{:WHAT.t}:") %>
  <%= text_field("name", "name", value: what, autofocus: true, class: "form-control") %>

  <%= label_tag("vote_value", "#{:form_naming_confidence.t}:") %>
  <%= select("vote", "value", Vote.confidence_menu,
             { include_blank: action == 'edit' ? false : true }, class: "form-control") %>
  <%= content_tag(:p, :form_naming_name_help_create.t, class: "help-block")  if !show_reasons %>
  <%= content_tag(:p, :form_naming_name_help.t, class: "help-block")%>
  <% turn_into_name_auto_completer('name_name', primer: Name.primer) %>
</div>

<%# -------------------- Naming Reasons -------------------- %>
<% reason.values.sort_by(&:order).each do |r| %>
<div>
  <label>
  <%=check_box('reason', 'check', { index: r.num, checked: r.used?,
                                    data: {toggle: "collapse", target: "#reason_#{r.num}_notes"}}, '1')%>
    <%=r.label.t%>
  </label>
  <%=text_area('reason', 'notes', { index: r.num, cols: 80, rows: 1, value: r.notes.to_s, class:"form-control collapse " + (r.used? ? "in" : "") })%>
</div>
<% end %>
<%= hidden_field_tag("was_js_on", "yes") if can_do_ajax? %>
<% inject_javascript_at_end %(
                            jQuery(document).ready(function(){
                                jQuery(".collapse").on('shown.bs.collapse', function () {
                                var target = $(this).focus();
                                });
                            });
                            )%>
<div id="log"></div>
<!--[eoform:naming]-->