<%
# Changing naming form html in _form_new.erb in case we want to roll back

# Prefer NamingParams, but use raw params if no params.
what = @params.what rescue @what
valid_names = @params.valid_names rescue @valid_names
suggest_corrections = @params.suggest_corrections rescue @suggested_corrections
parent_deprecated = @params.parent_deprecated rescue @parent_deprecated
reasons = @params.reasons rescue @reasons
names = @params.names rescue @names
vote = @params.vote rescue @vote

unfocused ||= false
focus_on_name = !unfocused && (button_name != :CREATE.l || what.empty?)
focus_on_vote = !unfocused && (button_name == :CREATE.l && what.present?)

locals = {
  button_name: button_name,
  what: what,
  valid_names: valid_names,
  suggest_corrections: suggest_corrections,
  parent_deprecated: parent_deprecated,
  names: names
}
@container = :wide %>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= render(partial: "shared/form_name_feedback",
               locals: locals) if what.present? %>
  </div>
</div><!--.row-->

<%= fields_for(:naming) do |f_n| %>
  <div class="row mt-3" id="observation_naming">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f_n.label(:name, :WHAT.t + ":") %>
        <%= f_n.text_field(:name, value: what, size: 40,
                        class: "form-control",
                        data: { autofocus: focus_on_name }) %>
        <% turn_into_name_auto_completer(:naming_name, primer: Name.primer) %>
      </div>
    </div>

    <div class="col-sm-6">
      <%= help_block_with_arrow("left", id: "naming_name_help") do %>
        <%= tag.p(:form_naming_name_help.t) %>
      <% end %>
    </div>
  </div><!--.row-->

  <div class="row">
    <div class="col-sm-6">

      <%= f_n.fields_for(:vote) do |f_v| %>
        <div class="form-group">
          <%= f_v.label(:value, :form_naming_confidence.t + ":") %><br>
          <%= f_v.select(:value,
                         options_for_select(Vote.confidence_menu, vote&.value),
                         { include_blank: (action == :create) } ,
                         class: "form-control",
                         data: { autofocus: focus_on_vote }) %>
        </div>
      <% end %>

      <%= f_n.fields_for(:reasons) do |f_r| %>
        <% reasons.values.sort_by(&:order).each do |r| %>
          <div class="form-group form-inline m-0">
            <label>
              <%= f_r.check_box(
                        :check,
                        { index: r.num,
                          checked: r.used?,
                          data: {
                            role: "collapser",
                            target: "#naming_reasons_#{r.num}_notes"
                          },
                          class: "" },
                        "1") %>
              <%= r.label.t %>
            </label>
          </div>
          <div class="form-group mb-3 <%= "collapse" if !r.used? %>">
            <%= f_r.text_area(:notes,
                              index: r.num, rows: 1, value: r.notes,
                              class: "form-control") %>
          </div>
        <% end %>
      <% end %>

    </div><!--.col-->
  </div><!--.row-->
<% end %>

<%= hidden_field_tag(:was_js_on, "yes") if can_do_ajax? %>
<% inject_javascript_at_end %(
  jQuery(document).ready(function() {
    function collapse_reason() {
      var this2 = jQuery(this);
      var target = jQuery(this2.attr("data-target")).parent();
      var old_state = target.hasClass("collapse");
      var new_state = !this2.is(':checked');
      if (old_state && !new_state) {
        target.removeClass("collapse");
      } else if (!old_state && new_state) {
        target.addClass("collapse");
      }
    }
    jQuery('[data-role="collapser"]').each(collapse_reason)
                                     .change(collapse_reason);
    jQuery('.collapse').on('shown.bs.collapse', function () {
      $(this).focus();
    });
  });
) %>
