<%
  @observation = @params.observation
  @reason = @params.reason
  @title = :create_naming_title.t(id: @observation.id)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :observation),
                    @observation.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= form_tag(add_query_param(action: :create, id: @observation.id,
                             approved_name: @params.what)) do %>
  <div class="row">
    <div class="col-12 col-sm-8 max-width-text">
      <div class="mt-3">
        <%= render(partial: "observer/show_observation",
                   locals: { observation: @observation }) %>
      </div>

      <%= submit_tag(:CREATE.l, class: "btn mx-auto", style: "margin-top:2em") %>

      <div class="mt-3">
        <%= render(partial: "form", locals: { action: :create,
                   button_name: :CREATE.l, show_reasons: true }) %>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <%= render(partial: "observer/show_images",
                 locals: { observation: @observation,
                           thumb_size_control: false }) %>
    </div>
  </div>
<% end %>
