<%
   @observation = @params.observation
   @reason = @params.reason
   @title = :edit_naming_title.t(id: @observation.id)
   @tabsets = {left: render(partial: "shared/tab_set", locals: {links: [link_with_query(:cancel_and_show.t(type: :observation),
                                                                                        controller: :observer,
                                                                                        action: :show_observation,
                                                                                        id: @observation.id)]})}
%>

<div class="row">
  <div class="col-sm-8">
    <%= render(partial: 'observer/show_observation',
               locals: {observation: @observation}) %><br/><br/>
    <%= form_tag(add_query_param(action: 'edit', id: @params.naming.id,
                                 approved_name: @params.what)) do %>
        <center><%= submit_tag :SAVE_EDITS.l %></center>
        <%= render(partial: 'form',
                   locals: {action: 'edit',
                            button_name: :SAVE_EDITS.l,
                            show_reasons: true}) %>
        <center><%= submit_tag :SAVE_EDITS.l %></center>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= render(partial: 'observer/show_images',
               locals: {thumb_size_control: false}) %>
  </div>
</div>