<%= form_with(model: @project,
              html: { multipart: true }, id: "project_form") do |f| %>

  <%= submit_button(form: f, button: button, center: true) %>

  <%= check_box_with_label(form: f, field: :open_membership,
                           label: :form_projects_open_membership.t) %>

  <%= text_field_with_label(form: f, field: :title,
                            label: :form_projects_title.t + ":",
                            data: { autofocus: true }) %>

  <%= text_area_with_label(form: f, field: :summary, rows: 5,
                           label: :SUMMARY.t + ":",
                           help: :shared_textile_help.l) %>

  <%= text_field_with_label(form: f, field: :field_slip_prefix,
                            label: :FIELD_SLIP_PREFIX.t + ":") %>

  <%= autocompleter_field(form: f, field: :place_name, type: :location,
                          label: "#{:WHERE.t}:") %>

  <%= tag.div(
    tag.p("*#{:form_projects_date_range.t}*".t) +
    tag.p(:form_projects_dates_explain.t)
  ) %>

  <div class="container-text ml-4">
    <%= date_select_with_label(form: f, field: :start_date, inline: true,
                               label: "#{:form_projects_start_date.t}: ",
                               data: { controller: "" }, class: "mb-2",
                               order: [:year, :month, :day],
                               start_year: Date.today.year - 10,
                               end_year: Date.today.year + 10) %>
    <%= date_select_with_label(form: f, field: :end_date, inline: true,
                               label: "#{:form_projects_end_date.t}: ",
                               data: { controller: "" },
                               order: [:year, :month, :day],
                               start_year: Date.today.year - 10,
                               end_year: Date.today.year + 10) %>
    <%= radio_with_label(
      form: f, field: "dates_any", value: false, checked: !@project_dates_any,
      label: " #{:form_projects_range.t} (#{:form_projects_use_date_range.t})"
    ) %>
    <%= radio_with_label(
      form: f, field: "dates_any", value: true, checked: @project_dates_any,
      label: " #{:form_projects_any.t} (#{:form_projects_ignore_date_range.t})"
    ) %>
  </div>

  <%= render(partial: "shared/image_upload_fields",
             locals: { file_field_label: :form_projects_image_upload.l }) %>

<% end %>
