<%
add_project_banner(@project)
@container = :wide
%>

<br/>

<%= panel_block(id: "project_summary") do %>
  <%= ("*" + :show_project_summary.l + ":* " + @project.summary.to_s.html_safe).tpl %>

  <% if @project.species_lists.any? %>
    <p><b><%= :SPECIES_LISTS.t %>:</b>
    <%= @project.species_lists.length %>
    (<%= link_to(:SHOW.t,
                  species_lists_path(for_project: @project.id)) %>)
    </p>
  <% end %>
  <% if @drafts.any? %>
    <p><b><%= :show_project_drafts.t %>:</b>
    <%= @drafts.length %><br/>
    <div class="ml-3">
      <% @drafts.each do |draft| %>
        <%= link_with_query(draft.name&.display_name&.t,
                            name_description_path(draft.id)) %>
        (<%= user_link(draft.user) %>)<br/>
      <% end %>
    </div>
    </p>
  <% end %>

  <p><b><%= :show_project_created_at.t %>:</b> <%= @project.created_at.web_date %></p>
  <p>
    <% if @project.observations.any? %>
      <b><%= link_to("#{@project.observations.length} #{:OBSERVATIONS.t}",
                    observations_path(project: @project.id),
                    { class: "btn btn-default btn-lg" }) %></b>
      <b><%= link_to("#{@project.name_count} #{:NAMES.t}",
                    checklist_path(project_id: @project.id),
                    { class: "btn btn-default btn-lg" }) %></b>
    <% end %>
    <b><%= link_to("#{@project.user_group.users.count} #{:MEMBERS.t}",
                  project_members_path(project_id: @project.id),
                  { class: "btn btn-default btn-lg" }) %></b>
  </p>
<% end %>


<br/>
<p>
<% if @project.can_join?(@user) %>
  <%= post_button(name: :show_project_join.t,
                  class: "btn btn-default btn-sm",
                  path: project_members_path(project_id: @project.id,
                                             candidate: @user.id,
                                             target: :project_index)) %>
<% elsif @project.member?(@user) %>
  <% if @project.trusted_by?(@user) %>
    <%= put_button(name: :change_member_status_revoke_trust.l,
                   class: "btn btn-default btn-sm",
                   path: project_member_path(project_id: @project.id,
                                             candidate: @user.id,
                                             commit: :change_member_status_revoke_trust.l,
                                             target: :project_index)) %>
  <% else %>
    <%= put_button(name: :change_member_hidden_gps_trust.l,
                   class: "btn btn-default btn-sm",
                   path: project_member_path(project_id: @project.id,
                                             candidate: @user.id,
                                             commit: :change_member_hidden_gps_trust.l,
                                             target: :project_index)) %>
  <% end %>
  <% unless @project.can_edit_content?(@user) %>
    <%= put_button(name: :change_member_editing_trust.l,
                   class: "btn btn-default btn-sm",
                   path: project_member_path(project_id: @project.id,
                                             candidate: @user.id,
                                             commit: :change_member_editing_trust.l,
                                             target: :project_index)) %>
  <% end %>
  <% if @project.can_leave?(@user) %>
    <%= put_button(name: :show_project_leave.t,
                   class: "btn btn-default btn-sm",
                   path: project_member_path(project_id: @project.id,
                                             candidate: @user.id,
                                             target: :project_index)) %>
  <% end %>
<% end %>

<% if check_permission(@project) %>
  <%= link_to(:show_project_edit.t,
              edit_project_path(@project.id),
              { class: "btn btn-default btn-sm" }) %>
<% else %>
  <%= link_to(:show_project_admin_request.t,
              new_project_admin_request_path(project_id: @project.id),
              { class: "btn btn-default btn-sm" }) %>
<% end %>

</p>

<%= render(partial: "comments/comments_for_object",
           locals: { object: @project, comments: @comments,
                     controls: @user, limit: nil }) %>

<%= show_object_footer(@project) %>
