<div class="modal fade" role="dialog"
     id="modal_image_exif_<%= @image.id %>" tabindex="-1"
     aria-labelledby="title_image_exif_<%= @image.id %>">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="title_image_exif_<%= @image.id %>"><%= :exif_data_for_image.t(image: @image.id) %></h4>
      </div>
      <div class="modal-body">
        <%= if @status
          render(partial: "images/exif/data", locals: { data: @data })
        else
          render(plain: @result, status: :internal_server_error)
        end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
