<div class="list-group-item">
  <%= form_for(:contest_entry, url: {action: :create}) do |form| %>
    <table style="width: 100%">
      <% vote_options = (1..@votes.count).to_a %>
      <% @votes.each do |vote| %>
        <tr>
          <td>
            Vote: <%= vote.vote %>, <%= vote.confirmed? ? "Confirmed" : "Unconfirmed" %>
            <%= vote.contest_entry.title %><br/>
            <%= form.select("vote_#{vote.id}", vote_options,
		{ selected: vote.vote }, { onchange: 'this.form.submit()' }) %>
          </td>
          <td>
            <%= content_tag(:big, thumbnail(vote.contest_entry.image_id, {votes: false})) %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag "Submit" %>
  <% end %>
</div>
