<%= form_with(model: @species_list, url: action,
              id: "species_list_form") do |f| %>

  <%= submit_button(form: f, button: button.l, center: true) %>

  <%= if !(partial = render(partial: "shared/form_list_feedback",
                            locals: { f: f })).blank?
    content_tag(:div, partial)
  end %>

  <%= if @checklist&.any?
    render(partial: "species_lists/form/fields_for_checklist", locals: { f: f })
  end %>

  <%= if !@new_names.blank?
    hidden_field_tag(:approved_names, @new_names.join("\n"))
  end %>

  <%= if !@deprecated_names.blank?
    hidden_field_tag(:approved_deprecated_names,
                     @deprecated_names.map(&:id).join(" "))
  end %>

  <div class="form-group mt-3">
    <%= fields_for(:list) do |f_l|
      f_l.label(:members, :form_species_lists_write_in_species.t)
      f_l.text_area(:members, value: @list_members, rows: 8,
                        class: "form-control")
    end %>
  </div>
  <% turn_into_name_auto_completer(:list_members, primer: Name.primer,
                                   token: "\n") %>

  <div class="form-group mt-3">
    <%= f.label(:title,
                :form_species_lists_title.t + ":") %>
    <%= content_tag(:span, "(#{:required.t})", class: "help-note") %>
    <%= f.text_field(:title, class: "form-control") %>
  </div>

  <div class="form-group mt-3">
    <%= f.label(:notes,
                :form_species_lists_list_notes.t + ":") %>
    <%= f.text_area(:notes, rows: 12, class: "form-control") %>
    <%= render(partial: "shared/textilize_help") %>
  </div>

  <div class="form-group form-inline">
    <%= f.label(:when, :WHEN.t + ":") %>
    <%= f.date_select(:when, date_select_opts(@species_list),
                      { class: "form-control" }) %>
  </div>
  <% turn_into_year_auto_completer(:species_list_when_1i) %>

  <%= render(partial: "shared/form_location_feedback",
             locals: { button: button } ) %>

  <div class="form-group mt-3">
    <%= f.label(:place_name, :WHERE.t + ":") %>
    <%= content_tag(:span, "(#{:required.t})", class: "help-note ml-3") %>
    <%= f.text_field(:place_name, class: "form-control") %>
  </div>
  <% turn_into_location_auto_completer(:species_list_place_name) %>

  <%= render(partial: "species_lists/form/fields_for_member",
             locals: { f: f }) %>

  <% if @projects.any? %>
    <%= render(partial: "species_lists/form/fields_for_project",
               locals: { f: f }) %>
  <% end %>

  <%= submit_button(form: f, button: button.l, center: true) %>

<% end %>
