<%
  @title = :name_lister_title.t

  tabs = [
    link_to(:name_lister_classic.t, action: :create_species_list)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  javascript_include "name_lister"
  javascript_include "/name_list_data.js"  # leading slash should take it out of asset pipeline
%>

<noscript>
  <div class="row">
    <div class="col-12 max-width-text mt-3">
      <%= :name_lister_no_js.tp %>
    </div>
  </div>
</noscript>

<% if !browser.modern_browser? %>
  <div class="row">
    <div class="col-12 max-width-text mt-3">
      <%= :name_lister_bad_browser.tp %>
    </div>
  </div>
<% end %>

<table cols="3" width="100%" class="scroller mt-3">
  <thead>
    <tr>
      <th width="20%"><%= :name_lister_genera.t %></th>
      <th width="40%"><%= :name_lister_species.t %></th>
      <th width="40%"><%= :name_lister_names.t %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td align="left">
        <div id="genera" class="scroller" onclick="nl_focus('g')"></div>
      </td>
      <td align="left">
        <div id="species" class="scroller" onclick="nl_focus('s')"></div>
      </td>
      <td align="left">
        <div id="names" class="scroller" onclick="nl_focus('n')"></div>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <div id="word">&nbsp;</div>
        <%= form_tag action: :name_lister do %>
          <center>
            <%= submit_tag(:name_lister_submit_spl.l, class: "btn", disabled: !@user) %>&nbsp;&nbsp;
            <%= submit_tag(:name_lister_submit_txt.l, class: "btn") %>&nbsp;&nbsp;
            <%= submit_tag(:name_lister_submit_rtf.l, class: "btn") %>&nbsp;&nbsp;
            <%= submit_tag(:name_lister_submit_csv.l, class: "btn") %>
          </center>
          <%= hidden_field_tag(:results, @name_strings.join("\n")) %>
          <% if false %>
            <br/>
            <%= label_tag(:charset, :name_lister_charset.t + ":") %>
            <%= select_tag(:charset, options_for_select(["ISO-8859-1", "WINDOWS-1252", "UTF-8"], @charset)) %>
            <span class="help-note"><%= :name_lister_charset_help.t %></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div id="log" style="margin-top:1em"></div>

<% inject_javascript_at_end %(
  nl_initialize_names();
  nl_draw("g", NL_GENERA);
  nl_draw("n", NL_NAMES);
  jQuery(document).keypress(nl_keypress);
  jQuery(document).keydown(nl_keydown);
  jQuery(document).keyup(nl_keyup);
  jQuery(document).click(nl_unfocus);
  nc("g", 0); // click on first genus
) %>

<div class="row">
  <div class="col-12 max-width-text mt-3">
    <div class="help-note"><%= :name_lister_help.tp %></div>
  </div>
</div>
