<%
  @title = :species_list_upload_title.t
%>

<div class="max-width-text">
  <%= form_tag({action: :upload_species_list, id: @species_list.id}, multipart: true) do %>
    <div class="form-group mt-3">
      <%= :species_list_upload_label.t %>:
      <%= custom_file_field(:species_list, :file) %>
      <div class="help_block">
        <%= :species_list_upload_help.tp %>
      </div>
    </div>
    <%= submit_tag(:UPLOAD.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
