<% #bs4
votes = find_list_of_votes(@image)
%>

<!-- VOTE_PANEL -->
<div id="image_vote_content" class="card bg-light">

  <!-- CURRENT_VOTE -->
  <div class="card-header">
    <b><%= :image_show_quality.t %></b>:
    <span class="small"><%=
      vote = (@image.vote_cache + 0.5).to_i rescue 0
      image_vote_as_long_string(vote).t
    %></span>
  </div><!-- .card-header -->
  <!-- /CURRENT_VOTE -->

  <div class="card-body py-2">
    <!-- YOUR_VOTE -->
    <% if @user
      current = @image.users_vote(@user).to_i %>
      <div class="text-center mb-3">
        <%= :image_show_your_vote.t %>:
        <span class="small"><%= image_vote_as_long_string(current).t %></span>
        <div class="mt-3">
          <% args = add_query_param(id: @image.id)
          args[:size] = @size if @size != @default_size
          ([0] + Image.all_votes).each do |value|
            str1 = image_vote_as_short_string(value)
            str2 = image_vote_as_help_string(value)
            str3 = :image_show_vote_and_next.t(value: str1)
            css_class = ""
            css_class = "font-weight-bold" if current == value %>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="pt-2">
                <%= link_to(value == 0 ? str2 : str1,
                            args.merge(vote: value),
                            class: css_class, title: str2,
                            data: { toggle: "tooltip", placement: "left",
                                    role: "image_vote", val: value,
                                    id: @image.id }) %>
                </div>
              </div>
              <div class="col-12 col-md-6 d-block d-md-none">
                <div class="pt-2">
                <%= link_to(str3, { vote: value, next: true }.merge(args),
                            class: css_class, title: str2,
                            data: { toggle: "tooltip" }) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- /YOUR_VOTE -->
  </div><!-- .card-body -->

  <!-- VOTE_TABLE -->
  <div id="show_votes_container">
    <% if votes.any? %>
      <table id="show_votes_table" class="table table-striped mt-3 mb-0">
        <thead>
          <tr>
            <th><%= :USER.t %></th>
            <th><%= :VOTE.t %></th>
          </tr>
        </thead>
        <tbody>
          <% votes.each do |vote| %>
            <tr>
              <td><%= vote.anonymous ? :anonymous.t : user_link(vote.user) %></td>
              <td><%= :"image_vote_short_#{vote.value}".t %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div><!-- #show_votes_container -->
  <!-- /VOTE_TABLE -->

</div><!-- .card -->
<!-- /VOTE_PANEL -->
