<%
#  This is just a two-column panel
%>

<%= card_block(id: "name_observations_menu",
               inner_class: "list-indented") do %>
  <div class="row">
    <div class="col-sm-7">
      <%= tag.p(:show_observations_of.t) %>
      <div class="pl-3">
        <%= # Observations of this name
          tag.p(obss_of_name(@name) || "#{:obss_of_this_name.t} (0)")  %>
        <%= # Observations of taxon under other names
          tag.p(taxon_obss_other_names(@name) ||
                "#{:taxon_obss_other_names.t} (0)") %>
        <%= # Observations of taxon under any name
          tag.p(taxon_observations(@name) || "#{:obss_of_taxon.t} (0)") %>
        <%= # Observations of other taxa where this taxon was proposed
          tag.p(taxon_proposed(@name) || "#{:obss_taxon_proposed.t} (0)") %>
        <%= # Observations where this Nae was proposed
          tag.p(name_proposed(@name) ||
                "#{:obss_name_proposed.t} (0)") %>
        <%= name_section_link(:show_subtaxa_obss.t,
                              @has_subtaxa, @subtaxa_query) %>
      </div>
    </div>
    <div class="col-sm-5">
      <% if @name.searchable_in_registry? %>
        <%= tag.p(link_to(
              "MyCoPortal", mycoportal_url(@name), target: :_blank
            )) %>
      <% end %>
      <%= tag.p(link_to(
            "EOL", @name.eol_url, target: :_blank
          )) if @name.eol_url %>
      <%= tag.p(link_to(
            :google_images.t,
            "https://images.google.com/images?q=#{@name.real_text_name}",
            target: :_blank
          )) %>
      <%= tag.p(link_with_query(
            :show_name_distribution_map.t, map_name_path(@name.id)
          )) %>
    </div>
  </div>
<% end %>
