<!--[form:project]-->

<label for="project_title"><%= :form_projects_title.t %></label>:<br/>
<%= text_field("project", "title", :size => 80) %><br/><br/>

<label for="project_summary"><%= :SUMMARY.t %></label>:<br/>
<%= text_area("project", "summary", :cols => 80, :rows => 5) %><br/>
<%= render(:partial => 'shared/textilize_help') %>

<% focus_on('project_title') %>

<!--[eoform:project]-->
