<p><%= "#{:show_project_created_at.t}: #{project.created_at.web_time}"%></p>
<p><%= "#{:show_project_by.t}: #{user_link(project.user)}" %></p>
<p><%= "#{:show_project_user_group.t}: #{project.user_group.name.t}" %></p>
<p><%= "#{:show_project_admin_group.t}: #{project.admin_group.name.t}" %></p>
<%= (:show_project_summary.l + ": " + project.summary.to_s.html_safe).tpl %>
