<%
  @title = :add_members_title.t(title: @project.title)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :project), @project.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag({ id: @project.id }, { class: "push-down pad-bottom-2x"}) %>
    <big><%= :LOGIN_NAME.t %>:</big><br/>
    <%= text_field_tag(:candidate, @candidate, size: 40,
                                               data: {autofocus: true},
                                               class: "form-control") %><br/>
    <% turn_into_user_auto_completer(:candidate) %>
    <%= submit_tag(:ADD.t, class: "btn", style: "margin-left: 1em") %>
  </form>
</div>

<table class="table-striped table-project-members push-down">
  <thead>
    <tr>
      <th><%= :Login_name.t %></th>
      <th><%= :Full_name.t %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort_by(&:login).each do |user| %>
      <tr>
        <td>
          <%= user_link(user, user.login) %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= link_with_query(:ADD.t, action: :add_members, id: @project.id,
                              candidate: user.id) %>
        </td>
      </tr
    <% end %>
  </tbody>
</table>
