<%
@title = :inherit_classification_title.t(name: @name.display_name)

add_tab_set(name_forms_return_links(name: @name))

action = { controller: "/names/classification/inherit", action: :create,
            id: @name.id, q: get_query_param }
@container = :text
%>

<%= form_with(url: action) do |f| %>

  <% if @options %>
    <div class="alert alert-warning">
      <%= @message.tp %>
      <% @options.each do |name| %>
        <%= radio_with_label(form: f, field: :options, value: name.id,
                              label: name.display_name.t) %>
      <% end %>
    </div>
  <% end %>

  <%= text_field_with_label(
        form: f, field: :parent, value: @parent_text_name,
        label: "#{:inherit_classification_parent_name.t}:",
        data: { autofocus: true }, inline: true
      ) %>

  <%= submit_button(form: f, button: :SUBMIT.t, center: true) %>

<% end %>
