<%
  @title = :image_updater_title.t(user: @user.login)
  @container = :wide
  form_action = {
    controller: "/account/images/licenses",
    action: :update
  }
%>

<%= form_with(url: form_action) do |f| %>
  <div class="container-text">
    <%= :image_updater_help.tp %>
  </div><!--.container-text-->

  <table class="table-striped table-license-updater">
    <thead>
      <tr>
        <th>
          <%= :image_updater_count.t %>
        </th>
        <th>
          <%= :image_updater_holder.t %>
        </th>
        <th>
          <%= :image_updater_license.t %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% row = 0
      @data.each do |datum|
        row += 1
        licenses = datum[:licenses]
        license_id = datum[:license_id].to_i
        copyright_holder = datum[:copyright_holder].to_s
        fields_for("updates_#{row}") do frow
        %>
          <tr>
            <td>
              <%= datum["license_count"].to_s %>
            </td>
            <td>
              <%=
                frow.text_field(:new_holder, copyright_holder) +
                frow.hidden_field(:old_holder, copyright_holder)
              %>
            </td>
            <td>
              <%=
                frow.select(:new_id,
                  options_for_select(licenses, license_id)) +
                frow.hidden_field(:old_id, license_id)
              %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= f.submit(:image_updater_update.l,
               class: "btn btn-default center-block mt-3") %>
<% end %>
