<%
  @title ||= :list_herbarium_records_title.t

  tabs = create_links(@links)
  tabs << link_to(:herbarium_index.t, controller: :herbaria, action: :index)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <table class="table table-striped">
      <% for herbarium_record in @objects
				herbarium = herbarium_record.herbarium %>
        <tr>
          <td>
            <%= if in_admin_mode? || herbarium_record.can_edit?
              link_with_query(:EDIT.t,
                              {action: :edit, id: herbarium_record.id, back: :index},
                              class: "btn btn-xs")
            end %>
          </td>
          <td>
            <%= link_to(herbarium.name.t, herbarium_path(herbarium)) %>
          </td>
          <td>
            <%= link_with_query(herbarium_record.herbarium_label.t,
                                herbarium_record_path(herbarium_record)) %>
          </td>
          <td>
            <%= herbarium_record.observations.map do |obs|
              link_to(obs.unique_format_name.t, observation_path(obs))
            end.safe_join(", ") %>
          </td>
          <td>
            <%= if in_admin_mode? || herbarium_record.can_edit?
              link_with_query(:DESTROY.t,
                              {action: :destroy, id: herbarium_record.id},
                              data: { confirm: :are_you_sure.t }, class: "btn btn-xs")
            end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
