<% #bs4
@title ||= @description.format_name.t
add_pager_for(@description)
add_tab_set(show_description_links(description: @description))
@container = :wide
%>

<div class="row">
  <div class="col-12 col-lg-6">
    <%= render(partial: "shared/show_description",
              locals: {description: @description}) %>
  </div>
  <div class="col-12 col-lg-6">
    <%= show_alt_descriptions(object: @location, projects: @projects) %>
  </div>
</div><!--.row-->

<div class="container-text">
  <%= render(partial: "locations/descriptions/show/location_description",
             object: @description) %>
  <%= render(partial: "comments/comments_for_object",
              locals: {object: @description, controls: true, limit: 10}) %>
  <%= show_object_footer(@description) %>
</div><!--.container-text-->
