<%
  @title ||= @description.format_name.t

  tabs = show_description_tab_set(@description)
  @tabsets = {
    pager_for: @description,
    right: draw_tab_set(tabs)
  }
  @container = :wide
%>

<div class="row">
  <div class="col-md-6">
    <%= render(partial: "shared/show_description",
              locals: {description: @description}) %>
  </div>
  <div class="col-md-6">
    <%= show_alt_descriptions(@location, @projects) %>
  </div>
</div><!--.row-->

<div class="container-text">
  <%= render(partial: "locations/descriptions/show/location_description",
             object: @description) %>
  <%= render(partial: "comments/comments_for_object",
              locals: {object: @description, controls: true, limit: 10}) %>
  <%= show_object_footer(@description) %>
</div><!--.container-text-->
