<% @title = "Email Features" %>

<%= form_with(url: admin_emails_feature_path) do |form| %>
  <p>Sending to <%= @users.length %> users.</p>

  <% fields_for(:feature_email) do |f| %>
    <%= f.label(:content, "Feature Email:") %>
    <%= f.text_area(:content, rows: 20, class: "form-control") %>

    <%= centered_submit(form: f, button: :SEND.l) %>
  <% end %>

  <div class="form-group">
    <%= "#{:USERS.l}:" + (@users.map { |u| u.login }).safe_join(", ") %>
  </div>
<% end %>
