<%= form_tag add_query_param(action: :index) do %>
  <div class="btn-group pb-2 d-none d-sm-block text-nowrap">
    <%= content_tag(:span, :rss_show.t, class: "btn btn-xs disabled") %>

    <!-- The "Everything" tab -->
    <span class="btn btn-xs <%= "active" if @types == ['all'] %>">
      <%= tab_for_everything %>
    </span>

    <!-- Checkboxes and Tabs for each type of RssLog -->
    <%= render(partial: "type", collection: types) %>

    <%= submit_tag(:SUBMIT.t, class: "btn btn-xs") %>
  </div>
<% end %>
