<%# NOTE: Not currently used by Bootstrap-4 %>
<%= form_with url: rss_logs_path(q: get_query_param) do |f| %>
  <div class="btn-group pb-2 d-none d-sm-block text-nowrap">
    <%= content_tag(:span, :rss_show.t, class: "btn btn-xs disabled") %>

    <!-- The "Everything" tab -->
    <span class="btn btn-xs <%= "active" if @types == ['all'] %>">
      <%= tab_for_everything %>
    </span>

    <!-- Checkboxes and Tabs for each type of RssLog -->
    <%= render(partial: "type", collection: types) %>

    <%= f.submit :SUBMIT.t, class: "btn btn-xs" %>
  </div>
<% end %>
