<%= form_tag(add_query_param(activity_logs_path), { method: :get, class: "filter-form" }) %>
  <div class="btn-group pb-1 hidden-xs text-nowrap">
    <%= content_tag(:span, :rss_show.t, class: "btn btn-default btn-sm disabled") %>

    <!-- The "Everything" tab -->
    <span class="btn btn-default btn-sm <%= "active" if @types == ['all'] %>">
      <%= tab_for_everything %>
    </span>

    <!-- Checkboxes and Tabs for each type of RssLog -->
    <%= render(partial: "type", collection: types) %>

    <%= submit_tag(:SUBMIT.t, class: "btn btn-default btn-sm") %>
  </div>
</form>
<% javascript_include("rss_feed_select_helper")%>
