<%
   @title ||= :users_by_name_title.t

   flash_error(@error) if @error && @objects.empty?
%>

<%
  # ----------------------------
  #  Admin version.
  # ----------------------------
  if in_admin_mode? %>
    <style>
      table.permissions td {
        padding: 3px 5px 3px 5px
      }
    </style>
    <%= paginate_block(@pages) do %>
      <table align="center" class="table table-striped permissions" cellspacing="2">
        <thead>
          <tr class="Data">
            <th><%= :users_by_name_verified.t %></th>
            <th><%= :users_by_name_groups.t %></th>
            <th><%= :users_by_name_last_login.t %></th>
            <th><%= :users_by_name_id.t %></th>
            <th><%= :users_by_name_login.t %></th>
            <th><%= :users_by_name_name.t %></th>
            <th><%= :users_by_name_theme.t %></th>
            <th><%= :users_by_name_created_at.t %> (<%= @objects.length %>)</th>
          </tr>
        </thead>
        <tbody>
          <tr height="2"></tr>
          <% @objects.each do |user| %>
            <tr>
              <td><%= user.verified %></td>
              <td><%= user.user_groups.map { |g| h(g.name) }.safe_join(',') %></td>
              <td><%= user.last_login.web_time rescue '--' %></td>
              <td><%= user.id %></td>
              <td><%= user_link(user, user.login) %></td>
              <td><%= h(user.name) %></td>
              <td><%= h(user.theme) %></td>
              <td><%= user.created_at.web_time rescue '--' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

<%
  # ----------------------------
  #  Normal version.
  # ----------------------------
  else %>
    <%= paginate_block(@pages) do %>
      <div class="row">
        <%= render(partial: "shared/matrix_box",
                   collection: @objects, as: :object) %>
      </div>
    <% end %>
<% end %>
