<!--[form:location_description]-->

<%= render(:partial => 'shared/form_description',
           :locals => {form: form}) %>

<label><%= :DESCRIPTION.t %>:</label><br/>
<%= render(:partial => 'shared/textilize_help') %>
<br/>

<% for f in LocationDescription.all_note_fields %>
  <p>
    <label for="description_<%= f %>"><%= "form_locations_#{f}".to_sym.t %>:</label>
    <span class="HelpNote"><%= "form_locations_#{f}_help".to_sym.l %></span><br/>
    <%= form.text_area(f, cols: 80, autofocus: f == :gen_desc) %>
  </p>
<% end %>

<!--[eoform:location_description]-->
