<%= submit_tag(button.l, class: "btn mx-auto mt-3 mb-3") %>

<%= render(partial: "shared/form_description", locals: {form: form}) %>

<%= submit_tag(button.l, class: "btn mx-auto mt-3") %>

<hr/>

<% for f in LocationDescription.all_note_fields %>
  <div class="form-group">
    <%= label_tag("description_#{f}", "form_locations_#{f}".to_sym.t + ":",
                  style: "margin-bottom:0") %>
    <div class="help-block" style="margin-top:0">
      <%= "form_locations_#{f}_help".to_sym.l %>
    </div>
    <%= form.text_area(f, rows: 10, class: "form-control") %>
  </div>
<% end %>

<%= render(partial: "shared/textilize_help") %>

<%= submit_tag(button.l, class: "btn mx-auto mt-3") %>
