<div class="row">
  <div class="col-sm-8">
    <%=
      gmap = make_map([location])
      finish_map(gmap)
      gmap.div(width: "100%", height: "480px").html_safe
    %>
    <div class="text-center">
      <%= show_authors_and_editors(location) %>
    </div><!-- .text-center -->
  </div>

  <div class="col-sm-4">
    <div class="text-center">
      <div class="row mt-3">
        <div class="col-xs-12">
          <div class="text-center">
            <b><%= :NORTH.t %>:</b> <%= location.north %>&deg;
          </div><!-- .text-center -->
        </div>
      </div>
      <div class="row" style="max-width:30em">
        <div class="col-xs-6">
          <span class="pull-left">
            <b><%= :WEST.t %>:</b> <%= location.west %>&deg;
          </span>
        </div>
        <div class="col-xs-6">
          <span class="pull-right">
            <b><%= :EAST.t %>:</b> <%= location.east %>&deg;
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <b><%= :SOUTH.t %>:</b> <%= location.south %>&deg;
          </div><!-- .text-center -->
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xs-12">
          <div class="text-center">
            <% if location.high %>
              <b class="text-nowrap"><%= :show_location_highest.t %>:</b>
              <%= location.high %>&nbsp;<%= :units_meters.t %><br/>
            <% end %>
            <% if location.low %>
              <b class="text-nowrap"><%= :show_location_lowest.t %>:</b>
              <%= location.low %>&nbsp;<%= :units_meters.t %><br/>
            <% end %>
          </div><!-- .text-center -->
        </div>
      </div>
    </div><!-- .text-center -->
  </div>

  <div class="col-xs-12 max-width-text">
    <%= ("*" + :NOTES.l + "*: " + location.notes.to_s.html_safe).tpl unless location.notes.blank? %>
  </div>
</div>
