<%
  @title = content_tag(:span, :location_help_title.t,
                       style: "white-space:nowrap")
%>

<%= :location_help_intro.tp %>

<h2><%= :location_help_example_title.t %></h2>
<table class="table-striped table-location-help">
  <thead>
    <tr>
      <th><%= :location_help_bad.t %></th>
      <th><%= :location_help_good.t %></th>
      <th><%= :location_help_explanation.t %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Albion,California,  USA</td>
      <td>Albion, California, USA</td>
      <td>Use correct spacing and commas</td>
    </tr>
    <tr>
      <td>Albion, California</td>
      <td>Albion, California, USA</td>
      <td>Include country</td>
    </tr>
    <tr>
      <td>Unknown</td>
      <td>Earth</td>
      <td>“Earth” is fallback</td>
    </tr>
    <tr>
      <td>USA, North America</td>
      <td>North America</td>
      <td>Continents are okay</td>
    </tr>
    <tr>
      <td>San Francisco, USA</td>
      <td>San Francisco, California, USA</td>
      <td>Include state or province</td>
    </tr>
    <tr>
      <td>San Francisco, CA, USA</td>
      <td>San Francisco, California, USA</td>
      <td>Do not abbreviate state</td>
    </tr>
    <tr>
      <td>San Francisco, San Francisco Co., California, USA</td>
      <td>San Francisco, California, USA</td>
      <td>Leave off county for towns and cities</td>
    </tr>
    <tr>
      <td>Tilden Park, California, USA</td>
      <td>Tilden Park, Contra Costa Co., California, USA</td>
      <td>Include county for other units<sup>(*)</sup></td>
    </tr>
    <tr>
      <td>Tilden Park, Kensington, California, USA</td>
      <td>Tilden Park, Contra Costa Co., California, USA</td>
      <td>Place parks in county, not nearby town <sup>(*)</sup></td>
    </tr>
    <tr>
      <td>Albis Mountain Range, Zurich area, Switzerland</td>
      <td>Albis Mountain Range, Near Zurich, Switzerland</td>
      <td>Use “near” instead of “area”</td>
    </tr>
    <tr>
      <td>Southern California, California, USA</td>
      <td>Southern California, USA</td>
      <td>Don’t repeat state with “Southern”, “Northern” etc. <sup>(*)</sup></td>
    </tr>
    <tr>
      <td>South California, USA</td>
      <td>Southern California, USA</td>
      <td>Use “Southern”, not “South”</td>
    </tr>
    <tr>
      <td>Western Australia</td>
      <td>Western Australia, Australia</td>
      <td>Here “Western” is part of the state’s name</td>
    </tr>
    <tr>
      <td>Mt Tam SP, Marin County, CA, USA.</td>
      <td>Mount Tamalpais State Park, Marin Co., California, USA</td>
      <td>Avoid abbreviations</td>
    </tr>
    <tr>
      <td>Washington, DC, USA</td>
      <td>Washington DC, USA</td>
      <td>This is a common mistake</td>
    </tr>
    <tr>
      <td>bedford, new york, usa</td>
      <td>Bedford, New York, USA</td>
      <td>Use correct capitalization</td>
    </tr>
    <tr>
      <td>Hong Kong, China N22.498, E114.178</td>
      <td>Hong Kong, China</td>
      <td>Don’t include latitude/longitude</td>
    </tr>
    <tr>
      <td>Washington DC, USA in wood chips</td>
      <td>Washington DC, USA</td>
      <td>Don’t include substrate</td>
    </tr>
    <tr>
      <td>Washington DC, USA (near the mall)</td>
      <td>The Mall, Washington DC, USA</td>
      <td>Another common mistake</td>
    </tr>
    <tr>
      <td>Montréal, Québec, Canada</td>
      <td>Montreal, Quebec, Canada</td>
      <td>Avoid accents</td>
    </tr>
    <tr>
      <td>10th Ave. &amp; Lincoln Way, San Francisco, CA USA</td>
      <td>10th Ave. and Lincoln Way, San Francisco, California, USA</td>
      <td>Spell out “and” for intersections</td>
    </tr>
  </tbody>
</table>

<p class="mt-3">
  <sup>(*)</sup> <%= :location_help_example_help.t %>
</p>

<h2><%= :location_help_rules_title.t %></h2>
<ol>
  <li id="reversible" ><%= :location_help_rule_reversible.tp  %></li>
  <li id="countries"  ><%= :location_help_rule_countries.tp   %></li>
  <li id="states"     ><%= :location_help_rule_states.tp      %></li>
  <li id="counties"   ><%= :location_help_rule_counties.tp    %></li>
  <li id="near"       ><%= :location_help_rule_near.tp        %></li>
  <li id="southern"   ><%= :location_help_rule_southern.tp    %></li>
  <li id="abbr"       ><%= :location_help_rule_abbr.tp        %></li>
  <li id="other"      ><%= :location_help_rule_other.tp       %></li>
  <li id="good_habits"><%= :location_help_rule_good_habits.tp %></li>
</ol>
