<%
  @title = :location_help_title.t.nowrap
%>

<div class="row">
  <div class="col-xs-12">
    <%= :location_help_intro.tp %>

    <h2><%= :location_help_example_title.t %></h2>
    <table cellpadding="2">
      <tr>
        <td><b><%= :location_help_bad.t %></b></td>
        <td><b><%= :location_help_good.t %></b></td>
        <td><b><%= :location_help_explanation.t %></b></td>
      </tr>
      <tr>
        <td>Albion,California,  USA</td>
        <td>Albion, California, USA</td>
        <td>Consistent and Reversible Order</td>
      </tr>
      <tr>
        <td>Albion, California</td>
        <td>Albion, California, USA</td>
        <td>Use Country Names</td>
      </tr>
      <tr>
        <td>Earth</td>
        <td>Unknown</td>
        <td>Use Country Names</td>
      </tr>
      <tr>
        <td>USA, North America</td>
        <td>North America</td>
        <td>Use Country Names</td>
      </tr>
      <tr>
        <td>San Francisco, USA</td>
        <td>San Francisco, California, USA</td>
        <td>Use State Names</td>
      </tr>
      <tr>
        <td>San Francisco, CA, USA</td>
        <td>San Francisco, California, USA</td>
        <td>Use State Names</td>
      </tr>
      <tr>
        <td>San Francisco, San Francisco Co., California, USA</td>
        <td>San Francisco, California, USA</td>
        <td>Counties OR Cities</td>
      </tr>
      <tr>
        <td>Tilden Park, California, USA</td>
        <td>Tilden Park, Contra Costa Co., California, USA</td>
        <td>Counties OR Cities *</td>
      </tr>
      <tr>
        <td>Tilden Park, Kensington, California, USA</td>
        <td>Tilden Park, Contra Costa Co., California, USA</td>
        <td>Counties OR Cities *</td>
      </tr>
      <tr>
        <td>Albis Mountain Range, Zurich area, Switzerland</td>
        <td>Albis Mountain Range, Near Zurich, Switzerland</td>
        <td>Use “Near”</td>
      </tr>
      <tr>
        <td>Southern California, California, USA</td>
        <td>Southern California, USA</td>
        <td>Use of “Southern”, “Northern” etc. *</td>
      </tr>
      <tr>
        <td>South California, USA</td>
        <td>Southern California, USA</td>
        <td>Use of “Southern”, “Northern” etc.</td>
      </tr>
      <tr>
        <td>Western Australia</td>
        <td>Western Australia, Australia</td>
        <td>Use of “Southern”, “Northern” etc.</td>
      </tr>
      <tr>
        <td>Mt Tam SP, Marin County, CA, USA.</td>
        <td>Mount Tamalpais State Park, Marin Co., California, USA</td>
        <td>Avoid Abbreviations</td>
      </tr>
      <tr>
        <td>Washington, DC, USA</td>
        <td>Washington DC, USA</td>
        <td>Avoid Abbreviations</td>
      </tr>
      <tr>
        <td>bedford, new york, usa</td>
        <td>Bedford, New York, USA</td>
        <td>Other Things to Avoid</td>
      </tr>
      <tr>
        <td>Hong Kong, China N22.498, E114.178</td>
        <td>Hong Kong, China</td>
        <td>Other Things to Avoid</td>
      </tr>
      <tr>
        <td>Washington DC, USA in wood chips</td>
        <td>Washington DC, USA</td>
        <td>Other Things to Avoid</td>
      </tr>
      <tr>
        <td>Washington DC, USA (near the mall)</td>
        <td>The Mall, Washington DC, USA</td>
        <td>Other Things to Avoid</td>
      </tr>
      <tr>
        <td>Montréal, Québec, Canada</td>
        <td>Montreal, Quebec, Canada</td>
        <td>Other Things to Avoid</td>
      </tr>
      <tr>
        <td>10th Ave. &amp; Lincoln Way, San Francisco, CA USA</td>
        <td>10th Ave. and Lincoln Way, San Francisco, California, USA</td>
        <td>Other Things to Avoid</td>
      </tr>
    </table>

    <%= ("* " + :location_help_example_help).tp %>
    
    <h2><%= :location_help_rules_title.t %></h2>
    <ol>
      <li id="reversible" ><%= :location_help_rule_reversible.tp  %></li>
      <li id="countries"  ><%= :location_help_rule_countries.tp   %></li>
      <li id="states"     ><%= :location_help_rule_states.tp      %></li>
      <li id="counties"   ><%= :location_help_rule_counties.tp    %></li>
      <li id="near"       ><%= :location_help_rule_near.tp        %></li>
      <li id="southern"   ><%= :location_help_rule_southern.tp    %></li>
      <li id="abbr"       ><%= :location_help_rule_abbr.tp        %></li>
      <li id="other"      ><%= :location_help_rule_other.tp       %></li>
      <li id="good_habits"><%= :location_help_rule_good_habits.tp %></li>
    </ol>
  </div>
</div>
