<%
  @title = :list_countries_title.t

  tabs = [
    link_to(:all_objects.t(type: :location), action: :list_locations)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-xs-4">
    <h3>
      <%= :list_countries_known.t %> (<%= @cc.known_by_count.length %>)
    </h3>
    <% for country, count in @cc.known_by_count %>
      <%= country_link(country, count) %><br/>
    <% end %>
  </div>

  <div class="col-xs-4">
    <h3>
      <%= :list_countries_missing.t %> (<%= @cc.missing.length %>)
    </h3>
    <% for country, count in @cc.missing %>
      <%= country %><br/>
    <% end %>
  </div>

  <div class="col-xs-4">
    <h3>
      <%= :list_countries_unknown.t %> (<%= @cc.unknown_by_count.length %>)
    </h3>
    <% for country, count in @cc.unknown_by_count %>
      <%= country_link(country, count) %><br/>
    <% end %>
  </div>
</div>
