<%
  @title ||= @description.format_name.t

  tabs = show_description_tab_set(@description)
  @tabsets = {
    pager_for: @description,
    right: draw_tab_set(tabs)
  }
%>

<div class="container-full">
  <div class="row">
    <div class="col-md-6">
      <%= render(partial: "shared/show_description",
                locals: {description: @description}) %>
    </div>
    <div class="col-md-6">
      <%= show_alt_descriptions(@location, @projects) %>
    </div>
  </div><!--.row-->
</div><!--.container-full-->

<div class="container-text">
  <%= render(partial: "location_description", object: @description) %>
  <%= render(partial: "comment/show_comments",
              locals: {object: @description, controls: true, limit: 10}) %>
  <%= show_object_footer(@description) %>
</div><!--.container-text-->
