<%
add_page_title(:field_slips_for_project_title.t(title: @project.title))
@container = :text_image

action = { controller: "/projects/field_slips", action: :create,
           project_id: @project.id, q: get_query_param }
%>

<div class="mt-3 pb-2">
  <div>
    <%= :field_slips_for_project_max_pages.t(max: @page_max) %>
  </div>
  <%= form_with(url: action, id: "project_field_slip_form",
                class: "my-3") do |f| %>
    <%= number_field_with_label(form: f, field: :pages, inline: true,
                                value: @page_max.zero? ? "0" : "1") %>
    <%= submit_button(form: f, button: :CREATE.t, class: "ml-3") %>
  <% end %>
  <% if @project.member?(User.current) %>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col"><%= :FILENAME.t %></th>
          <th scope="col"><%= :SECONDS.t %></th>
          <th scope="col"><%= :STATUS.t %></th>
        </tr>
      </thead>
      <%= tag.tbody do
        @project.trackers.order(id: :desc).each do |tracker|
          concat(
            render(partial: "projects/field_slips/tracker_row",
                   locals: { tracker: tracker })
          )
        end
      end %>
    </table>
  <% end %>
</div><!--.margin-->
