<%
add_page_title(:field_slips_for_project_title.t(title: @project.title))

action = { controller: "/projects/field_slips", action: :create,
            project_id: @project.id, q: get_query_param }
%>

<div class="container-text mt-3 pb-2">
  <div>
    <%= :field_slips_for_project_max_pages.t(max: @page_max) %>
  </div>
  <div>
    <%= form_with(url: action, id: "project_field_slip_form") do |f| %>
      <%= number_field_with_label(form: f, field: :pages, inline: true,
                                  value: @page_max.zero? ? "0" : "1") %>
      <%= submit_button(form: f, button: :CREATE.t, class: "ml-3") %>
    <% end %>
  </div>
  <% if @project.member?(User.current) %>
    <div class="mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @project.trackers.each do |tracker| %>
            <tr>
              <td><%= field_slip_link(tracker) %></td>
              <td><%= tracker.elapsed_time %></td>
              <td><%= tracker.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div><!--.container-text-->
