<%
  title = :field_slips_for_project_title.t + " " + link_to_object(@project) + " " + :PROJECT.t
  add_page_title(title)
  container_class(:text_image)

  default_count = @field_slip_max.zero? ? 0 : 6
%>

<div class="mt-3 pb-2">
  <div>
    <%= :field_slips_max_for_project.t(max: @field_slip_max) %>
  </div>
  <%= render(Components::ProjectFieldSlipForm.new(
        FormObject::ProjectFieldSlip.new(field_slips: default_count),
        project: @project
      )) %>
  <% if @project.member?(User.current) %>
    <table class="table mt-3">
      <thead>
        <tr>
          <%= tag.th(:FILENAME.t, scope: "col") %>
          <%= tag.th(:USER.t, scope: "col", class: "text-center") %>
          <%= tag.th(:SECONDS.t, scope: "col", class: "text-center") %>
          <%= tag.th(:PAGES.t, scope: "col", class: "text-center") %>
          <%= tag.th(:STATUS.t, scope: "col", class: "text-right") %>
        </tr>
      </thead>
      <%= tag.tbody(id: "field_slip_job_trackers") do
        @project.trackers.order(id: :desc).each do |tracker|
          concat(
            render(partial: "projects/field_slips/tracker_row",
                   locals: { tracker: tracker })
          )
        end
      end %>
    </table>
  <% end %>
</div><!--.margin-->
