<div class="added_image_wrapper row border-top">
  <div class="col-sm-12">

    <div class="added_image_name_container row">
      <!--Replaced by javascript-->
      <div class="col-sm-10">
        <span class="text-danger warn-text"></span>
        <span class="text-success info-text"></span>
      </div>
      <div class="col-sm-2">
        <a href="javascript:" class="remove_image_link float-right"><%= :image_remove_remove.t %></a>
      </div>
    </div>

    <div class="row">
      <div class="added_image_image_container col-4">
        <div class="row">
          <div class="col-12">
            <a href="#" data-role="set_as_default_thumbnail"><%= :image_set_default.t %></a>
            <label class="hidden is_default_thumbnail"><%= :image_add_default.t %></label>
            <input type="radio" name="observation[thumb_image_id]" value="true" class="d-none">
          </div>
          <div class="col-12">
            <img class="img-responsive" src="">
          </div>
          <div class="col-12 text-break">
            <span class="small">{{img_file_name}}</span><br/>
            <span>{{img_file_size}}</span>
          </div>
        </div>
      </div>

      <div class="added_image_details_container col-8">
        <div class="row">
          <div class="col-sm-4">
            <label><%= :NOTES.t %>:</label>
          </div>
          <div class="col-sm-8">
            <%= text_area(:temp_image, :notes, rows: 2,
                          class: "form-control form-control-sm") %>
          </div>
        </div>

        <div class="added_image_additional_details_container">
          <div class="row pt-3">
            <div class="col-sm-4">
              <label><%= :form_images_copyright_holder.t %>:</label>
            </div>
            <div class="col-sm-8">
              <%= text_field(:temp_image, :copyright_holder, value: @image.user.legal_name,
                             class: "form-control form-control-sm") %>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-sm-4">
              <label><%= :form_images_when_taken.t %>:</label>
            </div>
            <div class="col-sm-8 form-inline">
              <%= date_select(:temp_image, :when, date_select_opts(@temp_image),
                              class: "form-control form-control-sm") %>
              <div>
                <small><%= :form_images_camera_date.t %>:</small>
                <small><a href="javascript:"><span class="camera_date_text"></span></a></small>
              </div>

            </div>
          </div>

          <div class="row pt-3">
            <div class="col-sm-4">
              <label><%= :form_images_select_license.t %></label>
            </div>
            <div class="col-sm-8">
              <%= select(:temp_image, :license_id, @licenses,
                         {selected: @user.license_id},
                         class: "form-control form-control-sm") %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
