<% @title = :commercial_inquiry_title.t(name: @image.unique_format_name) %>

<div class="max-width-text-plus_image">
  <%= form_tag(add_query_param(action: :commercial_inquiry, id: @image.id)) do %>
    <div>
      <%= thumbnail(@image, size: :medium, border: 0, votes: true) %>
    </div>
    <div>
      <%= :commercial_inquiry_header.tp(user: @image.user.legal_name) %>
      <%= text_area(:commercial_inquiry, :content, rows: 10, class: "form-control") %>
      <%= submit_tag(:SEND.l, class: "btn mx-auto mt-3") %>
    </div>
  <% end %>
</div>
