<div class="row mt-3 vcenter">
  <div class="col-sm-8">
    <div class="row vcenter">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="text-center">
          <%= text_field_with_label(
            form: f, field: :north, label: :NORTH.t + ":",
            data: { map_target: "northInput", action: "map#startKeyPressTimer" }
          ) %>
        </div><!-- .text-center -->
      </div>
    </div>
    <div class="row mt-3 vcenter">
      <div class="col-xs-4">
        <div class="text-center">
          <%= text_field_with_label(
            form: f, field: :west, label: :WEST.t + ":",
            data: { map_target: "westInput", action: "map#startKeyPressTimer" }
          ) %>
        </div><!-- .text-center -->
      </div>
      <div class="col-xs-4 small p-0">
        <div class="text-center">
          <%= :form_locations_lat_long_help.t %>
        </div><!-- .text-center -->
      </div>
      <div class="col-xs-4">
        <div class="text-center">
          <%= text_field_with_label(
            form: f, field: :east, label: :EAST.t + ":",
            data: { map_target: "northInput", action: "map#startKeyPressTimer" }
          ) %>
        </div><!-- .text-center -->
      </div>
    </div>
    <div class="row mt-3 vcenter">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="text-center">
          <%= text_field_with_label(
            form: f, field: :south, label: :SOUTH.t + ":",
            data: { map_target: "northInput", action: "map#startKeyPressTimer" }
          ) %>
        </div><!-- .text-center -->
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <%= text_field_with_label(form: f, field: :high,
                                label: :show_location_highest.t + ":") %>
      <%= text_field_with_label(form: f, field: :low,
                                label: :show_location_lowest.t + ":",
                                append: "(#{:units_meters.t})") %>
    </div><!-- .text-center -->
  </div>
</div><!--.row-->
