<%
container_class(:wide)
add_edit_title(@sequence.format_name, @sequence)
add_context_nav(sequence_form_tabs(obj: @back_object))

obs = @sequence.observation
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(partial: "sequences/observation_title",
               locals: { observation: obs }) %>
    <%= render(Components::SequenceForm.new(@sequence, back: @back)) %>

    <div class="small">
      <span class="font-weight-bold"><%= :CREATED_BY.t %>:</span>
      <%= user_link(@sequence.user) %>
    </div>

    <%= show_object_footer(@user, @sequence) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(::Components::MatrixBox.new(
                   user: @user,
                   object: obs.rss_log || obs,
                   columns: "col-xs-12")) %>
    </ul>
  </div>
</div>
<!--.row-->
