<%
  @title = :add_specimen_title.l
  right_links = [link_with_query(:add_specimen_cancel.t,
                                 controller: :observer, action: :show_observation, :id => @observation.id),
                 link_with_query(:herbarium_index.t, :controller => :herbarium, :action => :index)
                 ]
  @tabsets = {
          right: render(partial: "/shared/tab_set", locals:{ links: right_links })
  }
%>
<div class="row">
  <div class="col-sm-7">
      <%= form_tag(:action => 'add_specimen', :id => @observation.id) do %>
        <%= hidden_field_tag('id', @observation.id) %>
      	<%= submit_tag :add_specimen_add.t, class: "btn btn-default center-block bottom" %>

        <div class="form-group push-down">
					<%= herbarium_name_box %>
        </div>
        <div class="form-group">
          <label><%= :add_specimen_herbarium_label.t %>:</label>
          <%= text_field('specimen', 'herbarium_label', value: @herbarium_label, class:"form-control") %>
        </div>
        <label for="specimen_when_1i"><%= :WHEN.t %>:</label>
        <div class="form-inline">
          <div class="form-group">
          <%= date_select('specimen', 'when', {start_year: 1980,
                          end_year: Time.now.year,
                          order: [:day,:month,:year]},{class: "form-control"}) %>
          </div>
        </div>
        <div class="form-group">
          <label><%= :add_specimen_notes.t %>:</label>
      		<%= text_area('specimen', 'notes', {class: "form-control", rows: 6}) %>
        </div>

        <%= submit_tag :add_specimen_add.t, class: "btn btn-default center-block bottom" %>
      <% end %>
  </div>
  <div class="col-sm-5">
      <%= render(:partial => 'shared/matrix_box', :locals => {
                                                        object: @observation.rss_log
      }) %>
  </div>
</div>
