<%
  @title = "Specimen '#{@specimen.herbarium_label}'"

  tabs = []
  if in_admin_mode? || @specimen.can_edit?(@user)
    tabs << link_to(:edit_specimen.t, action: :edit_specimen, id: @specimen.id)
  end
  tabs += [
    link_to(:herbarium_delete_specimen.t, action: :delete_specimen,
            id: @specimen.id, data: {confirm: :are_you_sure.t}),
    link_to(:herbarium_index.t, controller: :herbarium, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  herbarium = @specimen.herbarium
%>

<div class="max-width-text">
  <p>
    <%= :HERBARIUM.t %>: <%= link_to(herbarium.name, herbarium.show_link_args) %><br/>
    <%= :specimen_herbarium_label.t %>: <%= @specimen.herbarium_label %><br/>
    <%= :specimen_user.t %>: <%= @specimen.user.legal_name %><br/>
    <%= :specimen_when.t %>: <%= @specimen.when.web_date %>
  </p>

  <% if !@specimen.notes.blank? %>
    <%= ( :specimen_notes.l + ":\n\n" + @specimen.notes ).tpl %>
  <% end %>

  <%= render(partial: "shared/matrix_box", collection: @specimen.observations, as: :object) %>

  <center>
    <p>
      <% if @specimen.created_at %>
        <%= :specimen_created_at.t %>: <%= @specimen.created_at.web_date %><br/>
      <% end %>
      <% if @specimen.updated_at %>
        <%= :specimen_updated_at.t %>: <%= @specimen.updated_at.web_date %><br/>
      <% end %>
    </p>
  </center>
</div>
