<%
  @title = :specimen_index_title.t(subject: @subject)

  tabs = [
    link_to(:herbarium_index.t, controller: :herbarium, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        <%= :specimen_herbarium.t %>
      </th>
      <th>
        <%= :specimen_herbarium_label.t %>
      </th>
      <th>
        <%= :OBSERVATIONS.t %>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% for specimen in @specimens
      herbarium = specimen.herbarium
      observation = specimen.observations %>
      <tr>
        <td>
          <%= if is_in_admin_mode? || specimen.can_edit?(@user)
            link_to(:herbarium_edit_specimen.t, {action: :edit_specimen,
                    id: specimen.id}, class: "btn")
          end %>
        </td>
        <td>
          <%= link_to(herbarium.name.t, herbarium.show_link_args) %>
        </td>
        <td>
          <%= link_to(specimen.herbarium_label.t, specimen.show_link_args) %>
        </td>
        <td>
          <%= specimen.observations.map do |obs|
            link_to(obs.unique_format_name.t, obs.show_link_args)
          end.safe_join(", ") %>
        </td>
        <td>
          <%= if is_in_admin_mode? || specimen.can_edit?(@user)
            link_to(:herbarium_delete_specimen.t, {action: :delete_specimen,
                    id: specimen.id}, data: { confirm: :are_you_sure.t },
                    class: "btn")
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
