<%
add_show_title(@image.format_name.t.small_author, @image)
add_pager_for(@image)
add_context_nav(show_image_tabs(image: @image))
container_class(:full)
column_classes(:six)
%>

<%= tag.div(class: "row") do %>
  <%= tag.div(class: yield(:left_columns)) do %>

    <%= render(partial: "images/show/image_panel") %>
    <%= render(partial: "images/show/license_history_panel") %>

  <% end %>
  <!--.col-lg-8-->
  <%= tag.div(class: yield(:right_columns)) do %>

    <%= render(partial: "images/show/info_panel") %>

    <% if reviewer? %>
      <div class="mb-5 text-center">
        <p><%= export_status_controls(@image) %></p>
        <p><%= export_status_ml_controls(@image) %></p>
      </div>
    <% end %>

    <div id="image_votes_container"><!--Note: id used by ajax-->
      <%= render(partial: "images/show/vote_panel") %>
    </div>
    <!-- #image_votes_container -->

  <% end %>
  <!--.col-lg-4-->
<% end %>
<!--.row-->

<!-- LICENSE_AND_FOOTER -->
<%= tag.div(class: "row") do %>
  <%= tag.div(class: yield(:left_columns)) do %>
    <div class="small text-center">
      <div>
        <%= image_copyright(@image) %>
      </div>
      <div class="py-5px mb-3">
        <%= render(partial: "shared/form_license_badge",
                   locals: { license: @image.license }) %>
      </div>
    </div>
  <% end %>
  <!--.col-->
  <%= tag.div(class: yield(:right_columns)) do %>
    <%= show_object_footer(@user, @image) %>
  <% end %>
  <!--.col-sm-6-->
<% end %>
<!--.row-->
<!-- /LICENSE_AND_FOOTER -->
