<%
  intro = :email_publish_name_intro.l

  fields = ""
  fields += "*#{:Name.l}:* #{@name.display_name}\n"
  fields += "*#{:email_field_published.l}:* #{@publisher.legal_name} (#{@publisher.login})\n"

  handy_links = :email_handy_links.l

  links = []
  links.push([:email_links_show_object.t(type: :name),
    "#{MO.http_domain}/name/show_name/#{@name.id}"])
  links.push([:email_links_email_publisher.t,
    "#{MO.http_domain}/user/show_user/#{@publisher.id}"])
  links.push([:email_links_latest_changes.t,
    MO.http_domain])

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<%= fields.tp %>
<%= handy_links.tp %>
<ul type=none>
  <% for label, url in links %>
    <li><%= label %>: <%= link_to(url, url) %></li>
  <% end %>
</ul>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

<%= fields.tp.html_to_ascii %>

<%= handy_links.tp.html_to_ascii %>

<%= result = "".html_safe
  for label, url in links
    result += label.html_to_ascii + ": " + url.html_safe + "\n"
  end
  result %>
<% end %>
