<% parents = @name.all_parents %>
<% if parents.any? %>
  <div style="margin-bottom:0.5em">
    <% parents.reverse.each do |n| %>
      <p>
        <%= rank_as_string(n.rank) %>:
        <i><%= link_with_query(n.text_name.t, n.show_link_args) %></i>
      </p>
    <% end %>
  </div>
<% end %>

<% if @first_child %>
  <p><%= link_to(:show_object.t(type: :"RANK_PLURAL_#{@first_child.rank.to_s.upcase}"),
                 add_query_param({ action: :index_name }, @children_query)) %></p>
<% end %>
<% if @name.below_genus? && @name.genus.classification != @name.classification %>
  <p><%= link_with_query(:show_name_refresh_classification.t,
                         controller: :name, action: :refresh_classification,
                         id: @name.id) %></p>
<% end %>
<% if @name.rank == :Genus && @first_child && @name.classification.present? %>
  <p><%= link_with_query(:show_name_propagate_classification.t,
                         controller: :name, action: :propagate_classification,
                         id: @name.id) %></p>
<% end %>
<% if !@name.below_genus? && @name.classification.blank? %>
  <p><%= link_with_query(:show_name_get_classification_from_parent.t,
                         controller: :name, action: :inherit_classification,
                         id: @name.id) %></p>
<% end %>
