<!--[form:name]-->

<br/>
<label for="name_rank"><%= :Rank.t %>:</label>
<%= form.select(:rank, Name.all_ranks.map {|r| [rank_as_string(r), r]}) %><br/><br/>

<label for="name_deprecated"><%= :Status.t %>:</label>
<%= form.select(:deprecated, [[:ACCEPTED.t, false], [:Deprecated.t, true]]) %><br/><br/>

<label for="name_text_name"><%= :form_names_text_name.t %>:</label>
<% if true %>
  <%= form.text_field(:text_name, value: @name_string, size: 60, autofocus: true) %><br/>
  <div class="HelpNote"><%= :form_names_text_name_help.tp %></div>
<% else %>
  <%= @name.real_text_name %><br/>
  <div class="HelpNote"><%= :form_names_text_name_locked.tp %></div>
<% end %>

<label for="name_author"><%= :Authority.t %>:</label>
<% if true or @name.author.blank? %>
  <%= form.text_field(:author, :size => 60) %><br/>
  <div class="HelpNote"><%= :form_names_author_help.tp %></div>
<% else %>
  <%= h(@name.author) %><br/>
  <div class="HelpNote"><%= :form_names_author_locked.tp %></div>
<% end %>

<label for="name_citation"><%= :Citation.t %>:</label>
<span class="HelpNote"><%= :form_names_citation_help.t %></span><br/>
<%= form.text_field(:citation, :size => 80) %><br/>
<div class="HelpNote"><%= :form_names_citation_textilize_note.tp %></div>

<% if !@misspelling.nil? %>
  <%= form.check_box(:misspelling, :checked => @misspelling) %>
  <label for="name_misspelling"><%= :form_names_misspelling.t %></label>
  <label for="name_correct_spelling"><%= :form_names_misspelling_it_should_be.t %>:</label>
  <%= form.text_field(:correct_spelling, :size => 60,
                      :value => @correct_spelling) %><br/>
  <div class="HelpNote"><%= :form_names_misspelling_note.tp %></div>
  <% turn_into_name_auto_completer('name_correct_spelling', :primer => Name.primer) %>
<% end %>

<p>
  <label for="notes"><%= :form_names_taxonomic_notes.t %>:</label><br/>
  <%= form.text_area(:notes, :cols => 80) %>
  <%= render(:partial => 'shared/textilize_help') %>
</p>

<!--[eoform:name]-->
