<!--[form:name_description]-->

<div class="max-width-text">
  <%= submit_tag(button, class: "btn mx-auto mt-3 mb-3") %>

  <%= render(partial: "shared/form_description", locals: {form: form}) %>

  <%= submit_tag(button, class: "btn mx-auto mt-3 mb-3") %>

  <p><strong><%= :DESCRIPTION.t %>:</strong></p>
  <%= render(partial: "shared/textilize_help") %>

  <% rank = rank_as_lower_string(@description.parent.rank) %>
  <% for f in NameDescription.all_note_fields %>
    <div class="form-group">
      <%= label_tag("description_#{f}", :"form_names_#{f}".t + ":") %>
      <p class="help-block" style="margin-top:0">
        <%= :"form_names_#{f}_help".l(rank: rank) %>
      </p>
      <%= form.text_area(f, rows: 10, class: "form-control") %>
    </div>
  <% end %>

  <%= submit_tag(button, class: "btn mx-auto mt-3") %>
</div>

<!--[eoform:name_description]-->
