<%
  desc = name_description
  Textile.register_name(desc.name)
%>

<% if review %>
  <% if reviewer? %>
    <%= set_export_status_controls(desc) %><br/>
  <% end %>

  <%= :show_name_content_status.t %>: <%= review_as_string(desc.review_status) %><br/>
  <% if desc.reviewer %>
    <span class="HelpNote">
      <%= indent + "(" + :show_name_latest_review.t(
        date: desc.last_review ? desc.last_review.web_time : :UNKNOWN.t,
        user: user_link(desc.reviewer, desc.reviewer.login)
      ) + ")" %>
    </span><br/>
  <% end %>

  <% if reviewer? %>
    <%= indent + link_with_query(:review_unvetted.t, action: :set_review_status,
          value: :unvetted, id: desc.id) %><br/>
    <%= indent + link_with_query(:review_vetted.t, action: :set_review_status,
          value: :vetted, id: desc.id) %><br/>
    <%= indent + link_with_query(:review_inaccurate.t, action: :set_review_status,
          value: :inaccurate, id: desc.id) %><br/>
  <% end %><br/>
<% end %>

<% even = true
any = false
notes = desc.all_notes
for field in NameDescription.all_note_fields
  value = notes[field].to_s
  if value.match(/\S/)
    even = !even
    any = true %>
    <%= "form_names_#{field}".to_sym.t %>:
    <%= colored_notes_box(even, value.tpl) %>
    <br/>
  <% end %>
<% end %>
<%= :show_description_empty.tpl if !any %>

<center>
  <%= show_authors_and_editors(desc) %>
  <% if desc.license %>
    <%= render(partial: "shared/form_#{desc.license.form_name}") %>
  <% end %>
</center>
