<%
  @title = :email_tracking_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name), action: :show_name, id: @name.id)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= :email_tracking_help.tp %>

<%= form_tag(action: :email_tracking, id: @name.id) do %>
  <br/><center>
    <%= if @notification
      submit_tag(:UPDATE.t, class: "btn") + " " + submit_tag(:DISABLE.t, class: "btn")
    else
      submit_tag(:ENABLE.t, class: "btn")
    end %>
  </center>

  <label for="notification_note_template"><%= :email_tracking_note.t %></label>:<br/>
  <span class="HelpNote"><%= :email_tracking_note_help.t %></span><br/>
  <%= text_area(:notification, :note_template, cols: 80, rows: 16,
                value: @note_template, data: {autofocus: true}) %><br/>
<% end %>
