<%
  @title = :email_tracking_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name), action: :show_name, id: @name.id)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="mt-5 mb-5">
  <%= if @name.at_or_below_species?
    :email_tracking_help_below_species.tp(name: @name.display_name_without_authors)
  else
    :email_tracking_help_above_species.tp(rank: @name.rank_translated)
  end %>
</div>

<%= form_tag(action: :email_tracking, id: @name.id) do %>
  <div class="text-center my-3">
    <%= if @name_tracker
      submit_tag(:UPDATE.t, class: "btn btn-default") + " " + submit_tag(:DISABLE.t, class: "btn btn-default")
    else
      submit_tag(:ENABLE.t, class: "btn btn-default")
    end %>
  </div><!-- .text-center -->

  <div class="mt-5">
    <%= check_box_tag("note_template_enabled", "1", @note_template_enabled,
                      class: "form-control-xxx") %>
    <label for="enable_template"><%= :email_tracking_note.t %></label>
  </div>
  <div class="help-note mt-2 mb-5">
    <%= :email_tracking_note_help.t %>
  </div>
  <%= text_area(:name_tracker, :note_template, cols: 80, rows: 16,
                value: @note_template, data: {autofocus: true}) %><br/>
<% end %>
