<% @title ||= :eol_for_taxon_title.t(:name => @name.real_text_name) %>

<div>
  <%= link_to(:show_name.t(:name => @name.display_name), :controller => 'name',
             :action => 'show_name', :id => @name.id) %>
  <br/>
  <%= link_to(:eol_preview_title.t, :action => 'eol_preview') %>
</div>
<br/>

<% if @voteless_obs.length > 0 %>
  <div class="SubTitle"><%= :eol_for_taxon_voteless_observations.t %></div>
  <div>
    <% for obs in @voteless_obs %>
      <%= link_to(:eol_for_taxon_observation.t(:id => obs.id), :controller => 'observer', :action => 'show_observation', :id => obs.id) %><br/>
    <% end %>
  </div>
<% end %>

<% if @images.length > 0 %>
  <div class="SubTitle"><%= :eol_for_taxon_images.t %></div>
  <div>
    <%= #make_matrix(@images, :width => '100%') do |img|# %>
      <%= #image_exporter(img.id, true)# %>
      <%= #thumbnail(img, :votes => true, :nodiv => false, :class => "floatthumb")# %>
    <% #end# %>
  </div>
<% end %>

<% if @voteless_images.length > 0 %>
  <div class="SubTitle"><%= :eol_for_taxon_voteless_images.t %></div>
  <div>
    <%= #make_matrix(@voteless_images) do |img|# %>
      <%= #image_exporter(img.id, true)# %>
      <%= #thumbnail(img, :votes => true, :original => false, :nodiv => false, :class => "floatthumb")# %>
    <% #end# %>
  </div>
<% end %>
