<% @title ||= :eol_expanded_review_title.t %>

<p>
  <%= :eol_expanded_review_count.t(count: @data.name_count) %>,
  <%= :eol_expanded_review_total_image_count.t(count: @data.total_image_count) %>,
  <%= :eol_expanded_review_total_description_count.t(count: @data.total_description_count) %>
</p>

<% odd_or_even = 0
for n in @data.names
  id = n.id
  display_name = n.display_name
  odd_or_even = 1 - odd_or_even %>
  <div class="ListLine<%= odd_or_even %>"
       style="padding-top:10px; padding-bottom:10px;">
      <%= display_name %><br/>
      <% if @data.has_images?(id) %>
        <%= :eol_expanded_review_image_count.t(count: @data.image_count(id)) %><br/>
      <% end %>
      <% if @data.has_descriptions?(id) %>
        <%= :eol_expanded_review_description_count.t(count: @data.description_count(id)) %>
      <% end %>
  </div>
<% end %>
