<%
   @title = :show_name_title.t(:name => @name.display_name)
   description_links = list_descriptions(@name) || []
   Textile.register_name(@name)
   right_links = []
   # Google Images | Distribution Map | MycoPortal | Email Tracking
   right_links << link_with_query('EOL', eol_url) if @name.eol_url
   right_links << link_to(:google_images.t,
                         "http://images.google.com/images?q=#{@name.real_text_name}")
   right_links << link_to("MyCoPortal", mycoportal_url(@name))
   right_links << link_with_query(:show_name_distribution_map.t, :action => 'map',
                                 :id => @name.id) unless @data == []
   right_links << link_with_query(:show_name_email_tracking.t,
                                 :action => 'email_tracking', :id => @name.id)

   # Edit Name | Bulk Name Edit | Add Name | Change Synonyms | Approve/Deprecate
   right_links << link_with_query(:show_name_edit_name.t, :action => 'edit_name',
                                  :id => @name.id)
   right_links << link_with_query(:show_name_bulk_name_edit.t,
                                  :action => 'bulk_name_edit')
   right_links << link_with_query(:show_name_add_name.t, :action => 'create_name')
   right_links << link_with_query(:show_name_change_synonyms.t,
                                  :action => 'change_synonyms', :id => @name.id)
   right_links << link_with_query(:APPROVE.t, :action => 'approve_name',
                                  :id => @name.id) if @name.deprecated
   right_links << link_with_query(:DEPRECATE.t, :action => 'deprecate_name',
                                  :id => @name.id) unless @name.deprecated
   right_links << draw_interest_icons(@name)

   @tabsets = {
           pager_for: @name,
           right: render(partial: "shared/tab_set", locals: {links: right_links})
   }
%>

<div class="row">
  <div class="col-sm-5">
    <% if @first_four and @first_four.length > 0 %>
        <div class="list-group">
          <div class="list-group-item">
            <%= :show_name_most_confident.t %>
          </div>
          <% @first_four.each do |obs| %>
              <div class="list-group-item">
                <%= show_best_image(obs) %>
              </div>
          <% end %>
        </div>
    <% end %>
    <%= show_previous_version(@name) %>
    <%= set_export_status_controls(@name) %>
  </div>
  <div class="col-sm-7">
    <div class="list-group">
      <div class="list-group-item">
        <%= name_section_link(:show_name_observations.t, @first_consensus, @consensus_query) %>
        <%= name_section_link(:show_name_all_observations.t, @has_consensus2, @consensus2_query) %>
        <%= name_section_link(:show_name_synonym_observations.t, @has_synonym, @synonym_query) %>
        <%= name_section_link(:show_name_other_observations.t, @has_other, @other_query) %>
        <%= name_section_link(:show_name_subtaxa_observations.t, @has_subtaxa, @subtaxa_query) %>
      </div>
      <div class="list-group-item slight-pad default">
        <%= :show_name_nomenclature.t %>
      </div>
      <div class="list-group-item sl">
        <%= render(:partial => 'name', :object => @name, :locals => {synonyms: true}) %>
      </div>
      <div class="list-group-item slight-pad default">
        <%= :show_name_classification.t %>
        <%= link_with_query(:EDIT.t, {id: @name.description.id,
                                      controller: 'name', action: 'edit_name_description'},
                            {class: "pull-right"}) if @name.description %>
      </div>
      <div class="list-group-item">
        <%= classification_section(@classification, @parents, @first_child, @children_query) %>
      </div>
      <% if @name.has_notes? %>
          <div class="list-group-item">
            <%= :show_name_notes.t %>:
            <%= link_with_query(:EDIT.t, {controller: 'name', action: 'edit_name', id: @name.id},
                                {class: "pull-right"}) %>
          </div>
          <div class="list-group-item">
            <%= @name.notes.tpl %>
          </div>
      <% end %>
      <% if @best_description and !@best_description.empty? %>
          <div class="list-group-item slight-pad default">
            <%= :show_name_brief_description.t %>:
            <span class="pull-right">
          <%= link_with_query(:show_name_see_more.t, :id => @name.description.id,
                              :controller => 'name',
                              :action => 'show_name_description') %> |
              <%= link_with_query(:EDIT.t, {id: @name.description.id,
                                            controller: 'name', action: 'edit_name_description'}) %>
                </span>
          </div>
          <div class="list-group-item">
            <%= @best_description.tpl %>
          </div>
      <% end %>
      <div class="list-group-item slight-pad default">
        <%= :show_name_descriptions.t %>
        <%= link_with_query(:show_name_create_description.t,
                            {controller: :name, action: :create_name_description, id: @name.id}, {class: "pull-right"}) %>
      </div>
      <div class="list-group-item">
        <% description_links.each do |desc| %>
            <div><%= desc %></div>
        <% end %>
        <%= :show_name_no_descriptions.t unless description_links.any? %>
      </div>
      <% if @projects && @projects.length > 0 %>
          <div class="list-group-item slight-pad default">
            <%= :show_name_create_draft.t %>
          </div>
          <div class="list-group-item">
            <% @projects.each do |project| %>
                <%= link_with_query(project.title,
                                    :action => :create_name_description,
                                    :id => @name.id, :project => project.id,
                                    :source => 'project') %><br>
                </div>
            <% end %>
      <% end %>
    </div>
    <%= show_authors_and_editors(@name) %>
  </div>
</div>

<%
   # ----------------------------------------
   #  Show comments
   # ----------------------------------------
%>
<div class="row">
  <div class="col-xs-12">
    <%= render(:partial => 'comment/show_comments', :locals =>
                                                          {object: @name, controls: true, limit: nil}) %>
  </div>
  <div class="col-xs-12">
    <%= show_object_footer(@name) %>
  </div>
</div>