<!-- Filters Settings of Advanced Search Form -->
<div id="advanced_search_filters">
  <div class="form-group">
    <div class="push-down">
      <span class="bold"><%= :advanced_search_filters.t %></span>
      <p><%= :advanced_search_filters_explain.t %>.<p>
    </div>
    <div class="indent">
      <span class="bold"><%= :prefs_obs_filters.t %></span>
      (<%= :prefs_obs_filters_explanation.t %>)<br/>

      <%= :advanced_search_filter_has_images.t %>.<br/>
      <!-- has_images radio buttons -->
      <%= radio_button_tag(:has_images, "NOT NULL", false) %>
      <%= :advanced_search_filter_has_images_imaged.l %>.<br/>
      <%= radio_button_tag(:has_images, "NULL", false) %>
      <%= :advanced_search_filter_has_images_imageless.l %>.<br/>
      <%= radio_button_tag(:has_images, nil, checked: true) %>
      <%= :advanced_search_filter_has_images_both.l %>.<br/>
      <br/>
      <%= :advanced_search_filter_has_specimens.t %>.<br/>
      <!-- has_specimens radio buttons -->
      <%= radio_button_tag(:has_specimens, true, false) %>
      <%= :advanced_search_filter_has_specimens_vouchered.l %>.<br/>
      <%= radio_button_tag(:has_specimens, false, false) %>
      <%= :advanced_search_filter_has_specimens_unvouchered.l %>.<br/>
      <%= radio_button_tag(:has_specimens, nil, checked: true) %>
      <%= :advanced_search_filter_has_specimens_both.l %>.<br/>
    </div>
  </div>
</div>
