<%# Per filter, render: (1) a caption proceeding its radio buttons, and
    (2) each radio button with a label. %>
<div class="form-inline">
  <%# Caption %>
  <%= :"advanced_search_filter_#{filter.sym}".t %>.<br/>
  <%# One radio button per on value %>
  <% filter.on_vals.each do |val| %>
    <%= radio_button_tag(filter.sym, val, false) %>
    <%= :"advanced_search_filter_#{filter.sym}_#{val}".l %>.<br/>
  <% end %>
  <%# Off radio button %>
  <%= radio_button_tag(filter.sym, "off", checked: true) %>
  <%= :"advanced_search_filter_#{filter.sym}_off".l %>.<br/>
  <br/>
</div>
