<!--[form:image]-->

<% javascript_include('jquery') %>
<% @image = @images[index] %>

<div id="image_<%= index %>_box" class="form_image">

  <p style="white-space:nowrap">
  <%= radio_button('observation', 'thumb_image_id', -index) %>
  <%= image_file_field(:image, :image, :index => index, :onchange => "auto_image_new(#{index})") %>

  <% if @js %>
    <span style="margin-left:10px">&nbsp;</span>
    <%= button_tag("#{:MORE.t} »",  { :id => "image_#{index}_more" , :onclick => "image_on(#{index})"}) %>
    <%= button_tag("#{:LESS.t} »",  { :id => "image_#{index}_less" , :onclick => "image_off(#{index})", :style => 'display: none'}) %>

  <% end %><br/>

  <label for="image_<%= index %>_notes"><%= :NOTES.t %>:</label>
  <%= text_field('image', 'notes', :index => index, :size => 50) %>
  </p>

  <div id="image_<%= index %>_div" style="line-height:100%<%= '; display:none' if @js %>">
    <p><label for="image_<%= index %>_copyright_holder"><%= :form_images_copyright_holder.t %>:</label>
    <%= text_field('image', 'copyright_holder', :index => index) %></p>

    <p><label for="image_<%= index %>_when_1i"><%= :form_images_when_taken.t %>:</label>

    <%= date_select('image', 'when', { :index => index, :start_year => 1980, :end_year => Time.now.year,
                    :order => [:day,:month,:year]},
                    { :onchange => "CHANGED_DATES[#{index}] = true" }) %></p>

    <p><label for="image_<%= index %>_license_id"><%= :form_images_select_license.t %>:</label>
    <%= select('image', :license_id, @licenses, { :value => @image.license_id },
               { :id => "image_#{index}_license_id", :name => "image[#{index}][license_id]" }) %></p>
  </div>

  <%= if @js
       javascript_tag("jQuery('#image_#{index}_less').hide()")

       javascript_tag %(
            CHANGED_DATES[#{index}] = false;
            jQuery('#image_#{index}_div').hide();
            )
      end %>

</div>

<!--[eoform:image]-->
