<!--[form:observation]-->

<%= submit_tag(button_name, class: "btn center-block push-down") %>

<!-- WHEN -->
<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= label_tag(:observation_when_li, :WHEN.t + ":") %>
    <div class="form-group form-inline">
      <%= date_select("observation", "when", {order: [:day, :month, :year], start_year: 1980, end_year: Time.now.year}, {class: "form-control", style: "margin-bottom: 5px;"}) %>
    </div>
  </div>
</div>
<!-- /WHEN -->

<!-- WHERE_REASONS -->
<% if @dubious_where_reasons.any? %>
  <div class="alert-warning max-width-text">
    <%= @dubious_where_reasons.safe_join(safe_br) %>
    <p class="help-block max-width-text">
      <%= :form_observations_dubious_help.t(button: button_name) %>
    </p>
  </div>
<% end %>
<!-- /WHERE_REASONS -->

<!-- WHERE -->
<div class="row">
  <div class="col-xs-12 col-sm-6 max-width-text">
    <div class="form-group">
      <%= label_tag(:observation_place_name, "#{:WHERE.t}: (#{:required.t})") %>
      <%= text_field(:observation, :place_name, class: "form-control") %>
      <% turn_into_location_auto_completer(:observation_place_name, primer: Location.primer) %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="well well-sm max-width-text">
      <div class="arrow-left hidden-xs"></div>
      <%= content_tag(:p, :form_observations_where_help.t, class: "help-block max-width-text") %>
    </div>
  </div>
</div>
<!-- /WHERE -->

<!-- IS_COLLECTION_LOCATION -->
<div class="row">
  <div class="col-xs-12 max-width-text">
    <div class="form-inline">
      <%= check_box(:observation, :is_collection_location, class: "form-control-xxx") %>
      <%= label_tag(:observation_is_collection_location, :form_observations_is_collection_location.t) %>
    </div>
    <div class="well well-sm push-down max-width-text">
      <div class="arrow-up hidden-xs"></div>
      <%= content_tag(:p, :form_observations_is_collection_location_help.t, class: "help-block") %>
    </div>
  </div>
</div>
<!-- /IS_COLLECTION_LOCATION -->

<!-- LAT_LONG_ALT -->
<div class="row push-down max-width-text-times-two">
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= label_tag(:observation_lat, :LATITUDE.t + ":") %>
          <%= text_field(:observation, :lat, class: "form-control") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= label_tag("observation_long", :LONGITUDE.t + ":") %>
          <%= text_field(:observation, :long, class: "form-control") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= label_tag("observation_alt", :ALTITUDE.t + ":") %>
          <%= text_field(:observation, :alt, class: "form-control") %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 ">
    <div class="well well-sm ">
      <div class="arrow-left hidden-xs"></div>
      <%= content_tag(:p, :form_observations_lat_long_help.t, class: "help-block") %>
    </div>
  </div>
</div>
<!-- /LAT_LONG_ALT -->
<div class="row">
  <div class="col-xs-12 max-width-text-times-two">
<%= render(partial: "naming/form", locals: {
            action: action, button_name: button_name, show_reasons: false
          }) if include_naming %>
  </div>
</div>
<!-- HAS_SPECIMENS -->
<% if has_specimens %>
  <div class="well well-sm push-down max-width-text">
    <%= content_tag(:p, :form_observations_delete_specimens_help.t, class: "help-block") %>
  </div>
<% end %>
<!-- /HAS_SPECIMENS -->

<!-- NO_SPECIMENS -->
<% if !has_specimens %>
  <div class="row">
    <div class="col-xs-12 push-down max-width-text">
      <div class="form-inline">
        <%= check_box(:observation, :specimen, class: "form-control-xxx") %>
        <%= label_tag(:observation_specimen, :form_observations_specimen_available.t) %>
      </div>
      <div class="well well-sm push-down max-width-text">
        <div class="arrow-up"></div>
        <%= content_tag(:p, :form_observations_specimen_available_help.t, class: "help-block") %>
      </div>
    </div>
  </div>
<% end %>
<!-- /NO_SPECIMENS -->

<!-- HERBARIUM_FIELDS -->
<div id="herb_info_fields" class="max-width-text <%= "hidden" if @observation.specimen %>">
  <div class="form-group">
    <%= label_tag(:specimen_herbarium_name, :specimen_herbarium_name.t + ":") %>
    <%= text_field(:specimen, :herbarium_name, value: @herbarium_name, class: "form-control") %>
    <% turn_into_herbarium_auto_completer(:specimen_herbarium_name) %>
  </div>
  <div class="form-group">
    <%= label_tag(:specimen_herbarium_id, :specimen_herbarium_id.t + ":") %>
    <%= text_field(:specimen, :herbarium_id, value: @herbarium_id, class: "form-control") %>
    <% inject_javascript_at_end %(
         id_field = jQuery("#specimen_herbarium_id");
         specimen_checkbox = jQuery("#observation_specimen");
         id_field.change(function() {
           if (id_field.val().length > 0)
             specimen_checkbox.prop("checked", true)
         });
       ) %>
  </div>
</div>
<% inject_javascript_at_end %(
  jQuery(document).ready(function() {
//hide initially if has specimine box isn't checked
  if (!jQuery("#observation_specimen").is(":checked"))
    jQuery("#herb_info_fields").hide();

    jQuery("#observation_specimen").change(
    function () {
         if (jQuery("#observation_specimen").is(":checked"))
       jQuery("#herb_info_fields").show();
     else
       jQuery("#herb_info_fields").hide();
    });
  });
) %>
<!-- /HERBARIUM_FIELDS -->

<!-- NOTES -->
<div class="row push-down">
  <div class="col-xs-12 col-sm-6 max-width-text">
    <div class="form-group">
      <%= label_tag(:observation_notes, :NOTES.t + ":") %>
      <%= text_area(:observation, :notes, class: "form-control", rows: 10) %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 max-width-text">
    <div class="well well-sm" id="notes_help">
      <div class="arrow-left hidden-xs"></div>
      <%= content_tag(:p, :form_observations_notes_help.t, class: "help-block", style: "padding-top: 0px; margin-top: 0") %>
      <%= render(partial: "shared/textilize_help") %>
    </div>
  </div>
</div>

<% inject_javascript_at_end %(
jQuery(document).ready(function() {
    //hides the help field when the notes textarea is expanded

    var $notesText = jQuery('#observation_notes');

    $notesText.data('x', $notesText.outerWidth());
    $notesText.data('y', $notesText.outerHeight());

    $notesText.mouseup(function () {

        var $this = jQuery(this);

        if ($this.outerWidth() != $this.data('x') || $this.outerHeight() != $this.data('y')) {
            jQuery('#notes_help').hide();
        }
        else {
           jQuery('#notes_help').show();
        }

    });
});
) %>
<!-- /NOTES -->

<% ########################### Image Forms ############################## %>

<% if include_images %>
  <div class="row max-width-text-times-two">
    <% # @observation.thumb_image_id ||= 0 %>

    <% if @good_images.any? %>
      <div class="col-xs-12">
        <b>Images:</b>
      </div>
      <% for image in @good_images %>
        <div class="col-xs-12 push-down">
          <div class="row form_image">

            <!-- GOOD_IMAGE -->
              <div class="col-xs-1" style="max-width:30px">
                <%= radio_button(:observation, :thumb_image_id, image.id) %>
              </div>
              <div class="col-xs-11 col-sm-3">
                <%= thumbnail(image, border: 0, obs: @observation.id, votes: true) %>
              </div>
              <div class="col-xs-12 col-sm-8">
                <% if check_permission(image) %>
                  <table class="table-observation-form">
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_notes", :NOTES.t + ":") %>
                      </td>
                      <td>
                        <%= text_area(:good_image, :notes, value: image.notes, index: image.id,
                                       rows: 1, class: "form-control form-control-sm") %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_original_name", :form_observations_original_name.t + ":") %>
                      </td>
                      <td>
                        <%= text_field(:good_image, :original_name, value: image.original_name, index: image.id,
                                       size: 40, class: "form-control form-control-sm") %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_copyright_holder", "#{:form_images_copyright_holder.t}:") %></td>
                      </td>
                      <td>
                        <%= text_field(:good_image, :copyright_holder, value: image.copyright_holder, index: image.id, class: "form-control form-control-sm") %></td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_when_1i", :form_images_when_taken.t + ":") %></td>
                      </td>
                      <td>
                        <div class="form-inline">
                          <%= date_select(:good_image, :when, {object: image, index: image.id,
                                          start_year: 1980, end_year: Time.now.year,
                                          order: [:day, :month, :year]}, {class: "form-control form-control-sm",
                                          onchange: "CHANGED_DATES[#{image.id}] = true"}) %>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= label_tag("image_#{image.id}_license_id", :form_images_select_license.t + ":") %>
                      </td>
                      <td>
                        <%= select(:good_image, :license_id, License.current_names_and_ids(image.license),
                                   {selected: image.license_id, index: image.id}, {class: "form-control form-control-sm"}) %>
                      </td>
                    </tr>
                  </table>
                <% end # if check_permission %>
              </div>
            <!-- GOOD_IMAGE -->

          </div>
        </div>
      <% end # for image %>
    <% end # if @good_images %>
    <%= hidden_field_tag(:good_images, @good_images.map { |o| o.id }.join(" ")) %>
  </div>

  <div class="row push-down max-width-text-times-two">
    <div class="col-sm-12">


      <strong><%= :form_observations_upload_images.t %>:</strong>

      <!-- MULTIFILE_UPLOAD_FORM -->
        <%= render(partial: "form_multi_image_upload") if can_do_multifile_upload? %>
      <!-- /MULTIFILE_UPLOAD_FORM -->

      <!-- MONOFILE_UPLOAD_FORM -->
        <% if !can_do_multifile_upload? %>
          <%= javascript_tag %(
            var NEXT_IMAGE_INDEX = #{@images.length+1};
            var CHANGED_DATES = [];
          ) %>
          <div id="image_forms">
            <% i = 0 %>
            <% @images.push(@new_image) %>
            <% while i < @images.length %>
              <%= render(partial: "form_image", locals: {index: i}) %>
              <% i += 1 %>
            <% end %>
          </div>
          <input id="new_image_button" onclick="image_new();" type="button" value="<%= :form_observations_upload_another.t %>" class="btn"/>
          <% javascript_include("single_image_uploader") %>
          <%= javascript_tag %(
            var x = String.fromCharCode(60);
            var y = String.fromCharCode(93);
            var IMAGE_FORM = "#{
              i = @images.length - 1 rescue 0
              str = render(partial: "form_image", locals: {index: i})
              str.gsub!("image_#{i}_", "image_XXX_")
              str.gsub!("image_id_#{i}", "image_id_XXX")
              str.gsub!("(#{i})", "(XXX)")
              str.gsub!("[#{i}]", "[XXX]")
              str.sub!("type=\"radio\" value=\"#{i}\"", 'type="radio" value="-XXX"')
              str.sub!("checked=\"checked\" ", "")
              str = escape_javascript(str)
              str.gsub("<", '"+x+"')
              str.gsub("]", '"+y+"')
            }";
          ) %>
        <% end %>
      <!-- /MONOFILE_UPLOAD_FORM -->

   </div>
 </div>
<% end # if include_images %>

<% if @projects.any? || @lists.any? %>
  <%= submit_tag(button_name, class: "btn center-block push-down") %>
<% end %>

<% ##########################################################################     %>

<% if @projects.any? %>
  <div class="row push-down">
    <div class="col-xs-12 max-width-text-times-two">
      <div class="col-xs-12 col-sm-6 pull-right">
        <div class="well well-sm max-width-text">
          <div class="arrow-left hidden-xs"></div>
          <p class="help-block"><%= :form_observations_project_help.t %></p>
        </div>
      </div>
      <strong><%= :PROJECTS.t %>:</strong>
      <% for project in @projects %>
        <div class="form-inline max-width-text">
          <%= check_box(:project, "id_#{project.id}", checked: @project_checks[project.id],
                        disabled: @observation.user != @user && !project.is_member?(@user),
                        class: "form-control-xxx") %>
          <%= link_to_object(project) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @lists.any? %>
  <div class="row push-down">
    <div class="col-xs-12 max-width-text-times-two">
      <div class="col-xs-12 col-sm-6 pull-right">
        <div class="well well-sm max-width-text">
          <div class="arrow-left hidden-xs"></div>
          <p class="help-block"><%= :form_observations_list_help.t %></p>
        </div>
      </div>
      <strong><%= :SPECIES_LISTS.t %>:</strong>
      <% for list in @lists %>
        <div class="form-inline max-width-text">
          <%= check_box(:list, "id_#{list.id}", checked: @list_checks[list.id],
                        disabled: !check_permission(list), class: "form-control-xxx") %>
          <%= link_to_object(list) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= submit_tag(button_name, class: "btn center-block push-down") %>

<% if logging_optional %>
  <div class="form-inline">
    <%= check_box(:log_change, :checked, checked: "1", class: "form-control-xxx") %>
    <%= label_tag(:log_change_checked, :form_observations_log_change.t) %>
  </div>
<% end %>




<!--[/form:observation]-->
