<%
  records = observation.herbarium_records
  can_add = observation.has_edit_permission? ||
            @user && @user.curated_herbaria.any?

  # This is passed in to show_herbarium_record, allowing users to do prev,
  # next and index from there to navigate through all the rest for this obs.
  query = Query.lookup(:HerbariumRecord, :all, observations: observation.id)
%>

<% if records.any? && can_add %>
  <div>
    <%= :Herbarium_records.t %>: [<%=
      link_with_query(:show_observation_create_herbarium_record.t,
                      controller: :herbarium_record,
                      action: :add_herbarium_record, id: observation.id)
    %>]
  </div>
  <ul class="tight-list">
    <% records.map do |record| %>
      <li>
        <%= link_to(record.herbarium.name.t,
                    add_query_param(record.show_link_args, query)) %>
        <% if record.can_edit? %>
          [<%= link_to(:EDIT.t, controller: :herbarium_record,
                       action: :edit_herbarium_record, id: record.id) %> |
           <%= link_to(:DESTROY.t, controller: :collection_number,
                       action: :destroy_herbarium_record, id: record.id) %>]
        <% end %>
      </li>
    <% end %>
  </ul>

<% elsif records.any? && !can_add %>
  <%= records.count > 1 ? :Herbarium_records.t : :Herbarium_record.t %>:
  <%= records.map do |record|
        link_to(record.herbarium.name.t.html_safe,
                add_query_param(record.show_link_args, query))
      end.safe_join(", ") %>

<% elsif records.none? && can_add %>
  <%= :show_observation_no_herbarium_records.t %> [<%=
    link_with_query(:show_observation_create_herbarium_record.t,
                    controller: :herbarium_record,
                    action: :add_herbarium_record, id: observation.id)
  %>]
<% end %>
