<%
   ##TODO: Rename
   ##accepts :object local
    presenter = MatrixBoxPresenter.new(object, @view)

%>

<% if presenter %>
    <div class="rss-log-item">
      <div class="thumbnail-container" style="min-height: 30px">
      <%= presenter.thumbnail %>
      </div>
      <div class="rss_info_container">
        <div class="rss-title">
          <%=presenter.title %>
        </div>
        <div class="rss_what">
          <%=presenter.what %>
        </div>
        <div class="rss_location">
          <small>
            <strong>
          <%=presenter.location %>
            </strong>
          </small>
        </div>
         <span class="rss_when">
             <% unless presenter.when.blank? %>
                <%=presenter.when %>: <%=presenter.who %>
             <%end%>

        </span>
        <div class="rss_who">

        </div>
        <div class="rss-detail">
          <%=presenter.detail%>
        </div>
        <div class="rss_fancy_time">
          <small>
          <%=presenter.fancy_time%>
          </small>
        </div>
      </div>
    </div>
<% end %>