<%= form_tag(add_query_param(action: :index_rss_log)) %>
  <div class="btn-group pad-bottom hidden-xs" style="white-space:nowrap">
    <%= content_tag(:span, :rss_show.t, class: "btn btn-xs disabled") %>
    <span class="btn btn-xs <%= "active" if @types == ['all'] %>">
      <%= label = :rss_all.t
      link = {action: :index_rss_log, type: :all}
      help = {title: :rss_all_help.t}
      @types == ['all'] ? label : link_with_query(label, link, help) %>
    </span>
    <% RssLog.all_types.map(&:to_s).each do |type|
      checked = @types.include?(type) || @types == ['all'] %>
      <span class="btn btn-xs <%= "active" if @types == [type] %>" data-toggle="checkbox" class="rss_log_tab">
        <%= check_box_tag("show_#{type}", "1", checked, class: "rss_log_tab") %>
        <%= label = :rss_one.t(type: type.to_sym)
        link = {action: :index_rss_log, type: type}
        help = {title: :rss_one_help.t(type: type.to_sym)}
        @types == [type] ? label : link_with_query(label, link, help) %>
      </span>
    <% end %>
    <%= submit_tag(:SUBMIT.t, class: "btn btn-xs") %>
  </div>
</form>
<% javascript_include("rss_feed_select_helper")%>
