<%=form_tag(add_query_param(:action => 'index_rss_log'))%>
<div class="input-group">
  <%=content_tag(:span, :rss_show.t, class: "input-group-addon border-radius-none")%>
  <span class="input-group-addon">
 <%= if @types == ['all']
       :rss_all.t
     else
       link_with_query(:rss_all.t,
                       {action: 'index_rss_log', type: 'all'}, {title: :rss_all_help.t})
     end%>
        </span>
  <% RssLog.all_types.map(&:to_s).each do |type|
    checked = @types.include?(type) || @types == ['all'] %>
          <span class="input-group-addon">
          <%=check_box_tag("show_#{type}", '1', checked)%>
            <% if @types == [type] %>
                <%=content_tag(:span, :rss_one.t(:type => type.to_sym))%>
            <%else%>
                <%=link_with_query(:rss_one.t(:type => type.to_sym),
                                   {action: 'index_rss_log', type: type}, {title: :rss_all_help.t})%>
            <%end%>
          </span>
  <%end%>

      <span class="input-group-btn border-radius-none">
        <%=submit_tag(:SUBMIT.t, class: "btn btn-default")%>
      </span>
</div><!-- /input-group -->
</form>