<!-- row listing a sequence in show_observeration -->
<tr>
  <td class="align-right">
    <%= sequence.id %>
  </td>
  <td>
    <%= sequence.locus.truncate(sequence.locus_width) %>
  </td>
  <td>
    <% if sequence.deposit? %>
      <%= sequence_archive_link(sequence) %>:
      <%= sequence_accession_link(sequence) %>
    <% end %>
  </td>
  <td>
    <%= link_with_query(:SHOW.t, sequence.show_link_args) %>  </td>
  <td>
    <% if check_permission(@observation) || check_permission(sequence) %>
      <%= link_with_query(:EDIT.t, sequence.edit_link_args) %>
    <% end %>
  </td>
</tr>
