<!-- row listing a sequence in show_observeration -->
<% sequence = sequence_row %>
<tr>
  <td class="align-right">
    <%= sequence.id %>
  </td>
  <td>
    <%= sequence.locus.truncate(sequence.locus_width) %>
  </td>
  <td>
    <% if sequence.deposit? %>
      <%= sequence_archive_link(sequence) %>:
      <%= sequence_accession_link(sequence) %>
    <% end %>
  </td>
  <td>
    <%= link_with_query(:SHOW.t, sequence.show_link_args) %>
  </td>
  <% if check_permission(@observation) || check_permission(sequence) %>
    <td>
      <%= link_with_query(:EDIT.t, sequence.edit_link_args) %>
    </td>
    <td>
      <%= link_with_query(:DESTROY.t, sequence.destroy_link_args)%>
    </td>
  <% end %>
</tr>
