<!-- row listing a sequence in show_observeration -->
<tr>
  <td>
    <%= truncate(sequence.locus, length: locus_width) %>
  </td>
  <td>
    <% if sequence.archive.present? %>
      <%= sequence.archive.t %>:
      <%= link_to(truncate(sequence.accession, length: locus_width/2).t,
                  search_for_accession_url(sequence.archive,
                                           sequence.accession),
                  target: "_blank") %>
    <% end %>
  </td>
  <td>
    <%= link_with_query(:SHOW.t, sequence.show_link_args) %>  </td>
  <td>
    <% if check_permission(@observation) || check_permission(sequence) %>
      <%= link_with_query(:EDIT.t, sequence.show_link_args) %>
    <% end %>
  </td>
</tr>
