<%
   default_image = @observation.thumb_image
   slider_hider_css = "hidden"
   slider_box_size_css = "col-xs-12 col-sm-6 col-md-3"
   if not @observation.images.nil? and @observation.images.any?
     case @observation.images.length
       when 1
         slider_hider_css = "hidden"
         slider_box_size_css = "col-xs-12"
       when 2
         slider_hider_css = "visible-xs"
         slider_box_size_css = "col-xs-12 col-sm-6"
       when 3
         slider_hider_css = "visible-xs visible-sm visible-md"
         slider_box_size_css = "col-xs-12 col-sm-6 col-md-4"
       when 4
         slider_hider_css = "visible-xs visible-sm visible-md"
       else
         slider_hider_css = ""
     end
   end
%>

<% if not @observation.images.nil? and @observation.images.any? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="carousel slide" id="carousel" data-interval="100000" data-wrap="false">
          <div class="carousel-inner">
            <div class="item active">
              <% unless default_image.nil? %>
                  <div class="<%= slider_box_size_css %>">
                    <div>
                      <%
                         notes = !default_image.notes || default_image.notes.blank? ? "" : default_image.notes
                         notes += "\n#{default_image.original_name}" if !default_image.original_name.blank? && \
                           (check_permission(default_image) || default_image.user && default_image.user.keep_filenames == :keep_and_show)

                      %>
                      <%= thumbnail(default_image, notes: notes) %>
                    </div>
              <% end %>
              </div>
            </div>
            <% @observation.images.each do |img| %>
                <%
                   notes = !img.notes || img.notes.blank? ? "" : img.notes
                   notes +=  "\n#{img.original_name}" if !img.original_name.blank? && \
                           (check_permission(img) || img.user && img.user.keep_filenames == :keep_and_show)

                 %>
                <% if img != default_image %>
                    <div class="item">
                      <div class="<%= slider_box_size_css %>">
                        <%= thumbnail(img, notes: notes) %>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
          <a class="left carousel-control <%= slider_hider_css %>" href="#carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control <%= slider_hider_css %>" href="#carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
<% end %>