<div class="row">
  <div class="col-xs-12 max-width-text">
    <div id="observation_when">
      <%= :WHEN.t %>: <span class="bold"><%= observation.when.web_date %></span>
    </div>
    <div id="observation_where">
      <%= observation.is_collection_location ?
            :show_observation_collection_location.t :
            :show_observation_seen_at.t %>:
      <span class="bold">
        <%= location_link(observation.place_name,
                          observation.location, nil, true) %>
      </span>
    </div>
    <div id="observation_lat_lng">
      <% if observation.lat or observation.alt %>
           <%= observation.lat ?
                  "#{observation.lat}° #{observation.long}° " : '' %>
           <%= observation.alt ? "#{observation.alt}m" : '' %>
      <% end %>
    </div>
    <div id="observation_who">
      <%= :WHO.t %>: <span class="bold"><%= user_link(observation.user) %></span>
    </div>
    <div id="observation_projects">
      <% observation.projects.each do |project| %>
           <div><%= :PROJECT.t %>: <%= link_to_object(project) %></div>
      <% end %>
    </div>
    <div id="observation_herbarium_record_info">
      <%= observation_herbarium_record_link(observation) +
            create_herbarium_record_link(observation) %>
    </div>
    <div id="observation_sequences">
      <%= pluralize(observation.sequences.size, :SEQUENCE.t, :SEQUENCES.t) %>
      <%= add_sequence_link(observation) %><br>
      <%= if observation.sequences.any?
            render(partial: "observer/sequence_table",
                  locals: { observation: observation })
          end %>
    </div>
    <%= if observation.notes?
      Textile.clear_textile_cache
      Textile.register_name(*observation.namings.map(&:name))
      Textile.register_name(observation.name)
      content_tag(
        :div, observation.notes_show_formatted.sub(/^\A/, "#{:NOTES.t}:\n").tpl
      )
    end %>
  </div>
</div>
