<div class="row">
  <div class="col-xs-12 max-width-text name-section">

    <p id="observation_when">
      <%= :WHEN.t %>: <span class="bold"><%= observation.when.web_date %></span>
    </p>

    <p id="observation_where">
      <%= observation.is_collection_location ?
            :show_observation_collection_location.t :
            :show_observation_seen_at.t %>:
      <span class="bold">
        <%= location_link(observation.place_name,
                          observation.location, nil, true) %>
      </span>
    </p>

    <p id="observation_lat_lng">
      <% if observation.lat or observation.alt %>
           <%= observation.lat ?
                  "#{observation.lat}° #{observation.long}° " : '' %>
           <%= observation.alt ? "#{observation.alt}m" : '' %>
      <% end %>
    </p>

    <p id="observation_who">
      <%= :WHO.t %>: <span class="bold"><%= user_link(observation.user) %></span>
    </p>

    <div id="observation_projects">
      <% observation.projects.each do |project| %>
           <p><%= :PROJECT.t %>: <%= link_to_object(project) %></p>
      <% end %>
    </div>

    <div id="observation_collection_numbers">
      <%= render(partial: "observer/collection_numbers",
                locals: { observation: observation }) %>
    </div>

    <div id="observation_herbarium_records">
      <%= render(partial: "observer/herbarium_records",
                locals: { observation: observation }) %>
    </div>

    <div id="observation_sequences">
      <%= render(partial: "observer/sequences",
                locals: { observation: observation }) %>
    </div>

    <%= if observation.notes?
      Textile.clear_textile_cache
      Textile.register_name(*observation.namings.map(&:name))
      Textile.register_name(observation.name)
      content_tag(
        :div, observation.notes_show_formatted.sub(/^\A/, "#{:NOTES.t}:\n").tpl
      )
    end %>
  </div>
</div>
