<h4>
  <%= :EXTERNAL_LINKS.t %>
</h4>
<div class="list-group">
  <div class="list-group-item kill-padding">
    <table class="table table-responsive" style="margin-left: 0; margin-right: 0; margin-bottom: 0;">
      <% observation.external_links.includes(:external_site).
                     sort_by(&:site_name).each do |link| %>
        <tr>
          <td style="border-top:0">
            <%= content_tag(:a, link.external_site.name, href: link.url,
                data: { role: "link", url: link.url, link: link.id,
                        site: link.external_site.id, obs: observation.id }) %>
            <% if link.can_edit?(@user) || in_admin_mode? %>
              <span data-role="link-controls" class="hidden-links">[<%=
                content_tag(:a, :EDIT.t, href: "#",
                                 data: { role: "edit-link" })
              %>|<%=
                content_tag(:a, :REMOVE.t, href: "#",
                                data: { role: "remove-link" })
              %>]</span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% @new_sites.sort_by(&:name).each do |site| %>
        <tr class="hidden-links">
          <td style="border-top:0">
            <%= content_tag(:span, site.name,
                data: { role: "link", obs: observation.id, site: site.id }) %>
            <span data-role="link-controls">[<%=
              content_tag(:a, :ADD.t, href: "#",
                          data: { role: "add-link" })
            %>]</span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<%= javascript_tag %(
  var ADD_LINK_DIALOG    = "#{j :show_observation_add_link_dialog.l}";
  var EDIT_LINK_DIALOG   = "#{j :show_observation_edit_link_dialog.l}";
  var REMOVE_LINK_DIALOG = "#{j :show_observation_remove_link_dialog.l}";
  var OKAY_BUTTON        = "#{j :OKAY.l}";
  var CANCEL_BUTTON      = "#{j :CANCEL.l}";
  var ADD_BUTTON         = "#{j :ADD.l}";
  var EDIT_BUTTON        = "#{j :EDIT.l}";
  var REMOVE_BUTTON      = "#{j :REMOVE.l}";
) %>
