<% # Section showing information about consensus name in ShowObservation
  lines = []
  name = observation.name
%>
<%# links to pages (internal & external) about name
      About Polyozellus
      on MyCoPortal
      on MycoBank %>
<%= content_tag(:p, link_to(:show_name.t(name: name.display_name),
                            controller: :name,
                            action: :show_name, id: name.id)) %>
<%= content_tag(:p, link_to("MyCoPortal", mycoportal_url(name),
                            target: :_blank)) %>
<%= content_tag(:p, link_to("Mycobank", mycobank_url(name),
                            target: :_blank)) %>

<%= # links to approved MO synonyms
    if (synonym_links = show_obs_approved_syn_links(name))
      content_tag(:p, synonym_links)
    end %>

<%
  if !name.unknown? && !browser.bot?
  # links to observations %>
  <%= content_tag(:p, :show_observations_of.t) %>
  <div class="indent-one-em">
    <%= # Observations of this name
    content_tag(:p, obss_of_name(name)) %>

    <% # Observations of each synonym
    links = obss_by_syn_links(name)
    if links.present? && links.size > 0
      links.each { |link| %><p><%= link %></p><% } %>
    <% end %>

    <%= # Observations of taxon (under any name)
    content_tag(:p, taxon_observations(name)) %>

    <%= # Observations of other taxa where this name was proposed
    if (link = name_proposed(name))
      content_tag(:p, link)
    end %>

    <%= # Observations of other taxa where this taxon was proposed
    if (link = taxon_proposed(name))
      content_tag(:p, link)
    end %>
  </div>

    <%= # List of species in the genus.
        #   List of species in Amanita Pers. (1433)
    if (link = show_obs_genera(name)).present?
      content_tag(:p, link)
    end %>
<% end %>

<% # Descriptions of this name
  links = list_descriptions(name)
  if links.present?
    links.each { |link| %><p><%= link %></p><% } %>
  <% end %>
