<% @title = :ask_user_question_title.t(user: @target.legal_name) %>

<div class="max-width-text">
  <%= form_tag(add_query_param(action: :ask_user_question, id: @target.id)) do %>
    <%= :ask_user_question_label.tp(user: @target.legal_name) %>

    <div class="form-group">
      <%= label_tag(:email_subject, :ask_user_question_subject.t + ":") %>
      <%= text_field(:email, :subject, size: 70, data: {autofocus: true},
                     class: "form-control") %>
    </div>

    <div class="form-group">
      <%= label_tag(:email_content, :ask_user_question_message.t + ":") %>
      <%= text_area(:email, :content, rows: 10, class: "form-control") %>
    </div>

    <%= submit_tag(:SEND.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
