<%
  @title = :theme_cantharellaceae.tl

  tabs = [
    link_to(:theme_list.t,
            :controller => 'observer', :action => 'color_themes'),
    link_to(:app_preferences.t,
            :controller => 'account', :action => 'prefs')
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= :theme_cantharellaceae_californicus.tp(:link => link_to('**__Cantharellus californicus__**'.t, :controller => 'image', :action => "show_image", :id => 557)) %>

<%= :theme_cantharellaceae_cinnabarinus.tp(:link => link_to('**__Cantharellus cinnabarinus__**'.t, :controller => 'image', :action => "show_image", :id => 551)) %>

<p>
  <span class="ListLine1">
    <%= :theme_cantharellaceae_cornucopioides.t(:link => link_to('**__Craterellus cornucopioides__**'.t, :controller => 'image', :action => "show_image", :id => 465)) %>
  </span>
</p>

<p>
  <span class="ListLine0">
    <%= :theme_cantharellaceae_tubaeformis.t(:link => link_to('**__Craterellus tubaeformis__**'.t, :controller => 'image', :action => "show_image", :id => 462)) %>
  </span>
</p>

<%= :theme_switch.tp(:theme => :Cantharellaceae.t) %>
