<%
   right_links = []
   @links.each do |title, action|
     right_links << link_with_query(title, action)
   end if @links
   @tabsets = {right: render(partial: "shared/tab_set", locals: {links: right_links})};
   flash_error(@error) if @error and (!@objects or @objects.empty?)
%>
  <div class="col-xs-12">
    <% if @suggest_alternate_spellings and @objects.empty?
         names = Name.suggest_alternate_spellings(@suggest_alternate_spellings)
         if names.any? %>
            <div class="Warnings">
              <div><%= :list_observations_alternate_spellings.t %></div>
              <% names.sort_by(&:sort_name).each do |name| %>
                  <div>
                    <%= link_to(name.display_name.t, :controller => :observer,
                                :action => :observation_search, :pattern => name.text_name) %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </div>
  <% if @pages %>
      <div class="col-xs-12">
        <%= pagination_numbers(@pages) %>
      </div>
      <div class="row results push-down">
        <%= render(partial: "shared/matrix_box", layout: "shared/matrix_table", collection: @objects, as: :object)  %>
        <div style="clear: left"></div>
      </div>
      <div class="col-xs-12">
        <%= pagination_numbers(@pages) %>
      </div>
  <% end %>