<%
   left_links = []
   @links.each do |title, action|
     left_links << link_with_query(title, action)
   end if @links
   @tabsets = {left: render(partial: "shared/tab_set", locals: {links: left_links})};
   flash_error(@error) if @error and (!@objects or @objects.empty?)
%>

<div class="row">
  <div class="col-xs-12">
    <% if @suggest_alternate_spellings and @objects.empty?
         names = Name.suggest_alternate_spellings(@suggest_alternate_spellings)
         if names.any? %>
            <div class="Warnings">
              <div><%= :list_observations_alternate_spellings.t %></div>
              <% names.sort_by(&:sort_name).each do |name| %>
                  <div>
                    <%= link_to(name.display_name.t, :controller => :observer,
                                :action => :observation_search, :pattern => name.text_name) %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </div>
  <% if @pages %>
      <div class="col-xs-12">
        <%= pagination_numbers(@pages) %>
      </div>
      <div class="row results">
        <% @objects.each do |rss_log| %>
            <div class="col-sm-4">
              <%= render(:partial => 'shared/matrix_box', :locals => {
                                                                object: rss_log
                                                        }) %>
            </div>
        <% end %>
      </div>
      <div class="col-xs-12">
        <%= pagination_numbers(@pages) %>
      </div>
  <% end %>
</div>