<%
  @owner_id = owner_id_line(@observation) # must go before show_obs_title
  @title = show_obs_title(@observation)
  @tabsets = show_observation_tabset(@observation, @user)

  javascript_include("suggestions")
  javascript_include("vote_popup")

  show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
  show_lists = @observation.species_lists.any?
  show_links = @observation.external_links.any? || @new_sites.any?
%>

<div class="row">
  <div class="col-sm-8 float-sm-left">
    <div class="list-group">
      <div class="list-group-item">
        <%= render(partial: "show_observation",
                   locals: { observation: @observation }) %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 float-sm-right">
    <div class="list-group">
      <div class="list-group-item name-section small">
        <%= render(partial: "show_name_info",
                   locals: { observation: @observation }) %>
      </div>
    </div>
    <% if show_lists %>
      <%= render(partial: "show_lists", locals: {observation: @observation}) %>
    <% end %>
    <% if show_links %>
      <%= render(partial: "show_links", locals: {observation: @observation}) %>
    <% end %>
    <% if show_map %>
      <div class="d-none d-sm-block">
        <%= render(partial: "show_thumbnail_map",
                   locals: { observation: @observation }) %>
      </div>
    <% end %>
    <%= render(partial: "show_images", locals: { observation: @observation }) %>
  </div>
  <div class="col-sm-8 float-sm-left">
    <div id="naming_partial">
      <%= render(partial: "naming/show", locals: { observation: @observation }) %>
    </div>
    <%= render(partial: "comment/show_comments",
               locals: { object: @observation, controls: true, limit: nil }) %>
  </div>
</div>
<%= show_object_footer(@observation) %>
