<%
  @owner_id = owner_id_line(@observation) # must go before show_obs_title
  @title = show_obs_title(@observation)
  @tabsets = show_observation_tabset(@observation, @user)

  javascript_include("suggestions")
  javascript_include("vote_popup")

  show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
  show_lists = @observation.species_lists.any?
  show_links = @observation.external_links.any? || @new_sites.any?
%>

<div class="row">

  <div class="left-column col-12 col-sm-8">

    <%= render(partial: "show_observation",
               locals: { observation: @observation }) %>

    <%= render(partial: "naming/show",
               locals: { observation: @observation }) %>

    <%= render(partial: "comment/show_comments",
               locals: { object: @observation, controls: true, limit: nil }) %>

  </div><!-- .left-column -->

  <div class="right-column col-12 col-sm-4">

    <%= render(partial: "show_name_info",
               locals: { observation: @observation }) %>

    <% if show_lists %>
      <%= render(partial: "show_lists",
                 locals: {observation: @observation}) %>
    <% end %>

    <% if show_links %>
      <%= render(partial: "show_links",
                 locals: {observation: @observation}) %>
    <% end %>

    <% if show_map %>
      <%= render(partial: "show_thumbnail_map",
                 locals: { observation: @observation }) %>
    <% end %>

    <%= render(partial: "show_images",
               locals: { observation: @observation }) %>

  </div><!-- .right-column -->

</div><!-- .row -->

<%= show_object_footer(@observation) %>
