<%
  @owner_id = owner_id_line(@observation) # must go before show_obs_title
  @title = show_obs_title(@observation)
  num_images = @observation.images.length

  tabs = [
    link_with_query(:show_object.t(type: :observation),
                    controller: :observer, action: :show_observation,
                    id: @observation.id)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-sm-8 pull-left-sm">

    <% last_level = nil
       @suggestions.reject(&:useless?).sort_by(&:max).reverse.each do |sugg| %>
      <% if sugg.confident? != last_level %>
        <% if last_level %>
          </tbody></table>
        <% end %>
        <table class="table-namings">
          <thead>
            <tr>
              <th><%= content_tag(:h3, sugg.confident? ?
                :suggestions_title.t : :suggestions_title_others.t) %></th>
              <th></th>
            </tr>
          </thead>
        <tbody>
      <% end %>
      <% last_level = sugg.confident? %>
      <tr>
        <td>
          <%= link_with_query(sugg.name.display_name_brief_authors.t,
                              controller: :name, action: :show_name,
                              id: sugg.name.id) %><br/>
          <% if @observation.namings.any? \
                {|n| n.name.synonyms.include?(sugg.name)} %>
            (<%= :suggestions_already_proposed.t %>)
          <% else %>
            <%= link_with_query(:suggestions_propose_name.t,
                                { controller: :naming, action: :create,
                                  id: @observation.id,
                                  name: sugg.name.search_name,
                                  ref: "AI Observer: #{sugg.max.to_f.round(2)}% confidence" },
                                { class: "btn push-down" }) %>
            <% end %>
            <br/><br/>
            <b><%= :suggestions_confidence.t %>:</b><br/>
            <% if num_images == 1 %>
              <%= suggestion_confidence(sugg.max) %><br/>
            <% else %>
              <%= :suggestions_max.t %>:
                <%= suggestion_confidence(sugg.max) %><br/>
              <%= :suggestions_avg.t %>:
                <%= suggestion_confidence(sugg.sum.to_f / num_images) %><br/>
            <% end %>
          </td>
          <td>
            <%= thumbnail(sugg.image_obs.thumb_image,
                          link: {controller: sugg.image_obs.show_controller,
                                 action: sugg.image_obs.show_action,
                                 id: sugg.image_obs.id}) \
                          if sugg.image_obs.present? %>
        </td>
      </tr>
    <% end %>
    </tbody></table>

  </div>
  <div class="col-sm-4 pull-right-sm">
    <%= render(partial: "show_images", locals: { observation: @observation }) %>
  </div>
</div>
