<% @title = :sandbox_title.t %>

<table width="1">
  <tr>
    <td>
      <div class="HelpNote"><%= :sandbox_header.tp %></div>

      <% if !@code.nil? %>
        <b><%= :sandbox_look_like.t %>:</b><br/>
        <div class="sandbox">
					<% if @submit == :sandbox_test.l %>
						<%= @code.tpl %>
					<% else %>
						<%= escape_html(@code.tpl) %>
					<% end %>
        </div><br/>
      <% end %>

      <%= form_tag(:action => "textile_sandbox") %>
        <% if !@code.nil? %>
          <div class="sandbox-up-ptr">
            <%= image_tag("up_arrow.png") %>
            <%= submit_tag :sandbox_test.l %>
            <%= submit_tag :sandbox_test_codes.l %>
            <%= image_tag("up_arrow.png") %>
          </div><br/>
        <% end %>
        <b><%= :sandbox_enter.t %>:</b><br/>
        <%= text_area_tag("code", @code, :size => "80x10") %><br/>
        <% if @code.nil? %>
          <br/>
          <center><%= submit_tag :sandbox_test.l %></center>
        <% end %>
      </form><br/>

      <p><b><%= :sandbox_quick_ref.t %>:</b></p>
      <pre><%= :sandbox_sample.l %></pre><br/>

      <b><%= :sandbox_web_refs.t %>:</b><br/>
      <div style="margin-left:20px">
        <%= link_to(:sandbox_link4.t, "http://redcloth.org/textile") %><br/>
        <%= link_to(:sandbox_link5.t, "http://redcloth.org/hobix.com/textile/") %><br/>
        <%= link_to(:sandbox_link6.t, "http://warpedvisions.org/projects/textile-cheat-sheet.md") %><br/>
      </div>
    </td>
  </tr>
</table>
