<%
  @title = :users_by_contribution_title.t

  tabs = [
    link_with_query(:app_site_stats.t, action: :show_site_stats)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <% @users.select { |u| u.contribution > 1 }.each_with_index do |user, index| %>
        <div class="list-group-item">
          <div class="row">

            <div class="col-sm-7">
              <table style="width: 100%">
                <tr>
                  <td style="vertical-align: middle" class="col-sm-2">
                    <strong><%= index+1 %></strong>
                  </td>
                  <td>
                    <h4><%= user_link(user.id, user.legal_name) %></h4>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <%= "#{user.contribution} #{:users_by_contribution_2f.t}" %><br/>
                    <%= link_to(:Observations.t, action: :observations_by_user, id: user.id) %>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-xs-5">
              <%= if user.image_id
                    thumbnail(user.image_id,
                              link: { action: :show_user, id: user.id },
                              votes: false, size: :thumbnail)
                  end
              %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item max-width-text">

        <%= :users_by_contribution_1.tp %>
        <% SiteData::ALL_FIELDS.select { |f| SiteData::FIELD_WEIGHTS[f] > 0}.each do |field| %>
          <div class="row">
            <div class="col-xs-8 col-xs-push-1"><%= "user_stats_#{field}".to_sym.t %> </div>
            <div class="col-xs-2"><%= SiteData::FIELD_WEIGHTS[field] %></div>
          </div>
        <% end %>
        <p class="pad-top"><%= :users_by_contribution_2.t %></p>
        <%
          v1 = SiteData::FIELD_WEIGHTS[:images]
          v2 = SiteData::FIELD_WEIGHTS[:name_descriptions_editors]
          v3 = SiteData::FIELD_WEIGHTS[:observations]
          v4 = SiteData::FIELD_WEIGHTS[:namings]
          v5 = SiteData::FIELD_WEIGHTS[:votes]
        %>
        <div class="row">
          <div class="col-xs-3 col-xs-push-1">&nbsp; &nbsp;3 * <%= v1 %></div>
          <div class="col-xs-8">(<%= :users_by_contribution_2a.t %>)</div>
          <div class="col-xs-3 col-xs-push-1">+ 1 * <%= v2 %></div>
          <div class="col-xs-8">(<%= :users_by_contribution_2b.t %>)</div>
          <div class="col-xs-3 col-xs-push-1">+ 1 * <%= v3 %></div>
          <div class="col-xs-8">(<%= :users_by_contribution_2c.t %>)</div>
          <div class="col-xs-3 col-xs-push-1">+ 1 * <%= v4 %></div>
          <div class="col-xs-8">(<%= :users_by_contribution_2d.t %>)</div>
          <div class="col-xs-3 col-xs-push-1">+ 1 * <%= v5 %></div>
          <div class="col-xs-8">(<%= :users_by_contribution_2e.t %>)</div>
          <div class="col-xs-11 col-xs-push-1">&nbsp; &nbsp;<%= 3*v1 + v2 + v3 + v4 + v5 %> <%= :users_by_contribution_2f.t %></div>
        </div>
        <%= :users_by_contribution_3.tp %>

      </div>
    </div>
  </div>
</div>
