<%
options = [
  [:COMMENTS.l, :comment],
  [:GLOSSARY.l, :glossary_term],
  [:HERBARIA.l, :herbarium],
  # Temporarily disabled for performance reasons. 2021-09-12 JDC
  # [:IMAGES.l, :image],
  [:LOCATIONS.l, :location],
  [:NAMES.l, :name],
  [:OBSERVATIONS.l, :observation],
  [:PROJECTS.l, :project],
  [:SPECIES_LISTS.l, :species_list],
  [:HERBARIUM_RECORDS.l, :herbarium_record],
  [:USERS.l, :user],
  [:app_search_google.l, :google],
].sort

@timer_end ||= Time.zone.now
secs = "%.2f" % (@timer_end.to_f - @timer_start.to_f)
timer = "(#{ :app_index_timer.t(seconds: secs,
                                num: @num_results.to_i) })"
adv_search = link_to(
  content_tag(:span, :app_advanced_search.l, class: "text-nowrap"),
  search_advanced_path
)
search_types = options_for_select(options, session[:search_type] ||
                                           :observation)

# Fields have attributes nested under search via fields_for, eg search[:type]
%>

<%= form_with(url: search_pattern_path, method: :get, scope: :search,
              class: "form-inline px-0",
              id: "pattern_search_form") do |f|

  content_tag(:div, class: "input-group") do
    concat(f.text_field(:pattern, { value: session[:pattern],
                                    class: "form-control",
                                    placeholder: :app_find.t }))
    concat(f.select(:type, search_types, { },
                    { class: "custom-select w-auto" }))
    concat(content_tag(:div, class: "input-group-append") do
             button_tag(type: :submit, value: "submit",
                        class: "btn btn-outline-primary",
                        aria: { label: :app_search.l }) do
               icon("fa-solid", "magnifiying-glass", # :app_search.l,
                    class: "fa-lg")
             end
           end)
  end
end %>

<%= content_tag(:p, class: "navbar-text mx-2 text-nowrap") do
  link_to(content_tag(:span, :search_bar_help.t),
          info_search_bar_help_path)
end %>

<% if @timer_start %>
  <div class="navbar-text my-1 mx-2 d-none d-md-block smaller">
    <span id="timer"><%= timer %></span><br/>
    <%= adv_search %>
  </div>
<% else %>
  <p class="navbar-text mx-2 d-none d-md-block">
    <%= adv_search %>
  </p>
<% end %>

<div class="d-block d-md-none">
  <%= content_tag(:span, timer, id: "timer",
                  class: "text-nowrap") if @timer_start %>
  <%= adv_search %>
</div>
