<big>Stats for <%= @ip %>:</big> &nbsp;&nbsp;
  <%= link_to("[Close]", { controller: "/account", action: :blocked_ips }) %><br/>
<% if user_id = @stats[@ip][:user] %>
  User: <%= user_link(User.safe_find(user_id) || user_id) %><br/>
<% end %>
Rate: <%= (@stats[@ip][:rate].to_f * 60).round(2) %> / minute
      = 1 every <%= (1.0 / @stats[@ip][:rate]).round(2) %> seconds<br/>
Load: <%= (@stats[@ip][:load].to_f * 100).round(2) %>% of one worker<br/>
Activity:
  <% n = @stats[@ip][:activity].length %>
  <% if n > 50 %>
    (most recent 50 of <%= n %> requests)
  <% else %>
    (all of the most recent <%= n %> requests)
  <% end %><br/>
<table class="ips ips-lined">
  <tr>
    <th>time</th>
    <th>seconds</th>
    <th>action</th>
  </tr>
  <% @stats[@ip][:activity].reverse[0..50].each do |time, load, cont, action| %>
    <tr>
      <td><%= time %></td>
      <td><%= load.to_f.round(2) %></td>
      <td><%= cont %>/<%= action %></td>
    </tr>
  <% end %>
</table>
