<big>Most active users: (top 50)</big><br/>
<table class="ips ips-lined">
  <tr>
    <th>ip</th>
    <th>block</th>
    <th>user</th>
    <th>rate / min</th>
    <th>load %</th>
  </tr>
  <% @stats.keys.sort_by { |ip| @stats[ip][:load] }.reverse[0..50].each do |ip| %>
    <tr>
      <td><%= link_to(ip, account_blocked_ips_path(report: ip)) %></td>
      <td><% unless IpStats.blocked?(ip) %>
               [<%= link_to("Block", account_blocked_ips_path(add_bad: ip)) %>]
          <% end %>
      </td>
      <td>
        <% if user_id = @stats[ip][:user] %>
             User: <%= user_link(User.safe_find(user_id) || user_id) %><br/>
        <% elsif browser.bot? %>
             bot<br/>
        <% end %>
        <% if api_key_str = @stats[ip][:api_key]
          api_key = ApiKey.find_by_key(api_key_str) %>
          API key: <%= api_key_str %> (<%= api_key ? user_link(api_key.user) :
                                                     "bogus!" %>)<br/>
        <% end %>
      </td>
      <td><%= (@stats[ip][:rate] * 60).round(2) %></td>
      <td><%= (@stats[ip][:load] * 100).round(2) %></td>
    </tr>
  <% end %>
</table>
