<big>Most active users: (top 50)</big><br/>
<table class="ips ips-lined">
  <tr>
    <th>ip</th>
    <th>block</th>
    <th>user</th>
    <th>rate / min</th>
    <th>load %</th>
  </tr>
  <% @stats.keys.sort_by { |ip| @stats[ip][:load] }.reverse[0..50].each do |ip| %>
    <tr>
      <td><%= link_to(ip, { controller: :account, action: :blocked_ips,
                            report: ip }) %></td>
      <td><% unless IpStats.blocked?(ip) %>
        [<%= link_to("Block", { controller: :account, action: :blocked_ips,
                                add: ip }) %>]
      <% end %></td>
      <td><%= @stats[ip][:user].present? ? user_link(@stats[ip][:user]) : "—" %></td>
      <td><%= (@stats[ip][:rate] * 60).round(2) %></td>
      <td><%= (@stats[ip][:load] * 100).round(2) %></td>
    </tr>
  <% end %>
</table>
