 <!-- Privacy Settings of Account Preferences Form -->
<div class="form-group mt-3 bold">
  <%= :prefs_privacy.t %>
</div>

<div class="form-group mt-3">
  <%= label_tag(:user_votes_anonymous,
                :prefs_votes_anonymous.t + ":") %><br/>
  <%= values = [
          [:prefs_votes_anonymous_no.l, :no],
          [:prefs_votes_anonymous_yes.l, :yes],
  ]
      # Let old users grandfather old anonymous votes,
      # but choose to go public from here forward.
      if @user.created_at && @user.created_at < Time.parse(MO.vote_cutoff)
        values << [:prefs_votes_anonymous_old.l(cutoff: MO.vote_cutoff), :old]
      end
      form.select(:votes_anonymous, values, class: "form-control") %>
  <span class="HelpNote">
    <%= link_to(:prefs_change_image_vote_anonymity.t,
                controller: :image,
                action: :bulk_vote_anonymity_updater) %>
  </span>

</div>

<div class="form-group mt-3">
  <%= label_tag(:user_keep_filenames,
                :prefs_keep_image_filenames.t + ":") %><br/>
  <%= form.select(:keep_filenames,
                   [[:prefs_keep_image_filenames_toss.l, :toss],
                    [:prefs_keep_image_filenames_keep_but_hide.l,
                     :keep_but_hide],
                    [:prefs_keep_image_filenames_keep_and_show.l,
                     :keep_and_show]],
                  class: "form-control") %>
  <span class="HelpNote">
    <%= link_to(:prefs_bulk_filename_purge.t,
                 { controller: :image,
                   action: :bulk_filename_purge },
                 { data:
                   { confirm: :prefs_bulk_filename_purge_confirm.l } }) %>
  </span>
</div>

<div class="form-group mt-3">
  <%= label_tag(:user_license_id, :License.t + ":") %>
  <span class="HelpNote">(<%= :prefs_license_note.t %>)</span><br/>
  <%= form.select(:license_id, @licenses, class: "form-control") %>
  <span class="HelpNote">
    <%= link_to(:bulk_license_link.t, controller: :image,
                                      action: :license_updater) %>
  </span>
</div>

<%= submit_tag(:SAVE_EDITS.l, class: "btn mx-auto mt-3") %>
