<%
  @title = :add_user_to_group_title.t
%>

<div class="max-width-text">
  <%= form_with url: account_add_user_to_group_path do |f| %>
    <div class="form-group mt-3">
      <%= f.label :user_name, :add_user_to_group_user.t + ":" %>
      <%= f.text_field :user_name, "", class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :group_name, :add_user_to_group_group.t + ":" %>
      <%= f.text_field :group_name, "", class: "form-control" %>
    </div>

    <%= f.submit :ADD.t, class: "btn mt-3 mx-auto" %>
  <% end %>
</div>
