<% @title = :add_user_to_group_title.t %>

<div class="row">
  <div class="col-xs-12 max-text-width">
    <%= form_tag(action: :add_user_to_group) do %>

      <div class="form-group push-down">
        <%= label_tag(:user_name, :add_user_to_group_user.t) %>:
        <%= text_field_tag(:user_name, "", class: "form-control") %>
      </div>

      <div class="form-group push-down">
        <%= label_tag(:group_name, :add_user_to_group_group.t) %>:
        <%= text_field_tag(:group_name, "", class: "form-control") %>
      </div>

      <%= submit_tag(:ADD.t, class: "btn push-down center-block") %>

    <% end %>
  </div>
</div>
