<%
  @title = :account_api_keys_title.t

  tabs = [
    link_to(:prefs_link.t, account_prefs_path),
    link_to(:profile_link.t, edit_account_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  javascript_include("api_key")
  inject_javascript_at_end("ApiKeyModule()")
%>

<div class="row">
  <div class="col-12 max-width-text">
    <%= :account_api_keys_help.tp %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <% if @user.api_keys.any? %>
      <%= form_tag({}, { class: "pb-5"}) %>
        <table class="table table-striped py-1">
          <tr>
            <th></th>
            <th><%= :CREATED.t %></th>
            <th><%= :account_api_keys_last_used_column_label.t %></th>
            <th><%= :account_api_keys_num_uses_column_label.t %></th>
            <th><%= :API_KEY.t %></th>
            <th><%= :NOTES.t %></th>
          </tr>
          <% @user.api_keys.sort_by do |key|
            last_use = Time.now - key.last_used rescue 0
            [-key.num_uses, last_use, key.id]
          end.each do |key| %>
            <tr>
              <td><%= check_box_tag("key_#{key.id}") %></td>
              <td><%= key.created_at.web_date %></td>
              <td id="key_time_<%= key.id %>">
                <%= if key.verified
                  key.last_used ? key.last_used.web_date : '--'
                else
                  "[#{link_to("[:ACTIVATE.t}]",
                    {action: :activate_api_key, id: key.id},
                    data: {role: "activate_api_key", id: key.id})}]".html_safe
                end %>
              </td>
              <td><%= key.num_uses > 0 ? key.num_uses : '--' %></td>
              <td><%= h(key.key) %></td>
              <td id="key_notes_<%= key.id %>">
                <div class="edit_key_notes_container" data-target-key="<%= key.id %>" style="display:none">
                  <%=text_field_tag("key_notes_#{key.id}", key.notes, data:{role: "key_notes_input", id: key.id}) %><br/>
                  <%=button_tag(:SAVE.l, type: "button", class: "btn", data: {role: "key_notes_save", id: key.id}) %>
                  <%=button_tag(:CANCEL.l, type: "button", class: "btn", data: {role: "key_notes_cancel", id: key.id}) %>
                </div>
                <div class="view_key_notes_container" data-target-key="<%= key.id %>">
                  <span class="current_notes"><%= key.notes.t %></span>
                  <%= "[#{link_to(:EDIT.t, {action: :edit_api_key, id: key.id},
                        data: {role: "edit_api_key", id: key.id})}]".html_safe %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
        <%= submit_tag(:account_api_keys_remove_button.l, id: "remove_button", class: "btn mx-auto") %>
      </form>
    <% end %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 max-width-text">
    <%= form_for(:key) do |form| %>
      <div class="form-group mt-3">
        <%= label_tag(:user_notes, :account_api_keys_notes_label.t) %>
        <%= form.text_field(:notes, class: "form-control") %>
      </div>
      <%= submit_tag(:account_api_keys_create_button.l, id: "create_button", class: "btn mx-auto mt-3") %>
    <% end %>
  </div>
</div>
