<%
  @navbar[:title] = { title: :ACCOUNT.t, url: account_login_path }
  @title = ""
%>

<div class="row">
  <div class="col-6 max-width-text">
    <p><%= link_to("Refresh Stats", {controller: "/account",
                   action: :blocked_ips}) %></p>

    <div class="p-3 m-3" style="background:#f7f">
      <%= form_tag {}, { class: "pb-5"} do %>
        <div class="form-group form-inline">
          <big>Okay IPs:</big> &nbsp;&nbsp;
          <%= text_field_tag(:add_okay, "", size: 20, data: {autofocus: true}, class: "form-control") %>
          <%= submit_tag(:ADD.l, class: "btn", style: "margin-left: 1em") %>
          [<%= link_to("Clear List", {controller: "/account",
                       action: :blocked_ips, clear_okay: 1}) %>]
        </div>
      <% end %>
      <table class="ips">
        <% @okay_ips.each do |ip| %>
          <tr>
            <td><%= ip.t %></td>
            <td>[<%= link_to(:REMOVE.t, {controller: "/account",
                             action: :blocked_ips, remove_okay: ip}) %>]</td>
        <% end %>
      </table>
    </div>

    <div class="p-3 m-3" style="background:#f7f">
      <%= form_tag {}, { class: "pb-5"} do %>
        <div class="form-group form-inline">
          <big>Blocked IPs:</big> &nbsp;&nbsp;
          <%= text_field_tag(:add_bad, "", size: 20, data: {autofocus: true}, class: "form-control") %>
          <%= submit_tag(:ADD.l, class: "btn ml-3") %>
          [<%= link_to("Clear List", {controller: "/account",
                       action: :blocked_ips, clear_bad: 1}) %>]
        </div>
      <% end %>
      <table class="ips">
        <% @blocked_ips.each do |ip| %>
          <tr>
            <td><%= ip.t %></td>
            <td>[<%= link_to(:REMOVE.t, {controller: "/account",
                             action: :blocked_ips, remove_bad: ip}) %>]</td>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-6 max-width-text">
    <% if @ip.present? %><p><%= render partial: "ip_stats" %></p><% end %>
    <p><%= render partial: "ip_summary" %></p>
  </div>
</div>

<style>
  table.ips tr td,
  table.ips tr th {
    background: #f7f;
    padding: 0 0.5em;
  }
  table.ips-lined tr td,
  table.ips-lined tr th {
    border-left: 2px solid #d0d;
  }
</style>
