<%
  @title = :account_choose_password_title.t
  focus_on_password = @user.password.blank?
%>

<%= form_tag(:action=> "verify", :id => @user.id, :auth_code => @user.auth_code) do %>
  <label for="user_password"><%= :signup_choose_password.t %>:</label><br/>
  <%= password_field(:user, :password, size: 30, value: @user.password, autofocus: focus_on_password) %><br/><br/>

  <label for="user_password_confirmation"><%= :signup_confirm_password.t %>:</label><br/>
  <%= password_field(:user, :password_confirmation, size: 30, autofocus: !focus_on_password) %><br/><br/>

  <input type="submit" value="<%= :SUBMIT.l %>" class="primary" />
<% end %>
