<%
  @navbar[:title] = { title: :ACCOUNT.t, url: account_login_path }

  @title = :account_choose_password_title.t
  focus_on_password = @user.password.blank?
%>

<div class="max-width-text">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= form_with url: account_verify_path(id: @user.id,
                                         auth_code: @user.auth_code) do |f| %>

    <%= f.fields_for :user do |fields| %>
      <div class="form-group mt-3">
        <%= fields.label :password, :signup_choose_password.t + ":" %>
        <%= fields.password_field :password, value: @user.password,
              data: { autofocus: focus_on_password }, class: "form-control" %>
      </div>

      <div class="form-group mt-3">
        <%= fields.label :password_confirmation,
              :signup_confirm_password.t + ":" %>
        <%= fields.password_field :password_confirmation,
              data: {autofocus: !focus_on_password}, class: "form-control" %>
      </div>
    <% end %>

    <%= f.submit :SUBMIT.l, class: "btn btn-primary btn-lg mx-auto mt-3" %>
  <% end %>
</div>
