<%
  @navbar[:title] = { title: :ACCOUNT.t, url: account_login_path }

  tabs = [
    link_to(:prefs_link.t, account_prefs_path),
    link_to(:profile_link.t, edit_account_path)
  ]
  # @tabsets = { right: draw_tab_set(tabs) }
  @navbar[:dropdowns] = [
    { title: "Actions", links: tabs }
  ]

  @title = :account_api_keys_title.t
%>

<div class="max-width-text">
  <%= tag.h1 @title.humanize, class: "display-1" %>

  <%= :account_api_keys_help.tp %>

  <%= form_for(:key, url: {id: @key.id}) do |f| %>
    <table>
      <tr>
        <td><%= :CREATED.t %>:&nbsp;</td>
        <td><%= @key.created_at.web_date %></td>
      </tr>
      <tr>
        <td><%= :account_api_keys_last_used_column_label.t %>:&nbsp;</td>
        <td><%= @key.last_used ? @key.last_used.web_date : '--' %></td>
      </tr>
      <tr>
        <td><%= :account_api_keys_num_uses_column_label.t %>:&nbsp;</td>
        <td><%= @key.num_uses > 0 ? @key.num_uses : '--' %></td>
      </tr>
      <tr>
        <td><%= :API_KEY.t %>:&nbsp;</td>
        <td><%= h(@key.key) %></td>
      </tr>
    </table>

    <div class="form-group mt-3">
      <%= f.label :user_notes, :NOTES.t + ":" %>
      <%= f.text_field :notes, class: "form-control" %>
    </div>

    <center class="mt-3">
      <%= f.submit :UPDATE.l, class: "btn btn-primary btn-lg" %>
      <span style="margin-left:5em"></span>
      <%= f.submit :CANCEL.l, class: "btn btn-primary btn-lg" %>
    </center>
  <% end %>
</div>
