<%
  @title = :account_api_keys_title.t

  tabs = [
    link_to(:prefs_link.t,   action: :prefs),
    link_to(:profile_link.t, action: :profile)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :account_api_keys_help.tp %>

  <%= form_for(:key, url: {id: @key.id}) do |form| %>
    <table>
      <tr>
        <td><%= :CREATED.t %>:&nbsp;</td>
        <td><%= @key.created_at.web_date %></td>
      </tr>
      <tr>
        <td><%= :account_api_keys_last_used_column_label.t %>:&nbsp;</td>
        <td><%= @key.last_used ? @key.last_used.web_date : '--' %></td>
      </tr>
      <tr>
        <td><%= :account_api_keys_num_uses_column_label.t %>:&nbsp;</td>
        <td><%= @key.num_uses > 0 ? @key.num_uses : '--' %></td>
      </tr>
      <tr>
        <td><%= :API_KEY.t %>:&nbsp;</td>
        <td><%= h(@key.key) %></td>
      </tr>
    </table>

    <div class="form-group mt-3">
      <%= label_tag(:user_notes, :NOTES.t + ":") %>
      <%= form.text_field(:notes, class: "form-control") %>
    </div>

    <center class="mt-3">
      <%= submit_tag(:UPDATE.l, class: "btn") %>
      <span style="margin-left:5em"></span>
      <%= submit_tag(:CANCEL.l, class: "btn") %>
    </center>
  <% end %>
</div>
