<%
  @title = :email_new_password_title.t
%>

<div class="help-note">
  <%= :email_new_password_help.tp + :email_spam_notice.tp %>
</div>

<%= form_with(url: { action: :email_new_password }) do |form| %>
  <%= fields_for(:new_user) do |f| %>
    <div class="form-group">
      <%= f.label(:login, :login_user.t + ":") %>
      <%= f.text_field(:login, data: {autofocus: true}) %>
    </div>
  <% end %>

  <%= form.submit(:SEND.l, class: "btn btn-default center-block mt-3") %>
<% end %>
