<%
  @title = :email_new_password_title.t
%>

<div class="max-width-text">
  <div class="help-note">
    <%= :email_new_password_help.tp + :email_spam_notice.tp %>
  </div>
  <%= form_tag(action: :email_new_password) do %>
    <div class="form-group">
      <%= label_tag(:new_user_login, :login_user.t + ":") %>
      <%= text_field(:new_user, :login, data: {autofocus: true}) %>
    </div>

    <%= submit_tag(:SEND.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
