<%
  @navbar[:title] = { title: :ACCOUNT.t, url: account_login_path }

  @title = :email_new_password_title.t
%>

<div class="max-width-text">
  <%= tag.h1 @title.humanize, class: "display-1" %>

  <div class="help-note">
    <%= :email_new_password_help.tp + :email_spam_notice.tp %>
  </div>
  <%= form_with url: account_email_new_password_path do |f| %>
    <%= f.fields_for :new_user do |fields| %>

      <div class="form-group">
        <%= fields.label :login, :login_user.t + ":" %>
        <%= fields.text_field :login, data: { autofocus: true } %>
      </div>

    <% end %>
    <%= f.submit :SEND.l, class: "btn btn-primary btn-lg mx-auto mt-3" %>
  <% end %>
</div>
