<%
  @title = :email_new_password_title.t
%>

<div class="max-width-text">
  <%= form_tag(action: :email_new_password) do %>
    <div class="form-group">
      <div class="HelpNote"><%= :email_new_password_help.tp %></div>
      <%= label_tag(:new_user_login, :login_user.t + ":") %>
      <%= text_field(:new_user, :login, data: {autofocus: true}) %>
    </div>
    <%= submit_tag(:SEND.l, class: "btn center-block push-down") %>
  <% end %>
</div>
