<%
  @title = :login_please_login.t
%>

<div class="max-width-text">
  <%= form_with url: account_login_path do |f| %>
    <%= f.fields_for :user do |fields| %>

      <div class="form-group mt-3">
        <%= fields.label :login, :login_user.t + ":" %>
        <%= fields.text_field :login, value: @login,
              data: { autofocus: @login.blank? }, class: "form-control" %>
      </div>

      <div class="form-group mt-3">
        <%= fields.label :password, :login_password.t + ":" %>
        <%= fields.password_field :password, value: "",
              data: { autofocus: !@login.blank? }, class: "form-control" %>
      </div>

      <div class="form-group mt-3 form-inline">
        <%= fields.check_box :user, :remember_me, checked: @remember %>
        <%= fields.label :user_remember_me, :login_remember_me.t %>
      </div>

    <% end %>

    <%= f.submit :login_login.l, class: "btn mx-auto mt-3" %>

    <div class="form-group mt-3">
      <%= :login_forgot_password.tp %>
      <%= :login_no_account.tp %>
      <%= :login_having_problems.tp %>
    </div>
  <% end %>
</div>
