<%
  @title = :login_please_login.t
%>

<%= form_with(scope: :user, url: { action: :login }) do |f| %>

  <div class="form-group mt-3">
    <%= f.label(:login, :login_user.t + ":") %>
    <%= f.text_field(:login, value: @login,
                      data: { autofocus: @login.blank? },
                      class: "form-control") %>
  </div>

  <div class="form-group mt-3">
    <%= f.label(:password, :login_password.t + ":") %>
    <%= f.password_field(:password, value: "",
                          data: { autofocus: !@login.blank? },
                          class: "form-control") %>
  </div>

  <div class="form-group mt-3 form-inline">
    <%= f.check_box(:remember_me, checked: @remember) %>
    <%= f.label(:remember_me, :login_remember_me.t) %>
  </div>

  <%= f.submit(:login_login.l, class: "btn btn-default center-block mt-3") %>

  <div class="form-group mt-3">
    <%= :login_forgot_password.tp %>
    <%= :login_having_problems.tp %>
  </div>

<% end %>

<div>
  <div class="h3">
    <%= :login_create_account_caption.tp %>
  </div>
  <%= :login_no_account.tp %>
  (<%= :login_explain_login_requirement.t %>)
</div>

<div>
  <div class="h3">
    <%= :login_data_without_login_caption.tp %>
  </div>
  <div>
    <%= :login_images_without_login.tp %>
    <%= :login_data_without_login.tp %>
  </div>
</div>
