<%
  @title = :account_manager_title.t
%>

<%= form_tag(action: :manager) do %>
  <label for="ids"><%= :account_manager_ids.t %></label>
    <%= text_field_tag(:ids, @users.map(&:id).map(&:to_s).join(", "), size: 40) %><br/>
  <label for="login"><%= :account_manager_login.t %></label>
    <%= text_field_tag(:login, "", size: 40) %><br/>
  <label for="name"><%= :account_manager_name.t %></label>
    <%= text_field_tag(:name, "", size: 40) %><br/>
  <label for="email"><%= :account_manager_email.t %></label>
    <%= text_field_tag(:email, "", size: 40) %><br/>

  <br/>
  <input type="submit" value="<%= :SUBMIT.l %>" class="btn" /><br/>
  <br/>

  <% if !@users.empty? %>
    <table class="table user_table">
      <thead class="text-nowrap"
        <tr>
          <th><%= :ID.t %></th>
          <th><%= :LOGIN_NAME.t %></th>
          <th><%= :FULL_NAME.t %></th>
          <th><%= :EMAIL_ADDRESS.t %></th>
          <th><%= :PASSWORD.t %></th>
          <th><%= :account_manager_verified.t %></th>
          <th><%= :account_manager_last_login.t %></th>
          <th><%= :account_manager_actions.t %></th>
        </tr>
      </thead>
      <tbody>
      <% for user in @users %>
        <tr>
          <td><%= user.id %></td>
          <td><%= h(user.login) %></td>
          <td><%= h(user.name) %></td>
          <td><%= text_field_tag("email_#{user.id}", user.email, size: 20) %></td>
          <td><%= text_field_tag("password_#{user.id}", "", size: 20) %></td>
          <td><%= if user.verified
              user.verified.web_date
            else
              check_box_tag("verified_#{user.id}", checked: !!user.verified)
            end %>
          <td><%= user.last_login ? user.last_login.web_date : "" %></td>
          <td>
            <%= link_to(:account_manager_alert.t, action: :create_alert, id: user.id) %> |
            <%= link_to(:account_manager_bonus.t, controller: :user,
                        action: :change_user_bonuses, id: user.id) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br/>
    <input type="submit" value="<%= :SUBMIT.l %>" class="btn" /><br/>
    <br/>
  <% end %>
<% end %>
