<%
  @navbar[:title] = { title: :ACCOUNT.t, url: account_login_path }
  # @tabsets = prefs_tabset
  @navbar[:dropdowns] = [
    { title: "Actions", links: prefs_tabset }
  ]

  @title = :prefs_title.t
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>

  <%= form_with url: account_prefs_path, scope: :user do |form| %>
    <%= render partial: "prefs_login", locals: { form: form } %>
    <%= render partial: "prefs_privacy", locals: { form: form } %>
    <%= render partial: "prefs_appearance", locals: { form: form } %>
    <%= render partial: "prefs_filters", locals: { form: form } %>
    <%= render partial: "prefs_notes", locals: { form: form } %>
    <%= render partial: "prefs_email", locals: { form: form } %>
  <% end %>
</div>
