<%
  @title = :prefs_title.t
  @tabsets = prefs_tabset
%>

<div class="max-width-text">
  <%= form_with url: account_prefs_path, scope: :user do |form| %>
    <%= render partial: "prefs_login", locals: { form: form } %>
    <%= render partial: "prefs_privacy", locals: { form: form } %>
    <%= render partial: "prefs_appearance", locals: { form: form } %>
    <%= render partial: "prefs_filters", locals: { form: form } %>
    <%= render partial: "prefs_notes", locals: { form: form } %>
    <%= render partial: "prefs_email", locals: { form: form } %>
  <% end %>
</div>
