<%
   @title = :profile_title.t
   @tabsets = {right: render(partial: "shared/tab_set",
                            locals: {
                                    links: [link_to(:bulk_license_link.t, controller: :image, action: :license_updater),
                                            link_to(:show_user_your_notifications.t, controller: :interest, action: :list_interests),
                                            link_to(:prefs_link.t, controller: :account, action: :prefs),
                                            link_to(:account_api_keys_link.t, controller: :account, action: :api_keys)]
                            })}
%>

<%= form_for(:user, :url => {action: :profile}, :html => {multipart: true, style: "max-width: 600px"}) do |form| %>

    <%= submit_tag(:profile_button.l, class: "center-block btn") %>
    <div class="form-group">
      <label for="user_name"><%= :profile_name.t %>:</label>
      <%= form.text_field("name", class: "form-control") %>
    </div>
    <div class="form-group">
      <label for="user_place_name"><%= :profile_location.t %></label> (33%)<br/>
      <%= text_field('user', 'place_name', value: @place_name, class: "form-control") %>
      <% turn_into_location_auto_completer("user_place_name") %>
    </div>
    <div class="form-group">
      <label for="user_notes"><%= :profile_notes.t %></label> (33%)
      <%= form.text_area("notes", rows: 6, class: "form-control") %>
    </div>
    <div class="form-group">
      <label for="user_upload_image"><%= @user.image_id ?
                                                 :profile_image_change.t : :profile_image_create.t %></label> (33%)
      <%= link_to(:profile_image_reuse.t, controller: :image, action: :reuse_image, mode: :profile) %>
      <%= link_to(:profile_image_remove.t, {action: :remove_image},
                  {data: {confirm: :are_you_sure.l}}) if @user.image %>
      <%= image_file_field(:user, :upload_image) %>
    </div>
    <div class="form-group">
      <label for="copyright_holder"><%= :profile_copyright_holder.t %></label>

      <div class="row">
        <div class="col-sm-8">
          <%= text_field_tag("copyright_holder", @copyright_holder, class: "form-control") %>
        </div>
        <div class="col-sm-4">
          <%= select_year(@copyright_year, {field_name: "copyright_year",
                                            start_year: 1980, end_year: Time.now.year}, {class: "form-control"}) %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= select("upload", "license_id", @licenses, {selected: @upload_license_id}, {class: "form-control"}) %>
      <p class="help-block">(<%= :profile_copyright_warning.t %>)</p>
    </div>
    <div class="form-group">
      <label for="user_mailing_address"><%= :profile_mailing_address.t %></label>
      <%= form.text_area("mailing_address", rows: 5, class: "form-control") %>
    </div>
    <%= submit_tag(:profile_button.l, class: "center-block btn") %>
<% end %>
