<%
  @title = :user_alert_show_title.t(user: @user.legal_name)
%>

<div class="max-width-text">
  <%= form_tag(action: :show_alert) do %>
    <input type="hidden" id="back" name="back" value="<%= escape_once(@back)%>" />

    <div class="form-group push-down">
      <%= @user.alert_message.tp(
        email:      @user.email,
        login:      @user.login,
        last_login: @user.last_login,
        time:       @user.alert_created_at.web_time,
        notes:      @user.alert_notes
      ) %>
    </div>

    <div class="form-group push-down form-inline">
      <%= submit_tag(:user_alert_okay.l, class: "btn") %>
      <%= :user_alert_okay_help.t %>
    </div>

    <div class="form-group push-down form-inline">
      <%= submit_tag(:user_alert_later.l, class: "btn") %>
      <%= :user_alert_later_help.t %>
    </div>
  <% end %>
</div>
