<% @title = :ask_webmaster_title.t %>

<div class="max-width-text">
  <%= :ask_webmaster_note.tp(todo_list: "/pivotal") %>
  <%= form_tag(action: :ask_webmaster_question) do %>

    <div class="form-group mt-3">
      <%= label_tag(:user_email, :ask_webmaster_your_email.t + ":") %>
      <%= text_field(:user, :email, value: @email, size: 60, class: "form-control",
                     data: {autofocus: @email.blank? || @email_error}) %>
    </div>

    <div class="form-group mt-3">
      <%= label_tag(:question_content, :ask_webmaster_question.t + ":") %>
      <%= text_area(:question, :content, value: @content, rows: 10, class: "form-control",
                    data: {autofocus: !@email.blank? && !@email_error}) %>
    </div>

    <%= submit_tag(:SEND.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
