<%
  @title = :email_merge_request_title.t(type: @model.type_tag)

  tabs = [
    link_to(:cancel_and_show.t(type: @model.type_tag), obj_path(@old_obj))
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :email_merge_request_help.tp(type: @model.type_tag) %>
  <%= form_tag(type: @model.name, old_id: @old_obj.id, new_id: @new_obj.id) do %>
    <div class="form-group mt-3">
      <%= label_tag(:old_obj, @model.type_tag.to_s.upcase.to_sym.t) %>:
          <%= @old_obj.unique_format_name.t %>
    </div>

    <div class="form-group mt-3">
      <%= label_tag(:new_obj, @model.type_tag.to_s.upcase.to_sym.t) %>:
          <%= @new_obj.unique_format_name.t %>
    </div>

    <div class="form-group mt-3">
      <%= label_tag(:notes, :Notes.t + ":") %>
      <%= text_area_tag(:notes, "", rows: 10, class: "form-control",
                        data: {autofocus: true}) %>
    </div>

    <%= submit_tag(:SEND.l, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
