<%= form_with model: @glossary_term, html: { multipart: true } do |f| %>

  <div class="form-group mt-3">
    <%= f.label :name, :glossary_term_name.t + ":" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :description, :glossary_term_description.t + ":" %>
    <%= f.text_area :description, rows: 20, class: "form-control" %>
  </div>

  <% if action == :new %>
    <div class="form-group mt-3">
      <%= f.label :upload_image, :Image.t + ":" %>
      <%# f.custom_file_field :upload_image %>
      <%= f.file_field :upload_image %>
    </div>

    <div class="form-group mt-3 form-inline">
      <%= f.label :copyright_holder,
                  :glossary_term_copyright_holder.t + ":" %><br/>
      <%# f.text_field :copyright_holder, @copyright_holder, class: "form-control" %>
      <%= f.text_field :copyright_holder,
                       value: @copyright_holder,
                       class: "form-control" %>
      <%# f.select_year @copyright_year,
                        { field_name: :copyright_year,
                          start_year: 1980,
                          end_year: Time.now.year },
                        { class: "form-control" } %>
      <%= f.select @copyright_year,
                   { field_name: :copyright_year,
                      start_year: 1980,
                      end_year: Time.now.year },
                  { class: "form-control" } %><br/>
      <%# f.select :upload, :license_id, @licenses, selected: @upload_license_id,
                   class: "form-control" %>
      <%= f.select :upload, @licenses, selected: @upload_license_id,
                   class: "form-control" %>
      <p class="help_block">(<%= :glossary_term_copyright_warning.t %>)</p>
    </div>
  <% end %>

  <%= f.submit button_name.t, class: "btn mx-auto mt-3" %>

<% end %>
