<%= form_with model: @glossary_term, html: { multipart: true } do |f| %>

  <div class="form-group mt-3">
    <%= f.label :name, :glossary_term_name.t + ":" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :description, :glossary_term_description.t + ":" %>
    <%= f.text_area :description, rows: 20, class: "form-control" %>
  </div>

  <%# Let view add image input form if needed %>
  <%# Currently, an image is added only when creating, not editing, term.
      See /config/locales/en.txt :glossary_term_index_intro %>
  <%= yield f %>

  <%= f.submit button_name.t, class: "btn btn-primary btn-lg mx-auto mt-3" %>

<% end %>
