<%= form_with model: @glossary_term, html: { multipart: true } do |f| %>

  <div class="form-group push-down">
    <%= f.label(:name, "#{:glossary_term_name.t}:") %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>

  <div class="form-group push-down">
    <%= f.label(:description, "#{:glossary_term_description.t}:") %>
    <%= f.text_area(:description, rows: 16, class: "form-control") %>
    <%= :field_textile_link.t %>
  </div>

  <%= yield f %>

  <%= f.submit(:SAVE.t, class: "btn center-block push-down") %>

<% end %>
