<%
  @title = :glossary_term_index_title.t

  tabs = [
    link_to(:create_glossary_term.t, new_glossary_term_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= :glossary_term_index_intro.tp %>
  </div>
</div>

<table class="table table-striped">
  <% @glossary_terms.each do |term| %>
    <tr>
      <td class="max-width-text">
        <h4><%= link_to(term.name, glossary_term_path(term.id)) %>:</h4>
        <%= term.description.tpl %>
      </td>
      <td>
        <%= glossary_term_destroy_button(term) if in_admin_mode? %>
        <%= if term&.thumb_image_id&.nonzero?
          thumbnail(term.thumb_image, votes: true)
        end %>
      </td>
    </tr>
  <% end %>
</table>
