<%
  @title = :create_glossary_term_title.t

  tabs = [
    # Replace this link with a "Cancel" link
    # See https://www.pivotaltracker.com/story/show/174614188
    link_to(:glossary_term_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%# Combine "new" and "edit" forms
    See https://www.pivotaltracker.com/story/show/174608605 %>
<div class="max-width-text">
  <%= form_for(:glossary_term,
               url: { action: :create },
               html: {multipart: true}) do |form| %>
    <div class="form-group push-down">
      <%= label_tag(:glossary_name, "#{:glossary_term_name.t}:") %>
      <%= form.text_field(:name, value: @name,
                          class: "form-control") %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:glossary_description,
                    "#{:glossary_term_description.t}:") %>
      <%= form.text_area(:description, value: @description,
                         rows: 20, class: "form-control") %>
    </div>
    <%# Form should have link to Textile sandbox
        See https://www.pivotaltracker.com/story/show/124382351 %>

    <div class="form-group push-down">
      <%= label_tag(:glossary_term_upload_image, "#{:Image.t}:") %>
      <%= custom_file_field(:glossary_term, :upload_image) %>
    </div>

    <div class="form-group push-down form-inline">
      <%= label_tag(:copyright_holder,
                    "#{:glossary_term_copyright_holder.t}:") %><br/>
      <%= text_field_tag(:copyright_holder, @copyright_holder,
                         class: "form-control") %>
      <%= select_year(@copyright_year,
                      { field_name: :copyright_year,
                        start_year: 1980,
                        end_year: Time.zone.now.year },
                      { class: "form-control" }) %><br/>
      <%= select(:upload, :license_id, @licenses,
                 selected: @upload_license_id,
                 class: "form-control") %>
      <p class="help_block">(<%= :glossary_term_copyright_warning.t %>)</p>
    </div>

    <%= submit_tag(:edit_glossary_term_save.t,
                   class: "btn center-block push-down") %>
  <% end %>
</div>
