<%
@title = :show_glossary_term_title.t(name: @glossary_term.name)

add_tab_set(glossary_term_show_links(term: @glossary_term, user: @user))

@container = :wide
%>

<div class="row mt-3">
  <div class="col-sm-8">
    <%= @glossary_term.description.tpl %>
    <%= tag.p(search_link_to(:Wikipedia, @glossary_term.name)) %>
  </div>
  <% if @glossary_term.thumb_image %>
    <div class="col-sm-4">
      <%= interactive_image(@glossary_term.thumb_image, size: :medium,
                            votes: true) %>
    </div>
  <% end %>
</div><!--.row-->

<div class="mb-3">
  <%= link_with_query(:show_glossary_term_reuse_image.t,
                      reuse_images_for_glossary_term_path(@glossary_term.id)) %><br/>
  <%= link_with_query(:show_glossary_term_remove_image.t,
                      remove_images_from_glossary_term_path(@glossary_term.id)) %><br/>
</div>

<div class="row">
  <% @other_images.each do |image|  %>
    <div class="col-sm-4">
      <%= card_block do interactive_image(image, votes: true) end %>
    </div>
  <% end %>
</div><!--.row-->

<div class="mt-3">
  <%= show_previous_version(@glossary_term) %>
  <p class="Date">
    <%= :footer_created_at.t(date: @glossary_term.created_at.web_time) %><br/>
    <%= :footer_last_updated_at.t(date: @glossary_term.updated_at.web_time) %>
  </p>

  <div id="glossary_term_authors_editors">
    <%= card_block do %>
      <%= show_authors_and_editors(obj: @glossary_term, user: @user) %>
    <% end %>
  </div>
</div>
