<%
  add_page_title( :violations_edit_title.l)
  @container = :wide
%>

<h4 class="pb-3">
  <%= :PROJECT.l + ": " + link_to_object(@project).t %>
<h4>
<%= help_block(:div, :form_violations_help.l) %>

<%=
  form_with(
    model: @project, url: project_violations_path, method: :post
  ) do |form|
%>
    <div id="violations">
      <%=
        make_table(
          headers: violation_table_headers(@project),
          rows: violation_table_rows(
            form: form, project: @project, violations: @violations
          )
        )
      %>
    </div>
    <%= form.submit(:SUBMIT.l) %>
  <% end %>
