<%
@css_theme = css_theme

html_class = (Rails.env == "test") ? "" : "scroll-behavior-smooth"
ctrlr_action = "#{controller.controller_name}__#{controller.action_name}"
theme = "theme-#{@css_theme.underscore.dasherize}"
location_format = "location-format-#{User.current_location_format || "postal"}"
logged_in = @user ? "logged-in-user" : "no-user"
body_class = class_names(ctrlr_action, theme, location_format, logged_in)
content_classes = class_names(container_class, content_class)
%>
<!DOCTYPE html>
<html class="<%= html_class %>">

  <head>
    <%= render(partial: "application/app/head") %>
  </head>

  <body class="<%= body_class %>" data-controller="lazyload tooltip">
    <% if Rails.env == "production" %>
      <%= render(partial: "application/app/gtm_iframe") %>
    <% end %>

    <div id="main_container" class="container-fluid"
       data-controller="nav links" data-nav-target="container">

      <%= render(partial: "application/app/banners") %>

      <div class="row row-offcanvas row-offcanvas-left"
         data-nav-target="offcanvas">

        <%= render(partial: "application/sidebar") %>

        <div id="right_side" class="col-xs-12 col-sm-10">
          <%= render(partial: "application/top_nav") %>
          <%= render(partial: "application/app/page_flash") %>
          <%= render(partial: "application/content/header") %>

          <main id="content" class="<%= content_classes %>"
              data-controller="lightgallery">

            <%# unless @user&.verified? %>
            <%# render(partial: "application/content/login_layout") %>
            <%# end %>

            <!--MAIN_PAGE_CONTENT-->
            <%= yield %>
            <!--/MAIN_PAGE_CONTENT-->

            <%= render(partial: "application/content/translators_credit") %>
          </main><!-- #content -->

        </div>
        <!-- #right_side -->
      </div>
      <!-- .row-offcanvas -->
    </div>
    <!-- #main_container -->

    <!--AJAX PROGRESS WHIRLY -->
    <%= render(partial: "shared/modal_ajax_progress") %>
    <%= render(partial: "application/app/media_query_tests") %>
    <%= render(partial: "application/app/javascript_footer") %>
  </body>

</html>
