<%
add_page_title(:name_change_synonyms_title.t(name: @name.display_name))
add_tab_set(name_forms_return_tabs(name: @name))
@container = :text_image

url = { controller: "/names/synonyms", action: :update, id: @name.id,
        approved_names: @new_names, approved_synonyms: @synonym_name_ids }

# this cannot be an ivar, somehow. Fails here if so:
# Names::SynonymsControllerTest#test_transfer_synonyms_n_1_nc line 303
current_synonyms = @name.synonyms
%>

<%= form_with(url: url, method: :put, id: "name_edit_synonym_form") do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= render(partial: "names/synonyms/fields_existing",
                 locals: { f: f, current_synonyms: current_synonyms }) %>
      <%= render(partial: "names/synonyms/fields_proposed",
                 locals: { f: f, current_synonyms: current_synonyms }) %>
    </div><!--.col-->

    <div class="col-sm-6">
      <%= render(partial: "names/synonyms/fields_members", locals: { f: f }) %>
    </div><!--.col-->
  </div><!--.row-->

  <%= submit_button(form: f, button: :name_change_synonyms_submit.l,
                    center: true) %>

<% end %>
