<nav id="left_nav" class="collapse col-md-3 col-xl-2 left-nav-sidebar d-print-none bg-gray" aria-label="Site navigation">

  <%= render partial: "site_nav_user" %>
  <%= render partial: "site_nav_admin" %>
  <%= render partial: "site_nav_intro" %>

  <%= render partial: "site_nav_latest" %>
  <%= render partial: "site_nav_resources" %>
  <%= render partial: "site_nav_help" %>
  <%= render partial: "site_nav_translations" %>

</nav>
