<% if @user.nil? %>

  <%= link_to account_login_path,
              class: "btn btn-outline",
              id: "account_login_link" do
        :app_login.t
  end %>

  <%= link_to account_signup_path,
              class: "btn btn-outline",
              id: "account_signup_link" do
        :app_create_account.t
  end %>

<% else ##user is logged in %>
  <ul class="nav navbar-nav">
    <% if @user.admin %>
      <li class="nav-item">
        <%= link_to "",
                    { controller: :account,
                      action: in_admin_mode? ? :turn_admin_off : :turn_admin_on },
                    { class: "glyphicon glyphicon-text-background",
                      title: in_admin_mode? ? :app_turn_admin_off.t : :app_turn_admin_on.t,
                      data: { toggle: "tooltip", placement: "bottom" } } %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "",
                  { controller: :comment,
                    action: :show_comments_for_user,
                    id: @user.id },
                  { class: "glyphicon glyphicon-inbox",
                    title: :app_comments_for_you.t,
                    data: { toggle: "tooltip", placement: "bottom" } } %>
    </li>
    <li class="nav-item">
      <%= link_to "",
                  { controller: :interest,
                    action: :list_interests },
                  { class: "glyphicon glyphicon-bullhorn",
                    title: :app_your_interests.t,
                    data: { toggle: "tooltip", placement: "bottom" } } %>
    </li>
    <li class="nav-item">
      <%= link_to "",
                  { controller: :account,
                    action: :prefs },
                  { class: "glyphicon glyphicon-cog",
                    title: :app_preferences.t,
                    data: { toggle: "tooltip", placement: "bottom" } } %>
    </li>
    <li class="nav-item dropdown" id="user_dropdown">
      <a href="#"
         class="nav-link dropdown-toggle"
         data-toggle="dropdown"
         role="button"
         aria-expanded="false">
        <%= h(@user.login) %>
      </a>
      <div class="dropdown-menu"
           role="menu"
           aria-labelledby="user_dropdown">
        <%= link_to :app_your_observations.t,
                    { controller: :observation,
                      action: :observations_by_user,
                      id: @user.id },
                    { class: "dropdown-item" } %>
        <%= link_to :app_your_lists.t,
                    { controller: :species_list,
                      action: :species_lists_by_user,
                      id: @user.id},
                    { class: "dropdown-item" } %>
        <%= link_to :app_your_interests.t,
                    { controller: :interest,
                      action: :list_interests},
                    { class: "dropdown-item" } %>
        <%= link_to :app_your_summary.t,
                    { controller: :user,
                      action: :show_user,
                      id: @user.id},
                    { class: "dropdown-item" } %>
        <%= link_to :app_preferences.t,
                    { controller: :account,
                      action: :prefs},
                    { class: "dropdown-item" } %>
        <%= link_to :app_logout.t,
                    { controller: :account,
                      action: :logout_user},
                    { class: "dropdown-item" } %>
      </div>
    </li>
    <li>
      <%= link_to "",
                  { controller: :account,
                    action: :logout_user },
                  { class: "glyphicon glyphicon-log-out pr-3",
                    title: :app_logout.t,
                    data: { toggle: "tooltip", placement: "bottom" } } %>
    </li>
  </ul>
<% end %>
