<!--SIDEBAR LOGO AND NAVIGATION-->
<% #bs4. Note this is currently a list-group, not a nav flex-column
classes = {
  wrapper: "navbar navbar-light navbar-expand-xs bg-light sidebar-nav list-group",
  heading: "list-group-item disabled font-weight-bold",
  item: "list-group-item-action",
  admin: "list-group-item-action list-group-item-danger indent",
  indent: "list-group-item-action indent",
  mobile_only: "list-group-item-action d-block d-md-none"
}
%>

<div id="navigation">

  <a id="logo_link" href="<%= browser.bot? ? "/sitemap/index.html" : "/" %>">
    <img class="logo-trim img-responsive py-2" alt="Mushroom Observer Logo"
         src="/logo-trim.png"/>
  </a><!-- #logo_link -->

  <div class="<%= classes[:wrapper] %>">

    <%= render(partial: "application/sidebar/info",
                locals: { classes: classes }) %>

    <% if in_admin_mode? %>
      <%= render(partial: "application/sidebar/admin",
                  locals: { classes: classes }) %>
    <% end %>

    <% if @user.nil? %>
      <%= render(partial: "application/sidebar/login",
                  locals: { classes: classes }) %>
    <% else %>
      <%= render(partial: "application/sidebar/user",
                  locals: { classes: classes }) %>
    <% end %>

    <%= render(partial: "application/sidebar/observations",
                locals: { classes: classes }) %>

    <%= render(partial: "application/sidebar/latest",
                locals: { classes: classes }) %>

    <%= render(partial: "application/sidebar/species_lists",
                locals: { classes: classes }) %>

    <%= render(partial: "application/sidebar/indexes",
                locals: { classes: classes }) %>

    <%= render(partial: "application/sidebar/more",
                locals: { classes: classes }) %>

    <%= render(partial: "application/sidebar/languages",
                locals: { classes: classes }) %>

  </div><!-- .sidebar-nav -->

</div><!-- #navigation -->
<!--/SIDEBAR LOGO AND NAVIGATION-->
