<div class="mo-toc-item">
  <%= link_to(:app_species_list.t,
              {controller: :info, action: :intro},
              {class: "mo-toc-link"}) %>
  <ul class="nav mo-sidenav">
    <% unless @user.nil? %>
      <li>
        <%= link_to(:app_your_lists.t,
                    { controller: :species_lists,
                      action: :species_lists_by_user,
                      id: @user.id },
                    { class: "indent" } ) %>
      </li>
    <% end%>
    <li>
      <%= link_to(:app_create_list.t,
                  { controller: :species_lists,
                    action: :name_lister },
                  { class: ""}) %>
    </li>
    <li>
      <%= link_to(:app_sort_by_date_spl.t,
                  { controller: :species_lists,
                    action: :index },
                  { class: ""}) %>
    </li>
    <li>
      <%= link_to(:app_sort_by_title.t,
                  { controller: :species_lists,
                    action: :species_lists_by_title },
                  { class: "" }) %>
    </li>
  </ul>
</div>
