<% if @user.nil? %>
  <div class="mo-toc-item mo-toc-user">
    <%= link_to :app_account.t,
                account_login_path,
                class: "mo-toc-link" %>
    <ul class="nav mo-sidenav">
      <li><%= link_to :app_login.t,
                      account_login_path,
                      class: "" %>
                    </li>
      <li><%= link_to :app_create_account.t,
                      new_account_path,
                      class: "" %>
                    </li>
    </ul>
  </div>
<% else %>
  <div class="mo-toc-item mo-toc-user">
    <%= link_to h(@user.login),
                account_login_path,
                class: "mo-toc-link" %>
    <ul class="nav mo-sidenav">
      <li>
        <%= link_to :app_comments_for_you.t,
                    comments_show_comments_for_user_path(id: @user.id),
                    class: "" %>
      </li>
      <li>
        <%= link_to :app_your_observations.t,
                    observations_observations_by_user_path(id: @user.id),
                    class: "" %>
      </li>
      <li>
        <%= link_to :app_your_interests.t,
                    interests_list_interests_path,
                    class: "" %>
      </li>
      <li>
        <%= link_to :app_your_summary.t,
                    user_path(id: @user.id),
                    class: "" %>
      </li>
      <li>
        <%= link_to :app_preferences.t,
                    account_prefs_path,
                    class: "" %>
      </li>
      <li>
        <%= link_to :app_join_mailing_list.t,
                    "https://groups.google.com/forum/?fromgroups=#!forum/mo-general",
                    class: "",
                    target: "_blank" %>
      </li>
      <li>
        <%= link_to(:app_turn_admin_on.t,
                    account_turn_admin_on_path,
                    class: "") if @user.admin && !in_admin_mode? %>
      </li>
      <li><%= link_to :app_logout.t,
                      account_logout_user_path %>
      </li>
      <li><%= link_to "new_name_path",
                      new_name_path() %>
      </li>
    </ul>
  </div>
<% end %>
