<%
url_params = { action: action, q: get_query_param }
url_params = url_params.merge(
  { observation_id: @observation.id }) if action == :create
url_params = url_params.merge({ back: back }) if action == :update
%>

<%= form_with(model: @collection_number, url: url_params) do |f| %>

  <%= centered_submit(form: f, button: button_name.t) %>

  <% if @collection_number.observations.count > 1 %>
    <div class="alert alert-warning mt-3">
      <%= :edit_affects_multiple_observations.t(type: :collection_number) %>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= f.label(:name, "#{:collection_number_name.t}:".html_safe) %>
    <%= content_tag(:span, "(#{:required.t})", class: "help-note") %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>

  <div class="form-group mt-3">
    <%= f.label(:number, "#{:collection_number_number.t}:".html_safe) %>
    <%= content_tag(:span, "(#{:required.t})", class: "help-note") %>
    <%= f.text_field(:number, class:"form-control") %>
  </div>

  <%= centered_submit(form: f, button: button_name.t) %>

<% end %>
