<%
url_params = { action: action, q: get_query_param }
url_params = url_params.merge(
  { observation_id: @observation.id }) if action == :create
url_params = url_params.merge({ back: back }) if action == :update
%>

<%= form_with(model: @collection_number, url: url_params) do |f| %>

  <%= submit_button(form: f, button: button_name.t, center: true) %>

  <% if @collection_number.observations.count > 1 %>
    <div class="alert alert-warning mt-3">
      <%= :edit_affects_multiple_observations.t(type: :collection_number) %>
    </div>
  <% end %>

  <% required = help_note(:span, "(#{:required.t})") # same note for both %>
  <%= text_field_with_label(form: f, field: :name, between: required,
                            label: :collection_number_name.t + ":",
                            data: { autofocus: true }) %>

  <%= text_field_with_label(form: f, field: :number, between: required,
                            label: :collection_number_number.t + ":") %>

  <%= submit_button(form: f, button: button_name.t, center: true) %>

<% end %>
