<% # form_tag(add_query_param(action: :new, id: @observation.id)) do %>
<% # Note: Hidden params are passed from the controller %>
<%= form_with model: :collection_number do |f| %>

  <%= f.submit button.t, class: "btn mx-auto mt-3" %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :q %>

  <% if @collection_number.observations.size > 1 %>
    <div class="alert alert-warning mt-3">
      <%= :edit_affects_multiple_observations.t(type: :collection_number) %>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= f.label :name, :collection_number_name.t + ":") %>
    <span class="help-note">(<%= :required.t %>)</span>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :number, :collection_number_number.t + ":" %>
    <span class="help-note">(<%= :required.t %>)</span>
    <%= f.text_field :number, class:"form-control" %>
  </div>

  <%= f.submit button.t, class: "btn mx-auto mt-3" %>

<% end %>
