<%
  @title ||= :list_collection_numbers_title.t

  tabs = create_tabs(@links)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
  @container = :wide
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <table class="table table-striped mt-3">
      <% @objects.each do |collection_number| %>
        <tr>
          <td>
            <%= if in_admin_mode? || collection_number.can_edit?
              link_with_query(:EDIT.t,
                edit_collection_number_path(id: collection_number.id,
                                            params: { back: :index }),
                class: "btn btn-default btn-sm")
            end %>
          </td>
          <td>
            <i><%= link_with_query(collection_number.format_name.t,
                     collection_number_path(collection_number)) %></i>
          </td>
          <td>
            <%= collection_number.observations.map do |obs|
              link_to(obs.unique_format_name.t, observation_path(obs))
            end.safe_join(", ") %>
          </td>
          <td>
            <%= if in_admin_mode? || collection_number.can_edit?
              destroy_button(target: collection_number)
            end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
