<%
add_page_title("#{:COLLECTION_NUMBER.t} '#{@collection_number.format_name.t}'")
add_pager_for(@collection_number)
add_tab_set(collection_number_show_links(c_n: @collection_number))
%>

<p class="mt-3">
  <%= :collection_number_name.t %>: <%= @collection_number.name %><br/>
  <%= :collection_number_number.t %>: <%= @collection_number.number %><br/>
  <%= :collection_number_user.t %>: <%= user_link(@collection_number.user) %><br/>
</p>

<ul class="row list-unstyled mt-3">
  <%= render(partial: "shared/matrix_box", locals: { columns: "col-xs-12" },
              collection: @collection_number.observations, as: :object) %>
</ul>

<div class="text-center">
  <p>
    <%= :CREATED_AT.t %>: <%= @collection_number.created_at.web_date %><br/>
    <%= :UPDATED_AT.t %>: <%= @collection_number.updated_at.web_date %><br/>
  </p>
</div><!-- .text-center -->
