<%
  @title = "#{:COLLECTION_NUMBER.t} '#{@collection_number.format_name.t}'"

  tabs = []
  if in_admin_mode? || @collection_number.can_edit?
    tabs << link_to(:edit_collection_number.t,
                    edit_collection_number_path(
                      id: @collection_number.id, back: :show, q: get_query_param
                    ))
    tabs << destroy_button(name: :delete_collection_number.t,
                           target: @collection_number)
  end

  @tabsets = {
    pager_for: @collection_number,
    right: draw_tab_set(tabs)
  }
%>

<p class="mt-3">
  <%= :collection_number_name.t %>: <%= @collection_number.name %><br/>
  <%= :collection_number_number.t %>: <%= @collection_number.number %><br/>
  <%= :collection_number_user.t %>: <%= user_link(@collection_number.user) %><br/>
</p>

<ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 list-unstyled mt-3">
  <%= render(partial: "shared/matrix_box", locals: { columns: "" },
              collection: @collection_number.observations, as: :object) %>
</ul>

<div class="text-center">
  <p>
    <%= :CREATED_AT.t %>: <%= @collection_number.created_at.web_date %><br/>
    <%= :UPDATED_AT.t %>: <%= @collection_number.updated_at.web_date %><br/>
  </p>
</div><!-- .text-center -->
