<%
  @title = "#{:COLLECTION_NUMBER.t} '#{@collection_number.format_name.t}'"

  tabs = []
  if in_admin_mode? || @collection_number.can_edit?
    tabs << link_to(:edit_collection_number.t,
                    edit_collection_number_path(@collection_number.id,
                      q: get_query_param),
                    back: collection_number_path(@collection_number.id))
    tabs << link_to(:delete_collection_number.t,
                    collection_number_path(@collection_number.id,
                      q: get_query_param, method: "DELETE"),
                    data: {confirm: :are_you_sure.t})
  end

  @tabsets = {
    pager_for: @collection_number,
    right: draw_tab_set(tabs)
  }
%>

<div class="max-width-text mt-3">
  <p>
    <%= :collection_number_name.t %>: <%= @collection_number.name %><br/>
    <%= :collection_number_number.t %>: <%= @collection_number.number %><br/>
    <%= :collection_number_user.t %>: <%= user_link(@collection_number.user) %>\
      <br/>
  </p>

  <div class="mt-3">
    <%= render "shared/log_item",
               collection: @collection_number.observations, as: :object %>
  </div>

  <div class="text-center">
    <p>
      <%= :CREATED_AT.t %>: <%= @collection_number.created_at.web_date %><br/>
      <%= :UPDATED_AT.t %>: <%= @collection_number.updated_at.web_date %><br/>
    </p>
  </div>
</div>
