<%
  @title = :confirm_title.l
%>

<div class="max-width-text">
  <%= :confirm_text.tp %>

  <p>
    <%= :confirm_amount.t %>: $<%= sprintf("%0.2f", @donation.amount || 0) %><br/>
    <%= :confirm_recurring.t %>: <%= @donation.recurring ? :YEP.t : :NOPE.t %><br/>
    <% if @donation.anonymous %>
      <%= :donate_anonymous.t %><br/>
    <% else %>
      <%= :donate_who.t %>: <%= @donation.who %><br/>
      <%= :donate_email.t %>: <%= @donation.email %><br/>
    <% end %>
  </p>

  <div class="text-center">
    <form id="donate_form" name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="business" value="<%= MO.donation_business %>">
      <input type="hidden" name="item_name" value="<%= MO.site_name %>">
      <input type="hidden" name="currency_code" value="USD">
      <% if @donation.recurring %>
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="a3" value="<%= @donation.amount %>">
        <input type="hidden" name="p3" value="1">
        <input type="hidden" name="t3" value="M">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="no_note" value="1">
      <% else %>
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="amount" value="<%= @donation.amount %>">
      <% end %>
      <input type="hidden" name="cancel_return" value="<%= MO.http_domain %>/support/donate">
      <input type="hidden" name="return" value="<%= MO.http_domain %>/support/thanks">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" onclick="transferAmount()" alt="Make payments with PayPal - it's fast, free and secure!">
    </form>
  </div>
</div>
