<%
  @title = :create_donation_title.l

  # tabs = [
  #   link_to(:donors_tab.t, action: :donors),
  #   link_to(:donate_tab.t, action: :donate),
	#   link_to(:review_donations_tab.t, action: :review_donations)
  # ]
  # @tabsets = { right: draw_tab_set(tabs) }
  @navbar[:title] = { title: :SUPPORT.t, url: support_donate_path }
  @navbar[:links] = [
    { title: :donors_tab.t, url: support_donors_path,
      icon: "fa-user-friends" }
    { title: :donate_tab.t, url: support_donate_path,
      icon: "fa-hands-helping" }
    { title: :review_donations_tab.t, url: support_review_donations_path,
      icon: "fa-clipboard-list" }
  ]
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= form_for(:donation, url: {action: :create_donation}) do |form| %>

    <div class="form-group form-inline">
      <%= label_tag(:donation_amount, :confirm_amount.t + ":") %>
      $<%= form.text_field(:amount, size: 7, class: "form-control") %>
    </div>

    <div class="form-group form-inline">
      <%= label_tag(:donation_who, :WHO.t + ":") %>
      <%= form.text_field(:who, size: 50, class: "form-control") %>
    </div>

    <div class="form-group form-inline">
      <%= form.check_box(:anonymous, class: "form-control") %>
      <%= label_tag(:donation_anonymous, :donate_anonymous.t) %>
    </div>

    <div class="form-group form-inline">
      <%= label_tag(:donation_email, :EMAIL.t + ":") %>
      <%= form.text_field(:email, size: 50, class: "form-control") %>
    </div>

    <%= submit_tag(:create_donation_add.l, class: "btn mx-auto") %>

  <% end %>
</div>
