<%
add_page_title(:donate_title.l)

add_tab_set(support_donate_links)

amounts = [25.00, 50.00, 100.00, 200.00].freeze

url = { controller: "/support", action: :confirm }

javascript_include "donate"
%>

<%= :donate_thanks.tp %>
<%= :donate_explanation.tp %>

<%= form_with(model: @donation, url: url) do |f| %>

  <div class="row">
    <% amounts.each do |a| %>
      <div class="col-xs-3">
        <%= radio_with_label(form: f, field: :amount, value: a,
                             label: "$#{a.to_i}") %>
      </div>
    <% end %>
  </div>

  <%= radio_with_label(form: f, field: :amount, value: "other",
                       label: "#{:donate_other.t}: ",
                       class: "d-inline-block") %>
  <%= text_field_with_label(form: f, field: :other_amount, size: 7,
                            label: "$ ", class: "d-inline-block ml-4",
                            inline: true) %>

  <%= check_box_with_label(form: f, field: :recurring,
                           label: :donate_recurring.t) %>

  <%= text_field_with_label(form: f, field: :who, size: 30,
                            label: :donate_who.t, inline: true) %>

  <%= check_box_with_label(form: f, field: :anonymous,
                           label: :donate_anonymous.t) %>

  <%= text_field_with_label(form: f, field: :email, size: 30,
                            label: :donate_email.t, inline: true) %>

  <%= submit_button(form: f, button: :donate_confirm.t, center: true) %>

<% end %>

<%= :donate_snail_mail.tp %>
<%= :donate_fine_print.tp %>
