<%
  @title = :donate_title.l

  tabs = [
    link_to(:donors_tab.t, action: :donors)
  ]
  if in_admin_mode?
    tabs += [
            link_to(:create_donation_tab.t, action: :create_donation),
            link_to(:review_donations_tab.t, action: :review_donations)
    ]
  end
  @tabsets = { right: draw_tab_set(tabs) }

  javascript_include "donate"
%>

<div class="container-text">
  <%= :donate_thanks.tp %>
  <%= :donate_explanation.tp %>

  <div id="main_container" class="container-fluid">
    <%= form_tag(action: :confirm) do %>
      <div class="row">
        <% [25.00, 50.00, 100.00, 200.00].each do |a| %>
          <div class="col-xs-3">
            <div class="radio">
              <label>
                <%= radio_button(:donation, :amount, a) %>
                $<%= a.to_i %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
      <div class="form-inline">
        <div class="radio">
          <label>
            <%= radio_button(:donation, :amount, "other") %>
            <%= :donate_other.t %>:
          </label>
        </div>
        $<%= text_field(:donation, :other_amount, size: 7, class: "form-control") %>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box(:donation, :recurring) %>
          <%= :donate_recurring.t %>
        </label>
      </div>
      <div class="form-inline">
        <%= :donate_who.t %>:
        <%= text_field(:donation, :who, size: 30, class: "form-control") %>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box(:donation, :anonymous) %>
          <%= :donate_anonymous.t %>
        </label>
      </div>
      <div class="form-inline">
        <%= :donate_email.t %>:
        <%= text_field(:donation, :email, size: 30, class: "form-control") %>
      </div>
      <div class="my-3">
        <%= submit_tag(:donate_confirm.t, class: "btn btn-default center-block") %>
      </div>
    <% end %>
  </div>
  <%= :donate_snail_mail.tp %>
  <%= :donate_fine_print.tp %>
</div>
