<%
  @title = :review_donations_title.l

  tabs = [
    link_to(:donors_tab.t, action: :donors),
    link_to(:donate_tab.t, action: :donate),
    link_to(:create_donation_tab.t, action: :create_donation)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= form_tag do %>
  <%= submit_tag(:review_donations_update.l, class: "btn mx-auto") %>

  <center>
    <table class="table-striped table-review-donations mb-3 mt-3">
      <thead>
        <tr>
          <% for label in [:review_reviewed, :review_id, :review_who, :review_anon, :review_amount, :review_email] %>
            <th><%= label.t %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% for d in @donations %>
          <tr>
            <td><%= check_box(:reviewed, d.id, checked: d.reviewed,
                              class: "form-control") %></td>
            <td><%= d.id %></td>
            <td><%= d.who %></td>
            <td><%= d.anonymous %></td>
            <td><%= d.amount %></td>
            <td><%= d.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>

  <%= submit_tag(:review_donations_update.l, class: "btn mx-auto") %>
<% end %>
