<%
  @title = :review_donations_title.l
  @navbar = review_donations_navbar %>

<%= form_tag do %>
  <%= submit_tag(:review_donations_update.l, class: "btn mx-auto") %>

  <center>
    <table class="table-striped table-review-donations mb-3 mt-3">
      <thead>
        <tr>
          <% [:review_reviewed, :review_id, :review_who, :review_anon,
              :review_amount, :review_email].each do |label| %>
            <th><%= label.t %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @donations.each do |d| %>
          <tr>
            <td><%= check_box(:reviewed, d.id, checked: d.reviewed,
                              class: "form-control") %></td>
            <td><%= d.id %></td>
            <td><%= d.who %></td>
            <td><%= d.anonymous %></td>
            <td><%= d.amount %></td>
            <td><%= d.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>

  <%= submit_tag(:review_donations_update.l, class: "btn mx-auto") %>
<% end %>
