<%
  @title = :name_deprecate_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name), @name.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  action = deprecate_name_synonym_path(@name.id, approved_name: @what)
%>

<%= form_with(url: action) do |f| %>

  <%= f.submit(:name_deprecate_submit.l,
               class: "btn btn-default center-block mt-3") %>

  <%= render(partial: "shared/form_name_feedback",
            locals: { button_name: :name_deprecate_submit.l,
                      what: @what,
                      valid_names: @valid_names,
                      suggest_corrections: @suggest_corrections,
                      parent_deprecated: @parent_deprecated,
                      names: @names }) %>

  <p><%= f.label(:proposed_name, :name_deprecate_preferred.t) %>:
    <%= f.text_field(:proposed_name,
                     value: @what, data: { autofocus: true }) %></p>
  <div class="help-note">
    <%= :name_deprecate_preferred_help.tp %>
  </div>
  <% turn_into_name_auto_completer(:proposed_name, primer: Name.primer) %>

  <p><%= f.check_box(:is_misspelling, checked: @misspelling) %>
  <%= f.label(:is_misspelling, :form_names_misspelling.t) %></p>

  <p><%= f.label(:comment_comment, :name_deprecate_comments.t) %>:</label><br/>
  <%= f.text_area(:comment_comment, cols: 80, rows: 5, value: @comment) %></p>
  <div class="help-note">
    <%= :name_deprecate_comments_help.tp(name: @name.display_name.chomp(".")) %>
    <%= :field_textile_link.tp %>
  </div>

<% end %>
