<%
  intro = :email_project_administered_intro.l(
    site_admin: @site_admin.legal_name,
    email: @site_admin.email,
    project: @project.title
  )

  handy_links = :email_handy_links.l

  links = []
  links.push([:email_links_show_object.t(type: :Project.l),
    "#{MO.http_domain}/projects/#{@project.id}"])
  links.push([:email_links_show_user.t,
    "#{MO.http_domain}/users/#{@site_admin.id}"])

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<%= handy_links.tp %>
<ul type=none>
<% links.each do |label, url| %>
<li><%= label %>: <%= link_to(url, url) %></li>
<% end %>
</ul>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>

--------------------------------------------------

<%= handy_links.tp.html_to_ascii %>

<%= result = "".html_safe
  links.each do |label, url|
    result += label.html_to_ascii + ": " + url.html_safe + "\n"
  end
  result %>
<% end %>
