<div id="<%= dom_id field_slip %>">
  <p>
    <strong>Observation:</strong>
    <% if field_slip.observation %>
      <%= link_to(field_slip.observation.unique_format_name.t, observation_path(field_slip.observation)) %>
    <% else %>
      <%= :field_slip_no_observation.t %>
    <% end %>
    <br/>
    <strong>Project:</strong>
    <% if field_slip.project %>
      <%= link_to_object(field_slip.project) %>
    <% else %>
      <%= :field_slip_no_project.t %>
    <% end %>
    <br/>
    <strong>Code:</strong>
    <%= field_slip.code %>
  </p>
</div>
