<div id="<%= dom_id field_slip %>">
  <p>
    <strong>Observation:</strong>
    <%= link_to(field_slip.observation.unique_format_name.t, observation_path(field_slip.observation)) %>
    <br/>
    <strong>Project:</strong>
    <%= link_to_object(field_slip.project) %>
    <br/>
    <strong>Code:</strong>
    <%= field_slip.code %>
  </p>


  <%= render(partial: "shared/matrix_box",
             locals: { object: field_slip.observation }) %>
</div>
