<%= form_with(model: field_slip) do |form| %>
  <% if field_slip.errors.any? %>
    <div class="alert alert-danger">
      <%= "#{pluralize(field_slip.errors.count,
        :error.t, plural: :errors.t)} #{:field_slip_errors.t}" %>:
      <ul>
        <% field_slip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.number_field :project_id %>
  </div>

  <br/>

  <div>
    <%= form.submit :field_slip_create_obs.t %>
  </div>

  <br/>
  <br/>

  <% obs = last_observation
     if obs %>
     <div>
       Last Observation:<br/>
       <%= image_tag(Image.url(:thumbnail, obs.thumb_image_id)) %><br/>
       <%= link_to(obs.unique_format_name.t, observation_path(obs)) %>
    </div>

    <br/>

    <div>
      <%= form.submit :field_slip_last_obs.t %>
    </div>

  <% end %>
<% end %>
