<%= form_with(model: field_slip) do |form| %>
  <% if field_slip.errors.any? %>
    <div class="alert alert-danger">
      <%= "#{pluralize(field_slip.errors.count,
        :error.t, plural: :errors.t)} #{:field_slip_errors.t}" %>:
      <ul>
        <% field_slip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= text_field_with_label(form: form, field: :code) %>
  </div>

  <% if @field_slip.projects %>
    <div>
      <%= select_with_label(form: form, field: :project_id, options: @field_slip.projects) %>
    </div>
  <% end %>

  <% if field_slip&.observation
     current = field_slip.observation %>
    <div>
       Current Observation:<br/>
       <%= image_tag(Image.url(:thumbnail, current.thumb_image_id)) %><br/>
       <%= link_to(current.unique_format_name.t, observation_path(current)) %>
    </div>
    <br/>
    <%= submit_button(form: form, button: :field_slip_keep_obs.t) %>
    <br/>
    <br/>
  <% end %>

  <br/>

  <div>
    <%= submit_button(form: form, button: :field_slip_create_obs.t) %>
  </div>

  <br/>
  <br/>

  <% obs = last_observation
     if obs %>
     <div>
       Last Observation:<br/>
       <%= image_tag(Image.url(:thumbnail, obs.thumb_image_id)) %><br/>
       <%= link_to(obs.unique_format_name.t, observation_path(obs)) %>
    </div>

    <br/>

    <div>
      <%= submit_button(form: form, button: :field_slip_last_obs.t) %>
    </div>

  <% end %>
<% end %>
