<div id="<%= dom_id field_slip %>">
  <p>
    <strong><%= :PROJECT.t %>:</strong>
    <% if field_slip.project %>
      <%= link_to_object(field_slip.project) %>
    <% else %>
      <%= :field_slip_no_project.t %>
    <% end %>
    <br/>
    <% if (usr = field_slip.user) %>
      <strong><%= :field_slip_creator.t %>:</strong>
      <%= user_link(usr, usr.legal_name) %><br/>
    <% end %>
    <strong><%= :OBSERVATION.t %>:</strong>
    <% if (obs = field_slip.observation) %>
      <%= link_to(obs.unique_format_name.t, observation_path(obs),
                  class: "observation_link_#{obs.id}") %>
      <ul class="row list-unstyled">
        <%= render(partial: "shared/matrix_box",
                   locals: { object: field_slip.observation,
                             columns: "col-xs-12" }) %>
      </ul>
    <% else %>
      <%= :field_slip_no_observation.t %>
    <% end %>
  </p>
</div>
