<%# locals: (field_slip: nil, prepend: nil) %>

<%
obs = field_slip.observation
usr = field_slip.user
all_obs = field_slip_all_observations(field_slip)
%>

<div id="<%= dom_id(field_slip) %>">
  <div class="mb-4">
    <%= prepend %>
    <strong><%= :PROJECT.t %>:</strong>
    <% if field_slip.project %>
    <%= render(Components::ObjectLink.new(object: field_slip.project)) %>
    <% else %>
    <%= :field_slip_no_project.t %>
    <% end %>
    <br />

    <% if obs %>
    <strong><%= :DATE.t %>: </strong><%= obs.when %><br />
    <% if obs.collector_textile %>
    <strong><%= :COLLECTOR.t %>: </strong><%= obs.collector_textile.tl %><br />
    <% end %>
    <strong><%= :LOCATION.t %>: </strong><%= render(Components::LocationLink.new(where: obs.where, location: obs.location, click: true)) %><br />
    <strong><%= :NOTES.t %>:</strong>
    <div class="ml-5 mb-3">
      <% field_slip.notes_fields.each do |field| %>
      <% if field.value.present? %>
      <strong><%= field.label %>: </strong><%= field.value.tl %><br />
      <% end %>
      <% end %>
    </div>
    <strong><%= :ID.t %>: </strong><%= obs.field_slip_name.tl %><br />
    <strong><%= :ID_BY.t %>: </strong><%= obs.field_slip_id_by.tl %><br />
    <% if obs.other_codes != "" %>
    <strong><%= :field_slip_other_codes.t %>: </strong><%= obs.other_codes.tl %><br />
    <% end %>
    <% end %>
    <br />

    <% if usr %>
    <strong><%= :field_slip_creator.t %>:</strong>
    <%= render(Components::UserLink.new(user: usr, name: usr.legal_name)) %><br />
    <% end %>
  </div>

  <% if all_obs.any? %>
    <strong><%= :OBSERVATIONS.t %>:</strong>
    <ul class="row list-unstyled mt-3"
        data-controller="matrix-table"
        data-action="resize@window->matrix-table#rearrange">
      <% all_obs.each do |obs_item| %>
        <%= render(::Components::MatrixBox.new(
                     user: @user,
                     object: obs_item)) %>
      <% end %>
    </ul>
  <% else %>
    <strong><%= :OBSERVATIONS.t %>:</strong>
    <%= :field_slip_no_observation.t %>
  <% end %>
</div>
