<%
action = controller.action_name
%>

<%= form_with(model: field_slip) do |form| %>
  <% if field_slip.errors.any? %>
    <div class="alert alert-danger">
      <%= "#{pluralize(field_slip.errors.count,
        :error.t, plural: :errors.t)} #{:field_slip_errors.t}" %>:
      <ul>
        <% field_slip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= text_field_with_label(form: form, field: :code, inline: true, label: :field_slip_code.t + ":") %>

  <% if @field_slip.projects %>
    <%= select_with_label(form: form, field: :project_id, inline: true,
        label: :Project.t + ":", options: @field_slip.projects) %>
  <% end %>


  <%= form.label(:date, "#{:DATE.t}: ") %>
  <%= form.date_select(:date,
                       { start_year: Date.today.year - 10,
      end_year: Date.today.year + 10 }) %><br/>
  <br/>

  <%= autocompleter_field(form: form, field: :collector, inline: true,
                          label: :COLLECTOR.t + ":", autocomplete: :user) %>
  <%= autocompleter_field(form: form, field: :location, inline: true,
                          label: :LOCATION.t + ":", autocomplete: :location) %>

  <%= autocompleter_field(form: form, field: :name, inline: true,
                          label: :ID.t + ":",
                          autocomplete: :name) %>
  <%= text_field_with_label(form: form, field: :id_by, inline: true,
                            label: :ID_BY.t + ":") %>
  <%= text_field_with_label(form: form, field: :other_codes, inline: true,
                            label: :field_slip_other_codes.t + ":") %>

  <div class="mt-5">
    <%= render(partial: "shared/notes_form",
	       locals: { form:, fields: field_slip.notes_fields }) %>
  </div>

  <%= submit_button(form: form, button: :field_slip_create_obs.t,
                    class: "mt-5") if action == "new" %>

  <div class="row mt-5">
    <% if field_slip.observation %>
      <div class="col-sm-6">
        <%= render(partial: "field_slips/obs_thumbnail",
                   locals: { obs: field_slip.observation, form: form,
                             button: :field_slip_keep_obs.t }) %>
      </div>
    <% end %>
    <% if last_observation %>
      <div class="col-sm-6">
        <%= render(partial: "field_slips/obs_thumbnail",
                   locals: { obs: last_observation, form: form,
                             button: :field_slip_last_obs.t }) %>
      </div>
    <% end %>
  </div>

  <%= submit_button(form: form, button: :field_slip_create_obs.t,
                    class: "my-5") if action == "edit" %>

<% end %>
