<%
add_project_banner(@project) if @project
add_index_title(@query)
add_context_nav(Tab::FieldSlip::IndexActions.new)
add_pagination(@pagination_data)
container_class(:wide)
project_title = @query&.params_cache&.dig(:project)&.title || ""
%>

<%= render(Components::Alert.new(message: notice, level: :success)) if notice %>

<%= tag.div(class: "content-block") do %>
  <% if @project %>
    <% if @project.field_slip_prefix %>
      <div class="mt-3">
        <b><%= :show_project_field_slip_prefix.t %>:</b> <%= @project.field_slip_prefix %>
        <% if @project.member?(@user) %>
          <%= link_to(:show_project_field_slip_create.t,
                      new_project_field_slip_path(project_id: @project.id),
                      { class: "btn btn-default" }) %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= render(Components::InlineFilterForm.new(
                 url: field_slips_path,
                 submit_text: "Filter")) do |form| %>
      <%= autocompleter_field(form:, field: :project_name, type: :project,
                              hidden_name: :project, inline: true,
                              value: project_title, size: 60,
                              class: "mb-0",
                              label: "#{:field_slip_filter_by.l}:") %>
    <% end %>
  <% end %>
<% end %>

<%= paginated_results do %>
  <div class="list-group">
    <%= render(partial: "field_slips/object", collection: @objects) %>
  </div>
<% end %>
