<%= # form_tag(add_query_param(action: :edit, id: @herbarium, back: @back)) do %>
<%= form_with model: :herbarium do |f| %>

  <%= submit_tag(button_name.t, class: "btn mx-auto mt-3") %>

  <div class="row form-group">
    <div class="col-12">
      <%= label_tag(:herbarium_name, :NAME.t + ":") %>
      <span class="help-note">(<%= :required.t %>)</span>
      <%= text_field(:herbarium, :name, class: "form-control") %>
    </div>
  </div>

  <% if in_admin_mode? %>
    <div class="row form-group">
      <div class="col-12">
        <div class="form-inline">
          <%= label_tag(:herbarium_personal_user_name, :edit_herbarium_admin_make_personal.t) %>:
          <%= text_field(:herbarium, :personal_user_name, class: "form-control-xxx") %>
          <% turn_into_user_auto_completer(:herbarium_personal_user_name) %>
        </div>
        <% if button_name != :CREATE %>
          <div class="well well-sm mt-3 help-block">
            <div class="arrow-up mt-2"></div>
            <% users = Herbarium.connection.select_rows(%(
              SELECT u.name, u.login, COUNT(u.id)
              FROM herbarium_records hr JOIN users u ON u.id = hr.user_id
              WHERE hr.herbarium_id = #{@herbarium.id}
              GROUP BY u.id ORDER BY COUNT(u.id) DESC LIMIT 5
            ))
            users.each do |name, login, count| %>
              <%= :edit_herbarium_user_records.t(name: "#{name} (#{login})",
                                                 num: count) %><br/>
            <% end %>
            <%= :edit_herbarium_no_herbarium_records.t if users.empty? %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <% if @herbarium.personal_user_id == @user.id %>
      <div class="row form-group">
        <div class="col-12 help-block">
          <%= :edit_herbarium_this_is_personal_herbarium.tp %>
        </div>
      </div>
    <% end %>

    <% if button_name == :CREATE || @herbarium.can_make_personal?(@user) %>
      <div class="row form-group">
        <div class="col-12">
          <div class="form-inline">
            <%= check_box(:herbarium, :personal, class: "form-control-xxx") %>
            <%= label_tag(:herbarium_personal, :create_herbarium_personal.t) %>
          </div>
          <div class="well well-sm mt-3 help-block">
            <div class="arrow-up"></div>
            <%= :create_herbarium_personal_help.t(name: @user.personal_herbarium_name) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if !@herbarium.personal_user_id %>
    <div class="row form-group" style="margin-bottom:-1em">
      <div class="col-12">
        <div class="form-inline">
          <%= label_tag(:herbarium_code, :create_herbarium_code.t + ":") %>
          <%= text_field(:herbarium, :code, size: 8, class: "form-control") %>
          <span class="help-note">(<%= :optional.t %>)</span>
        </div>
        <div class="well well-sm mt-3 help-block">
          <div class="arrow-up mt-2"></div>
          <%= :create_herbarium_code_help.t %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-12">
      <%= label_tag(:herbarium_place_name, :LOCATION.t + ":") %>
      <span class="help-note">(<%= :optional.t %>)</span>
      <%= text_field(:herbarium, :place_name, class: "form-control") %>
      <% turn_into_location_auto_completer(:herbarium_place_name) %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12">
      <%= label_tag(:herbarium_email, :create_herbarium_email.t + ":") %>
      <span class="help-note">(<%= :optional.t %>)</span>
      <%= text_field(:herbarium, :email, class: "form-control") %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12">
      <%= label_tag(:herbarium_mailing_address, :create_herbarium_mailing_address.t + ":") %>
      <span class="help-note">(<%= :optional.t %>)</span>
      <%= text_area(:herbarium, :mailing_address, rows: 5, class: "form-control") %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12">
      <%= label_tag(:herbarium_description, :NOTES.t + ":") %>
      <span class="help-note">(<%= :optional.t %>)</span>
      <%= text_area(:herbarium, :description, rows: 10, class: "form-control") %>
    </div>
  </div>

  <%= submit_tag(button_name.t, class: "btn mx-auto mt-3") %>

<% end %>
