<%= form_with(model: @herbarium, id: "herbarium_form") do |f| %>

  <%= submit_button(form: f, button: button_name.t, center: true) %>

  <%= f.hidden_field :back, value: @back %>
  <%= f.hidden_field :q, value: get_query_param %>

  <div class="form-group">
    <%= f.label(:name, "#{:NAME.t}:") %>
    <%= content_tag(:span, "(#{:required.t})", class: "help-note") %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>

  <% if in_admin_mode? %>
    <%= inline_label_text_field(form: f, field: :personal_user_name,
                                text: :edit_herbarium_admin_make_personal.t) %>
    <% turn_into_user_auto_completer(:herbarium_personal_user_name) %>

    <% if button_name != :CREATE %>
      <%= help_block_with_arrow("up") do %>
        <% top_users = herbarium_top_users(@herbarium.id)
            top_users.each do |name, login, count| %>
          <%= :edit_herbarium_user_records.t(
                name: "#{name} (#{login})", num: count
              ) %><br/>
        <% end %>
        <%= :edit_herbarium_no_herbarium_records.t if top_users.empty? %>
      <% end %>
    <% end %>

  <% else %>
    <% if @herbarium.personal_user_id == @user.id %>
      <div class="form-group">
        <%= content_tag(:div, :edit_herbarium_this_is_personal_herbarium.tp,
                        class: "help-block") %>
      </div>
    <% end %>

    <% if button_name == :CREATE || @herbarium.can_make_personal?(@user) %>
      <div class="form-group">
        <%= check_box_with_label(form: f, field: :personal,
                                 text: :create_herbarium_personal.t) %>
        <%= help_block_with_arrow("up") do %>
          <%= :create_herbarium_personal_help.t(
                name: @user.personal_herbarium_name
              ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if !@herbarium.personal_user_id %>
    <div class="form-group">
      <div class="form-inline">
        <%= inline_label_text_field(form: f, field: :code, size: 8,
                                    text: "#{:create_herbarium_code.t}:") %>
        <%= content_tag(:span, "(#{:optional.t})", class: "help-note") %>
      </div>
      <%= help_block_with_arrow("up") do %>
        <%= :create_herbarium_code_help.t %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label(:place_name, "#{:LOCATION.t}:") %>
    <%= content_tag(:span, "(#{:optional.t})", class: "help-note") %>
    <%# workaround for auto completer; creates an id %>
    <%= f.text_field(:place_name, class: "form-control") %>
  </div>
  <% turn_into_location_auto_completer(:herbarium_place_name) %>

  <div class="form-group">
    <%= f.label(:herbarium_email, "#{:create_herbarium_email.t}:") %>
    <%= content_tag(:span, "(#{:optional.t})", class: "help-note") %>
    <%= f.text_field(:email, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:herbarium_mailing_address,
                "#{:create_herbarium_mailing_address.t}:") %>
    <%= content_tag(:span, "(#{:optional.t})", class: "help-note") %>
    <%= f.text_area(:mailing_address, rows: 5,  class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:herbarium_description, "#{:NOTES.t}:") %>
    <%= content_tag(:span, "(#{:optional.t})", class: "help-note") %>
    <%= f.text_area(:description, rows: 10, class: "form-control") %>
  </div>

  <%= submit_button(form: f, button: button_name.t, center: true) %>

<% end %>
