<%
  @title = :show_herbarium_curator_request.t

  tabs = [
    link_with_query(:cancel_and_show.t(type: :herbarium), @herbarium.show_link_args),
    link_with_query(:herbarium_index.t, action: :index_nonpersonal_herbaria)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :show_herbarium_curator_help.tp %>
  <%= form_tag(add_query_param(action: :request_to_be_curator, id: @herbarium.id,
                               back: @back)) do %>
    <div class="form-group push-down">
      <%= label_tag(:herbarium_name, :HERBARIUM.t) %>: <%= @herbarium.name.t %>
    </div>

    <div class="form-group push-down">
      <%= label_tag(:notes, :NOTES.t + ":") %>
      <%= text_area_tag(:notes, "", rows: 10, class: "form-control",
                        data: {autofocus: true}) %>
    </div>

    <%= submit_tag(:SEND.l, class: "btn center-block push-down") %>
  <% end %>
</div>
