<%
  @title = @herbarium.format_name.t

  tabs = []
  if @herbarium.curators.empty? || @herbarium.curator?(@user) || in_admin_mode?
    tabs += [
      link_with_query(:edit_herbarium.t, edit_herbarium_path(@herbarium.id)),
      destroy_button(
        name: :destroy_object.t(type: :herbarium),
        target: herbarium_path(@herbarium, back: url_after_delete(@herbarium))
      )
    ]
  end
  tabs += [
    link_with_query(:create_herbarium.t, new_herbarium_path),
    link_with_query(:herbarium_index.t, herbaria_path(flavor: :nonpersonal))
  ]

  @tabsets = {
    pager_for: @herbarium,
    right: draw_tab_set(tabs)
  }

  map = @herbarium.location ? true : false
%>

<div class="row">
  <div class="col-xs-12 col-sm-<%= map ? 8 : 12 %> max-width-text">
    <div class="push-down">
      <%= link_to(:show_herbarium_herbarium_record_count.t(
                    count: @herbarium.herbarium_records.length
                  ),
                  controller: :herbarium_record,
                  action: :herbarium_index,
                  id: @herbarium.id) %>
    </div>

    <div class="push-down">
      <%= render(partial: "curator_table", locals: { herbarium: @herbarium }) %>
      <% if @herbarium.curator?(@user) || in_admin_mode? %>
        <%= form_with(
              url: add_query_param(herbaria_curators_path(id: @herbarium))
            ) do |f| %>
          <div class="form-inline push-down">
            <%# workaround for auto completer; creates id="add_curator" %>
            <%= text_field("", :add_curator, class: "form-control") %>
            <% turn_into_user_auto_completer(:add_curator) %>
            <label for="add_curator">
              <%= f.submit(:show_herbarium_add_curator.t, class: "btn") %>
            </label>
          </div>
        <% end %>
      <% else %>
        <%= link_with_query(
              :show_herbarium_curator_request.t,
              new_herbaria_curator_request_path(id: @herbarium.id)
            ) %>
      <% end %>
    </div>

    <% if !@herbarium.description.blank? %>
      <div class="push-down">
        <div class="bold"><%= :NOTES.t %>:</div>
        <%= @herbarium.description.tpl %>
      </div>
    <% end %>

    <% if @herbarium.mailing_address && !@herbarium.mailing_address.empty? %>
      <div class="push-down">
        <div class="bold"><%= :herbarium_mailing_address.t %>:</div>
        <%= @herbarium.mailing_address.tp %>
      </div>
    <% end %>
  </div>

  <% if map %>
    <div class="col-xs-12 col-sm-4 push-down" style="max-width:320px">
      <%=
        gmap = make_map([@herbarium.location])
        finish_map(gmap)
        gmap.div(width: "100%", height: "230px").html_safe
      %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12 push-down" style="max-width:<%= map ? 930 : 600 %>px">
    <center>
      <%= :CREATED_AT.t %>: <%= @herbarium.created_at.web_date %><br/>
      <%= :UPDATED_AT.t %>: <%= @herbarium.updated_at.web_date %><br/>
    </center>
  </div>
</div>
