<%
  @title = :name_approve_title.t(name: @name.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :name), @name.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }

  action = approve_name_synonym_path(@name.id)
%>

<%= form_with(url: action) do |f| %>

  <%= f.submit(:APPROVE.l, class: "btn btn-default center-block mt-3") %>

  <% if @approved_names %>
    <p><%= check_box(:deprecate, :others, checked: "checked") %>
    <label for="deprecate_others"><%= :name_approve_deprecate.t %>:</label><br/><br/>
    <% @approved_names.each do |n| %>
      <%= n.display_name.t %><br/>
    <% end %></p>
  <% end %>
  <div class="help-note"><%= :name_approve_deprecate_help.tp %></div>

  <p><label for="comment_comment"><%= :name_approve_comments.t %>:</label><br/>
  <%= text_area(:comment, :comment, cols: 80, rows: 5, data: {autofocus: true}) %></p>
  <div class="help-note">
    <%= :name_approve_comments_help.tp(name: @name.display_name) %>
  </div>

  <%= f.submit(:APPROVE.l, class: "btn btn-default center-block mt-3") %>

<% end %>
