<%
@title = :name_approve_title.t(name: @name.display_name)

add_tab_set(name_forms_return_links(name: @name))

action = { controller: "/names/synonyms/approve", action: :create,
            id: @name.id }
%>

<%= form_with(url: action, id: "name_approve_synonym_form") do |f| %>

  <%= submit_button(form: f, button: :APPROVE.l, center: true) %>

  <% if @approved_names %>
    <%= check_box_with_label(form: f, field: :deprecate_others,
                             checked: "checked",
                             label: :name_approve_deprecate.t) %>
    <% @approved_names.each do |n| %>
      <%= n.display_name.t %><br/>
    <% end %></p>
  <% end %>

  <%= help_note(:div, :name_approve_deprecate_help.tp) %>

  <%= text_area_with_label(form: f, field: :comment, inline: true,
                           label: :name_approve_comments.t + ":",
                           cols: 80, rows: 5, data: { autofocus: true }) %>
  <%= help_note(:div,
                :name_approve_comments_help.tp(name: @name.display_name)) %>

<% end %>
