<!--[form:image]-->
<div class="form-group">
  <%= label_tag(:image_copyright_holder, :form_images_copyright_holder.t + ":") %>
  <%= form.text_field(:copyright_holder, class: "form-control") %>
</div>

<% unless leave_out_original_file_name %>
  <div class="form-group">
    <%= label_tag(:image_original_name, :form_images_original_name.t + ":") %>
    <%= form.text_field(:original_name, class: "form-control") %>
  </div>
<% end %>

<div class="form-group form-inline">
  <%= label_tag(:image_when_1i, :WHEN.t + ":") %>
  <%= date_select(:image, :when, date_select_opts(@image),
                  { class: "form-control" }) %>
  <% turn_into_year_auto_completer(:image_when_1i) %>
  <%= content_tag(:p, class: "help-block") { :form_images_when_help.t } %>
</div>

<div class="form-group">
  <%= label_tag(:image_license_id, :LICENSE.t + ":") %>
  <%= form.select(:license_id, @licenses, {}, {class: "form-control"}) %>
  <%= content_tag(:p, class: "help-block") { :form_images_license_help.t } %>
</div>

<div class="form-group">
  <%= label_tag(:image_notes, :NOTES.t + ":") %>
  <%= form.text_area(:notes, data: {autofocus: true}, class: "form-control") %>
  <%= content_tag(:p, class: "help-block") { :form_images_notes_help.t } %>
  <%= render(partial: "shared/textilize_help") %>
</div>

<% if @projects.any? %>
  <div class="form-group form-inline">
    <%= content_tag(:p, class: "bold") { :PROJECTS.t + ":" } %>
    <%= content_tag(:p, class: "help-block") { :form_images_project_help.t } %>
    <%= render(partial: "project", collection: @projects) %>
  </div>
<% end %>
<!--[eoform:image]-->
