<%
  @title = :image_updater_title.t(user: @user.login)
%>

<%= form_tag(action: :license_updater) do %>
  <div class="row">
    <div class="col-12 max-width-text">
      <%= :image_updater_help.tp %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table-striped table-license-updater">
        <thead>
          <tr>
            <th>
              <%= :image_updater_count.t %>
            </th>
            <th>
              <%= :image_updater_holder.t %>
            </th>
            <th>
              <%= :image_updater_license.t %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% row = 0
          for datum in @data
            row += 1
            licenses = datum["licenses"]
            license_id = datum["license_id"].to_i
            copyright_holder = datum["copyright_holder"].to_s
            %>
            <tr>
              <td>
                <%= datum["license_count"].to_s %>
              </td>
              <td>
                <%=
                  text_field_tag("updates_#{row}_new_holder", copyright_holder,
                    name: "updates[#{row}][new_holder]") +
                  hidden_field_tag("updates_#{row}_old_holder", copyright_holder,
                    name: "updates[#{row}][old_holder]")
                %>
              </td>
              <td>
                <%=
                  select_tag("updates_#{row}_new_id",
                    options_for_select(licenses, license_id),
                    name: "updates[#{row}][new_id]") +
                  hidden_field_tag("updates_#{row}_old_id", license_id,
                    name: "updates[#{row}][old_id]")
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 max-width-text">
      <%= submit_tag(:image_updater_update.l, class: "btn mx-auto mt-3") %>
    <% end %>
  </div>
</div>
