<%
@title = :image_show_title.t(name: @image.unique_format_name)
add_pager_for(@image)
tabs = create_tabs(show_image_links(image: @image))
@tabsets = { right: draw_tab_set(tabs) }
@container = :wide
%>

<div class="row">
  <div class="col-md-6 col-lg-8">

    <%= render(partial: "images/show/image_panel") %>
    <%= render(partial: "images/show/license_history_panel") %>

  </div><!--.col-lg-8-->
  <div class="col-md-6 col-lg-4">

    <%= render(partial: "images/show/info_panel") %>

    <% if reviewer? %>
      <div class="mb-3 text-center">
        <%= set_export_status_controls(@image) %>
      </div>
      <div class="mb-3 text-center">
        <%= set_ml_status_controls(@image) %>
      </div>
    <% end %>

    <div id="image_votes_container"><!--Note: id used by ajax-->
      <%= render(partial: "images/show/vote_panel") %>
    </div><!-- #image_votes_container -->

  </div><!--.col-lg-4-->
</div><!--.row-->

<!-- LICENSE_AND_FOOTER -->
<div class="row">
  <div class="col-sm-6">
    <div class="small text-center">
      <div>
        <%= image_copyright(@image) %>
      </div>
      <div class="py-5px mb-3">
        <%= render(partial: "shared/form_#{@image.license.form_name}") %>
      </div>
    </div>
  </div><!--.col-->
  <div class="col-sm-6">
    <%= show_object_footer(@image) %>
  </div><!--.col-sm-6-->
</div><!--.row-->
<!-- /LICENSE_AND_FOOTER -->
