<%
# `user_counter` is a collection property that starts at 0
number = (user_counter + 1) + (@pages.num_per_page * (@pages.number - 1))
%>

<div class="list-group-item">
  <div class="row">

    <div class="col-sm-7">
      <table class="w-100">
        <tr>
          <td class="align-middle col-sm-2">
            <strong><%= number %></strong>
          </td>
          <td>
            <h4><%= user_link(user.id, user.legal_name) %></h4>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= "#{user.contribution} #{:users_by_contribution_2f.t}" %><br/>
            <%= link_to(:Observations.t, observations_path(user: user.id)) %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-xs-5">
      <%= if user.image_id
            interactive_image(user.image_id,
                      size: :thumbnail,
                      image_link: user_path(user.id),
                      votes: false)
          end
      %>
    </div>

  </div><!--.row-->
</div>
