<%
@title = :how_help_title.t
@navbar = {} # reset
@navbar[:title] = { title: :INFO.t, url: info_path }
%>

<%= tag.div class: "form-max-width mt-4" do %>
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= :how_help_intro.tp %>

  <ul type="none">
    <li>
      <%= :how_help_contributors.tp %>
    </li>
    <li>
      <%= :how_help_scientists.tp %>
    </li>
    <li>
      <%= :how_help_developers.tp(todo_list: "/pivotal") %>
    </li>
    <li>
      <%= :how_help_translators.tp %>
    </li>
    <li>
      <%= :how_help_donors.tp %>
    </li>
    <li>
      <%= :how_help_business_planning.tp %>
    </li>
  </ul>
<% end %>
