<% @title = :intro_title.t %>

<div class="max-width-text">
  <%= :intro_purpose.tp %>

  <%= :intro_image_sharing.tp %>

  <%= :intro_source_code.tp(
        repo: MO.code_repository,
        todo_list: "/pivotal",
        readme: "#{MO.code_repository}/developer-startup"
      ) %>

  <%= :intro_governance.tp %>

  <%= :intro_note.tp %>
</div>
