<%
@title = :translators_note_title.t
@navbar = {} # reset
@navbar[:title] = { title: :INFO.t, url: info_path }
%>

<%= tag.div class: "form-max-width mt-4" do %>
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= :translators_note.tpl(repo: "#{MO.code_repository}/mushroom-observer/blob/master/config/locales/en.txt") %>

  <ul>
    <% Language.all.sort_by(&:order).each do |lang| %>
      <li>
        <%= link_to(h(lang.name), reload_with_args(user_locale: lang.locale)) %>
        <%= content_tag(:span, "(beta)") if lang.beta %>
      </li>
    <% end %>
  </ul>
<% end %>
