<!--SIDEBAR LOGO AND NAVIGATION-->
<%
classes = {
  wrapper: "navigation-themed list-group list-group-compact",
  heading: "list-group-item disabled font-weight-bold",
  item: "list-group-item",
  admin: "list-group-item list-group-item-danger indent",
  indent: "list-group-item indent",
  mobile_only: "list-group-item visible-xs"
}
%>

<div id="navigation">

  <a id="logo_link" href="<%= browser.bot? ? "/sitemap/index.html" : "/" %>">
    <img class="logo-trim" alt="MO Logo" src="/logo-trim.png"/>
  </a><!-- #logo_link -->

  <div class="<%= classes[:wrapper] %>">

    <%= render(partial: "layouts/sidebar/info",
                locals: { classes: classes }) %>

    <% if in_admin_mode? %>
      <%= render(partial: "layouts/sidebar/admin",
                  locals: { classes: classes }) %>
    <% end %>

    <% if @user.nil? %>
      <%= render(partial: "layouts/sidebar/login",
                  locals: { classes: classes }) %>
    <% else %>
      <%= render(partial: "layouts/sidebar/user",
                  locals: { classes: classes }) %>
    <% end %>

    <%= render(partial: "layouts/sidebar/observations",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/latest",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/species_lists",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/indexes",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/more",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/languages",
                locals: { classes: classes }) %>

  </div><!-- .navigation-themed -->

</div><!-- #navigation -->
<!--/SIDEBAR LOGO AND NAVIGATION-->
