<!--SIDEBAR LOGO AND NAVIGATION-->
<% #bs4
classes = {
  wrapper: "navbar navbar-dark bg-primary sidebar-nav list-group",
  heading: "list-group-item disabled font-weight-bold",
  item: "list-group-item",
  admin: "list-group-item list-group-item-danger indent",
  indent: "list-group-item indent",
  mobile_only: "list-group-item d-block d-md-none"
}
%>

<div id="navigation">

  <a id="logo_link" href="<%= browser.bot? ? "/sitemap/index.html" : "/" %>">
    <img class="logo-trim img-responsive py-10px" alt="Mushroom Observer Logo"
         src="/logo-trim.png"/>
  </a><!-- #logo_link -->

  <div class="<%= classes[:wrapper] %>">

    <%= render(partial: "layouts/sidebar/info",
                locals: { classes: classes }) %>

    <% if in_admin_mode? %>
      <%= render(partial: "layouts/sidebar/admin",
                  locals: { classes: classes }) %>
    <% end %>

    <% if @user.nil? %>
      <%= render(partial: "layouts/sidebar/login",
                  locals: { classes: classes }) %>
    <% else %>
      <%= render(partial: "layouts/sidebar/user",
                  locals: { classes: classes }) %>
    <% end %>

    <%= render(partial: "layouts/sidebar/observations",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/latest",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/species_lists",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/indexes",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/more",
                locals: { classes: classes }) %>

    <%= render(partial: "layouts/sidebar/languages",
                locals: { classes: classes }) %>

  </div><!-- .sidebar-nav -->

</div><!-- #navigation -->
<!--/SIDEBAR LOGO AND NAVIGATION-->
