<!DOCTYPE html>
<html>
<head>
  <%= render(partial: "layouts/app/head") %>
</head>
<body>
  <% if Rails.env == "production" %>
    <%= render(partial: "layouts/app/gtm_iframe") %>
  <% end %>

<div id="main_container" class="container-fluid">

  <%= render(partial: "layouts/app/banners") %>

  <div class="row row-offcanvas row-offcanvas-left">

    <nav id="sidebar" class="sidebar-offcanvas col-xs-8 col-sm-2 hidden-print">
      <%= render(partial: "layouts/sidebar") %>
    </nav><!-- #sidebar -->

    <div id="right_side" class="col-xs-12 col-sm-10">

      <%= render(partial: "layouts/app/hamburger") %>

      <%= render(partial: "layouts/search_bar") %>

      <% if flash_notices? %>
        <%= render(partial: "layouts/app/flash_notices") %>
      <% end %>
      <% flash_clear %>

      <main id="content">

        <% unless @user&.verified? %>
          <%= render(partial: "layouts/content/login_layout") %>
        <% end %>

        <%= render(partial: "layouts/content/title_and_tab_sets") %>

        <!--MAIN_PAGE_CONTENT-->
        <%= yield %>
        <!--/MAIN_PAGE_CONTENT-->

        <%= render(partial: "layouts/content/translator_credit") %>

      </main><!-- #content -->

    </div><!-- #right_side -->
  </div><!-- .row-offcanvas -->
</div><!-- #main_container -->

<%= render(partial: "layouts/app/media_query_tests") %>

<%= render(partial: "layouts/app/javascript_footer") %>

</body>
</html>
