<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= auto_discovery_link_tag(:rss, {controller: :rss_log, action: :rss}, {title: :app_rss.l}) %>
    <title><%= :app_title.l%>: <%= title_tag_contents(controller.action_name)%></title>
    <link rel="SHORTCUT ICON" href="https://mushroomobserver.org/favicon.ico"/>
    <% if @canonical_url %>
    <link href="<%= escape_once(@canonical_url) %>" rel="canonical"/>
    <% end %>
    <%= csrf_meta_tag %>
    <meta property="og:image" content="https://mushroomobserver.org/images/facebook_icon.png"/>
    <meta property="og:title" content="Mushroom Observer"/>
    <meta property="og:description" content="Mushroom Observer is a forum where amateur and professional mycologists can come together and celebrate their common passion for mushrooms by discussing and sharing photos of mushroom sightings from around the world."/>
    <%=
      css = MO.default_theme
      if in_admin_mode?
        css = "Admin"
      elsif browser.bot?
        css = MO.default_theme
      elsif MO.themes.member?(controller.action_name)
        # when looking at a theme's info page render it in that theme
        css = controller.action_name
      elsif @user
        css = @user.theme
        css = MO.themes.sample unless MO.themes.member?(css)
      end
      stylesheet_link_tag(css, media: "screen") +
      stylesheet_link_tag(css, media: "print")
    %>

    <!--JAVASCRIPT - for Turbolinks to work right, the application.js bundle has been moved to the <head>-->
    <%= javascript_includes.map { |f| javascript_include_tag(f, "data-turbolinks-track" => "reload") }.safe_join %>

    <%= @header unless @header.blank? %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<body>

  <!--CONTEXTUAL_NAVIGATION-->
  <%= render(partial: "header") %>
  <!--/CONTEXTUAL_NAVIGATION-->

  <div id="main_container" class="container-fluid">

    <!--CALLOUT_BANNER-->
    <div class="d-none d-sm-flex d-print-none">
      <%= render(partial: "banner") %>
    </div>
    <!--/CALLOUT_BANNER-->

    <div class="row row-offcanvas row-offcanvas-left">

      <!--SITE_NAVIGATION-->
      <%= render(partial: "left_nav") %>
      <!--/SITE_NAVIGATION-->

      <main id="right_side" class="col-12 col-md-9 col-lg-10 right-side-content" role="main">

        <!--FLASH_NOTICES-->
        <%= render(partial: "flash_notices") %>
        <!--/FLASH_NOTICES-->

        <div id="content">

          <!--MAIN_PAGE_CONTENT-->
          <%= yield %>
          <!--/MAIN_PAGE_CONTENT-->

          <div class="d-print-none">
            <%= render(partial: "translator_credit") %>
          </div>

        </div><!--#content-->

      </main>
    </div>
  </div>

  <%= render(partial: "media_query_tests") %>

  <!--JAVASCRIPT-->
  <%= javascript_tag('try { document.cookie = "tz=" + jstz.determine().name() } catch(err) {}') %>
  <!--Main initializers go in the footer-->
  <%= javascript_include_tag('initializers.js') %>
  <% injected_javascripts.each do |script| %>
    <%= javascript_tag(script) %>
  <% end %>
  <% if Rails.env == "production" %>
    <%= javascript_include_tag('google_analytics.js') %>
  <% end %>
  <!--/JAVASCRIPT-->

  </body>
</html>
