<%
url_params = { action: action, q: get_query_param }
url_params = url_params.merge(
  { observation_id: @observation.id }) if action == :create
if action == :update && @back.present?
  url_params = url_params.merge({ back: @back })
end
%>

<%= form_with(model: @sequence, url: url_params,
              id: "sequence_form") do |f| %>

  <%# locus %>
  <div class="form-group mt-3">
    <%= f.label(:locus, "#{:LOCUS.t}:") %>
    <%= content_tag(:span, "(#{:required.t})", class: "help-note") %>
    <%# w-100 stops area from changing size on reload %>
    <%= f.text_area(:locus, rows: 1, class:"form-control w-100" ) %>
    <%= help_block_with_arrow("up", id: "sequence_locus_help",
                              class: "mt-3") do
      :form_sequence_locus_help.t(locus_width: Sequence.locus_width)
    end %>
  </div><!--.form-group-->

  <%# bases %>
  <div class="form-group mt-3">
    <%= f.label(:bases, "#{:BASES.t}:") %>
    <%= content_tag(:span,
          "(#{:form_sequence_bases_or_deposit_required.t})",
          class: "help-note") %>
    <%= link_to("(#{:form_sequence_bases_format.t})",
                WebSequenceArchive.blast_format_help,
                class: "d-inline-block float-right") %>
    <%= f.text_area(:bases, size: "80x5",
                    class:"form-control text-monospace") %>
  </div><!--.form-group-->

  <%# deposit info %>
  <div>
    <%= content_tag(:strong, "#{:DEPOSIT.t}:") %>
    <%= content_tag(:span, "(#{:form_sequence_valid_deposit.t})",
                    class: "help-note") %>
  </div>
  <div class="form-group form-inline mt-3 ml-5">
    <%= f.label(:archive, "#{:ARCHIVE.t}: ") %>
    <%= f.select(:archive, archive_dropdown, { include_blank: true },
                 { class: "form-control" }) %>
  </div><!--.form-group-->
  <div class="form-group form-inline mt-3 ml-5">
    <%= f.label(:accession, "#{:form_sequence_accession.t}: ") %>
    <%= f.text_field(:accession, class: "form-control") %>
    <%= help_block_with_arrow("up", id: "sequence_accession_help",
                              class: "mt-3") do
      :form_sequence_accession_help.t
    end %>
  </div><!--.form-group-->

  <%# notes %>
  <div class="form-group mt-3">
    <%= f.label(:notes, "#{:NOTES.t}:") %>
    <%= content_tag(:span, "(#{:optional.t})", class: "help-note ml-3") %>
    <%= f.text_area(:notes, rows: 3, class: "form-control") %>
    <%= help_block_with_arrow("up", id: "textile_help", class: "mt-3") do %>
      <%= :field_textile_link.t %>
    <% end %>
  </div>

  <%= submit_button(form: f, button: button_name.t, center: true) %>

<% end %>
