<%
@container = :wide
add_page_title(:sequence_edit_title.t(name: @sequence.unique_format_name))
add_tab_set(sequence_form_links(obj: @back_object))

obs = @sequence.observation
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(partial: "observation_title", locals: { observation: obs }) %>
    <%= render(partial: "form", locals: { action: :update, local: true }) %>

    <div class="small">
      <span class="font-weight-bold"><%= :CREATED_BY.t %>:</span>
      <%= user_link(@sequence.user) %>
    </div>

    <%= show_object_footer(@sequence) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(partial: "shared/matrix_box",
                 locals: { object: obs.rss_log || obs,
                           columns: "col-xs-12" }) %>
    </ul>
  </div>
</div><!--.row-->
