<%
  @title = :sequence_edit_title.t(name: @sequence.unique_format_name)

  tabs = [
    link_with_query(:cancel_and_show.t(type: @back_object.type_tag),
                    @back_object.show_link_args)
  ]

  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= render(partial: "observation_title",
           locals: { observation: @sequence.observation }) %>

<%= form_for(:sequence, url: add_query_param(action: :edit_sequence, back: @back)) do |form| %>
  <%= render(partial: "form_sequence", locals: {form: form}) %>
<% end %>

<div class="small">
  <span class="bold"><%= :CREATED_BY.t %>:</span>
  <%= user_link(@sequence.user) %>
</div>
<%= show_object_footer(@sequence) %>
