<%
  @title = :sequence_edit_title.t(name: @sequence.unique_format_name)

  tabs = [
    link_to(:cancel_and_show.t(type: @back_object.type_tag),
            object_path(@back_object, q: get_query_param))
  ]

  @tabsets = { right: draw_tab_set(tabs) }
%>

<%= render(partial: "observation_title",
           locals: { observation: @sequence.observation }) %>

<%= render "form" %>

<div class="small">
  <span class="bold"><%= :CREATED_BY.t %>:</span>
  <%= user_link(@sequence.user) %>
</div>
<%= show_object_footer(@sequence) %>
