<%
  @title ||= :SEQUENCES.t

  tabs = create_links(@links)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <div class="card">
    <% @objects.each do |object| %>
      <div class="card-body">
        <%= link_to(object.unique_format_name,
                    object_path(object, q: get_query_param)) %><br/>
        <%= link_to(object.observation.unique_format_name.t,
                    observation_path(object.observation,
                    q: get_query_param)) %><br/>
        <% if object.deposit? %>
          <%= sequence_archive_link(
                object
              ) %>: <%= sequence_accession_link(object) %><br/>
        <% end %>
        <%= content_tag(
              :small, object.created_at.web_time
            ) %>: <%= user_link(object.user) %>
      </div>
    <% end %>
  </div>
<% end %>
