<% #bs4 TODO: check
@title = @sequence.unique_format_name
add_pager_for(@sequence)
add_tab_set(sequence_show_links(seq: @sequence))
@container = :wide
%>

<div class="container-text">
  <%= render(partial: "observation_title",
            locals: { observation: @sequence.observation }) %>
</div><!--.container-text-->

<table class="table-namings">
  <thead>
    <tr>
      <th class="col-12 col-lg-1"></th>
      <th class="col-12 col-lg-11"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="font-weight-bold"><%= :LOCUS.t %>:</td>
      <td><%= @sequence.locus %></td>
    </tr>
    <% if @sequence.bases.present? %>
      <tr>
        <td class="font-weight-bold align-top"><%= :BASES.t %>:</td>
      </tr>
      <tr>
        <td colspan="2" class="text-monospace container-text">
          <pre><%= @sequence.bases %></pre>
        </td>
      </tr>
    <% end %>
    <% if @sequence.deposit? %>
      <tr>
        <td class="font-weight-bold"><%= :DEPOSIT.t %>:</td>
        <td>
            <%= sequence_archive_link(@sequence) %>:
            <%= sequence_accession_link(@sequence) %>
        </td>
      </tr>
    <% end %>
    <tr align="center">
      <td colspan="2">
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to(:show_observation_blast_link.t,
                      @sequence.blast_url, target: "_blank") %>
        </button>
      </td>
    </tr>
    <tr>
      <td class="font-weight-bold"><%= :NOTES.t %>:</td>
      <td><%= @sequence.notes.try(&:tp) %></td>
    </tr>
  </tbody>
</table>
<br>
<div class="small">
  <span class="font-weight-bold"><%= :CREATED_BY.t %>:</span>
  <%= user_link(@sequence.user) %>
</div>

<%= show_object_footer(@sequence) %>
