<div class="list-group-item disabled font-weight-bold">
  <%= :app_more.t %>
</div>
<%= link_to(:app_how_to_help.t, info_how_to_help_path,
            { class: "list-group-item indent" }) %>
<%= link_to(:app_feature_tracker.t, pivotal_index_path,
            { class: "list-group-item indent" }) %>
<%= link_to(:app_send_a_comment.t, emails_ask_webmaster_question_path,
            { class: "list-group-item indent" }) %>
<%= link_to(:app_contributors.t, contributors_path,
            { class: "list-group-item indent" }) %>
<%= link_to(:app_site_stats.t, info_site_stats_path,
            { class: "list-group-item indent" }) %>
<%= link_to(:translators_note_title.t, info_translators_note_path,
            { class: "list-group-item indent" }) %>
<%= link_to(:app_publications.t, publications_path,
            { class: "list-group-item indent" }) %>
