<div id="results">
<%= paginated_results do %>
  <%= render(Components::MatrixTable.new) do %>
    <% @subset.each do |row| %>
      <% image = row[0] %>
      <% status = row[1] %>
      <%= render(Components::MatrixBox.new(id: image.id)) do %>
        <%= render(Components::Panel.new) do |panel| %>
          <%= panel.with_thumbnail do %>
            <%= render(Components::InteractiveImage.new(
                  user: @user, image: image, original: true,
                  votes: false, full_width: true
                )) %>
          <% end %>
          <%= panel.with_body do %>
            <%= visual_group_status_links(
                  visual_group: visual_group, image_id: image.id, status: status
                ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
